interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://cwagen.substack.com
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        <meta charset=\"utf-8\"
      />\n        <meta name=\"norton-safeweb-site-verification\" content=\"24usqpep0ejc5w6hod3dulxwciwp0djs6c6ufp96av3t4whuxovj72wfkdjxu82yacb7430qjm8adbd5ezlt4592dq4zrvadcn9j9n-0btgdzpiojfzno16-fnsnu7xd\"
      />\n        \n        <link rel=\"preconnect\" href=\"https://substackcdn.com\"
      />\n        \n\n        \n\n        \n        <link rel=\"preload\" as=\"style\"
      href=\"https://substackcdn.com/bundle/theme/welcome.e22fe2e58bb9d95b578d.css\"
      />\n        \n        \n        \n\n        \n            \n                <link
      type=\"text/css\" rel=\"stylesheet\" href=\"https://substackcdn.com/bundle/assets/entry-c64f5271.css\"
      />\n            \n                <link type=\"text/css\" rel=\"stylesheet\"
      href=\"https://substackcdn.com/bundle/assets/responsive_img-51b02764.css\" />\n
      \           \n                <link type=\"text/css\" rel=\"stylesheet\" href=\"https://substackcdn.com/bundle/assets/FlexBox-a92b9bc5.css\"
      />\n            \n                <link type=\"text/css\" rel=\"stylesheet\"
      href=\"https://substackcdn.com/bundle/assets/IntroPopup-a01e8e94.css\" />\n
      \           \n                <link type=\"text/css\" rel=\"stylesheet\" href=\"https://substackcdn.com/bundle/assets/free_email_form-a84f1e43.css\"
      />\n            \n        \n\n        \n        \n        \n        \n        <meta
      name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1,
      user-scalable=0, viewport-fit=cover\" />\n        <meta name=\"author\" content=\"Corin
      Wagen\" />\n        <meta property=\"og:url\" content=\"https://cwagen.substack.com/\"
      />\n        <title data-preact-helmet>Corin Wagen | Substack</title>\n        <meta
      data-preact-helmet property=\"og:type\" content=\"article\"><meta data-preact-helmet
      property=\"og:title\" content=\"Corin Wagen | Substack\"><meta data-preact-helmet
      name=\"twitter:title\" content=\"Corin Wagen | Substack\"><meta data-preact-helmet
      name=\"description\" content=\"My personal blog, focusing on issues of chemistry
      and metascience, unified by trying to answer the question &quot;how can we[...]
