interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cwagen.substack.com/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" class=\"has-intro-popup show-intro-popup\">\n
        \   <head>\n        <meta charset=\"utf-8\" />\n        <meta name=\"norton-safeweb-site-verification\"
        content=\"24usqpep0ejc5w6hod3dulxwciwp0djs6c6ufp96av3t4whuxovj72wfkdjxu82yacb7430qjm8adbd5ezlt4592dq4zrvadcn9j9n-0btgdzpiojfzno16-fnsnu7xd\"
        />\n        \n        <link rel=\"preconnect\" href=\"https://substackcdn.com\"
        />\n        \n\n        \n\n        \n        <link rel=\"preload\" as=\"style\"
        href=\"https://substackcdn.com/bundle/theme/main.ad7210a6a68372ed4776.css\"
        />\n        \n        \n        <link rel=\"preload\" as=\"style\" href=\"https://substackcdn.com/bundle/main.69ff6d292918da4e6339.css\"
        />\n        \n        \n\n        \n        \n        \n        \n        <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1,
        user-scalable=0, viewport-fit=cover\" />\n        <meta name=\"author\" content=\"Corin
        Wagen\" />\n        <meta property=\"og:url\" content=\"https://cwagen.substack.com/\"
        />\n        <title data-preact-helmet>Corin Wagen | Substack</title>\n        <meta
        data-preact-helmet name=\"theme-color\" content=\"#ffffff\"><meta data-preact-helmet
        property=\"og:image\" content=\"https://substackcdn.com/image/fetch/f_auto,q_auto:best,fl_progressive:steep/https%3A%2F%2Fcwagen.substack.com%2Ftwitter%2Fsubscribe-card.jpg%3Fv%3D920305273%26version%3D9\"><meta
        data-preact-helmet name=\"twitter:image\" content=\"https://substackcdn.com/image/fetch/f_auto,q_auto:best,fl_progr[...]
