interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cwagen.substack.com/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        <meta charset=\"utf-8\"
        />\n        <meta name=\"norton-safeweb-site-verification\" content=\"24usqpep0ejc5w6hod3dulxwciwp0djs6c6ufp96av3t4whuxovj72wfkdjxu82yacb7430qjm8adbd5ezlt4592dq4zrvadcn9j9n-0btgdzpiojfzno16-fnsnu7xd\"
        />\n        \n        <link rel=\"preconnect\" href=\"https://substackcdn.com\"
        />\n        \n\n        \n\n        \n        <link rel=\"preload\" as=\"style\"
        href=\"https://substackcdn.com/bundle/theme/welcome.f2ec58f96fcc652c2456.css\"
        />\n        \n        \n        <link rel=\"preload\" as=\"style\" href=\"https://substackcdn.com/bundle/welcome.d9434c9a25d4364b3b54.css\"
        />\n        \n        \n\n        \n        \n        \n        \n        <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1,
        user-scalable=0, viewport-fit=cover\" />\n        <meta name=\"author\" content=\"Corin
        Wagen\" />\n        <meta property=\"og:url\" content=\"https://cwagen.substack.com/\"
        />\n        <title data-preact-helmet></title>\n        \n        <link rel=\"canonical\"
        href=\"https://cwagen.substack.com/\" />\n\n        \n\n        \n\n        \n
        \           \n                <link rel=\"shortcut icon\" href=\"https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F54ef75f7-1817-4241-97e1-912244a2201e%2Ffavicon.ico\">\n
        \           \n        \n            \n                <lin[...]
