interactions:
- request:
    body: '{"access": {"visibility": "public", "member_policy": "open", "record_policy":
      "open", "review_policy": "open"}, "slug": "metadatagamechangers", "metadata":
      {"title": "Blog - Metadata Game Changers", "type": {"id": "blog"}, "website":
      "https://metadatagamechangers.com/blog", "description": "Exploring metadata,
      communities, and new idea."}, "custom_fields": {"rs:joined": "January 1, 1970"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://rogue-scholar.org/api/communities/metadatagamechangers
  response:
    content: '{"id": "e51c5dbe-74d6-43a1-968b-13809300b314", "created": "2024-10-10T17:20:36.354632+00:00",
      "updated": "2025-01-19T09:13:50.208784+00:00", "links": {"featured": "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/featured",
      "self": "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314",
      "self_html": "https://rogue-scholar.org/communities/metadatagamechangers", "settings_html":
      "https://rogue-scholar.org/communities/metadatagamechangers/settings", "logo":
      "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/logo",
      "rename": "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/rename",
      "members": "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/members",
      "public_members": "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/members/public",
      "invitations": "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/invitations",
      "requests": "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/requests",
      "records": "https://rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/records"},
      "revision_id": 122, "slug": "metadatagamechangers", "metadata": {"title": "Blog
      - Metadata Game Changers", "description": "Exploring metadata, communities,
      and new idea.", "type": {"id": "blog", "title": {"de": "Blog", "en": "Blog",
      "sv": "Blogg"}}, "website": "https://metadatagamechangers.com/blog"}, "access":
      {"visibility": "public", "members_visibility": "public", "member_policy": "open",
      "record_policy": "open", "review_policy": "open"}, "custom_fields": {"rs:joined":
      "January 1, 1970"}, "is_verified": false, "deletion_status": {"is_deleted":
      false, "status": "P"}, "children": {"allow": false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"122"'
      fly-request-id:
      - 01JHYXDZWBFVNFYDRXDSG0KXVN-arn
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '897'
      x-ratelimit-reset:
      - '1737278090'
      x-user-id:
      - '4'
    status_code: 200
version: 1
