interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator_raw%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
  response:
    content: '{"id":"mdh1h61","slug":"epub_fis","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","current_feed_url":null,"home_page_url":"https://blog.dini.de/EPub_FIS","archive_prefix":"https://wayback.archive-it.org/22121/20231105105752/","feed_format":"application/atom+xml","created_at":1689897600,"updated_at":1701682917,"use_mastodon":false,"generator_raw":"WordPress
      6.4.2","language":"de","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","title":"FIS
      & EPub","description":"Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren","category":"socialSciences","status":"active","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null,"secure":null}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator_raw%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers:
      A-Im:
      - feed
    method: GET
    uri: https://blog.dini.de/EPub_FIS/feed/atom/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed\n\txmlns=\"http://www.w3.org/2005/Atom\"\n\txmlns:thr=\"http://purl.org/syndication/thread/1.0\"\n\txml:lang=\"de-DE\"\n\t\n\txmlns:georss=\"http://www.georss.org/georss\"\n\txmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\"\n\t>\n\t<title
        type=\"text\">FIS &amp; EPub</title>\n\t<subtitle type=\"text\">Gemeinsamer
        Blog der DINI AG Forschungsinformationssystem und Elektronisches Publizieren</subtitle>\n\n\t<updated>2023-12-04T09:41:57Z</updated>\n\n\t<link
        rel=\"alternate\" type=\"text/html\" href=\"https://blog.dini.de/EPub_FIS\"
        />\n\t<id>https://blog.dini.de/EPub_FIS/feed/atom/</id>\n\t<link rel=\"self\"
        type=\"application/atom+xml\" href=\"https://blog.dini.de/EPub_FIS/feed/atom/\"
        />\n\n\t<generator uri=\"https://wordpress.org/\" version=\"6.4.2\">WordPress</generator>\n<icon>https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png</icon>\n\t<entry>\n\t\t<author>\n\t\t\t<name>Gastautor(en)</name>\n\t\t\t\t\t</author>\n\n\t\t<title
        type=\"html\"><![CDATA[DFG-DNB-Mapping (nicht nur) f\xFCr Forschungsdatenrepositorien]]></title>\n\t\t<link
        rel=\"alternate\" type=\"text/html\" href=\"https://blog.dini.de/EPub_FIS/2023/12/04/dfg-dnb-mapping/\"
        />\n\n\t\t<id>https://blog.dini.de/EPub_FIS/?p=3265</id>\n\t\t<updated>2023-12-04T09:41:57Z</updated>\n\t\t<published>2023-12-04T09:41:57Z</published>\n\t\t<category
        scheme=\"https://blog.dini.de/EPub_FIS\" term=\"Elektronisches Publizieren\"
        /><category scheme=\"https://blog.dini.de/EPub_FIS\" term=\"Forschungsinformationssysteme\"
        />\n\t\t<summary type=\"html\"><![CDATA[Die Fachzugeh\xF6rigkeit ist ein f\xFCr
        die Auffindbarkeit und Beschreibung von Datens\xE4tzen sehr relevantes Metadatum.
        Ihre Angabe wird deshalb in vielen Forschungsdatenrepositorien empfohlen.
        Dabei steigert die Verwendung einer international breit verwendeten Klassifikation,
        beispielsweise der Dewey Decimal Classification (DDC), als kontrolliertes
        Vokabular betr\xE4chtlich die Anschlussf\xE4higkeit des Repositoriums an die
        internationale Repositoriengemeinschaft. Die HeFDI-Repositorien (HeFDI steht
        f\xFCr \u201EHessische [&#8230;]]]></summary>\n\n\t\t\t\t\t<content type=\"html\"
        xml:base=\"https://blog.dini.de/EPub_FIS/2023/12/04/dfg-dnb-mapping/\"><![CDATA[\n<p>Die
        Fachzugeh\xF6rigkeit ist ein f\xFCr die Auffindbarkeit und Beschreibung von
        Datens\xE4tzen sehr relevantes Metadatum. Ihre Angabe wird deshalb in vielen
        Forschungsdatenrepositorien empfohlen. Dabei steigert die Verwendung einer
        international breit verwendeten Klassifikation, beispielsweise der Dewey Decimal
        Classification (DDC), als kontrolliertes Vokabular betr\xE4chtlich die Anschlussf\xE4higkeit
        des Repositoriums an die internationale Repositoriengemeinschaft. Die <a href=\"https://www.uni-marburg.de/en/hefdi/hefdi-data-services/hefdi-data-repositories\">HeFDI-Repositorien</a>
        (HeFDI steht f\xFCr \u201EHessische Forschungsdateninfrastrukturen\u201C)
        folgen bez\xFCglich der verwendeten Klassifikation den Vorgaben des <a href=\"https://dini.de/dienste-projekte/dini-zertifikat/\">DINI-Zertifikats</a>
        (M.6-3) und erfassen die Fachzugeh\xF6rigkeit mit den Sachgruppen der Deutschen
        Nationalbibliothek (DNB), die sich wiederum an den obersten Ebenen der DDC
        orientiert.</p>\n\n\n\n<span id=\"more-3265\"></span>\n\n\n\n<p>Die im angloamerikanischen
        Bereich weit verbreitete F\xE4cherklassifikation DDC wird auch zur systematischen
        Aufstellung der Literatur in Bibliotheken genutzt. Entsprechend pr\xE4sent
        ist Forschenden aus diesem geografischen Bereich die Systemstelle ihres eigenen
        Faches, so dass die Auswahl bei der Einreichung eines Datensatzes ins Repositorium
        leicht f\xE4llt.</p>\n\n\n\n<p>Deutschen Wissenschaftler:innen hingegen ist
  [...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=updated_at&blog_slug=eq.epub_fis&order=updated_at.desc&limit=1
  response:
    content: '[{"updated_at":1701682917}]'
    headers:
      Content-Location:
      - /posts?blog_slug=eq.epub_fis&limit=1&order=updated_at.desc&select=updated_at
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: '{"title": "FIS & EPub", "description": "Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren", "feed_url": "https://blog.dini.de/EPub_FIS/feed/atom/",
      "current_feed_url": null, "home_page_url": "https://blog.dini.de/EPub_FIS",
      "feed_format": "application/atom+xml", "updated_at": 1701682917, "language":
      "de", "category": "socialSciences", "favicon": "https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png",
      "license": "https://creativecommons.org/licenses/by/4.0/legalcode", "generator":
      "WordPress", "generator_raw": "WordPress 6.4.2", "status": "active", "user_id":
      "a9e3541e-1e00-4bf3-8a4d-fc9b1c505651", "use_mastodon": false, "secure": null}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/blogs?slug=eq.epub_fis
  response:
    content: '[{"id":"mdh1h61","title":"FIS & EPub","description":"Gemeinsamer Blog
      der DINI AG Forschungsinformationssystem und Elektronisches Publizieren","language":"de","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","home_page_url":"https://blog.dini.de/EPub_FIS","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"WordPress","category":"socialSciences","prefix":null,"version":"https://jsonfeed.org/version/1.1","current_feed_url":null,"status":"active","issn":"2940-1798","backlog":0,"authors":null,"plan":"Team","slug":"epub_fis","use_mastodon":false,"api":true,"funding":null,"archive_prefix":"https://wayback.archive-it.org/22121/20231105105752/","use_api":true,"relative_url":null,"canonical_url":null,"filter":null,"updated_at":1701682917,"secure":null,"created_at":1689897600,"indexed":null,"generator_raw":"WordPress
      6.4.2"}]'
    headers:
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
version: 1
