interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ulirockenbauch.blog/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"de-DE\">\n<head>\n\t<meta charset=\"UTF-8\"
        />\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"
        />\n<meta name='robots' content='max-image-preview:large' />\n\n<!-- Async
        WordPress.com Remote Login -->\n<script id=\"wpcom_remote_login_js\">\nvar
        wpcom_remote_login_extra_auth = '';\nfunction wpcom_remote_login_remove_dom_node_id(
        element_id ) {\n\tvar dom_node = document.getElementById( element_id );\n\tif
        ( dom_node ) { dom_node.parentNode.removeChild( dom_node ); }\n}\nfunction
        wpcom_remote_login_remove_dom_node_classes( class_name ) {\n\tvar dom_nodes
        = document.querySelectorAll( '.' + class_name );\n\tfor ( var i = 0; i < dom_nodes.length;
        i++ ) {\n\t\[...]
