interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://eve.gd
  response:
    content: "<!doctype html>\n<!--[if lt IE 7]><html class=\"no-js lt-ie9 lt-ie8
      lt-ie7\" lang=\"en\"> <![endif]-->\n<!--[if (IE 7)&!(IEMobile)]><html class=\"no-js
      lt-ie9 lt-ie8\" lang=\"en\"><![endif]-->\n<!--[if (IE 8)&!(IEMobile)]><html
      class=\"no-js lt-ie9\" lang=\"en\"><![endif]-->\n<!--[if gt IE 8]><!--> <html
      class=\"no-js\" lang=\"en\"><!--<![endif]-->\n<head>\n<meta charset=\"utf-8\">\n<title>Martin
      Paul Eve | Professor of Literature, Technology and Publishing</title>\n<meta
      name=\"description\" content=\"Martin Paul Eve, Professor of Literature, Technology
      and Publishing, Birkbeck, University of London.\">\n<meta name=\"keywords\"
      content=\"Martin Paul Eve, Thomas Pynchon, Open Access, American Literature\">\n\n\n\n<meta
      name=\"DC.Creator\" content=\"\" />\n<meta name=\"DC.Language\" content=\"en\"
      />\n\n\n<!-- Twitter Cards -->\n<meta name=\"twitter:title\" content=\"Martin
      Paul Eve\">\n<meta name=\"twitter:description\" content=\"Martin Paul Eve, Professor
      of Literature, Technology and Publishing, Birkbeck, University of London.\">\n<meta
      name=\"twitter:site\" content=\"@martin_eve\">\n\n<!-- Open Graph -->\n<meta
      property=\"og:locale\" content=\"en_US\">\n<meta property=\"og:type\" content=\"article\">\n<meta
      property=\"og:title\" content=\"Martin Paul Eve\">\n<meta property=\"og:description\"
      content=\"Martin Paul Eve, Professor of Literature, Technology and Publishing,
      Birkbeck, University of London.\">\n<meta property=\"og:url\" content=\"https://eve.gd/\">\n<meta
      property=\"og:site_name\" content=\"Martin Paul Eve\">\n<meta property=\"og:image\"
      content=\"https://eve.gd/images/header_new.jpg\"/>\n\n\n\n\n\n<link rel=\"canonical\"
      href=\"https://eve.gd/\">\n<link href=\"https://eve.gd/feed/feed.atom\" type=\"application/atom+xml\"
      rel=\"alternate\" title=\"Martin Paul Eve Feed\">\n\n<!-- http://t.co/dKP3o1e
      -->\n<meta name=\"HandheldFriendly\" content=\"True\">\n<meta name=\"MobileOptimized\"
      content=\"320\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<!--
      For all browsers -->\n<link rel=\"stylesheet\" href=\"https://eve.gd/assets/css/main.css\">\n\n<!--
      HTML5 Shiv and Media Query Support -->\n<!--[if lt IE 9]>\n\t<script src=\"https://eve.gd/assets/js/vendor/html5shiv.min.js\"></script>\n\t<script
      src=\"https://eve.gd/assets/js/vendor/respond.min.js\"></script>\n<![endif]-->\n\n<!--
      Modernizr -->\n<script async src=\"https://eve.gd/assets/js/vendor/modernizr-2.7.1.custom.min.js\"></script>\n\n<link
      href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic'
      rel='stylesheet' type='text/css'>\n\n<!-- Icons -->\n<!-- 32x32 -->\n<link rel=\"shortcut
      icon[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://eve.gd/
  response:
    content: "<!doctype html>\n<!--[if lt IE 7]><html class=\"no-js lt-ie9 lt-ie8
      lt-ie7\" lang=\"en\"> <![endif]-->\n<!--[if (IE 7)&!(IEMobile)]><html class=\"no-js
      lt-ie9 lt-ie8\" lang=\"en\"><![endif]-->\n<!--[if (IE 8)&!(IEMobile)]><html
      class=\"no-js lt-ie9\" lang=\"en\"><![endif]-->\n<!--[if gt IE 8]><!--> <html
      class=\"no-js\" lang=\"en\"><!--<![endif]-->\n<head>\n<meta charse[...]
