interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://cwagen.substack.com
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        <meta charset=\"utf-8\"
      />\n        <meta name=\"norton-safeweb-site-verification\" content=\"24usqpep0ejc5w6hod3dulxwciwp0djs6c6ufp96av3t4whuxovj72wfkdjxu82yacb7430qjm8adbd5ezlt4592dq4zrvadcn9j9n-0btgdzpiojfzno16-fnsnu7xd\"
      />\n        \n        <link rel=\"preconnect\" href=\"https://substackcdn.com\"
      />\n        \n\n        \n\n        \n        <link rel=\"preload\" as=\"style\"
      href=\"https://substackcdn.com/bundle/theme/welcome.ad0d153727931e2a3fe4.css\"
      />\n        \n        \n        \n\n        \n            \n                <link
      rel=\"stylesheet\" type=\"text/css\" href=\"https://substackcdn.com/bundle/assets/entry-00067779.css\"
      />\n            \n                <link rel=\"stylesheet\" type=\"text/cs[...]
