interactions:
- request:
    body: '{"access": {"visibility": "public", "member_policy": "open", "record_policy":
      "open"}, "slug": "metadatagamechangers", "metadata": {"title": "Blog - Metadata
      Game Changers", "description": "Exploring metadata, communities, and new idea.",
      "type": {"id": "blog"}, "website": "https://metadatagamechangers.com/blog"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://beta.rogue-scholar.org/api/communities
  response:
    content: '{"status": 400, "message": "A validation error occurred.", "errors":
      [{"field": "slug", "messages": ["A community with this identifier already exists."]}]}'
    headers:
      content-type:
      - application/json
      fly-request-id:
      - 01J9VQD7NH25T5VNBC4783FC9A-arn
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '899'
      x-ratelimit-reset:
      - '1728581176'
      x-user-id:
      - '4'
    status_code: 400
version: 1
