interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://blog.front-matter.io/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"utf-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <title>Front Matter Blog</title>\n    <link rel=\"stylesheet\" href=\"https://blog.front-matter.io/assets/built/screen.css?v=3fa144f538\">\n\n
        \   <meta name=\"citation_journal_title\" content=\"Front Matter\"/>\n    <meta
        name=\"citation_language\" content=\"en\">\n\n\n    <meta name=\"dc.language\"
        content=\"en\" />   \n    <meta name=\"dc.format\" content=\"text/html\" />
        \n    <meta name=\"dc.source\" content=\"Front Matter\" />\n    <meta name=\"dc.type\"
        content=\"article\" />\n    \n    <meta[...]
