interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://cwagen.substack.com
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        <meta charset=\"utf-8\"
      />\n        <meta name=\"norton-safeweb-site-verification\" content=\"24usqpep0ejc5w6hod3dulxwciwp0djs6c6ufp96av3t4whuxovj72wfkdjxu82yacb7430qjm8adbd5ezlt4592dq4zrvadcn9j9n-0btgdzpiojfzno16-fnsnu7xd\"
      />\n        \n        <link rel=\"preconnect\" href=\"https://substackcdn.com\"
      />\n        \n\n        \n\n        \n        <link rel=\"preload\" as=\"style\"
      href=\"https://substackcdn.com/bundle/theme/welcome.8c2f5421196e2e1e5662.css\"
      />\n        \n        \n        \n\n        \n            \n                <link
      type=\"text/css\" rel=\"stylesheet\" href=\"https://substackcdn.com/bundle/assets/entry-0a24dbeb.css\"
      />\n            \n                <link type=\"text/css\" rel=\"stylesheet\"
      href=\"https://substackcdn.com/bundle/assets/user-856acd57.css\" />\n            \n
      \               <link type=\"text/css\" rel=\"stylesheet\" href=\"https://substackcdn.com/bundle/assets/FlexBox-853461a9.css\"
      />\n            \n                <link type=\"text/css\" rel=\"stylesheet\"
      href=\"https://substackcdn.com/bundle/assets/free_email_form-cda68176.css\"
      />\n            \n                <link type=\"text/css\" rel=\"stylesheet\"
      href=\"https://substackcdn.com/bundle/assets/IntroPopup-275682f1.css\" />\n
      \           \n        \n\n        \n        \n        \n        \n        <meta
      name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1,
      user-scalable=0, viewport-fit=cover\" />\n        <meta name=\"author\" content=\"Corin
      Wagen\" />\n        <meta property=\"og:url\" content=\"https://cwagen.substack.com/\"
      />\n        <title data-preact-helmet>Corin Wagen | Substack</title>\n        <meta
      data-preact-helmet property=\"og:type\" content=\"article\"><meta data-preact-helmet
      property=\"og:title\" content=\"Corin Wagen | Substack\"><meta data-preact-helmet
      name=\"twitter:title\" content=\"Corin Wagen | Substack\"><meta data-preact-helmet
      name=\"description\" content=\"My personal blog, focusing on issues of chemistry
      and metascience, unified by trying to answer the question &quot;how can we[...]
