interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter&slug=eq.epub_fis
  response:
    content: '{"id":"mdh1h61","slug":"epub_fis","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","current_feed_url":null,"home_page_url":"https://blog.dini.de/EPub_FIS","archive_prefix":null,"feed_format":"application/atom+xml","created_at":"2023-07-21","updated_at":1697718444,"use_mastodon":false,"generator":"WordPress
      6.3.2","language":"de","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","title":"FIS
      & EPub","description":"Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren","category":"socialSciences","status":"active","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter&slug=eq.epub_fis
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers:
      A-Im:
      - feed
    method: GET
    uri: https://blog.dini.de/EPub_FIS/feed/atom/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed\n\txmlns=\"http://www.w3.org/2005/Atom\"\n\txmlns:thr=\"http://purl.org/syndication/thread/1.0\"\n\txml:lang=\"de-DE\"\n\t\n\txmlns:georss=\"http://www.georss.org/georss\"\n\txmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\"\n\t>\n\t<title
        type=\"text\">FIS &amp; EPub</title>\n\t<subtitle type=\"text\">Gemeinsamer
        Blog der DINI AG Forschungsinformationssystem und Elektronisches Publizieren</subtitle>\n\n\t<updated>2023-09-25T11:01:59Z</updated>\n\n\t<link
        rel=\"alternate\" type=\"text/html\" href=\"https://blog.dini.de/EPub_FIS\"
        />\n\t<id>https://blog.dini.de/EPub_FIS/feed/atom/</id>\n\t<link rel=\"self\"
        type=\"application/atom+xml\" href=\"https://blog.dini.de/EPub_FIS/feed/atom/\"
        />\n\n\t<generator uri=\"https://wordpress.org/\" version=\"6.3.2\">WordPress</generator>\n<icon>https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png</icon>\n\t<entry>\n\t\t<author>\n\t\t\t<name>Gastautor(en)</name>\n\t\t\t\t\t</author>\n\n\t\t<title
        type=\"html\"><![CDATA[Aktualisierte OpenAIRE Richtlinie f\xFCr FIS-Manager]]></title>\n\t\t<link
        rel=\"alternate\" type=\"text/html\" href=\"https://blog.dini.de/EPub_FIS/2023/09/25/openaire-richtlinie-fis-manager/\"
        />\n\n\t\t<id>https://blog.dini.de/EPub_FIS/?p=3211</id>\n\t\t<updated>2023-09-25T11:01:59Z</updated>\n\t\t<published>2023-09-25T11:01:59Z</published>\n\t\t<category
        scheme=\"https://blog.dini.de/EPub_FIS\" term=\"Elektronisches Publizieren\"
        /><category scheme=\"https://blog.dini.de/EPub_FIS\" term=\"Forschungsinformationssysteme\"
        /><category scheme=\"https://blog.dini.de/EPub_FIS\" term=\"Projekt\" /><category
        scheme=\"https://blog.dini.de/EPub_FIS\" term=\"OpenAIRE\" />\n\t\t<summary
        type=\"html\"><![CDATA[Im Juni 2023 wurden die &#8222;OpenAIRE Guidelines
        for[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=updated_at&blog_slug=eq.epub_fis&order=updated_at.desc&limit=1
  response:
    content: '[{"updated_at":1697718444}]'
    headers:
      Content-Location:
      - /posts?blog_slug=eq.epub_fis&limit=1&order=updated_at.desc&select=updated_at
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: '{"title": "FIS & EPub", "description": "Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren", "feed_url": "https://blog.dini.de/EPub_FIS/feed/atom/",
      "current_feed_url": null, "home_page_url": "https://blog.dini.de/EPub_FIS",
      "feed_format": "application/atom+xml", "updated_at": 1697718444, "language":
      "de", "category": "socialSciences", "favicon": "https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png",
      "license": "https://creativecommons.org/licenses/by/4.0/legalcode", "generator":
      "WordPress 6.3.2", "status": "active", "user_id": "a9e3541e-1e00-4bf3-8a4d-fc9b1c505651",
      "use_mastodon": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/1.2.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/blogs?slug=eq.epub_fis
  response:
    content: '[{"id":"mdh1h61","title":"FIS & EPub","description":"Gemeinsamer Blog
      der DINI AG Forschungsinformationssystem und Elektronisches Publizieren","language":"de","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","home_page_url":"https://blog.dini.de/EPub_FIS","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","created_at":"2023-07-21","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"WordPress
      6.3.2","category":"socialSciences","prefix":null,"version":"https://jsonfeed.org/version/1.1","current_feed_url":null,"status":"active","issn":"2940-1798","backlog":0,"authors":null,"plan":"Team","slug":"epub_fis","use_mastodon":false,"api":true,"funding":null,"archive_prefix":null,"use_api":true,"relative_url":null,"canonical_url":null,"filter":null,"updated_at":1697718444}]'
    headers:
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
version: 1
