interactions:
- request:
    body: '{"access": {"visibility": "public", "member_policy": "open", "record_policy":
      "open"}, "slug": "metadatagamechangers", "metadata": {"title": "Blog - Metadata
      Game Changers", "description": "Exploring metadata, communities, and new idea.",
      "type": {"id": "blog"}, "website": "https://metadatagamechangers.com/blog"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://beta.rogue-scholar.org/api/communities/metadatagamechangers
  response:
    content: '{"id": "e51c5dbe-74d6-43a1-968b-13809300b314", "created": "2024-10-10T17:20:36.354632+00:00",
      "updated": "2024-10-10T17:39:45.216965+00:00", "links": {"featured": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/featured",
      "self": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314",
      "self_html": "https://beta.rogue-scholar.org/communities/metadatagamechangers",
      "settings_html": "https://beta.rogue-scholar.org/communities/metadatagamechangers/settings",
      "logo": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/logo",
      "rename": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/rename",
      "members": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/members",
      "public_members": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/members/public",
      "invitations": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/invitations",
      "requests": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/requests",
      "records": "https://beta.rogue-scholar.org/api/communities/e51c5dbe-74d6-43a1-968b-13809300b314/records"},
      "revision_id": 3, "slug": "metadatagamechangers", "metadata": {"title": "Blog
      - Metadata Game Changers", "description": "Exploring metadata, communities,
      and new idea.", "type": {"id": "blog", "title": {"de": "Blog", "en": "Blog",
      "sv": "Blogg"}}, "website": "https://metadatagamechangers.com/blog"}, "access":
      {"visibility": "public", "members_visibility": "public", "member_policy": "open",
      "record_policy": "open", "review_policy": "closed"}, "custom_fields": {}, "deletion_status":
      {"is_deleted": false, "status": "P"}, "children": {"allow": false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"3"'
      fly-request-id:
      - 01J9VR7RAG14Y46CPB0W7SM8A9-arn
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '899'
      x-ratelimit-reset:
      - '1728582045'
      x-user-id:
      - '4'
    status_code: 200
version: 1
