interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.andrewheiss.com/
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\"
        xml:lang=\"en\"><head>\n\n<meta charset=\"utf-8\">\n<meta name=\"generator\"
        content=\"quarto-1.4.529\">\n\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0, user-scalable=yes\">\n\n<meta name=\"author\" content=\"Andrew
        Heiss\">\n\n<title>Andrew Heiss</title>\n<style>\ncode{white-space: pre-wrap;}\nspan.smallcaps{font-variant:
        small-caps;}\ndiv.columns{display: flex; gap: min(4vw, 1.5em);}\ndiv.column{flex:
        auto; overflow-x: auto;}\ndiv.hanging-indent{margin-left: 1.5em; text-indent:
        -1.5em;}\nul.task-list{list-style: none;}\nul.task-list li input[type=\"checkbox\"]
        {\n  width: 0.8em;\n  margin: 0 0.8em 0.2em -1em; /* quarto-specific, see
        https://github.com/quarto-dev/quarto-cli/issues/4556 */ \n  vertical-align:
        middle;\n}\n</style>\n\n\n<script src=\"site_libs/quarto-nav/quarto-nav.js\"></script>\n<script
        src=\"site_libs/clipboard/clipboard.min.js\"></script>\n<script src=\"site_libs/quarto-search/autocomplete.umd.js\"></script>\n<script
        src=\"site_libs/quarto-search/fuse.min.js\"></script>\n<script src=\"site_libs/quarto-search/quarto-search.js\"></script>\n<meta
        name=\"quarto:offset\" content=\"./\">\n<link href=\".//files/favicon-512.png\"
        rel=\"icon\" type=\"image/png\">\n<script src=\"site_libs/quarto-html/quarto.js\"></script>\n<script
        src=\"site_libs/quarto-html/popper.min.js\"></script>\n<script src=\"site_libs/quarto-html/tippy.umd.min.js\"></script>\n<script
        src=\"site_libs/quarto-html/anchor.min.js\"></script>\n<link href=\"site_libs/quarto-html/tippy.css\"
        rel=\"stylesheet\">\n<link href=\"site_libs/quarto-html/quarto-syntax-highlighting.css\"
        rel=\"stylesheet\" id=\"quarto-text-highlighting-styles\">\n<script src=\"site_libs/bootstrap/bootstrap.min.js\"></script>\n<link
        href=\"site_libs/bootstrap/bootstrap-icons.css\" rel=\"stylesheet\">\n<link
        href=\"site_libs/bootstrap/bootstrap.min.css\" rel=\"stylesheet\" id=\"quarto-bootstrap\"
        data-mode=\"light\">\n<link href=\"site_libs/quarto-contrib/fontawesome6-0.1.0/all.css\"
        rel=\"stylesheet\">\n<link href=\"site_libs/quarto-contrib/fontawesome6-0.1.0/latex-fontsize.css\"
        rel=\"stylesheet\">\n<script src=\"site_libs/quarto-contrib/iconify-1.0.7/iconify-icon.min.js\"></script>\n<script
        id=\"quarto-search-options\" type=\"application/json\">{\n  \"location\":
        \"navbar\",\n  \"copy-button\": false,\n  \"collapse-after\": 3,\n  \"panel-placement\":
        \"end\",\n  \"type\": \"overlay\",\n  \"limit\": 50,\n  \"keyboard-shortcut\":
        [\n    \"f\",\n    \"/\",\n    \"s\"\n  ],\n  \"show-item-context\": false,\n
        \ \"language\": {\n    \"search-no-results-text\": \"No results\",\n    \"search-matching-documents-text\":
        \"matching documents\",\n    \"search-copy-link-title\": \"Copy link to search\",\n
        \   \"search-hide-matches-text\": \"Hide additional matches\",\n    \"search-more-match-text\":
        \"more match in this document\",\n    \"search-more-matches-text\": \"more
        matches in this document\",\n    \"search-clear-button-title\": \"Clear\",\n
        \   \"search-text-placeholder\": \"\",\n    \"search-detached-cancel-button-title\":
        \"Cancel\",\n    \"search-submit-button-title\": \"Submit\",\n    \"search-label\":
        \"Search\"\n  }\n}</script>\n\n<script type=\"text/javascript\">\n\n(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \ m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \ })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');\nga('create',
        'UA-527449-5', 'auto');\n\nga('send', {\n  hit[...]
