interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.4.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=updated_at&blog_slug=eq.epub_fis&order=updated_at.desc&limit=1
  response:
    content: '[{"updated_at":1710745399}]'
    headers:
      Content-Location:
      - /posts?blog_slug=eq.epub_fis&limit=1&order=updated_at.desc&select=updated_at
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/json; charset=utf-8
      content-profile:
      - public
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: '{"title": "FIS & EPub", "description": "Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren", "feed_url": "https://blog.dini.de/EPub_FIS/feed/atom/",
      "current_feed_url": null, "home_page_url": "https://blog.dini.de/EPub_FIS",
      "feed_format": "application/atom+xml", "updated_at": 1710745399, "language":
      "de", "category": "socialSciences", "favicon": "https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png",
      "license": "https://creativecommons.org/licenses/by/4.0/legalcode", "generator":
      "WordPress 6.3.2", "generator_raw": null, "status": "active", "user_id": "a9e3541e-1e00-4bf3-8a4d-fc9b1c505651",
      "mastodon": null, "secure": null}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.4.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/blogs?slug=eq.epub_fis
  response:
    content: '[{"title":"FIS & EPub","description":"Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren","language":"de","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","home_page_url":"https://blog.dini.de/EPub_FIS","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"WordPress
      6.3.2","category":"socialSciences","prefix":null,"current_feed_url":null,"status":"active","issn":"2940-1798","authors":null,"plan":"Team","slug":"epub_fis","use_mastodon":false,"funding":null,"archive_prefix":"https://wayback.archive-it.org/22121/20231105105752/","use_api":true,"relative_url":null,"canonical_url":null,"filter":null,"updated_at":1710745399,"secure":null,"created_at":1689897600,"indexed":null,"generator_raw":null,"id":"2e00349e-defb-4459-9653-f284f516ac20","ror":null,"mastodon":null}]'
    headers:
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/json; charset=utf-8
      content-profile:
      - public
      sb-gateway-version:
      - '1'
    status_code: 200
version: 1
