interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator_raw%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
  response:
    content: '{"id":"2e00349e-defb-4459-9653-f284f516ac20","slug":"epub_fis","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","current_feed_url":null,"home_page_url":"https://blog.dini.de/EPub_FIS","archive_prefix":"https://wayback.archive-it.org/22121/20231105105752/","feed_format":"application/atom+xml","created_at":1689897600,"updated_at":1728282815,"mastodon":null,"generator_raw":"WordPress
      6.6.2","language":"de","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","title":"Gemeinsamer
      Blog der DINI AGs","description":"Forschungsinformationen & Systeme | Elektronisches
      Publizieren | Kompetenzzentrum Interoperable Metadaten","category":"socialSciences","status":"active","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","authors":null,"use_api":true,"relative_url":null,"filter":null,"secure":null}'
    headers:
      content-location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator_raw%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
      content-profile:
      - public
      content-range:
      - 0-0/*
      content-type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
version: 1
