interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sven-lieber.org/en
  response:
    content: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

      <html><head>

      <title>301 Moved Permanently</title>

      </head><body>

      <h1>Moved Permanently</h1>

      <p>The document has moved <a href="https://sven-lieber.org/en/">here</a>.</p>

      </body></html>

      '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://sven-lieber.org/en/
    status_code: 301
- request:
    body: ''
    headers:
    method: GET
    uri: https://sven-lieber.org/en/
  response:
    content: "<!DOCTYPE html>\n<!-- This site was created with Wowchemy. https://www.wowchemy.com
      -->\n<!-- Last Published: January 11, 2024 --><html lang=\"en-us\" >\n\n\n<head>\n
      \ <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1\" />\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"
      />\n  \n  \n  \n    <meta name=\"generator\" content=\"Wowchemy 5.7.0 for Hugo\"
      />\n  \n\n  \n  \n\n\n\n\n\n\n\n\n\n\n\n\n  \n  \n\n\n\n\n\n\n\n\n\n\n  \n\n\n\n\n\n\n\n
      \ \n  \n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin
      />\n  \n\n  \n  \n  \n    \n      \n      <link rel=\"preload\" as=\"style\"
      href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap\">\n
      \     <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap\"
      media=\"print\" onload=\"this.med[...]
