interactions:
- request:
    body: '{"access": {"visibility": "public", "member_policy": "open", "record_policy":
      "open", "review_policy": "open"}, "slug": "metadatagamechangers", "metadata":
      {"title": "Blog - Metadata Game Changers", "type": {"id": "blog"}, "website":
      "https://metadatagamechangers.com/blog", "description": "Exploring metadata,
      communities, and new idea."}, "custom_fields": {"rs:joined": "January 1, 1970"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://rogue-scholar.org/api/communities
  response:
    content: '{"status": 400, "message": "A validation error occurred.", "errors":
      [{"field": "slug", "messages": ["A community with this identifier already exists."]}]}'
    headers:
      content-type:
      - application/json
      fly-request-id:
      - 01JHYXDZGHXW1SY2PR2Q34ERGY-arn
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '898'
      x-ratelimit-reset:
      - '1737278090'
      x-user-id:
      - '4'
    status_code: 400
version: 1
