interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=0000-0003-1419-2405&query_by=authors.url&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1737280934&sort_by=_text_match%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":692,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/persistent-identifiers-random-strings-and-checksums-2\",\"authors\":[{\"affiliation\":[{\"name\":\"Front
        Matter\"}],\"name\":\"Martin Fenner\",\"url\":\"https://orcid.org/0000-0003-1419-2405\"}],\"blog_name\":\"Front
        Matter\",\"blog_slug\":\"front_matter\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"Continuing
        the work on streamlining the DOI assignment for new blog\\nposts in the [Rogue
        Scholar science blog\\narchive](https://rogue-scholar.org){rel=\\\"noreferrer\\\"},
        I discovered and\\nfixed a major bug. Rogue Scholar DOIs strings are generated
        from a\\nrandom number and include a checksum. It turns out that this checksum\\nwas
        wrong, affecting all Rogue Scholar posts generated with the\\n[commonmeta
        Go\\nlibrary](https://github.com/front[...]
[...]
