interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=updated_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":87,\"hits\":[{\"document\":{\"category\":\"computerAndInformationSciences\",\"created_at\":1706685423,\"description\":\"Stories
        by Research Graph on Medium\",\"favicon\":\"https://cdn-images-1.medium.com/fit/c/150/150/1*laJi0jBkVoGhXid7gD_DmQ.png\",\"feed_format\":\"application/rss+xml\",\"feed_url\":\"https://medium.com/@researchgraph/feed\",\"generator\":\"Medium\",\"home_page_url\":\"https://medium.com/@researchgraph\",\"id\":\"30da2ca9-8258-4ab5-acca-3919d9a5d98d\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"\",\"plan\":\"Starter\",\"prefix\":\"10.59350\",\"slug\":\"researchgraph\",\"status\":\"active\",\"title\":\"Stories
        by Research Graph on Medium\",\"updated_at\":1711428348},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"category\":\"chemicalSciences\",\"created_at\":1693008000,\"description\":\"My
        personal blog, focusing on issues of chemistry and metascience, unified by
        trying to answer the question \\\"how can we make science better\\\"?\",\"favicon\":\"https://substackcdn.com/image/fetch/w_256,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fffa5b250-f13b-47f4-8b9b-92169bd25a28_512x512.png\",\"feed_format\":\"application/rss+xml\",\"feed_url\":\"https://cwagen.substack.com/feed\",\"generator\":\"Substack\",\"home_page_url\":\"https://cwagen.substack.com\",\"id\":\"130cfbf4-5777-47ed-8106-110f4d678357\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"https://rogue-scholar.social/@cwagen\",\"plan\":\"Personal\",\"prefix\":\"10.59350\",\"slug\":\"cwagen\",\"status\":\"active\",\"title\":\"Corin
        Wagen\",\"updated_at\":1711404706},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22130/20231105105400/\",\"category\":\"socialSciences\",\"created_at\":1681948800,\"description\":\"Critical
        perspectives in metascience and the philosophy of science relating to open
        science, science reform, and the replication crisis.\",\"favicon\":\"https://substackcdn.com/image/fetch/w_256,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F00187507-ddc5-4baa-9dae-79f9487d8bce_[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.5.3
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&title=ilike.%2A%2A&limit=10&limit=11&order=created_at.desc&offset=0
  response:
    content: "[{\"slug\":\"khinsen\",\"title\":\"Konrad Hinsen's blog\",\"description\":null,\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://blog.khinsen.net/feeds/all.atom.xml\",\"feed_format\":\"application/atom+xml\",\"home_page_url\":\"https://blog.khinsen.net/\",\"generator\":\"Other\",\"category\":\"naturalSciences\"},
      \n {\"slug\":\"epiforecasts\",\"title\":\"EpiForecasts\",\"description\":\"EpiForecasts
      team website\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https:[...]
