interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=blog_slug%3Arossmounce&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":127,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Ross
        Mounce\"}],\"blog_id\":\"vbmdy90\",\"blog_name\":\"A blog by Ross Mounce\",\"blog_slug\":\"rossmounce\",\"content_html\":\"\\n<p>&#8220;In
        statistics, a central tendency (or measure of central tendency) is a central
        or typical value for a probability distribution. Colloquially, measures of
        central tendency are often called averages. The most common measures of central
        tendency are the&nbsp;<a href=\\\"https://en.wikipedia.org/wiki/Arithmetic_mean\\\">arithmetic
        mean</a>, the&nbsp;<a href=\\\"https://en.wikipedia.org/wiki/Median\\\">median</a>,
        and the&nbsp;<a href=\\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1700474174+%26%26+blog_slug%3Arossmounce&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":128,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Ross
        Mounce\"}],\"blog_id\":\"vbmdy90\",\"blog_name\":\"A blog by Ross Mounce\",\"blog_slug\":\"rossmounce\",\"content_html\":\"\\n<p>This
        is just a quick post of appreciation for <a href=\\\"https://rr.peercommunityin.org/\\\">PCI
        Registered Reports</a>. I&#8217;ve recently joined the PCI RR community as
        a &#8216;<a href=\\\"https://rr.peercommunityin.org/about/recommenders\\\">recommender</a>&#8216;.
        </p>\\n\\n\\n\\n<figure class=\\\"wp-block-image size-full\\\"><a href=\\\"https://rossmounce.co.uk/wp-content/uploads/2023/11/image.png\\\"><img
        loading=\\\"lazy\\\" decoding=\\\"async\\\" width=\\\"259\\\" height=\\\"194\\\"
        src=\\\"https://rossmounce.co.uk/wp-content/uploads/2023/11/image.png\\\"
        alt=\\\"\\\" class=\\\"wp-image-2279\\\"/></a></figure>\\n\\n\\n\\n<p><br>One
        thing that spurred me to join is a rather unsatisfactory experience I had
        as a peer-reviewer, reviewing a manuscript where the experimental design was
        deeply insufficient. I won&#8217;t reveal for which open access journal I
        reviewed, or the full content of my peer review report but the gist of it
        was (quoting from my report, my words):</p>\\n\\n\\n\\n<blockquote class=\\\"wp-block-quote\\\">\\n<p><em>&#8220;&#8230;this
        [name of OA journal redacted] manuscript has an inadequate sample size to
        draw conclusions from. Sampling only 152 journals out of a total population
        of ~4594 SCIE-indexed biology journals, equates to just a 3.3% sample size
        (152/4594). I see no reason why the authors couldn\u2019t have taken at least
        a 10% sample (over 459 journals). Prior work on open access citation advantage
        such as Ghane et al (2020) did their work on a sample of 1881 journals indexed
        in DOAJ (DOAJ at the time indexed a total of ~11,000 journals; Ghane et al
        (2020) achieved a greater than 10% sample size).</em></p>\\n\\n\\n\\n<p><em>Furthermore,
        the choice of how which journals were sampled was by their own account in
        a non-random and arbitrary manner. Students merely _chose_ a journal to download
        data on. This is highly subjective and prone to bias. As an example of one
        possible bias introduced: if I were a student, I might be tempted to choose
        a journal with a low article volume so that it would be less work/time to
        complete the assignment&#8230;&#8221;</em></p>\\n<cite>Ross Mounce (2023)</cite></blockquote>\\n\\n\\n\\n<p>TL;DR
        the experimental design was deeply flawed. Although I appreciate the authors
        put a lot of work into it, the conclusions of their work were just not valid,
        given the problems of their experimental design. </p>\\n\\n\\n\\n<p>The experience
        as a reviewer was like arriving at the scene of a car crash six months too
        late to stop the accident. To change this piece of work into one with an acceptable
    [...]
[...]
