interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=wordpress&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=_text_match%3Adesc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":32,\"hits\":[{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22141/20231105110201/\",\"backlog\":0,\"category\":\"otherHumanities\",\"created_at\":1694476800,\"favicon\":\"https://blogs.fu-berlin.de/open-access-berlin/files/2021/09/cropped-banner-1-32x32.jpg\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://blogs.fu-berlin.de/open-access-berlin/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://blogs.fu-berlin.de/open-access-berlin\",\"id\":\"575d6b2d-c555-4fc7-99fb-055a400f9163\",\"language\":\"de\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"https://berlin.social/@openaccess\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"oaberlin\",\"status\":\"active\",\"title\":\"Open
        Access Blog Berlin\",\"updated_at\":1707302139},\"highlight\":{\"generator\":{\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}},\"highlights\":[{\"field\":\"generator\",\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}],\"text_match\":578730123365711953,\"text_match_info\":{\"best_field_score\":\"1108091339008\",\"best_field_weight\":10,\"fields_matched\":1,\"score\":\"578730123365711953\",\"tokens_matched\":1}},{\"document\":{\"backlog\":0,\"category\":\"languagesAndLiterature\",\"created_at\":1705393153,\"description\":\"Editando
        el \xABLucidario\xBB de Sancho IV\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://lucidarios.hypotheses.org/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://lucidarios.hypotheses.org\",\"id\":\"9e41cc54-c38e-495d-b65c-38cf327d3c73\",\"issn\":\"2952-1580\",\"language\":\"es\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"lucidarios\",\"status\":\"active\",\"title\":\"Lucidarios\",\"updated_at\":1706710067},\"highlight\":{\"generator\":{\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}},\"highlights\":[{\"field\":\"generator\",\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}],\"text_match\":578730123365711953[...]
