interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+1696550400+%26%26+published_at%3A%3C%3D+1697155199&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":32,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Erzsebet
        Frey\"}],\"blog_name\":\"Simply Ecologist\",\"blog_slug\":\"simplyecologist\",\"category\":\"naturalSciences\",\"content_text\":\"Dolphins
        are fascinating creatures known for their acrobatic displays,\\nincluding
        jumping out of the water. While the exact reasons for this\\n[behavior](https://simplyecologist.com/what-is-the-behavior-of-red-pandas-in-the-wild/)\\nmay
        vary, there are several key factors that contribute to why dolphins\\njump
        out of the water. Exploring insights from marine biologists and\\nresearchers,
        here are some of the reasons:\\n\\n**1. Communication and Social I[...]
