interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20current_feed_url%2C%20archive_prefix%2C%20feed_format%2C%20home_page_url%2C%20use_mastodon%2C%20created_at%2C%20license%2C%20generator%2C%20category%2C%20backlog%2C%20prefix%2C%20status%2C%20plan%2C%20funding%2C%20items%3A%20posts%20%28id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%29&slug=eq.andrewheiss
  response:
    content: "{\"slug\":\"andrewheiss\",\"title\":\"Andrew Heiss's blog\",\"description\":\"Andrew
      Heiss's blog\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://www.andrewheiss.com/atom.xml\",\"current_feed_url\":null,\"archive_prefix\":\"https://wayback.archive-it.org/22114/20231101175222/\",\"feed_format\":\"application/rss+xml\",\"home_page_url\":\"https://www.andrewheiss.com\",\"use_mastodon\":true,\"created_at\":1692662400,\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"generator\":\"Quarto\",\"category\":\"politicalScience\",\"backlog\":0,\"prefix\":\"10.59350\",\"status\":\"active\",\"plan\":\"Starter\",\"funding\":null,\"items\":[{\"id\":\"324e029c-3da2-4c50-ab0b-1306fb93ce5e\",\"guid\":null,\"doi\":\"https://doi.org/10.59350/szk3h-v8674\",\"url\":\"https://www.andrewheiss.com/blog/2018/12/17/academic-job-market-visualized\",\"archive_url\":null,\"title\":\"The
      academic job search finally comes to an end\",\"summary\":\"I am <em>so beyond
      thrilled</em> to announce that I\u2019ll be joining the Andrew Young School
      of Policy Studies at Georgia State University in Fall 2019 as an assistant professor
      in the Department of Public Management and Policy. I\u2019ll be teaching classes
      in statistics/data science, economics, and nonprofit management in beautiful
      downtown Atlanta, and we\u2019ll be moving back to the South. I am so so excited
      about this!\",\"published_at\":1545022800,\"updated_at\":1545022800,\"indexed_at\":1693065232,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-3948-3914\", \"name\": \"Andrew Heiss\"}],\"image\":\"https://www.andrewheiss.com/blog/2018/12/17/academic-job-market-visualized/index_files/figure-html/plot-waffle-total-1.png\",\"tags\":[\"R\",\"Ggplot\",\"Dataviz\",\"Jobs\"],\"language\":\"en\",\"reference\":null},
      \n {\"id\":\"f1490d18-2aff-49ba-bbf5-4eee53222b29\",\"guid\":null,\"doi\":\"https://doi.org/10.59350/xwnfm-x1827\",\"url\":\"https://www.andrewheiss.com/blog/2022/11/29/conditional-marginal-marginaleffects\",\"archive_url\":null,\"title\":\"Marginal
      and conditional effects for GLMMs with {marginaleffects}\",\"summary\":\"As
      a field, statistics is really bad at naming things.\",\"published_at\":1669698000,\"updated_at\":1669698000,\"indexed_at\":1693050236,\"authors\":[{\[...]
