interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1737280934&sort_by=published_at%28missing_values%3A+last%29%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":36,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22156/20231101172116/https://clearskiesadam.medium.com/bigger-better-oversight-from-clear-skies-85e51803cbfa\",\"authors\":[{\"name\":\"Adam
        Day\"}],\"blog_name\":\"Stories by Adam Day on Medium\",\"blog_slug\":\"clearskiesadam\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"<figure>\\n<img\\nsrc=\\\"https://cdn-images-1.medium.com/max/1024/1*ZCIW-42TiMHET6-AQOY-gA.png\\\"
        />\\n<figcaption>Data supporting our work is gratefully received from a\\nnumber
        of sources including: Clear Skies\u2019 publisher partners, the\\nProblematic
        Paper Screener, Retraction Watch, OpenAlex, ORCID, Crossref,\\nnumerous sleuths
        including David Bimler, Guillaume Cabanac, Anna\\nAbalkina and\_others.</figcaption>\\n</figure>\\n\\n**TL;DR:**
        The Papermill Alarm has grown to become a comprehensive mix\\nof methods for
        detecting organised research fraud and simplifyi[...]
[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.12.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25&limit=10&limit=11&order=published_at.desc&offset=0
  response:
    content: '[]'
    headers:
      content-location:
      - /posts?limit=10,11&offset=0&order=published_at.desc&select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25
      content-profile:
      - public
      content-range:
      - '*/0'
      content-type:
      - application/json; charset=utf-8
      preference-applied:
      - count=exact
      sb-gateway-version:
      - '1'
      sb-project-ref:
      - zggonsjmmfozmfxlrjmg
    status_code: 200
version: 1
