interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=0000-0003-1419-2405&query_by=author.url&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1706559231&sort_by=_text_match%3Adesc&per_page=10&page=1
  response:
    body:
      string: '{"message": "Could not find a field named `author.url` in the schema."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=0000-0003-1419-2405&query_by=authors.url&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1706559514&sort_by=_text_match%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":537,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/an-update-on-the-rogue-scholar-fediverse\",\"authors\":[{\"name\":\"Martin
        Fenner\",\"url\":\"https://orcid.org/0000-0003-1419-2405\"}],\"blog_name\":\"Front
        Matter\",\"blog_slug\":\"front_matter\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"The
        Rogue Scholar science blogging archive [joined the\\nfediverse](https://doi.org/10.53731/f1mhr-wps22){rel=\\\"noreferrer\\\"}
        in\\nAugust of last year. This week I want to report on an updated strategy\\nfor
        Rogue Scholar, and what it means for science blogs participating in\\nRogue
        Scholar.\\n\\n> The fediverse is a collection of community-owned, ad-free,\\n>
        decentralised, and privacy-centric social networks.  \\n> [To the Fediverse!](https://www.f[...]
[...]
