interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+1696550400+%26%26+published_at%3A%3C%3D+1697155199&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":22,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22123/20231101171300/https://eve.gd/2023/10/12/self-referential-language-counting\",\"authors\":[{\"name\":\"Martin
        Paul Eve\",\"url\":\"https://orcid.org/0000-0002-5589-8511\"}],\"blog_id\":\"z4b9d78\",\"blog_name\":\"Martin
        Paul Eve\",\"blog_slug\":\"eve\",\"content_html\":\"<p>A <a href=\\\"https://www.explainxkcd.com/wiki/index.php/2839:_Language_Acquisition\\\">recent
        XKCD</a> caused some amusement: \u201CVocabulary update: I learned another
        word today, bringing my total to twelve\u201D.</p>\\n\\n<p>We wondered whether
        there might be possible formulations of this joke that also contained the
        unique character count, so I wrote the following python script:</p>\\n\\n<pre><code>import
        num2word\\nimport numpy\\n\\ndef find_self_reference():\\n    sentence = \\\"I
        learned another word today bringing my total to {0} words and {1} letters\\\"\\n
        \   words = 12\\n\\n    for i in range(0, 1000):\\n        num_word = num2word.word(i)\\n
        \       final_words = words + numpy.char.count(num_word, \\\" \\\") + 1\\n
        \       final_num_words = (\\n            int(final_words)\\n            +
        int(numpy.char.count(num2word.word(int(final_words)), \\\" \\\"))\\n            +
        1\\n        )\\n\\n        sentence_sub = sentence.format(num2word.word(final_num_words),
        num_word)\\n        characters = len(set(sentence_sub.replace(\\\" \\\", \\\"\\\")))\\n\\n
        \       print(f\\\"Needed {characters} characters but got {i}.\\\")\\n\\n
        \       if characters == i:\\n            print(sentence_sub)\\n            return\\n</code></pre>\\n\\n<p>This
        gives us the following results:</p>\\n\\n<ul>\\n  <li>I learned another word
        today bringing my total to fourteen words and twenty letters</li>\\n</ul>\\n\\n<p>or</p>\\n\\n<ul>\\n
        \ <li>Vocabulary update: I learned another word today bringing my total to
        seventeen words and twenty five letters</li>\\n</ul>\\n\\n<p>Good to have
        a hobby.</p>\\n\\n    <p><a href=\\\"https://eve.gd/2023/10/12/self-referential-language-counting/\\\">Self-referential
        language counting (I learned another word today bringing my total to fourteen
        words and twenty letters)</a> was originally published by Martin Paul Eve
        at <a href=\\\"https://eve.gd\\\">Martin Paul Eve</a> on October 12, 2023.</p>\",\"content_text\":\"content_text\",\"doi\":\"https://doi.org/10.59348/sf2b0-q3k31\",\"guid\":\"https://eve.gd/2023/10/12/self-referential-language-counting\",\"id\":\"277a2797-fdea-4ad0-9e68-b1897d345252\",\"language\":\"en\",\"published_at\":1697126158,\"reference\":[],\"relationships\":[],\"summary\":\"A
        recent XKCD caused some amusement: \u201CVocabulary update: I learned another
        word today, bringing my total to twelve\u201D.  We wondered whether there
        might be possible formulations of this joke that also contained the unique
        character count, so I wrote the following python script: import num2word import
        numpy def find_self_reference():     sentence = \\\"I learned another word
        today bringing my total to {0} words and {1} letters\\\"     words = 12     for
        i\",\"tags\":[],\"title\":\"Self-referential language counting (I learned
        another word today bringing my total to fourteen words and twenty letters)\",\"updated_at\":1697068800,\"url\":\"https://eve.gd/2023/10/12/self-referential-language-counting\"},\"highlight\":{\"authors\":[{\"name\":\"Martin
        Paul Eve\",\"url\":\"https://orcid.org/0000-0002-5589-8511\"}],\"content_html\":\"<p>A
        <a href=\\\"https://www.explainxkcd.com/wiki/index.php/2839:_Language_Acquisition\\\">recent
        XKCD</a> caused some amusement: \u201CVocabulary update: I learned another
        word today, bringing my total to twelve\u201D.</p>\\n\\n<p>We wondered whether
        there might be possible formulations of this joke that also contained the
        unique char[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_text%2Creference&filter_by=published_at%3A%3E%3D+1696550400+%26%26+published_at%3A%3C%3D+1697155199&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":21,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22123/20231101171300/https://eve.gd/2023/10/12/self-referential-language-counting\",\"authors\":[{\"name\":\"Martin
        Paul Eve\",\"url\":\"https://orcid.org/0000-0002-5589-8511\"}],\"blog_id\":\"z4b9d78\",\"blog_name\":\"Martin
        Paul Eve\",\"blog_slug\":\"eve\",\"category\":\"languagesAndLiterature\",\"content_html\":\"<p>A
        <a href=\\\"https://www.explainxkcd.com/wiki/index.php/2839:_Language_Acquisition\\\">recent
        XKCD</a> caused some amusement: \u201CVocabulary update: I learned another
        word today, bringing my total to twelve\u201D.</p>\\n\\n<p>We wondered whether
        there might be possible formulations of this joke that also contained the
        unique character count, so I wrote the following python script:</p>\\n\\n<pre><code>impo[...]
