interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1699953223&sort_by=_text_match%3Adesc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":24,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22152/20231101171820/https://www.samuelmoore.org/2020/03/12/the-undecidable-nature-of-predatory-publishing\",\"authors\":[{\"name\":\"Samuel
        Moore\"}],\"blog_id\":\"gr1by89\",\"blog_name\":\"Samuel Moore\",\"blog_slug\":\"samuelmoore\",\"content_html\":\"\\n<p>The
        term &#8216;predatory publisher&#8217; reveals a limit of language &#8211;
        or rather it asks too much of language. It seeks a binary separation between
        &#8216;predatory&#8217; and &#8216;non-predatory&#8217; where no such separation
        can exist, ultimately illustrating more about the motivations and hidden biases
        about the accuser than the supposedly predatory journal at hand. We therefore
        need another way to conceptualise the practices that predatory publishing
        seeks to describe. </p>\\n\\n\\n\\n<!--more-->\\n\\n\\n\\n<p>The limitations
        of the term are on display in a <a href=\\\"https://www.biorxiv.org/content/10.1101/2020.03.09.983155v1\\\">preprint</a>
        circulated this week by Severin et al, titled &#8216;Who reviews for predatory
        journals? A study on reviewer characteristics&#8217;. The study used a review
        tracking service called Publons to identify researchers who have declared
        to have reviewed for journals the authors consider to be predatory. They conclude:
        </p>\\n\\n\\n\\n<blockquote class=\\\"wp-block-quote\\\"><p>[T]he  profiles
        \ of  scholars  who  review  for  predatory journals tend to resemble those
        scholars who publish their research in these outlets: they tend to be young
        and inexperienced researchers who are affiliated with institutions in developing
        regions. </p><cite>https://www.biorxiv.org/content/10.1101/2020.03.09.983155v1.full.pdf
        </cite></blockquote>\\n\\n\\n\\n<p>According to the analysis, predatory journals
        both publish the work and rely on the reviewing expertise of the same groups
        of inexperienced researchers based in &#8216;developing&#8217; regions. This
        leads the authors to conclude that a possible explanation is that &#8216;predatory
        journals have become an integral part of the workflow for many scholars i[...]
[...]
