interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+1696550400&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":66,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Eric
        Gilliam\"}],\"blog_id\":\"qz67b69\",\"blog_name\":\"FreakTakes\",\"blog_slug\":\"freaktakes\",\"content_html\":\"<p><em>This
        piece is a part of a FreakTakes series. The goal is to put together a series
        of administrative histories on specific DARPA projects just as I have done
        for many industrial R&amp;D labs and other research orgs on FreakTakes. The
        goal \u2014 once I have covered ~20-30 projects \u2014 is to put together
        a larger \u2018ARPA Playbook\u2019 which helps individuals such as PMs in
        ARPA-like orgs navigate the growing catalog of pieces in a way that helps
        them find what they need to make the best decisions possible. In service of
        that, I am including in each post a bulleted list of \u2018pattern language
        tags\u2019 that encompass some categories of DARPA project strategies that
        describe the approaches contained in the piece \u2014 which will later be
        used to organize the ARPA Playbook document. These tags and the piece itself
        should all be considered in draft form until around the Spring of 2024. In
        the meantime, please feel free to reach out to me on <a href=\\\"https://twitter.com/eric_is_weird\\\">Twitter</a>
        or email (egillia3 | at | alumni | dot | stanford | dot | edu) to recommend
        additions/changes to the tags or the pieces. Also, if you have any ideas for
        projects from ARPA history \u2014 good, bad, or complicated \u2014 that would
        be interesting for me to dive into, please feel free to share them!</em></p><p><strong>Pattern
        Language Tags:</strong></p><ul><li><p>Pushing forward the technological base
        via speculative machine building contracts</p></li><li><p>Gray coding</p></li><li><p>Incentivizing
        a group of related goals by organizing them all into a single contract</p></li><li><p>Selecting
        multiple industry contractors for a trial period before choosing the final
        contractor</p></li><li><p>Funding a conservative project to use as a measuring
        stick for more ambitious projects in the area</p></li></ul><h1>Introduction</h1><p>DARPA\u2019s
        multi-decade investment in developing early versions of parallel processing
        computers provides a lot to learn from for ARPA-style PMs. Two of DARPA\u2019s
        most prominent, long-standing investments in this area took two completely
        different approaches to push the technology base forward in a coordinated
        fashion. Both are viewed as successes to some and abject failures to others.
        In this piece, I will dive into the op[...]
