interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1699953617+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":94,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22150/20231105110624/https://ropensci.org/es/blog/2023/11/06/r-universe-stars-finale-es\",\"authors\":[{\"name\":\"Alejandra
        Bellini\"},{\"name\":\"Yanina Bellini Saibene\",\"url\":\"https://orcid.org/0000-0002-4522-7466\"}],\"blog_id\":\"k0crp01\",\"blog_name\":\"rOpenSci
        - herramientas abiertas para una ciencia abierta\",\"blog_slug\":\"ropensci_es\",\"content_html\":\"<p>El
        Universo R es utilizado por profesionales de distintos \xE1mbitos, aunque
        todos persiguen el mismo objetivo: <strong>ofrecer sus paquetes de R de manera
        simple y accesible</strong>.</p><p>Desde rOpenSci trabajamos para ofrecer
        herramientas que faciliten el acceso a datos y software de investigaci\xF3n
        generado con buenas pr\xE1cticas de desarrollo de software y en una comunidad
        amigable. Con la plataforma Universo R b\xE1sicamente buscamos presentar todo
        el universo #rstats para que cualquiera pueda encontrar el paquete m\xE1s
        adecuado para resolver un problema.</p><p>En el Universo R encontramos paquetes
        muy diversos. Desde equipos que analizan datos estad\xEDsticos en el estado
        argentino a investigaciones sobre el cerebro humano en Noruega.</p><p>En este
        art\xEDculo resumimos las entrevistas de la serie <em>Conociendo a las estrellas
        del universo R</em>, les traemos cinco ejemplos de organizaciones y equipos
        que eligen el Universo R para facilitar el acceso y promover el intercambio
        de datos y software en comunidad.</p><ul><li><em><a href=\\\"/es/blog/2022/11/23/r-universe-stars-1-es/\\\">SINTA:
        comunidad R, intercambiar y aprender</a></em>. En esta entrevista repasamos
        la experiencia de trabajar con paquetes de R en el estado argentino. Desde
        el Ministerio de Turismo y Deporte trabajan para optimizar los flujos de trabajos
        en procesos abiertos y accesibles a todas las personas. Definen al Universo
        R como un \u201Cgran armario donde poner nuestras cajas de herramientas\u201D.</li></ul><div
        class=\\\"gallery caption-position-bottom caption-effect-slide hover-effect-zoom
        hover-transition\\\" itemscope itemtype=\\\"http://schema.org/ImageGallery\\\">\\t
        \ <link rel=\\\"stylesheet\\\" href=/css/hugo-easy-gallery.css /><div class=\\\"box\\\"
        >  <figure  itemprop=\\\"associatedMedia\\\" itemscope itemtype=\\\"http://schema.org/ImageObject\\\">
        \   <div class=\\\"img\\\" style=\\\"background-image: url('sinta.png');\\\">
        \     <img itemprop=\\\"thumbnail\\\" src=\\\"sinta.png\\\" alt=\\\"Sitio
        web de SINTA. Datos Abiertos de Turismo.\\\"/>    </div>    <a href=\\\"sinta.png\\\"
        itemprop=\\\"contentUrl\\\"></a>  </figure></div><div class=\\\"box\\\" >
        \ <figure  itemprop=\\\"associatedMedia\\\" itemscope itemtype=\\\"http://schema.org/ImageObject\\\">
        \   <div class=\\\"img\\\" style=\\\"background-image: url('sinta2.png');\\\">
        \     <img itemprop=\\\"thumbnail\\\" src=\\\"sinta2.png[...]
[...]
