interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%29&blogs.prefix=not.is.null&indexed=is.null&doi=not.is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"b3657c9c-482c-4bfc-8fb8-c59d951f3dfe\",\"guid\":null,\"doi\":\"https://doi.org/10.59350/kpzx0-08062\",\"url\":\"http://gigasciencejournal.com/blog/basel-ismbeccb-and-bosc-2019\",\"archive_url\":null,\"title\":\"Bioinformaticians
      Baking in Blazing Basel: ISMBECCB and BOSC 2019\",\"summary\":\"<strong>In Sultry
      Switzerland, Bioinformatics is Radiant at ISMBECCB </strong>  Water cooling
      of our datacenter (& friends)  Regular readers will know<em> GigaScience</em>
      originally launched at the 2012 ISMB (Intelligent Systems of Molecular Biology)
      meeting in Long Beach, and every subsequent year the conference has held a special
      place in our hearts as the place where we celebrate our birthday (see all the
      previous write-ups in GigaBlog).\",\"published_at\":1565234656,\"updated_at\":1565324398,\"indexed_at\":1692862389,\"indexed\":null,\"authors\":[{\"url\":
      \"http://orcid.org/0000-0001-6444-1436\", \"name\": \"Scott Edmunds\"}],\"image\":\"http://gigasciencejournal.com/blog/wp-content/uploads/2019/08/IMG_0305-300x200.jpg\",\"tags\":[\"Biology\",\"Bioinformatics\",\"BOSC\",\"Conference\",\"Conferences\"],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"blog_name\":\"GigaBlog\",\"blog_slug\":\"gigablog\",\"blog\":{\"slug\":\"gigablog\",\"title\":\"GigaBlog\",\"description\":\"Data
      driven blogging from the GigaScience editors\",\"feed_url\":\"http://gigasciencejournal.com/blog/feed/atom/\",\"home_page_url\":\"http://gigasciencejournal.com/blog\",\"language\":\"en\",\"category\":\"biologicalSciences\",\"status\":\"active\",\"generator\":\"WordPress\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":1695805059}},
      \n {\"id\":\"f4ff43e7-1530-4b2a-86dc-ff23e9e560d1\",\"guid\":null,\"doi\":\"https://doi.org/10.59350/67gwy-03236\",\"url\":\"http://gigasciencejournal.com/blog/imicrobe-qa-bonnie-hurwitz\",\"archive_url\":null,\"title\":\"iMicrobe:
      Fostering Community-Driven Science and Data Discovery. Q&A with Bonnie Hurwitz\",\"summary\":\"In
      this data-driven era, research is faced with new challenges, from[...]
