interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=updated_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":78,\"hits\":[{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22096/20231101172748/\",\"backlog\":0,\"category\":\"computerAndInformationSciences\",\"created_at\":1672561153,\"current_feed_url\":\"https://blog.front-matter.io/atom/\",\"description\":\"The
        Front Matter Blog covers the intersection of science and technology since
        2007.\",\"favicon\":\"https://blog.front-matter.io/favicon.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://blog.front-matter.io/atom\",\"generator\":\"Ghost\",\"home_page_url\":\"https://blog.front-matter.io\",\"id\":\"74659bc5-e36e-4a27-901f-f0c8d5769cb8\",\"issn\":\"2749-9952\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"https://mozilla.social/@martin\",\"plan\":\"Team\",\"prefix\":\"10.53731\",\"slug\":\"front_matter\",\"status\":\"active\",\"title\":\"Front
        Matter\",\"updated_at\":1707416598},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"backlog\":0,\"category\":\"otherSocialSciences\",\"created_at\":1706861187,\"description\":\"Vernetzungs-
        und Kompetenzstelle Open Access Brandenburg\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://open-access-brandenburg.de/feed/atom\",\"generator\":\"WordPress\",\"home_page_url\":\"https://open-access-brandenburg.de\",\"id\":\"f3e666fd-7d84-4c7e-9177-6febb1a076ce\",\"language\":\"de\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legal[...]
