interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1708703376+%26%26+tags%3A%3D%5Bopen+access%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":866,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22141/20231105110201/https://blogs.fu-berlin.de/open-access-berlin/2024/02/23/hochschulvertraege2024-2028\",\"authors\":[{\"name\":\"Maxi
        Kindling\",\"url\":\"https://orcid.org/0000-0002-0167-0466\"}],\"blog_name\":\"Open
        Access Blog Berlin\",\"blog_slug\":\"oaberlin\",\"category\":\"otherHumanities\",\"content_text\":\"Am
        vergangenen Freitag, den 16.02.2024 wurden die Hochschulvertr\xE4ge f\xFCr\\ndie
        Jahre 2024 bis 2028 durch die Senatorin f\xFCr Wissenschaft, Forschung\\nund
        Pflege, Dr. Ina Czyborra, und die Leitungen der in der\\nLandeskonferenz der
        Rektor\\\\*innen und Pr\xE4sident\\\\*innen (LKRP\\\\*)\\nvertretenen\_ Hochschulen
        und der Charit\xE9 unterzeichnet (siehe\\n[Pressinformation der\\nSenatsverwaltung](https://www.berlin.de/sen/wgp/presse/2024/pressemitt[...]
[...]
