interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20modified_at%29&blog_slug=eq.andrewheiss&order=published_at.desc&limit=10
  response:
    content: "[{\"id\":\"a017c730-9f55-48e8-a986-ce1043341e8f\",\"doi\":\"https://doi.org/10.59350/64j0k-26134\",\"url\":\"https://www.andrewheiss.com/blog/2023/09/18/understanding-dirichlet-beta-intuition/index.html\",\"archive_url\":null,\"title\":\"Guide
      to understanding the intuition behind the Dirichlet distribution\",\"summary\":\"I\u2019ve
      been finishing up a project that uses ordered Beta regression (Kubinec 2022),
      a neat combination of Beta regression and ordered logistic regression that you
      can use for modeling continuous outcomes that are bounded on either side (in
      my project, we\u2019re modeling a variable that can only be between 1 and 32,
      for instance). It\u2019s possible to use something like zero-one-inflated Beta
      regression for outcomes like this, but that kind of model requ\",\"published_at\":1695009600,\"updated_at\":1695009600,\"indexed_at\":1695065592,\"indexed\":true,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-3948-3914\", \"name\": \"Andrew Heiss\"}],\"image\":\"https://www.andrewheiss.com/blog/2023/09/18/understanding-dirichlet-beta-intuition/index_files/figure-html/plot-3-7-2-betas-1.png\",\"tags\":[\"R\",\"Statistics\",\"Regression\",\"Tidyverse\",\"Ggplot\"],\"language\":\"en\",\"reference\":[{\"doi\":
      \"https://doi.org/10.1017/pan.2022.20\", \"key\": \"ref1\"}],\"relationships\":[],\"blog_name\":\"Andrew
      Heiss's blog\",\"blog_slug\":\"andrewheiss\",\"blog\":{\"slug\":\"andrewheiss\",\"title\":\"Andrew
      Heiss's blog\",\"description\":\"Andrew Heiss's blog\",\"feed_url\":\"https://www.andrewheiss.com/atom.xml\",\"home_page_url\":\"https://www.andrewheiss.com\",\"language\":\"en\",\"category\":\"politicalScience\",\"status\":\"active\",\"generator\":\"Quarto
      1.4.385\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"modified_at\":\"2023-09-18T04:00:00+00:00\"}},
      \n {\"id\":\"0395cdf8-92a4-42ba-9565-57cb960aba1c\",\"doi\":\"https://doi.org/10.59350/qba9a-b3561\",\"url\":\"https://www.andrewheiss.com/blog/2023/08/15/matrix-multiply-logit-predict/index.html\",\"archive_url\":null,\"title\":\"Manually
      generate predicted values for logistic regression with matrix multiplication
      in R\",\"summary\":\"In a project I\u2019m working on, I need to generate predictions
      from a logistic regression model.\",\"pu[...]
