interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+1696550400&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":12,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Stephen
        Royle\",\"url\":\"https://orcid.org/0000-0001-8927-6967\"}],\"blog_id\":\"s1e9w75\",\"blog_name\":\"quantixed\",\"blog_slug\":\"quantixed\",\"content_html\":\"\\n<p>On
        a scientist&#8217;s Google Scholar page, there is a list of co-authors in
        the sidebar. I&#8217;ve often wondered how Google determines in what order
        these co-authors appear.</p>\\n\\n\\n\\n<p>The list of co-authors on a primary
        author&#8217;s page is not exhaustive. It only lists co-authors who also have
        a Google Scholar profile. They also have to be suggested to the primary author
        and they need to accept the co-author to list them on the page. Finally, the
        profile page only displays the first 20 co-authors. Any further co-authors
        can be seen by clicking &#8220;View All&#8221;. As I understand it, there
        is a limit to the number of co-authors a primary author is allowed to have;
        I currently have 40 and haven&#8217;t yet hit a limit. The ranking of co-authors
        is determined <em>somehow</em> and the first 20 are displayed on the primary
        author&#8217;s profile page, in the sidebar on the right.</p>\\n\\n\\n\\n<p><strong>How
        does Google Scholar rank these co-authors?</strong> Let&#8217;s use R to find
        out!</p>\\n\\n\\n\\n<p>We&#8217;ll make use of the <a href=\\\"https://github.com/jkeirstead/scholar\\\">scholar</a>
        package to get the data. The primary author used in the package vignette is
        Albert Einstein, but he doesn&#8217;t have any co-authors on Google Scholar;
        so we&#8217;ll use my data instead.</p>\\n\\n\\n<div class=\\\"wp-block-syntaxhighlighter-code
        \\\"><pre class=\\\"brush: r; title: ; notranslate\\\" title=\\\"\\\">\\nlibrary(scholar)\\nlibrary(dplyr)\\nlibrary(ggplot2)\\nlibrary(zoo)\\n\\n#
        use a Google Scholar ID here\\nid &lt;- &quot;PBcP8-oAAAAJ&quot;\\n# retrieve
        all the info from the page\\nl &lt;- get_profile(id)\\n# retrieve details
        of all of the primary author&#039;s papers\\npapers &lt;- get_publications(id)\\n#
        sadly this only has 6 authors max for each paper, let&#039;s get the missing
        authors\\n[...]
