interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+1696550400&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":38,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Heinz
        Pampel\",\"url\":\"https://orcid.org/0000-0003-3334-2771\"}],\"blog_id\":\"f4wdg32\",\"blog_name\":\"Syldavia
        Gazette\",\"blog_slug\":\"syldavia_gazette\",\"content_html\":\"<p>Happy Birthday,
        Open Access! Last Sunday, the Berlin Declaration turned twenty years old (<a
        href=\\\"https://www.tagesspiegel.de/wissen/20-jahre-open-access-wie-berlin-das-offene-publizieren-pragte-10657489.html\\\"
        rel=\\\"noreferrer\\\">Pampel &amp; Kindling, 2023</a>). Its anniversary coincides
        with the international Open Access Week. During this action week, events promoting
        Open Access are organized worldwide (an overview can be found at <a href=\\\"https://www.openaccessweek.org/\\\"><u>openaccessweek.org</u></a>.
        Another list of events in Germany is available at <a href=\\\"https://open-access.network/fortbilden/open-access-week/open-access-week-2023\\\"><u>open-access.network</u></a>).
        In panel discussions or digital formats, such as blog posts, the current state
        and future of Open Access are examined.</p><p>This action week is a good opportunity
        to take a look at the Rogue Scholar Science Blog Archive (<a href=\\\"https://doi.org/10.59350/vwajv-ym488\\\"
        rel=\\\"noreferrer\\\">Di Giambattista<u> 2023</u></a>). A search in the archive
        of English-language blogs archived by Rogue Scholar yields <a href=\\\"https://rogue-scholar.org/posts?page=1&amp;query=open+access+week&amp;language=en\\\"><u>493
        hits</u></a> for the term <strong>open access week</strong>. The same search
        for German-language blogs resulted in <a href=\\\"https://rogue-scholar.org/posts?page=1&amp;query=open+access+week&amp;language=de\\\"><u>44
        hits</u></a> (as of October 22, 2023).</p><p>In the following, I will introduce
        some of the posts. To do this, I will use the <a href=\\\"https://en.wikipedia.org/wiki/Five_Ws\\\"><u>Five
        Ws</u></a> method and will present a blog post for each W.</p><h3 id=\\\"who\\\">Who?</h3><p>In
        2009, Martin Fenner discussed the perspective of researchers on Open Access
        in a blog post titled <em>Open Access Week: A researcher\u2019s perspective</em>
        (Fenner, <a href=\\\"https://doi.org/10.53731/r294649-6f79289-8cw3b\\\"><u>2009</u></a>).
        He emphasized the potential for the reuse of scholarly articles.</p><h3 id=\\\"why\\\">Why?</h3><p>The
        question of the motivations behind Open Access is addressed in several parts
        of the blog post <em>Twitter interview with Open Access Nigeria </em>by Mike
        <a href=\\\"https://doi.org/10.59350/4v1nk-69837\\\"><u>Ta[...]
