interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/works?select=%2A&uuid=eq.c2182771-c786-4c51-b3db-4f5c599948f3
  response:
    content: '{"code":"42703","details":null,"hint":"Perhaps you meant to reference
      the column \"works.id\" or the column \"works.pid\".","message":"column works.uuid
      does not exist"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 400
version: 1
