interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20current_feed_url%2C%20archive_prefix%2C%20feed_format%2C%20home_page_url%2C%20use_mastodon%2C%20created_at%2C%20license%2C%20generator%2C%20category%2C%20backlog%2C%20prefix%2C%20status%2C%20plan%2C%20funding%2C%20items%3A%20posts%20%28id%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%29&slug=eq.andrewheiss
  response:
    content: "{\"slug\":\"andrewheiss\",\"title\":\"Andrew Heiss's blog\",\"description\":\"Andrew
      Heiss's blog\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://www.andrewheiss.com/atom.xml\",\"current_feed_url\":null,\"archive_prefix\":null,\"feed_format\":\"application/rss+xml\",\"home_page_url\":\"https://www.andrewheiss.com\",\"use_mastodon\":true,\"created_at\":\"2023-08-22\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"generator\":\"Quarto
      1.4.385\",\"category\":\"politicalScience\",\"backlog\":0,\"prefix\":\"10.59350\",\"status\":\"active\",\"plan\":\"Starter\",\"funding\":null,\"items\":[{\"id\":\"1b523bcd-ed81-4454-8492-b6e7abd94982\",\"doi\":\"https://doi.org/10.59350/t57vy-p5115\",\"url\":\"https://www.andrewheiss.com/blog/2021/08/21/r2-euler/index.html\",\"archive_url\":null,\"title\":\"Exploring
      R\xB2 and regression variance with Euler/Venn diagrams\",\"summary\":\"Regression
      is the core of my statistics and program evaluation/causal inference courses.
      As I\u2019ve taught different stats classes, I\u2019ve found that one of the
      regression diagnostic statistics that students really glom onto is . Unlike
      lots of regression diagnostics like AIC, BIC, and the joint F-statistic,  has
      a really intuitive interpretation\u2014it\u2019s the percent of variation in
      the outcome variable explained by all the explanatory variables.\",\"published_at\":1629518400,\"updated_at\":1629518400,\"indexed_at\":1693048508,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-3948-3914\", \"name\": \"Andrew Heiss\"}],\"image\":\"https://www.andrewheiss.com/blog/2021/08/21/r2-euler/index_files/figure-html/nice-plot-1.png\",\"tags\":[\"R\",\"Tidyverse\",\"Regression\",\"Statistics\",\"Data
      Visualization\"],\"language\":\"en\",\"reference\":[{\"doi\": \"https://doi.org/10.3758/BF03204399\",
      \"key\": \"ref1\"}, {\"doi\": \"https://doi.org/10.1080/10691898.2001.11910646\",
      \"key\": \"ref2\"}]}, \n {\"id\":\"7c6149ca-03ca-43ee-932b-4d68567e3380\",\"doi\":\"https://doi.org/10.59350/ha58q-xzf62\",\"url\":\"https://www.andrewheiss.com/blog/2021/07/10/hex-cross-stitch/index.html\",\"archive_url\":null,\"title\":\"Hex
      sticker/logo cross stitch pattern\",\"summary\":\"<i></i> Downloads  Jump to
      the downloads and get your own free pattern and template files!  In the data
      scie[...]
