interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=blog_slug%3A%21%3D%5Bxxx%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":18,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Martin
        Paul Eve\",\"url\":\"https://orcid.org/0000-0002-5589-8511\"}],\"blog_id\":\"z4b9d78\",\"blog_name\":\"Martin
        Paul Eve\",\"blog_slug\":\"eve\",\"content_html\":\"<p>Today\u2019s big news
        is that <a href=\\\"https://doi.org/10.13003/c23rw1d9\\\">Crossref has acquired
        the Retraction Watch database of expressions of concerns and retractions and
        has made it openly accessible to anyone who wants to use it</a>. I\u2019m
        waiting for full confirmation of the license or public domain dedication under
        which it will be released, but this is still a great commitment of Crossref
        to the POSI principles. The liberation [...]
