interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.4.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator_raw%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.andrewheiss
  response:
    content: '{"id":"1941b1fd-eea5-4d90-a251-f7ff58c98403","slug":"andrewheiss","feed_url":"https://www.andrewheiss.com/atom.xml","current_feed_url":null,"home_page_url":"https://www.andrewheiss.com","archive_prefix":"https://wayback.archive-it.org/22114/20231101175222/","feed_format":"application/rss+xml","created_at":1692662400,"updated_at":1710993600,"mastodon":"https://fediscience.org/@andrew","generator_raw":"Quarto
      1.4.529","language":"en","favicon":null,"title":"Andrew Heiss''s blog","description":"Andrew
      Heiss''s blog","category":"politicalScience","status":"active","user_id":"7e027f20-14b4-4d41-b547-a5dc12ae3ea4","authors":null,"plan":"Personal","use_api":null,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator_raw%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.andrewheiss
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      content-profile:
      - public
      sb-gateway-version:
      - '1'
    status_code: 200
version: 1
