interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0&sort_by=_text_match%3Adesc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":12,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Elias
        Koch\",\"url\":\"\"}],\"blog_id\":\"526jy42\",\"blog_name\":\"Elephant in
        the Lab\",\"blog_slug\":\"elephantinthelab\",\"content_html\":\"\\n<p></p>\\n\\n\\n\\n<h2>Introduction</h2>\\n\\n\\n\\n<div><figure><img
        loading=\\\"lazy\\\" src=\\\"https://elephantinthelab.org/wp-content/uploads/2021/04/foto2-1024x1024.jpg\\\"
        width=\\\"185\\\" height=\\\"185\\\" /><figcaption>Renke Siems</figcaption></figure></div>\\n\\n\\n\\n<p>In
        December 2018, a University of Minnesota web librarian, Cody Hanson, participated
        in a workshop hosted by the <a href=\\\"https://www.cni.org/\\\">Coalition
        for Networked Information</a>. The topic of this, and a number of other events
        to date, is the drive by major scholarly publishers to more fully integrate
        authentication systems for accessing electronic media into their platforms.
        Under v[...]
