interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1737280934&sort_by=_text_match%3Adesc&per_page=10&page=1&include_fields=doi%2Ctitle
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":36,\"hits\":[{\"document\":{\"doi\":\"https://doi.org/10.59350/6sg2m-r7997\",\"title\":\"Notifications
        pour les articles r\xE9tract\xE9s gr\xE2ce \xE0 l\u2019int\xE9gration de Retraction
        Watch\"},\"highlight\":{\"title\":{\"matched_tokens\":[\"Retraction\",\"Watch\"],\"snippet\":\"Notifications
        pour les articles r\xE9tract\xE9s gr\xE2ce \xE0 l\u2019int\xE9gration de <mark>Retraction</mark>
        <mark>Watch</mark>\"}},\"highlights\":[{\"field\":\"title\",\"matched_tokens\":[\"Retraction\",\"Watch\"],\"snippet\":\"Notifications
        pour les articles r\xE9tract\xE9s gr\xE2ce \xE0 l\u2019int\xE9gration de <mark>Retraction</mark>
        <mark>Watch</mark>\"}],\"text_match\":1157451471441100916,\"text_match_info\":{\"best_field_score\":\"2211897868288\",\"best_field_weight\":14,\"fields_matched\":4,\"score\":\"1157451471441100916\",\"tokens_matched\":2}},{\"document\":{\"doi\":\"https://doi.org/10.59350/cmyz9-ms451\",\"title\":\"What
        Difference Does It Make?\"},\"highlight\":{},\"highlights\":[],\"text_match\":1157451471441100883,\"text_match_info\":{\"best_field_score\":\"2211897868288\",\"best_field_weight\":10,\"fields_matched\":3,\"score\":\"1157451471441100883\",\"tokens_matched\":2}},{\"document\":{\"doi\":\"https://doi.org/10.59350/s8gaf-vsn10\",\"title\":\"A
        new breed of paper mill targeting international medical grad[...]
[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.12.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25&limit=10&limit=11&order=published_at.desc&offset=0
  response:
    content: '[]'
    headers:
      content-location:
      - /posts?limit=10,11&offset=0&order=published_at.desc&select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25
      content-profile:
      - public
      content-range:
      - '*/0'
      content-type:
      - application/json; charset=utf-8
      preference-applied:
      - count=exact
      sb-gateway-version:
      - '1'
      sb-project-ref:
      - zggonsjmmfozmfxlrjmg
    status_code: 200
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.17.0
    method: GET
    uri: https://bosczcmeodcrajtcaddf.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28active%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25&order=published_at.desc&offset=0&limit=10
  response:
    content: '[]'
    headers:
      content-location:
      - /posts?limit=10&offset=0&order=published_at.desc&select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28active%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25
      content-profile:
      - public
      content-range:
      - '*/0'
      content-type:
      - application/json; charset=utf-8
      preference-applied:
      - count=exact
      sb-gateway-version:
      - '1'
      sb-project-ref:
      - bosczcmeodcrajtcaddf
      sb-request-id:
      - 01987bc4-76b4-780e-bb48-a0f2e6e59d42
    status_code: 200
version: 1
