interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=wordpress&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=_text_match%3Adesc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":25,\"hits\":[{\"document\":{\"backlog\":0,\"category\":\"mediaAndCommunications\",\"created_at\":1692662400,\"favicon\":\"https://norbisley.files.wordpress.com/2023/08/cropped-cropped-logo-1.png?w=32\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://norbisley.wordpress.com/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://norbisley.wordpress.com\",\"id\":\"6aswq28\",\"language\":\"es\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Starter\",\"prefix\":\"10.59350\",\"slug\":\"norbisley\",\"status\":\"active\",\"title\":\"Edici\xF3n
        y comunicaci\xF3n de la Ciencia\",\"updated_at\":1696673881,\"use_mastodon\":false},\"highlight\":{\"generator\":{\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}},\"highlights\":[{\"field\":\"generator\",\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}],\"text_match\":578730123365711953,\"text_match_info\":{\"best_field_score\":\"1108091339008\",\"best_field_weight\":10,\"fields_matched\":1,\"score\":\"578730123365711953\",\"tokens_matched\":1}},{\"document\":{\"backlog\":0,\"category\":\"otherHumanities\",\"created_at\":1694476800,\"favicon\":\"https://blogs.fu-berlin.de/open-access-berlin/files/2021/09/cropped-banner-1-32x32.jpg\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://blogs.fu-berlin.de/open-access-berlin/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://blogs.fu-berlin.de/open-access-berlin\",\"id\":\"3r60t96\",\"language\":\"de\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"oaberlin\",\"status\":\"active\",\"title\":\"Open
        Access Blog Berlin\",\"updated_at\":1698850758,\"use_mastodon\":true},\"highlight\":{\"generator\":{\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}},\"highlights\":[{\"field\":\"generator\",\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}],\"text_match\":578730123365711953,\"text_match_info\":{\"best_field_score\":\"1108091339008\",\"best_field_weight\":10,\"fields_matched\":1,\"score\":\"578730123365711953\",\"tokens_matched\":1}},{\"document\":{\"backlog\":0,\"category\":\"socialSciences\",\"created_at\":1689897600,\"description\":\"Gemeinsamer
        Blog der DINI AG Forschungsinformationssystem und Elektronisches Publizieren\",\"favicon\":\"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://blog.dini.de/EPub_FIS/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://blog.dini.de/EPub_FIS\",\"id\":\"mdh1h61\",\"language\":\"de\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"[...]
