interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.4.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/works?select=%2A&uuid=eq.c2182771-c786-4c51-b3db-4f5c599948f3
  response:
    content: '{"type":"JournalArticle","url":"https://www.nature.com/articles/d41586-023-02554-0","contributors":[{"type":
      "Person", "givenName": "Myriam", "familyName": "Vidal Valero", "contributorRoles":
      ["Author"]}],"titles":[{"title": "Thousands of scientists are cutting back on
      Twitter, seeding angst and uncertainty"}],"container":{"type": "Journal", "issue":
      "7974", "title": "Nature", "volume": "620", "lastPage": "484", "firstPage":
      "482", "identifier": "1476-4687", "identifierType": "ISSN"},"publisher":{"name":
      "Springer Science and Business Media LLC"},"references":[{"key": "CM25908110_CR1",
      "unstructured": "Arroyo-Machado, W., Torres-Salinas, D. & Robinson-Garcia, N.
      Preprint in 27 Int. Conf. Sci. Tech. Inn. Ind. (2023)."}, {"doi": "https://doi.org/10.1609/icwsm.v17i1.22222",
      "key": "CM25908110_CR2", "volume": "17", "firstPage": "1133", "contributor":
      "D. Hickey", "containerTitle": "Proc. Int. AAAI Conf. Web Soc. Media", "publicationYear":
      "2023"}, {"doi": "https://doi.org/10.1162/qss_a_00250", "key": "CM25908110_CR3",
      "volume": "4", "firstPage": "314", "contributor": "P. Mongeon", "containerTitle":
      "Quant. Sci. Stud.", "publicationYear": "2023"}],"relations":[{"id": "https://portal.issn.org/resource/ISSN/1476-4687",
      "type": "IsPartOf"}],"date":{"published": "2023-08-16"},"descriptions":[],"license":{"url":
      "https://www.springernature.com/gp/researchers/text-and-data-mining"},"alternate_identifiers":[],"funding_references":[],"files":[{"url":
      "https://www.nature.com/articles/d41586-023-02554-0.pdf", "mimeType": "application/pdf"},
      {"url": "https://www.nature.com/articles/d41586-023-02554-0", "mimeType": "text/html"},
      {"url": "https://www.nature.com/articles/d41586-023-02554-0.pdf", "mimeType":
      "application/pdf"}],"subjects":[{"subject": "Multidisciplinary"}],"provider":"Crossref","schema_version":"https://commonmeta.org/commonmeta_v0.12","state":"findable","geo_locations":[],"version":null,"language":"en","additional_type":null,"uuid":"c2182771-c786-4c51-b3db-4f5c599948f3","id":"https://doi.org/10.1038/d41586-023-02554-0","archive_locations":[],"formats":[],"sizes":[]}'
    headers:
      Content-Location:
      - /works?select=%2A&uuid=eq.c2182771-c786-4c51-b3db-4f5c599948f3
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
version: 1
