interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=title%3Aasc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":70,\"hits\":[{\"document\":{\"backlog\":0,\"category\":\"naturalSciences\",\"created_at\":1695168000,\"current_feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"feed_format\":\"application/feed+json\",\"feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"generator\":\"WordPress\",\"home_page_url\":\"https://rossmounce.co.uk\",\"id\":\"vbmdy90\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"rossmounce\",\"status\":\"active\",\"title\":\"A
        blog by Ross Mounce\",\"updated_at\":1705234606,\"use_mastodon\":false},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"backlog\":0,\"category\":\"otherSocialSciences\",\"created_at\":1697068800,\"description\":\"<a
        href=\\\"http://musingsaboutlibrarianship.blogspot.com/p/subscribe-by-email.html\\\">(Subscribe
        by email)</a>\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://feeds.feedburner.com/musingsaboutlibrarianship\",\"generator\":\"Blogger\",\"home_page_url\":\"http://musingsaboutlibrarianship.blogspot.com/\",\"id\":\"med7n78\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"musings\",\"status\":\"active\",\"title\":\"Aaron
        Tay's Musings about librarianship\",\"updated_at\":1701955335,\"use_mastodon\":false},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22114/20231101175222/\",\"backlog\":0,\"category\":\"politicalScience\",\"created_at\":1692662400,\"description\":\"Andrew
        Heiss's blog\",\"feed_format\":\"application/rss+xml\",\"feed_url\":\"https://www.andrewheiss.com/atom.xml\",\"generator\":\"Quarto\",\"home_page_url\":\"https://www.andrewheiss.com\",\"id\":\"tcw6w29\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Starter\",\"prefix\":\"10.59350\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=updated_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":74,\"hits\":[{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22135/20231101173016/\",\"back[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=updated_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":77,\"hits\":[{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22137/20231101174036/\",\"backlog\":0,\"category\":\"computerAndInformationSciences\",\"created_at\":1681686000,\"description\":\"Blog
        for the Journal of Open Source Software \u2022 <a href='https://joss.theoj.org'>https://joss.theoj.org</a>\",\"favicon\":\"https://user-images.githubusercontent.com/4483/49343677-fcd32700-f63b-11e8-8883-8c07463ee2a9.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://blog.joss.theoj.org/feed.xml\",\"generator\":\"Jekyll\",\"home_page_url\":\"https://blog.joss.theoj.org/\",\"id\":\"564467d0-612e-4dc3-8d5c-b4afd32c3203\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"https://fosstodon.org/@joss\",\"plan\":\"Starter\",\"prefix\":\"10.59349\",\"slug\":\"joss\",\"status\":\"active\",\"title\":\"Journal
        of Open Source Software Blog |\",\"updated_at\":1707350400},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22096/20231101172748/\",\"backlog\":0,\"category\":\"computerAndInformationSciences\",\"created_at\":1672561153,\"current_feed_url\":\"https://blog.front-matter.io/atom/\",\"description\":\"The
        Front Matter Blog covers the intersection of science and technology since
        2007.\",\"favicon\":\"https://blog.front-matter.io/favicon.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://blog.front-matter.io/atom\",\"generator\":\"Ghost\",\"home_page_url\":\"https://blog.front-matter.io\",\"id\":\"74659bc5-e36e-4a27-901f-f0c8d5769cb8\",\"issn\":\"2749-9952\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"https://mozilla.social/@martin\",\"plan\":\"Team\",\"prefix\":\"10.53731\",\"slug\":\"front_matter\",\"status\":\"active\",\"title\":\"Front
        Matter\",\"updated_at\":1707336000},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"docu[...]
