interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_text%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1703516466&sort_by=_text_match%3Adesc&per_page=10&page=1&include_fields=doi%2Ctitle
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":25,\"hits\":[{\"document\":{\"doi\":\"https://doi.org/10.59350/cmyz9-ms451\",\"title\":\"What
        Difference Does It Make?\"},\"highlight\":{},\"highlights\":[],\"text_match\":1157451471441100883,\"text_match_info\":{\"best_field_score\":\"2211897868288\",\"best_field_weight\":10,\"fields_matched\":3,\"score\":\"1157451471441100883\",\"tokens_matched\":2}},{\"document\":{\"doi\":\"https://doi.org/10.59348/9b1f4-29n44\",\"title\":\"Retract
        this!\"},\"highlight\":{},\"highlights\":[],\"text_match\":1157451471441100882,\"text_match_info\":{\"best_field_score\":\"2211897868288\",\"best_field_weight\":10,\"fields_matched\":2,\"score\":\"1157451471441100882\",\"tokens_matched\":2}},{\"document\":{\"doi\":\"https://doi.org/10.59350/v5rp0-nde12\",\"title\":\"Suppression
        as a form of liberation?\"},\"highlight\":{},\"highlights\":[],\"t[...]
[...]
