interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28%2A%29&blogs.prefix=not.is.null&updated=is.True&doi=not.is.null&order=updated_at.desc&limit=20
  response:
    content: "[{\"id\":\"dcfdb4a0-6396-414a-aec7-3f51f0bb272c\",\"guid\":\"https://irights.info/sandbox/?p=4533\",\"doi\":\"https://doi.org/10.59350/te9am-eqw38\",\"url\":\"https://irights.info/2012/08/07/neue-website-verspricht-uberblick-im-agb-dickicht/4533\",\"archive_url\":\"https://wayback.archive-it.org/22135/20231101173016/https://irights.info/2012/08/07/neue-website-verspricht-uberblick-im-agb-dickicht/4533\",\"title\":\"Neue
      Website \u2018Terms of Service; Didn\u2019t Read\u2019\x9D verspricht \xDCberblick
      im AGB-Dickicht\",\"summary\":\"Wer Webdienste nutzt, kommt nicht umhin, seitenlangen
      Nutzungsbedingungen, also Vertr\xE4gen zuzustimmen, die auch bei iRights.info
      immer mal wieder Thema waren (Musikdienste, Fotodienste,\_Filme und E-Books).
      Amerikanische Wissenschaftler haben einmal berechnet, dass der durchschnittliche
      (US-)Nutzer immerhin 76 Arbeitstage im Jahr damit verbringen m\xFCsste, um Nutzungsbedingungen
      bzw.\\n\",\"abstract\":null,\"content_text\":\"![](https://irights.info/wp-content/uploads/2012/08/tos-dr.png
      \\\"Screenshot: tos-dr.info\\\"){.alignnone\\n.size-full .wp-image-4534 loading=\\\"lazy\\\"
      width=\\\"460\\\" height=\\\"230\\\"\\nsrcset=\\\"https://irights.info/wp-content/uploads/2012/08/tos-dr.png
      460w, https://irights.info/wp-content/uploads/2012/08/tos-dr-300x150.png 300w\\\"\\nsizes=\\\"(max-width:
      460px) 100vw, 460px\\\"}\\n\\nWer Webdienste nutzt, kommt nicht umhin, seitenlangen\\nNutzungsbedingung[...]
[...]
