interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20modified_at%29&blogs.prefix=not.is.null&doi=is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"7ed56e9b-8e01-4a69-8583-75302b61715d\",\"doi\":null,\"url\":\"https://irights.info/2015/01/29/transmediale-2015-leben-arbeiten-und-spielen-in-den-zeiten-des-full-take/24806\",\"archive_url\":null,\"title\":\"Transmediale-Festival
      untersucht den \u201EFull Take\u201C unserer Daten\",\"summary\":\"Geheimdienste,
      Firmen, Staaten, Individuen \u2013 alle sammeln sie Daten. \u201EQuantified
      Self\u201C, \u201Ealgorithmic society\u201C und \u201Efull take\u201C sind Begriffe,
      mit denen das Medienfestival Transmediale die Entwicklung beschreibt. Es untersucht,
      wie K\xFCnstler, Theoretiker und Aktivisten damit umgehen. Zum 28. Mal findet
      es derzeit in Berlin statt.\",\"published_at\":1422535019,\"updated_at\":1422539760,\"indexed_at\":0,\"indexed\":true,\"authors\":[{\"name\":
      null}],\"image\":null,\"tags\":[\"Fotos Grafiken\",\"Gesellschaft Kunst\",\"Netzkulturen\",\"Transmediale\"],\"language\":\"de\",\"reference\":[],\"relationships\":[],\"blog_name\":\"iRights.info\",\"blog_slug\":\"irights\",\"blog\":{\"slug\":\"irights\",\"title\":\"iRights.info\",\"description\":\"Urheberrecht
      und kreatives Schaffen in der digitalen Welt\",\"feed_url\":\"https://irights.info/feed/atom\",\"home_page_url\":\"https://irights.info\",\"language\":\"de\",\"category\":\"law\",\"status\":\"active\",\"generator\":\"WordPress\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"modified_at\":\"2023-09-25T10:21:48+00:00\"}},
      \n {\"id\":\"a371d301-fe0f-4bfc-90b1-4d8aa7d08b51\",\"doi\":null,\"url\":\"https://rossmounce.co.uk/2015/01/27/open-research-london-launch-event\",\"archive_url\":null,\"title\":\"Open
      Research London launch event\",\"summary\":\"Last week, on Monday 19th January,
      I co-organised the first ever Open Research London event at Imperial College
      London, with the help of local organisers;\_Jon Tennant &amp; Torsten Reimer.\",\"published_at\":1422[...]
