interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=blog_slug%3A%21%3D%5Bxxx%5D+%26%26+tags%3A%3D%5Bopen+access%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":615,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Joshua
        Chalifour\"}],\"blog_id\":\"62prc14\",\"blog_name\":\"Chroknowlogy\",\"blog_slug\":\"chroknowlogy\",\"content_html\":\"\\n<p>The
        processes and supports within an institution can, I\u2019ve noticed, demand
        a bit of effort to change. When we speak of <strong>open scholarship</strong>
        or <strong>open science</strong>, many aspects tie-in or lead out from those
        concepts, which makes the whole prospect of institutional change quite complex.
        I\u2019m very excited about the efforts so far that the Open Science Working
        Group (of which I\u2019m a participant) at Concordia University has undertaken
        and accomplished. These include an initial report on \u201C<a href=\\\"https://doi.org/10.11573/spectrum.library.concordi[...]
