interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28%2A%29&doi=eq.https%3A%2F%2Fdoi.org%2F10.53731%2Fybhah-9jy85
  response:
    content: "{\"id\":\"4ede6374-6ba8-436f-81e6-4504fd70441a\",\"guid\":\"651d174894e4e100013aeebf\",\"doi\":\"https://doi.org/10.53731/ybhah-9jy85\",\"url\":\"https://blog.front-matter.io/posts/the-rise-of-the-science-newsletter\",\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/the-rise-of-the-science-newsletter\",\"title\":\"The
      rise of the (science) newsletter\",\"summary\":\"Newsletters have been around
      forever, but their popularity has significantly increased in the past few years,
      also thanks to platforms such as Ghost, Medium, and Substack. Which of course
      also includes science newsletters.Failure of advertising as a revenue model
      \ The most important driver of this trend is probably the realization that advertising
      is a poor revenue model for content published on the web, including blogs.\",\"abstract\":null,\"content_text\":\"Newsletters
      have been around forever, but their popularity has\\nsignificantly increased
      in the past few years, also thanks to platforms\\nsuch as [Ghost](https://ghost.org/){rel=\\\"noreferrer\\\"},\\n[Medium](https://medium.com/){rel=\\\"noreferrer\\\"},
      and\\n[Substack](https://substack.com/){rel=\\\"noreferrer\\\"}. Which of course\\nalso
      includes science newsletters.\\n\\n## Failure of advertising as a revenue model\\n\\nThe
      most important driver of this tren[...]
