interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_text%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1703516466&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":25,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22123/20231101171300/https://eve.gd/2023/12/11/my-2023-year-in-review\",\"authors\":[{\"name\":\"Martin
        Paul Eve\",\"url\":\"https://orcid.org/0000-0002-5589-8511\"}],\"blog_id\":\"z4b9d78\",\"blog_name\":\"Martin
        Paul Eve\",\"blog_slug\":\"eve\",\"category\":\"languagesAndLiterature\",\"content_html\":\"2023
        continued to pose the all-important question: just how many health disasters
        can I endure? This year, I started haemodialysis as my kidneys entered the
        extremely worryingly named \\\"end-stage renal failure\\\". This turns out
        to be a very long-term prospect, as I can't have a transplant owing both to
        BK viremia (which caused the kidney damage in the first place) and a conflict
        with the immunosuppression that treats my rheumatoid arthritis. [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_text%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1704621265&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":25,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22123/20231101171300/https://eve.gd/2023/12/11/my-2023-year-in-review\",\"authors\":[{\"name\":\"Martin
        Paul Eve\",\"url\":\"https://orcid.org/0000-0002-5589-8511\"}],\"blog_name\":\"Martin
        Paul Eve\",\"blog_slug\":\"eve\",\"category\":\"languagesAndLiterature\",\"content_text\":\"2023
        continued to pose the all-important question: just how many health\\ndisasters
        can I endure? This year, I started haemodialysis as my kidneys\\nentered the
        extremely worryingly named \\\\\\\"end-stage renal failure\\\\\\\". This\\nturns
        out to be a very long-term prospect, as I can\\\\'t have a transplant\\nowing
        both to BK viremia (which caused the kidney damage in the first\\nplace) and
        a conflict with the immunosuppression that treats my\[...]
[...]
