interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&title=ilike.%25wordpress%25&limit=10&limit=11&order=created_at.desc&offset=10
  response:
    content: '{"code":"PGRST103","details":"An offset of 10 was requested, but there
      are only 0 rows.","hint":null,"message":"Requested range not satisfiable"}'
    headers:
      content-location:
      - /blogs?limit=10,11&offset=10&order=created_at.desc&select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&title=ilike.%25wordpress%25
      content-profile:
      - public
      content-range:
      - '*/0'
      content-type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 416
version: 1
