interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=title%28missing_values%3A+last%29%3Aasc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":87,\"hits\":[{\"document\":{\"category\":\"naturalSciences\",\"created_at\":1696231153,\"current_feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"feed_format\":\"application/feed+json\",\"feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"generator\":\"WordPress\",\"home_page_url\":\"https://rossmounce.co.uk\",\"id\":\"ff3a6eab-dddb-47b3-bc53-c5f7a4d7f3df\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"\",\"plan\":\"Personal\",\"prefix\":\"10.59350\",\"slug\":\"rossmounce\",\"status\":\"active\",\"title\":\"A
        blog by Ross Mounce\",\"updated_at\":1706096085},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"category\":\"otherSocialSciences\",\"created_at\":1697068800,\"description\":\"<a
        href=\\\"http://musingsaboutlibrarianship.blogspot.com/p/subscribe-by-email.html\\\">(Subscribe
        by email)</a>\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://feeds.feedburner.com/musingsaboutlibrarianship\",\"generator\":\"Blogger\",\"home_page_url\":\"http://musingsaboutlibrarianship.blogspot.com/\",\"id\":\"98c432bb-36f7-4df2-976b-36dbce79a877\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Personal\",\"prefix\":\"10.59350\",\"slug\":\"musings\",\"status\":\"active\",\"title\":\"Aaron
        Tay's Musings about librarianship\",\"updated_at\":1711166688},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22114/20231101175222/\",\"category\":\"politicalScience\",\"created_at\":1692662400,\"description\":\"Andrew
        Heiss's blog\",\"feed_format\":\"application/rss+xml\",\"feed_url\":\"https://www.andrewheiss.com/atom.xml\",\"generator\":\"Quarto\",\"home_page_url\":\"https://www.andrewheiss.com\",\"id\":\"1941b1fd-eea5-4d90-a251-f7ff58c98403\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"https://fedis[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.5.3
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&title=ilike.%2A%2A&limit=10&limit=11&order=created_at.desc&offset=0
  response:
    content: "[{\"slug\":\"khinsen\",\"title\":\"Konrad Hinsen's blog\",\"description\":null,\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://blog.khinsen.net/feeds/all.atom.xml\",\"feed_format\":\"application/atom+xml\",\"home_page_url\":\"https://blog.khinsen.net/\",\"generator\":\"Other\",\"category\":\"naturalSciences\"},
      \n {\"slug\":\"epiforecasts\",\"title\":\"EpiForecasts\",\"description\":\"EpiForecasts
      team website\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://epiforecasts.io/blog.xml\",\"feed_format\":\"application/rss+xml\",\"home_page_url\":\"https://epiforecasts.io/[...]
