interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=blog_slug%3Arossmounce&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":238,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Ross
        Mounce\"}],\"blog_id\":\"vbmdy90\",\"blog_name\":\"A blog by Ross Mounce\",\"blog_slug\":\"rossmounce\",\"content_html\":\"\\n<p>&#8220;In
        statistics, a central tendency (or measure of central tendency) is a central
        or typical value for a probability distribution. Colloquially, measures of
        central tendency are often called averages. The most common measures of central
        tendency are the&nbsp;<a href=\\\"https://en.wikipedia.org/wiki/Arithmetic_mean\\\">arithmetic
        mean</a>, the&nbsp;<a href=\\\"https://en.wikipedia.org/wiki/Median\\\">median</a>,
        and the&nbsp;<a href=\\[...]
