interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_text%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1703516467+%26%26+tags%3A%3D%5Bopen+access%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":769,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Ross
        Mounce\"}],\"blog_id\":\"vbmdy90\",\"blog_name\":\"A blog by Ross Mounce\",\"blog_slug\":\"rossmounce\",\"category\":\"naturalSciences\",\"content_html\":\"\\n<p>As
        you may have seen in the <a href=\\\"https://www.theguardian.com/technology/2023/nov/22/personal-data-stolen-in-british-library-cyber-attack-appears-for-sale-online\\\">news</a>,
        the British Library has been affected by a significant cyberattack. Many of
        the digital services it provides have gone down and stayed down for many weeks
        now, whilst investigations take place. I have a lot of sympathy for the BL
        staff. As has been <a href=\\\"https://hcommons.social/@mia/111483661298025928\\\">observed</a>,
        public services can be a relatively easy target.  </p>\\n\\n\\n\\n<p>Two of
        the very wide variety of digital services that the BL provide, that I have
        a particular interest in are:</p>\\n\\n\\n\\n<p>a) the ISSN National Centre
        for the UK: <a href=\\\"https://www.bl.uk/bibliographic/issn.html\\\">https://www.bl.uk/bibliographic/issn.html</a><br>b)
        the E-Theses Online Service (EThOS): <a href=\\\"http://ethos.bl.uk/\\\">http://ethos.bl.uk/</a>
        </p>\\n\\n\\n\\n<p>Both of these services, and many others (do we even know
        how many?) are still offline at the time of writing this (2023-11-30). I can
        probably live without registering a new ISSN, that can wait. But what about
        access to my PhD thesis? I want people to be able to read this. Is it still
        available online anywhere? </p>\\n\\n\\n\\n<p>M[...]
[...]
