interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":12,\"hits\":[{\"document\":{\"authors\":[],\"blog_id\":\"med7n78\",\"blog_name\":\"Musings
        about Librarianship - Aaron Tay\",\"blog_slug\":\"musings\",\"content_html\":\"<img
        src=\\\"https://api.follow.it/track-rss-story-loaded/v1/nr_Y2U1XqVqbBpjsJSFRAqCY3L745TL_\\\"
        border=0 width=\\\"1\\\" height=\\\"1\\\" alt=\\\"Two new browser extensions
        that help with delivery or access - ebsco passport and GetFTR browser extension
        and other developments\\\" title=\\\"Two new browser extensions that help
        with delivery or access - ebsco passport and GetFTR browser extension and
        other developments\\\"> <p>One of the earliest [...]
