interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      range:
      - 0-99
      range-unit:
      - items
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&order=title
  response:
    content: "[{\"slug\":\"rossmounce\",\"title\":\"A blog by Ross Mounce\",\"description\":null,\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://rossmounce.co.uk/wp-json/wp/v2/posts\",\"feed_format\":\"application/atom+xml\",\"home_page_url\":\"https://rossmounce.co.uk\",\"generator\":\"WordPress\",\"category\":\"naturalSciences\"},
      \n {\"slug\":\"andrewheiss\",\"title\":\"Andrew Heiss's blog\",\"description\":\"Andrew
      Heiss's blog\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://www.andrewheiss.com/atom.xml\",\"feed_format\":\"application/rss+xml\",\"home_page_url\":\"https://www.andrewheiss.com\",\"generator\":\"Quarto
      1.4.376\",\"category\":\"politicalScience\"}, \n {\"slug\":\"behind_the_science\",\"title\":\"Behind
      the Science\",\"description\":\"Ein Blog aus d[...]
