interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&sort_by=_text_match%3Adesc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":18,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Bj\xF6rn
        Brembs\",\"url\":null}],\"blog_id\":\"8q8xh52\",\"blog_name\":\"bjoern.brembs.blog\",\"blog_slug\":\"brembs\",\"content_html\":\"<p>In
        the <a href=\\\"https://www.theguardian.com/science/audio/2015/jun/12/scientific-retractions-fraud-explored\\\">last</a>
        \u201CScience Weekly\u201D podcast from the Guardian, the topic was retractions.\_
        At about 20:29 into the episode, <a href=\\\"https://www.theguardian.com/profile/hannah-devlin\\\">Hannah
        Devlin</a> asked, whether the reason \u2018top\u2019 journals retract more
        articles may be because of increased scrutiny there.</p>\\n<p>The u[...]
