interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=title%3Aasc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":70,\"hits\":[{\"document\":{\"backlog\":0,\"category\":\"naturalSciences\",\"created_at\":1695168000,\"current_feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"feed_format\":\"application/feed+json\",\"feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"generator\":\"WordPress\",\"home_page_url\":\"https://rossmounce.co.uk\",\"id\":\"vbmdy90\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"rossmounce\",\"status\":\"active\",\"title\":\"A
        blog by Ross Mounce\",\"updated_at\":1705234606,\"use_mastodon\":false},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"backlog\":0,\"category\":\"otherSocialSciences\",\"created_at\":1697068800,\"description\":\"<a
        href=\\\"http://musingsaboutlibrarianship.blogspot.com/p/subscribe-by-email.html\\\">(Subscribe
        by email)</a>\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://feeds.feedburner.com/musingsaboutlibrarianship\",\"generator\":\"Blogger\",\"home_page_url\":\"http://musingsaboutlibrarianship.blogspot.com/\",\"id\":\"med7n78\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"musings\",\"status\":\"active\",\"title\":\"Aaron
        Tay's Musings about librarianship\",\"updated_at\":1701955335,\"use_mastodon\":false},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22114/20231101175222/\",\"backlog\":0,\"category\":\"politicalScience\",\"created_at\":1692662400,\"description\":\"Andrew
        Heiss's blog\",\"feed_format\":\"application/rss+xml\",\"feed_url\":\"https://www.andrewheiss.com/atom.xml\",\"generator\":\"Quarto\",\"home_page_url\":\"https://www.andrewheiss.com\",\"id\":\"tcw6w29\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Starter\",\"prefix\":\"10.59350\[...]
