interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%29&blogs.prefix=not.is.null&updated=is.True&doi=not.is.null&order=updated_at.desc&limit=15
  response:
    content: "[{\"id\":\"dfc32ca4-f435-487a-a837-b2fd9f378eb5\",\"guid\":\"62d42bbd41e317003df48e43\",\"doi\":\"https://doi.org/10.53731/r294649-6f79289-8cw78\",\"url\":\"https://blog.front-matter.io/posts/beyond-the-pdf-is-epub\",\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/beyond-the-pdf-is-epub\",\"title\":\"Beyond
      the PDF \u2026 is ePub\",\"summary\":\"Having breakfast at the end of a conference
      is a good way to recap what was discussed and can help to generate new ideas.
      Two years ago at ScienceOnline09 a conversation with Cameron Neylon that followed
      up on the session Reputation, authority and incentives. Or: How to get rid of
      the Impact Factor (moderated by Bj\xF6rn Brembs and Pete Binfield) was started
      my interest in unique author identifiers for researchers.\\n\",\"published_at\":1295740800,\"updated_at\":1660898928,\"indexed_at\":1,\"indexed\":true,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0003-1419-2405\", \"name\": \"Martin Fenner\"}],\"image\":\"https://blog.front-matter.io/content/images/2022/08/5376544624_9914bebffa.jpeg\",\"tags\":[\"Meeting
      Report\"],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"blog_name\":\"Front
      Matter\",\"blog_slug\":\"front_matter\",\"blog\":{\"slug\":\"front_matter\",\"title\":\"Front
      Matter\",\"description\":\"The Front Matter Blog covers the intersection of
      science and technology since 2007.\",\"feed_url\":\"https://blog.front-matter.io/atom-complete/\",\"home_page_url\":\"https://blog.front-matter.io\",\"language\":\"en\",\"category\":\"computerAndInformationSciences\",\"status\":\"active\",\"generator\":\"Ghost\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":1705502015}},
      \n {\"id\":\"44c9d2b1-2944-4671-a1c5-3f3c25686f74\",\"guid\":\"62d42bbd41e317003df48e42\",\"doi\":\"https://doi.org/10.53731/r294649-6f79289-8cw77\",\"url\":\"https://blog.front-matter.io/posts/nature-com-ipad-app-released-today\",\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/nature-com-ipad-app-released-today\",\"title\":\"Nature.com
      iPad [...]
