interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0&sort_by=_text_match%3Adesc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":20,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Scott
        Edmunds\",\"url\":\"http://orcid.org/0000-0001-6444-1436\"}],\"blog_id\":\"3ffcd46\",\"blog_name\":\"GigaBlog\",\"blog_slug\":\"gigablog\",\"content_html\":\"<p><strong>Shallow
        Impact. Tis the season.<br />\\n</strong>In case people didn\u2019t know\u2014
        the world of scientific publishing has seasons: There is the Inundation season,
        which starts in November as authors rush to submit their papers before the
        end of year. Then there is the Recovery season beginning in January as editors
        come back from holidays to tackle the glut. The season of Absence hits in
        mid-July, as all of Europe prepares to go on a month-long vacation\u2014 and
        every editor scrambles to find just one reviewer.</p>\\n<p>But the most magical
        season of all happens in June: the season of Journal Impact Factor (jIF).
        At this mystical time of year, every editor and publisher and their marketing
        team wonders <em>Oh, what will The Web of Science bring us this year?</em></p>\\n<p>All
        joking aside, it is hard to ignore jIF because they have a huge <em>impact</em>
        on researchers\u2019 careers and on journal success. Still, we all can\u2019t
        help but notice that this all-powerful number is very much like the Wizard
        of Oz\u2026 what is really going on behind the curtain and should the wizard
        be invested with that much power?</p>\\n<p>The clear answer is, well, <em>no</e[...]
