interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1708703375&sort_by=_text_match%3Adesc&per_page=10&page=1&include_fields=doi%2Ctitle
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":28,\"hits\":[{\"document\":{\"doi\":\"https://doi.org/10.59350/6sg2m-r7997\",\"title\":\"Notifications
        pour les articles r\xE9tract\xE9s gr\xE2ce \xE0 l&#8217;int\xE9gration de
        Retraction Watch\"},\"highlight\":{\"title\":{\"matched_tokens\":[\"Retraction\",\"Watch\"],\"snippet\":\"Notifications
        pour les articles r\xE9tract\xE9s gr\xE2ce \xE0 l&#8217;int\xE9gration de
        <mark>Retraction</mark> <mark>Watch</mark>\"}},\"highlights\":[{\"field\":\"title\",\"matched_tokens\":[\"Retraction\",\"Watch\"],\"snippet\":\"Notifications
        pour les articles r\xE9tract\xE9s gr\xE2ce \xE0 l&#8217;int\xE9gration de
        <mark>Retraction</mark> <mark>Watch</mark>\"}],\"text_match\":1157451471441100916,\"text_match_info\":{\"best_field_score\":\"2211897868288\",\"best_field_weight\":14,\"fields_matched\":4,\"score\":\"1157451471441100916\",\"tokens_matched\":2}},{\"document\":{\"doi\":\"https://doi.org/10.59350/cmyz9-ms451\",\"title\":\"What
        Difference Does It Make?\"},\"highlight\":{},\"highlights\":[],\"text_match\":1157451471441100883,\"text_match_info\":{\"best_field_score\":\"2211897868288\",\"best_field_weight\":10,\"fields_matched\":3,\"score\":\"1157451471441100883\",\"tokens_matched\":2}},{\"document\":{\"doi\":\"https://doi.org/10.59348/9b1f4-29n44\",\"title\":\"Retract
        this!\"},\"highlight\":{},\"highlights\":[],\"text_mat[...]
[...]
