interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%29&blogs.prefix=not.is.null&doi=is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"11a52dd7-1a9a-4b76-9256-c16fb882ae07\",\"doi\":null,\"url\":\"https://larsgw.blogspot.com/2020/03/economics-of-open-source-versus-open.html#comment-form\",\"archive_url\":null,\"title\":\"Economics
      of open source versus open science\",\"summary\":\"\",\"published_at\":1584978000,\"updated_at\":1680209196,\"indexed_at\":0,\"indexed\":false,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-4751-4637\", \"name\": \"Lars Willighagen\"}],\"image\":\"https://lh3.googleusercontent.com/saNvSR2_xkDNAkKpUvtmfkq5CPgDob5zdYRPWcUwpDcBWJPcK_ZEJ6FxEAstyozxtx_PxumKnXAEbw=s72-c\",\"tags\":[\"Programming\"],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"blog_name\":\"Syntaxus
      baccata\",\"blog_slug\":\"syntaxus_baccata\",\"blog\":{\"slug\":\"syntaxus_baccata\",\"title\":\"Syntaxus
      baccata\",\"description\":\"Thoughts about bibliographic metadata, programming,
      statistics, taxonomy, and biology.\",\"feed_url\":\"https://larsgw.blogspot.com/feeds/posts/default\",\"home_page_url\":\"https://larsgw.blogspot.com/\",\"language\":\"en\",\"category\":\"computerAndInformationSciences\",\"status\":\"active\",\"generator\":\"Blogger
      7.00\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":1693563330}},
      \n {\"id\":\"08962717-7a93-454c-b9e7-083660715898\",\"doi\":null,\"url\":\"https://www.andrewheiss.com/blog/2020/03/12/emergency-online-teaching-resources\",\"archive_url\":null,\"title\":\"Emergency
      online teaching resources\",\"summary\":\"\",\"published_at\":1583985600,\"updated_at\":1583985600,\"indexed_at\":0,\"indexed\":false,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-3948-391[...]
