interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%2C%20modified_at%29&blogs.prefix=not.is.null&doi=is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"819a7513-4889-4df0-a093-eb9bfd1d4ee1\",\"doi\":null,\"url\":\"https://eve.gd/2008/09/24/the-importance-of-weaponization-in-exploit-development\",\"archive_url\":null,\"title\":\"The
      importance of weaponization in exploit development\",\"summary\":\"A while back
      (quite a long while back now I suppose) I entered SmugMug's \\\"competition\\\"
      to \\\"hack\\\" their system. As it was hardly impenetrable I succeeded and
      succesfully claimed a security bounty from them; although they weren't so keen
      to publicise that! Now, you can moralise about security bounties if you want,
      but I am a student and starving in a garret.\",\"published_at\":1222271758,\"updated_at\":1222271758,\"indexed_at\":0,\"indexed\":true,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-5589-8511\", \"name\": \"Martin Paul Eve\"}],\"image\":null,\"tags\":[],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"blog_name\":\"Martin
      Paul Eve\",\"blog_slug\":\"eve\",\"blog\":{\"slug\":\"eve\",\"title\":\"Martin
      Paul Eve\",\"description\":null,\"feed_url\":\"https://eve.gd/feed_all.xml\",\"home_page_url\":\"https://eve.gd\",\"language\":\"en\",\"category\":\"languagesAndLiterature\",\"status\":\"active\",\"generator\":\"Jekyll\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":0,\"modified_at\":\"1970-01-01T00:00:00+00:00\"}},
      \n {\"id\":\"13d542cf-d1a3-4ea4-a816-62fdafa88d54\",\"doi\":null,\"url\":\"https://eve.gd/2008/09/17/creating-an-irc-frontback-end-from-a-c-web-application\",\"archive_url\":null,\"title\":\"Creating
      an IRC front/back-end from a C# web application\",\"summary\":\"This lengthy
      howto will show you how to hook up C# to an eggdrop IRC bot. I've taken this
      approach because it avoids the overhead of managing a fully fledged IRC client
      in C[...]
