interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28%2A%29&id=eq.77b2102f-fec5-425a-90a3-4a97c768bdc4
  response:
    content: "{\"id\":\"77b2102f-fec5-425a-90a3-4a97c768bdc4\",\"guid\":\"https://norbisley.wordpress.com/?p=517\",\"doi\":\"https://doi.org/10.59350/sfzv4-xdb68\",\"url\":\"https://norbisley.wordpress.com/2023/10/06/que-libros-cientificos-publicamos\",\"archive_url\":\"https://wayback.archive-it.org/22132/20231107222423/https://norbisley.wordpress.com/2023/10/06/que-libros-cientificos-publicamos\",\"title\":\"\xBFQu\xE9
      libros cient\xEDficos publicamos en Ediciones Universidad de Camag\xFCey?\",\"summary\":\"Con
      frecuencia a la editorial llegan textos que terminan siendo muy diferentes a
      la idea de libro que el autor tra\xEDa inicialmente. Esto se debe en parte,
      a que es insuficiente el abordaje de las clasificaciones de textos cient\xEDficos
      que se divulga institucionalmente. Aqu\xED comento brevemente algunos tipos
      de libros que publicamos en Ediciones Universidad de Camag\xFCey.\",\"abstract\":null,\"content_text\":\"![](https://norbisley.files.wordpress.com/2023/10/rrm1esyb-3.png){.wp-image-523\\nattachment-id=\\\"523\\\"\\npermalink=\\\"https://norbisley.wordpress.com/2023/10/06/que-libros-cientificos-publicamos/rrm1esyb-3/\\\"\\norig-file=\\\"https://norbisley.files.wordpress.com/2023/10/rrm1esyb-3.png\\\"\\norig-size=\\\"1008,301\\\"
      comments-opened=\\\"1\\\"\\nimage-meta=\\\"{\\\\\\\"aperture\\\\\\\":\\\\\\\"0\\\\\\\",\\\\\\\"credit\\\\\\\":\\\\\\\"\\\\\\\",\\\\\\\"camera\\\\\\\":\\\\\\\"\\\\\\\",\\\\\\\"caption\\\\\\\":\\\\\\\"\\\\\\\",\\\\\\\"created_timestamp\\\\\\\":\\\\\\\"0\\\\\\\",\\\\\\\"copyright\\\\\\\":\\\\\\\"\\\\\\\",\\\\\\\"focal_length\\\\\\\":\\\\\\\"0\\\\\\\",\\\\\\\"iso\\\\\\\":\\\\\\\"0\\\\\\\",\\\\\\\"shutter_speed\\\\\\\":\\\\\\\"0\\\\\\\",\\\\\\\"title\\\\\\\":\\\\\\\"\\\\\\\",\\\\\\\"orientation\\\\\\\":\\\\\\\"0\\\\\\\"}\\\"\\nimage-title=\\\"rrm1esyb\\\"
      image-description=\\\"\\\" image-caption=\\\"\\\"\\nmedium-file=\\\"https://norbisley.files.wordpress.com/2023/10/rrm1esyb-3.png?w=300\\\"\\nlarge-file=\\\"https://norbisley.files.wordpress.com/2023/10/rrm1esyb-3.png?w=1008\\\"\\nstyle=\\\"width:
      500px\\\"}\\n\\nCon frecuencia a la editorial llegan textos que terminan siendo
      muy\\ndiferentes a la idea de libro que el autor tra\xEDa inicialmente. Esto
      se\\ndebe en parte[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C[...]
