interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+tags%3A%3D%5Bopen+access%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":730,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Chiara
        Di Giambattista\"}],\"blog_id\":\"gzqej46\",\"blog_name\":\"OpenCitations
        blog\",\"blog_slug\":\"opencitations\",\"content_html\":\"<p style=\\\"text-align:
        justify\\\"><span style=\\\"font-weight: 400\\\">In OpenCitations, we like
        to define our infrastructure organization as \u201Ccommunity-based\u201D and
        \u201Ccommunity-driven\u201D, and we\_</span><span style=\\\"text-decoration:
        underline\\\"><span style=\\\"font-weight: 400\\\">really</span></span><span
        style=\\\"font-weight: 400\\\">\_mean it. The support coming from the number
        of academic libraries and consortia coming after\_</span><a href=\\\"https://opencitations.hyp[...]
