interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1737280934+%26%26+blog_slug%3Arossmounce&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":135,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Ross
        Mounce\",\"url\":\"https://orcid.org/0000-0002-3520-2046\"}],\"blog_name\":\"A
        blog by Ross Mounce\",\"blog_slug\":\"rossmounce\",\"category\":\"naturalSciences\",\"content_text\":\"So
        I read Jeffrey Brainard's\\n[piece](https://www.science.org/content/article/web-science-index-plans-end-elife-s-journal-impact-factor)\\nin
        *Science* magazine on Clarivate's decision to punish *eLife* for\\ninnovating
        -- by stripping *eLife* of a proprietary Journal Impact\\nFactor\u2122 number,
        that Clarivate itself awards (sidenote: to be clear, I\\nsee no value in Journal
        Impact Factors as they are [statistically\\nilliterate](https://occamstypewri[...]
[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.12.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&blog_slug=eq.rossmounce&title=ilike.%25%25&limit=10&limit=11&order=published_at.desc&offset=0
  response:
    content: "[{\"id\":\"7622c604-e623-4594-89de-54bd36174506\",\"guid\":\"https://rossmounce.co.uk/?p=2574\",\"doi\":\"https://doi.org/10.59350/nsgwq-1mb74\",\"url\":\"https://rossmounce.co.uk/2024/11/18/web-of-science-cant-handle-innovation\",\"archive_url\":null,\"title\":\"Web
      of Science can\u2019t handle innovation\",\"summary\":\"So I read Jeffrey Brainard\u2019s
      piece in\\n<em>\\n Science\\n</em>\\nmagazine on Clarivate\u2019s decision to
      punish\\n<em>\\n eLife\\n</em>\\nfor innovating \u2013 by stripping\\n<em>\\n
      eLife\\n</em>\\nof a proprietary Journal Impact Factor\u2122 number, that Clarivate
      itself awards (sidenote: to be clear, I see no value in Journal Impact Factors
      as they are statistically illiterate, irreproducible, and easily gameable, amongst
      many other issues that have long been documented). With the\",\"abstract\":null,\"content_text\":\"So
      I read Jeffrey Brainard's\\n[piece](https://www.science.org/content/article/web-science-index-plans-end-elife-s-journal-impact-factor)\\nin
      *Science* magazine on Clarivate's decision to punish *eLife* for\\ninnovating
      -- by stripping *eLife* of a proprietary Journal Impact\\nFactor\u2122 number,
      that Clarivate itself awards (sidenote: to be clear, I\\nsee no value in Journal
      Impact Factors as they are [statistically\\nilliterate](https://o[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.17.0
    method: GET
    uri: https://bosczcmeodcrajtcaddf.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28active%2Carchived%2Cexpired%29&blog_slug=eq.rossmounce&title=ilike.%25%25&order=published_at.desc&offset=0&limit=10
  response:
    content: "[{\"id\":\"7622c604-e623-4594-89de-54bd36174506\",\"guid\":\"https://rossmounce.co.uk/?p=2574\",\"doi\":\"https://doi.org/10.59350/nsgwq-1mb74\",\"parent_doi\":null,\"url\":\"https://rossmounce.co.uk/2024/11/18/web-of-science-cant-handle-innovation\",\"archive_url\":null,\"title\":\"Web
      of Science can&#8217;t handle innovation\",\"summary\":\"So I read Jeffrey Brainard\u2019s
      piece in\\n<em>\\n Science\\n</em>\\nmagazine on Clarivate\u2019s decision to
      punish\\n<em>\\n eLife\\n</em>\\nfor innovating \u2013 by stripping\\n<em>\\n
      eLife\\n</em>\\nof a proprietary Journal Impact Factor\u2122 number, that Clarivate
      itself awards (sidenote: to be clear, I see no value in Journal Impact Factors
      as they are statistically illiterate, irreproducible, and easily gameable, amongst
      many other issues that have long been documented). With the\",\"abstract\":null,\"content_html\":\"\\n<p>So
      I read Jeffrey Brainard\u2019s <a href=\\\"https://www.science.org/content/article/web-science-index-plans-end-elife-s-journal-impact-factor\\\">piece</a>
      in <em>Science</em> magazine on Clarivate\u2019s decision to punish <em>eLife</em>
      for innovating &#8211; by stripping <em>eLife</em> of a proprietary Journal
      Impact Factor\u2122 number, that Clarivate itself awards (sidenote: to be clear,
      I see no value in Journal Impact Factors as they are <a href=\\\[...]
