interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20modified_at%29&blogs.prefix=not.is.null&doi=is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"17f83c59-65d5-439e-88e4-e5917117d1d5\",\"doi\":null,\"url\":\"https://irights.info/2010/03/29/irights-im-deutschlandradio-und-medienradio/1840\",\"archive_url\":null,\"title\":\"iRights
      im Deutschlandradio und Medienradio\",\"summary\":\"Am Donnerstag bzw. Samstag
      war ich als Gespr\xE4chpartner bei zwei H\xF6rfunksendungen eingeladen. Zum
      einen habe ich in der Sendung Breitband auf Deutschlandradio Kultur ca. sechs
      Minuten \xFCber den<strong> runden Tisch mit Innenminister Thomas de Maizi\xE8re</strong>
      berichtet. Daf\xFCr war ich am Samstag live im Studio.\",\"published_at\":1269859681,\"updated_at\":1360614936,\"indexed_at\":0,\"indexed\":true,\"authors\":[{\"name\":
      null}],\"image\":null,\"tags\":[\"In Eigener Sache\",\"Politik Recht\",\"Urheberrecht\"],\"language\":\"de\",\"reference\":[],\"relationships\":[],\"blog_name\":\"iRights.info\",\"blog_slug\":\"irights\",\"blog\":{\"slug\":\"irights\",\"title\":\"iRights.info\",\"description\":\"Urheberrecht
      und kreatives Schaffen in der digitalen Welt\",\"feed_url\":\"https://irights.info/feed/atom\",\"home_page_url\":\"https://irights.info\",\"language\":\"de\",\"category\":\"law\",\"status\":\"active\",\"generator\":\"WordPress\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"modified_at\":\"2023-10-13T17:35:02+00:00\"}},
      \n {\"id\":\"f73e5ced-81ed-4f0a-8278-ceb91cd7aea5\",\"doi\":null,\"url\":\"https://eve.gd/2010/03/27/implementing-coins\",\"archive_url\":null,\"title\":\"Implementing
      COinS\",\"summary\":\"After the Vitae Digital Researcher workshop at the British
      Library, I decided to ramp up my web presence to a slightly more professional
      level than it had previously obtained.  Having also decided that it would be
      nice to take a bit of a break thi[...]
