interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28%2A%29&doi=eq.https%3A%2F%2Fdoi.org%2F10.53731%2Fdnfg0-hge29
  response:
    content: "{\"id\":\"41447489-a042-4c94-ab6e-ca21f2dbb16e\",\"guid\":\"65b794cec28c930001fa98f8\",\"doi\":\"https://doi.org/10.53731/dnfg0-hge29\",\"url\":\"https://blog.front-matter.io/posts/an-update-on-the-rogue-scholar-fediverse\",\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/an-update-on-the-rogue-scholar-fediverse\",\"title\":\"An
      update on Rogue Scholar in the fediverse\",\"summary\":\"The Rogue Scholar science
      blogging archive joined the fediverse in August of last year. This week I want
      to report on an updated strategy for Rogue Scholar, and what it means for science
      blogs participating in Rogue Scholar. In August\_I launched a Mastodon instance
      at\_Rogue Scholar Social\_that accepted Science Blog bots as accounts, (semi-)automatically
      publishing summaries of blog posts via Rogue Scholar.\",\"abstract\":null,\"content_text\":\"The
      Rogue Scholar science blogging archive [joined the\\nfediverse](https://doi.org/10.53731/f1mhr-wps22){rel=\\\"noreferrer\\\"}
      in\\nAugust of last year. This week I want to report on an updated strategy\\nfor
      Rogue Scholar, and what it means for science blogs participating in\\nRogue
      Scholar.\\n\\n> The fediverse is a collection of community-owned, ad-free,\\n>
      decentralised, and privacy-centric social networks.  \\n> [To the Fediverse!](https://www.fediverse.t[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.1
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C[...]
