interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=wordpress&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=_text_match%3Adesc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":35,\"hits\":[{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22145/20231106080607/\",\"category\":\"computerAndInformationSciences\",\"created_at\":1673740800,\"description\":\"x
        == (s || z). You say it kwontized\",\"favicon\":\"https://i0.wp.com/quantixed.org/wp-content/uploads/2017/12/cropped-qlogo512x512-01.png?fit=32%2C32&ssl=1\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://quantixed.org/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://quantixed.org\",\"id\":\"39d9ccfd-5461-49f3-a061-efaf066c19b6\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"https://fosstodon.org/@quantixed\",\"plan\":\"Personal\",\"prefix\":\"10.59350\",\"slug\":\"quantixed\",\"status\":\"active\",\"title\":\"quantixed\",\"updated_at\":1710628518},\"highlight\":{\"generator\":{\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}},\"highlights\":[{\"field\":\"generator\",\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}],\"text_match\":578730123365711953,\"text_match_info\":{\"best_field_score\":\"1108091339008\",\"best_field_weight\":10,\"fields_matched\":1,\"score\":\"578730123365711953\",\"tokens_matched\":1}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22125/20231105110316/\",\"category\":\"socialSciences\",\"created_at\":1681862400,\"description\":\"The
        blog of the OpenCitations Infrastructure\",\"favicon\":\"https://opencitations.hypotheses.org/files/2022/08/cropped-OpenCitations-logo-512x512-1-32x32.jpg\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://opencitations.hypotheses.org/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https:[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.5.3
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&title=ilike.%2Awordpress%2A&limit=10&limit=11&order=created_at.desc&offset=10
  response:
    content: '{"code":"PGRST103","details":"An offset of 10 was requested, but there
      are only 0 rows.","hint":null,"message":"Requested range not satisfiable"}'
    headers:
      content-location:
      - /blogs?limit=10,11&offset=10&order=created_at.desc&select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&title=ilike.%2Awordpress%2A
      content-profile:
      - public
      content-range:
      - '*/0'
      content-type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 416
version: 1
