interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=updated_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":80,\"hits\":[{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22126/20231105110646/\",\"backlog\":0,\"category\":\"computerAndInformationSciences\",\"created_at\":1693440000,\"description\":\"Open
        Tools and R Packages for Open Science\",\"favicon\":\"https://ropensci.org/apple-touch-icon.png\",\"feed_format\":\"application/feed+json\",\"feed_url\":\"https://ropensci.org/blog/index.json\",\"generator\":\"Hugo\",\"home_page_url\":\"https://ropensci.org/blog\",\"id\":\"ba402233-14af-48e4-b8b1-6fd22ac75a0c\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"ropensci\",\"status\":\"active\",\"title\":\"rOpenSci
        - open tools for open science\",\"updated_at\":1708672539},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"backlog\":0,\"category\":\"languagesAndLiterature\",\"created_at\":1705393153,\"description\":\"Editando
        el \xABLucidario\xBB de Sancho IV\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://lucidarios.hypotheses.org/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://lucidarios.hypotheses.org\",\"id\":\"9e41cc54-c38e-495d-b65c-38cf327d3c73\",\"issn\":\"2952-1580\",\"language\":\"es\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Personal\",\"slug\":\"lucidarios\",\"status\":\"active\",\"title\":\"Lucidarios\",\"updated_at\":1708640169},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22137/20231101174036/\",\"backlog\":0,\"category\":\"computerAndInformationSciences\",\"created_at\":1681686000,\"description\":\"Blog
        for the Journal of Open Source Software \u2022 <a href='https://joss.theoj.org'>https://joss.theoj.org</a>\",\"favicon\":\"https://user-images.githubusercontent.com/4483/49343677-fcd32700-f63b-11e8-8883-8c07463ee2a9.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://blog.joss.theoj.org/feed.xml\",\"generator\":\"Jekyll\",\"home_page_url\":\"https://blog.joss.theoj.org/\",\"id\":\"564467d0-612e-4dc3-8d5c-b4afd32c3203\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"mastodon\":\"https://fosstodon.org/@joss\",\"plan\":\"Starter\",\"prefix\":\"10.59349\",\"slug\":\"joss\",\"status\":\"active\",\"title\":\"Journal
        of Open Source Software Blog |\",\"updated_at\":1708560000},\"highlight\":{},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22141/20231105110201/\",\"backlog\":0,\[...]
