interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1711490486+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":138,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Coss\xEDo
        Olavide, Mario\",\"url\":\"https://orcid.org/0000-0002-1447-3891\"}],\"blog_name\":\"Lucidarios\",\"blog_slug\":\"lucidarios\",\"category\":\"languagesAndLiterature\",\"content_text\":\"Una
        extendida --y algo exagerada-- an\xE9cdota cuenta que, durante la\\nprimera
        carrera espacial, los cient\xEDficos de la NASA descubrieron que\\nlos bol\xEDgrafos
        que los astronautas usar\xEDan en las misiones de\\nexploraci\xF3n lunar no
        funcionaban en condiciones de gravedad cero.\\nHaciendo uso de la *American
        ingenuity* --y de la tambi\xE9n norteamericana\\ncultura del *subcontracting*--,
        gastaron millones de d\xF3lares para\\ndesarrollar u[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1711698874+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":141,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22150/20231105110624/https://ropensci.org/es/blog/2024/03/29/from-the-founding-director-my-farewell-to-ropensci\",\"authors\":[{\"name\":\"Karthik
        Ram\"}],\"blog_name\":\"rOpenSci - herramientas abiertas para una ciencia
        abierta\",\"blog_slug\":\"ropensci_es\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"Estimada
        comunidad rOpenSci,\\n\\nEste es un anuncio un poco agridulce... despu\xE9s
        de casi 13 a\xF1os, es[...]
