interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%29&blogs.prefix=not.is.null&indexed=is.null&doi=not.is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"77e770e0-74be-46f4-b800-9f8dc6435741\",\"guid\":\"https://opencitations.hypotheses.org/?p=3488\",\"doi\":\"https://doi.org/10.59350/canw4-3xd10\",\"url\":\"https://opencitations.hypotheses.org/3488\",\"archive_url\":null,\"title\":\"OpenCitations
      needs you: support the change in research practices\",\"summary\":\"\",\"published_at\":1697558939,\"updated_at\":1697559017,\"indexed_at\":1698147836,\"indexed\":null,\"authors\":[{\"name\":
      \"Chiara Di Giambattista\"}],\"image\":null,\"tags\":[\"Open Abstracts\",\"Open
      Access\",\"Open Citations\",\"Open Scholarship\",\"Open Science\"],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"blog_name\":\"OpenCitations
      blog\",\"blog_slug\":\"opencitations\",\"blog\":{\"slug\":\"opencitations\",\"title\":\"OpenCitations
      blog\",\"description\":\"The blog of the OpenCitations Infrastructure\",\"feed_url\":\"https://opencitations.hypotheses.org/feed/atom/\",\"home_page_url\":\"https://opencitations.hypotheses.org\",\"language\":\"en\",\"category\":\"socialSciences\",\"status\":\"active\",\"generator\":\"WordPress
      6.2\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":1697559017}},
      \n {\"id\":\"0fbfda1d-2d16-4375-a9db-2b8c9afcc1f4\",\"guid\":null,\"doi\":\"https://doi.org/10.59350/z574z-dcw92\",\"url\":\"https://iphylo.blogspot.com/2023/08/document-layout-analysis.html\",\"archive_url\":null,\"title\":\"Document
      layout analysis\",\"summary\":\"Some notes to self on document layout analysis.
      \ I\u2019m revisiting the problem of taking a PDF or a scanned document and
      determining its structure (for example, where is the title, abstract, bibliography,
      where are the figures and their captions, etc.). There are lots of papers on
      this topic, and lots of tools.\",\"published_at\":1693485180,\"updated_at\":1693485393,\"indexed_at\":1693739371,\"indexed\":null,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-7101-9767\", \"name\": \"Roderic Page\"}],\"image\":\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi02en_43jWD45tsJ9bVqrJFcVG_NYr_obOmFGzT2PuW-3AbvwMbtt7y43TaGYqaQL4tURGVA0Bm_e6DvmN6kGiROtqFYj_Tjco0KeXnCwUr2ASqewCNjbunTa7nmMVp8jKPWk0B6BHLSbZrz85mzq6d78XNRgG1G3g9MupScfxBbO14B89kfMS/s400/Screenshot%202023-08-31%20at%2011.54.13.png\",\"tags\":[\"ABBYY\",\"CRF\",\"Dj
      Vu\",\"Document Layout\",\"H OCR\"],\"language\":\"en\",\"reference\":[{\"doi\":
      \"https://doi.org/10.1007/11669487_12\", \"key\": \"ref1\"}, {\"doi\": \"https://doi.org/10.1007/s00799-014-0115-1\",
      \"key\": \"ref2\"}, {\"doi\": \"https://doi.org/10.1117/12.472833\", \"key\":
      \"ref3\"}, {\"doi\": \"https://doi.org/10.1087/20110309\", \"key\": \"ref4\"},
      {\"doi\": \"https://doi.org/10.1186/1751-0473-7-7\", \"key\": \"ref5\"}, {\"doi\":
      \"https://doi.org/10.1162/tacl_a_00466\", \"key\": \"ref6\"}, {\"key\": \"ref7\",
      \"url\": \"https://stackedit.io\"}],\"relationships\":[],\"blog_name\":\"iPhylo\",\"blog_slug\":\"iphylo\",\"blog\":{\"slug\":\"iphylo\",\"title\":\"iPhylo\",\"description\":\"Rants,
      raves (and occasionally considered opinions) on phyloinformatics, taxonomy,
      and biodiversity informatics.  For more ranty and less considered opinions,
      see my <a href=\\\"https://twitter.com/rdmpage\\\">Twitter feed</a>.<br />ISSN
      2051-8188. Written content on this site is licensed under a <a href=\\\"https://creativecommons.org/licenses/by/4.0/\\\">Creative
      Commons Attribution 4.0 International license</a>.\",\"feed_url\":\"https://iphylo.blogspot.com/feeds/posts/default\",\"home_page_url\":\"https://iphylo.blogspot.com/\",\"language\":\"en\",\"category\":\"computerAndInformationSciences\",\"status\":\"active\",\"generator\":\"Blogger
      7.00\",\"license\":\"https://creativecommons.org/licenses/by/4[...]
