interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=title%3Aasc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":66,\"hits\":[{\"document\":{\"backlog\":0,\"category\":\"naturalSciences\",\"created_at\":1695168000,\"current_feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"feed_format\":\"application/feed+json\",\"feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"generator\":\"WordPress\",\"home_page_url\":\"https://rossmounce.co.uk\",\"id\":\"vbmdy90\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"rossmounce\",\"status\":\"active\",\"title\":\"A
        blog by Ross Mounce\",\"updated_at\":1637341066,\"use_mastodon\":false},\"highlight\":{\"category\":\"naturalSciences\",\"generator\":\"WordPress\",\"language\":\"en\",\"prefix\":\"10.59350\",\"slug\":\"rossmounce\",\"title\":\"A
        blog by Ross Mounce\"},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22114/20231101175222/\",\"backlog\":0,\"category\":\"politicalScience\",\"created_at\":1692662400,\"description\":\"Andrew
        Heiss's blog\",\"feed_format\":\"application/rss+xml\",\"feed_url\":\"https://www.andrewheiss.com/atom.xml\",\"generator\":\"Quarto\",\"home_page_url\":\"https://www.andrewheiss.com\",\"id\":\"tcw6w29\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Starter\",\"prefix\":\"10.59350\",\"slug\":\"andrewheiss\",\"status\":\"active\",\"title\":\"Andrew
        Heiss's blog\",\"updated_at\":1695009600,\"use_mastodon\":true},\"highl[...]
[...]
