interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&title=ilike.%25%25&limit=10&limit=11&order=created_at.desc&offset=0
  response:
    content: "[{\"slug\":\"atarraya\",\"title\":\"BLOG ATARRAYA\",\"description\":\"Nuestras
      historias\",\"language\":\"es\",\"favicon\":\"https://blogatarraya.com/wp-content/uploads/2020/02/cropped-cropped-atarraya_sepia1-e1580562062753.png?w=32\",\"feed_url\":\"https://blogatarraya.com/feed/atom/\",\"feed_format\":\"application/atom+xml\",\"home_page_url\":\"https://blogatarraya.com\",\"generator\":\"WordPress.com\",\"category\":\"humanities\"},
      \n {\"slug\":\"jeremykun\",\"title\":\"Math \u2229 Programming\",\"description\":\"Recent
      content on Math \u2229 Programming\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://www.jeremykun.com/index.xml\",\"feed_format\":\"application/rss+xml\",\"home_page_url\":\"https://jeremykun.com\",\"generator\":\"Hugo\",\"category\":\"mathematics\"},
      \n {\"slug\":\"heidiseibold\",\"title\":\"Heidi Seibold\",\"description\":\"Training
      and Consulting for [...]
