interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=wordpress&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=_text_match%3Aasc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":28,\"hits\":[{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22121/20231105105752/\",\"backlog\":0,\"category\":\"socialSciences\",\"created_at\":1689897600,\"description\":\"Gemeinsamer
        Blog der DINI AG Forschungsinformationen & Systeme und der DINI AG Elektronisches
        Publizieren\",\"favicon\":\"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://blog.dini.de/EPub_FIS/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://blog.dini.de/EPub_FIS\",\"id\":\"mdh1h61\",\"issn\":\"2940-1798\",\"language\":\"de\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"slug\":\"epub_fis\",\"status\":\"active\",\"title\":\"FIS
        & EPub\",\"updated_at\":1705610480,\"use_mastodon\":false},\"highlight\":{\"generator\":{\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}},\"highlights\":[{\"field\":\"generator\",\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}],\"text_match\":578730123365711953,\"text_match_info\":{\"best_field_score\":\"1108091339008\",\"best_field_weight\":10,\"fields_matched\":1,\"score\":\"578730123365711953\",\"tokens_matched\":1}},{\"document\":{\"backlog\":0,\"category\":\"socialSciences\",\"created_at\":1690675200,\"favicon\":\"https://www.scholcommlab.ca/wp-content/uploads/2018/03/SCL_logo-150x150.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://www.scholcommlab.ca/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://www.scholcommlab.ca\",\"id\":\"njrre84\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"scholcommlab\",\"status\":\"active\",\"title\":\"Scholarly
        Communications Lab | ScholCommLab\",\"updated_at\":1701290820,\"use_mastodon\":false},\"highlight\":{\"generator\":{\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}},\"highlights\":[{\"field\":\"generator\",\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}],\"text_match\":578730123365711953,\"text_match_info\":{\"best_field_score\":\"1108091339008\",\"best[...]
