interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1711490485&sort_by=_text_match%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":29,\"hits\":[{\"document\":{\"abstract\":\"Ce
        billet est la traduction adapt\xE9e d\u2019un billet du blog Zotero. Stillman
        Dan, Retracted item notifications with Retraction Watch integration, https://www.zotero.org/blog/retracted-item-notifications/,
        14 juin 2019.\",\"authors\":[{\"name\":\"Collectif\"}],\"blog_name\":\"Le
        blog Zotero francophone\",\"blog_slug\":\"zotero_fr\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"*Billet
        r\xE9dig\xE9 par* \u270F\uFE0F *Alain Marois,* \u270F\uFE0F *Fr\xE9d\xE9rique
        Flamerie et* \u270F\uFE0F\\n*Nicolas Chachereau*\\n\\n::: {.wp-block-image}\\n<figure
        class=\\\"aligncenter\\\">\\n<a href=\\\"https://zotero.hypotheses.org/files/2019/06/blue_five.jpg\\\"><img\\nsrc=\\\"https://zotero.hypotheses.org/files/2019/06/blue_five.jpg\\\"\\nclass=\\\"wp-image-2810\\\"
        decoding=\\\"async\\\" loading=\\\"lazy\\\"\\nsrcset=\\\"https://zotero.hypotheses.org/files/2019/06/blue_five.jpg
        480w, https://zotero.hypotheses.org/files/2019/06/blue_five-225x300.jpg 225w\\\"\\nsizes=\\\"(max-width:
        480px) 100vw, 480px\\\" width=\\\"480\\\" height=\\\"640\\\"\\nalt=\\\"blue_five\\\"
        /></a>\\n<figcaption>Blue Five \u2013 auteur: Christopher Sessums (CC BY-SA)
        \u2013 source:\\nhttps://www.flickr.com/photos/csessums/12507215604/</figcaption>\\n</figure>\\n:::\\n\\n*Ce
        billet est la traduction adapt\xE9e d'un billet du blog Zotero.*\\n\\nStillman
        Dan, *Retracted item notifications with Retraction Watch\\nintegration*,\\n[https://www.zotero.org/blog/retracted-item-notifications/](https://www.zotero.org/blog/retracted-item-notifications/){rel=\\\"noopener\\\"},\\n14
        ju[...]
[...]
