interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1711490486+%26%26+tags%3A%3D%5Bopen+access%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":923,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22153/20231105213934/https://svpow.com/2024/03/17/on-the-tragic-fate-of-peerj\",\"authors\":[{\"affiliation\":[{\"id\":\"https://ror.org/0524sp257\",\"name\":\"University
        of Bristol\"}],\"name\":\"Mike Taylor\",\"url\":\"https://orcid.org/0000-0002-1003-5675\"}],\"blog_name\":\"Sauropod
        Vertebra Picture of the Week\",\"blog_slug\":\"svpow\",\"category\":\"earthAndRelatedEnvironmentalSciences\",\"content_text\":\"[I
        said last\\ntime](https://svpow.com/2024/03/15/jisc-should-not-buy-services-that-not-does-not-want/)\\nthat
        Jisc's feeble transition-to-open-access report was the first of two\\ndisapointing
        scholarly-communication announcements that week. The second\\nwas of course
        the announcement that [PeerJ has been acquired by Taylor\\nand\\nFrancis](https://peerj.com/blog/post/115284888962/innovative-open-research-publisher-peerj-joins-taylor-francis/).\\n\\nMatt
      [...]
[...]
