interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=wordpress&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=_text_match%3Aasc&per_page=10&page=2
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":26,\"hits\":[{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22155/20231101171916/\",\"backlog\":0,\"category\":\"historyAndArchaeology\",\"created_at\":1695078000,\"description\":\"Avenues
        to Ancient Civil War\",\"favicon\":\"https://stasis.hypotheses.org/files/2023/09/cropped-messerstich-32x32.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"https://stasis.hypotheses.org/feed/atom\",\"generator\":\"WordPress\",\"home_page_url\":\"https://stasis.hypotheses.org\",\"id\":\"5knte41\",\"issn\":\"2942-1330\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"stasis\",\"status\":\"active\",\"title\":\"Stasis\",\"updated_at\":1696930321,\"use_mastodon\":false},\"highlight\":{\"generator\":{\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}},\"highlights\":[{\"field\":\"generator\",\"matched_tokens\":[\"WordPress\"],\"snippet\":\"<mark>WordPress</mark>\"}],\"text_match\":578730123365711953,\"text_match_info\":{\"best_field_score\":\"1108091339008\",\"best_field_weight\":10,\"fields_matched\":1,\"score\":\"578730123365711953\",\"tokens_matched\":1}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22136/20231101173637/\",\"backlog\":0,\"category\":\"biologicalSciences\",\"created_at\":1672790400,\"description\":\"Jake's
        blog\",\"favicon\":\"https://irishplants.org/blog/wp-content/uploads/2022/08/favicon32.png\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"http://irishplants.org/blog/feed/atom/\",\"generator\":\"WordPress\",\"home_page_url\":\"https://irishplants.org/blog\",\"id\":\"2bzkh64\",\"langua[...]
