interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1707513912&sort_by=_text_match%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":26,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22145/20231106080607/https://quantixed.org/2016/01/01/what-difference-does-it-make\",\"authors\":[{\"name\":\"Stephen
        Royle\",\"url\":\"https://orcid.org/0000-0001-8927-6967\"}],\"blog_id\":\"s1e9w75\",\"blog_name\":\"quantixed\",\"blog_slug\":\"quantixed\",\"category\":\"computerAndInformationSciences\",\"content_html\":\"<p>A
        few days ago, Retraction Watch published the <a href=\\\"http://retractionwatch.com/the-retraction-watch-leaderboard/top-10-most-highly-cited-retracted-papers/\\\">top
        ten\_most-cited retracted papers</a>. I saw <a href=\\\"http://qz.com/583497/researchers-keep-citing-these-retracted-papers/\\\">this
        post</a> with a bar chart to visualise these citations. It didn&#8217;t quite
        capture what the effect (if any) a retraction has on citations. I thought
        I&#8217;d quickly plot this out for the number one article on the list.</p>\\n<p><a
        href=\\\"https://quantixed.org/2016/01/01/what-difference-does-it-make/retract/\\\"
        rel=\\\" rel=&quot;attachment wp-att-675&quot;\\\"><img loading=\\\"lazy\\\"
        decoding=\\\"async\\\" data-attachment-id=\\\"675\\\" data-permalink=\\\"https://quantixed.org/retract/\\\"
        data-orig-file=\\\"https://i0.wp.com/quantixed.org/wp-content/uploads/2016/01/retract.png?fit=2080%2C1112&amp;ssl=1\\\"
        data-orig-size=\\\"2080,1112\\\" data-comments-opened=\\\"1\\\" data-image-meta=\\\"{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;crea[...]
[...]
