interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=0000-0003-1419-2405&query_by=authors.url&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1711490485&sort_by=_text_match%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":545,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/milestone-15000\",\"authors\":[{\"affiliation\":[{\"name\":\"Front
        Matter\"}],\"name\":\"Martin Fenner\",\"url\":\"https://orcid.org/0000-0003-1419-2405\"}],\"blog_name\":\"Front
        Matter\",\"blog_slug\":\"front_matter\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"Last
        week the [Rogue\\nScholar](https://rogue-scholar.org){rel=\\\"noreferrer\\\"}
        science blog\\narchive reached another milestone with 15,000 ([15,332 as of\\ntoday](https://api.rogue-scholar.org/posts){rel=\\\"noreferrer\\\"})
        science\\nblog posts. These posts come from 86 participating blogs with [69%\\nwritten
        in\\nEnglish](https://rogue-scholar.org/about#stats){rel=\\\"noreferrer\\\"}
        and\\n28% in German. The most common subject areas are Law with [...]
[...]
