interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1708703375+%26%26+blog_slug%3Arossmounce&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":131,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Ross
        Mounce\"}],\"blog_name\":\"A blog by Ross Mounce\",\"blog_slug\":\"rossmounce\",\"category\":\"naturalSciences\",\"content_text\":\"In
        December last year, it was widely publicized e.g. in [*Science*\\nmagazine](https://www.science.org/content/article/leading-scholarly-database-listed-hundreds-papers-hijacked-journals)\\n\\\\[1\\\\],
        that Scopus has been instrumental in legitimizing publication\\nscams whereby
        authors pay to bypass real scholarly peer review and have\\ntheir work published
        on a website that looks like a real scholarly\\njournal but is in fact not
        a proper journal, mer[...]
[...]
