interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=updated_at%3Adesc&per_page=10&page=1&include_fields=slug%2Ctitle
  response:
    body:
      string: '{"facet_counts":[],"found":80,"hits":[{"document":{"slug":"ropensci","title":"rOpenSci
        - open tools for open science"},"highlight":{},"highlights":[],"text_match":100,"text_match_info":{"best_field_score":"0","best_field_weight":12,"fields_matched":4,"score":"100","tokens_matched":0}},{"document":{"slug":"lucidarios","title":"Lucidarios"},"highlight":{},"highlights":[],"text_match":100,"text_match_info":{"best_field_score":"0","best_field_weight":12,"fields_matched":4,"score":"100","tokens_matched":0}},{"document":{"slug":"joss","title":"Journal
        of Open Source Software Blog |"},"highlight":{},"highlights":[],"text_match":100,"text_match_info":{"best_field_score":"0","best_field_weight":12,"fields_matched":4,"score":"100","tokens_matched":0}},{"document":{"slug":"o[...]
