interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1737280934+%26%26+blog_slug%3Arossmounce&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":135,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Ross
        Mounce\",\"url\":\"https://orcid.org/0000-0002-3520-2046\"}],\"blog_name\":\"A
        blog by Ross Mounce\",\"blog_slug\":\"rossmounce\",\"category\":\"naturalSciences\",\"content_text\":\"So
        I read Jeffrey Brainard's\\n[piece](https://www.science.org/content/article/web-science-index-plans-end-elife-s-journal-impact-factor)\\nin
        *Science* magazine on Clarivate's decision to punish *eLife* for\\ninnovating
        -- by stripping *eLife* of a proprietary Journal Impact\\nFactor\u2122 number,
        that Clarivate itself awards (sidenote: to be clear, I\\nsee no value in Journal
        Impact Factors as they are [statistically\\nilliterate](https://occamstypewri[...]
