interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1708703376+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":135,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Coss\xEDo
        Olavide, Mario\",\"url\":\"https://orcid.org/0000-0002-1447-3891\"}],\"blog_name\":\"Lucidarios\",\"blog_slug\":\"lucidarios\",\"category\":\"languagesAndLiterature\",\"content_text\":\"Siguiendo
        con las entradas dedicadas a la [tipolog\xEDa de errores de\\ncopia](https://lucidarios.hypotheses.org/?s=error){data-type=\\\"URL\\\"\\ndata-id=\\\"https://lucidarios.hypotheses.org/?s=error\\\"
        target=\\\"_blank\\\"\\nrel=\\\"noreferrer noopener\\\"} de textos manuscritos,
        en esta entrada quiero\\nexaminar el caso concreto de uno de los testimonios
        del *Lucidario*, B.\\nEste es el \xFAltimo testimonio de la transmisi\xF3n
        manuscrita del\\n*Lu[...]
[...]
