interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1737280934&sort_by=_text_match%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":36,\"hits\":[{\"document\":{\"abstract\":\"Ce
        billet est la traduction adapt\xE9e d\u2019un billet du blog Zotero. Stillman
        Dan, Retracted item notifications with Retraction Watch integration, https://www.zotero.org/blog/retracted-item-notifications/,
        14 juin 2019.\",\"authors\":[{\"name\":\"Collectif\"}],\"blog_name\":\"Le
        blog Zotero francophone\",\"blog_slug\":\"zotero_fr\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"*Billet
        r\xE9dig\xE9 par* \u270F\uFE0F *Alain Marois,* \u270F\uFE0F *Fr\xE9d\xE9rique
        Flamerie et* \u270F\uFE0F\\n*Nicolas Chachereau*\\n\\n::: {.wp-block-image}\\n<figure
        class=\\\"aligncenter\\\">\\n<a href=\\\"https://zotero.hypotheses.org/files/2019/06/blue_five.jpg\\\"><img\\nsrc=\\\"https://zotero.hypotheses.org/files/2019/06/blue_five.jpg\\\"\\nclass=\\\"wp-image-2810\\\"
        decoding=\\\"async\\\" loading=\\\"lazy\\\"\\nsrcset=\\\"https://zotero.hypotheses.org/files/2019/06/blue_five.jpg
        480w, https://zotero.hypotheses.org/files/2019/06/blue_five-225x300.jpg 225w\\\"\\nsizes=\\\"(max-width:
        480px) 100vw, 480px\\\" width=\\\"480\\\" height=\\\"640\\\"\\nalt=\\\"blue_five\\\"
        /></a>\\n<figcaption>Blue Five \u2013 auteur: Christopher Sessums (CC BY-SA)
        \u2013 source:\\nhttps://www.flickr.com/photos/csessums/12507215604/</figcaption>\\n</figure>\\n:::\\n\\n*Ce
        billet est la traduction adapt\xE9e d'un billet du blog Zotero.*\\n\\nStillman
        Dan, *Retracted item notifications with Retraction Watch\\nintegration*,\\n[https://www.zotero.org/blog/retracted-item-notifications/](https://www.zotero.org/blog/retracted-item-notifications/){rel=\\\"noopener\\\"},\\n14
        ju[...]
[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.12.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25&limit=10&limit=11&order=published_at.desc&offset=0
  response:
    content: '[]'
    headers:
      content-location:
      - /posts?limit=10,11&offset=0&order=published_at.desc&select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25
      content-profile:
      - public
      content-range:
      - '*/0'
      content-type:
      - application/json; charset=utf-8
      preference-applied:
      - count=exact
      sb-gateway-version:
      - '1'
      sb-project-ref:
      - zggonsjmmfozmfxlrjmg
    status_code: 200
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.17.0
    method: GET
    uri: https://bosczcmeodcrajtcaddf.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28active%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25&order=published_at.desc&offset=0&limit=10
  response:
    content: '[]'
    headers:
      content-location:
      - /posts?limit=10&offset=0&order=published_at.desc&select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28active%2Carchived%2Cexpired%29&title=ilike.%25retraction-watch%25
      content-profile:
      - public
      content-range:
      - '*/0'
      content-type:
      - application/json; charset=utf-8
      preference-applied:
      - count=exact
      sb-gateway-version:
      - '1'
      sb-project-ref:
      - bosczcmeodcrajtcaddf
      sb-request-id:
      - 01987bc4-7399-7d4d-ab3d-4095fffd420c
    status_code: 200
version: 1
