interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28%2A%29&id=eq.c314bfea-2151-4ccc-8fa8-dd0d1000dfbe
  response:
    content: "{\"id\":\"c314bfea-2151-4ccc-8fa8-dd0d1000dfbe\",\"guid\":\"https://verfassungsblog.de/?p=77937\",\"doi\":null,\"url\":\"https://verfassungsblog.de/grundrechtsverwirkung-und-parteiverbote-gegen-radikale-afd-landesverbande-iii\",\"archive_url\":null,\"title\":\"Grundrechtsverwirkung
      und Parteiverbote gegen radikale AfD-Landesverb\xE4nde (Teil\_III)\",\"summary\":\"Das
      demokratische Haus in Deutschland brennt. Es ist h\xF6chste Zeit, die Instrumente
      der streitbaren Demokratie gegen Landesverb\xE4nde der AfD einzusetzen, die
      mit hoher Wahrscheinlichkeit verfassungswidrig sind, wie die in Th\xFCringen,
      Sachsen und Sachsen-Anhalt. Warum die Voraussetzungen f\xFCr Grundrechtsverwirkung
      und Parteiverbot dort vorliegen, und die Verfassungstreue es auch verlangt,
      sie zu beantragen, soll dieser dreiteilige Beitrag begr\xFCnden.\",\"abstract\":\"In
      diesem abschlie\xDFenden dritten Teil werde ich die dritte These des Beitrags
      begr\xFCnden: Die Verfassungstreuepflicht engt das politische Antragsermessen
      f\xFCr solche Antr\xE4ge umso st\xE4rker ein, je klarer ihre Voraussetzungen
      erf\xFCllt sind.\",\"content_text\":\"[Das demokratische Haus in Deutschland
      brennt. Es ist h\xF6chste Zeit, die\\nInstrumente der streitbaren Demokratie
      gegen Landesverb\xE4nde der AfD\\neinzusetzen, die mit hoher Wahrscheinlichkeit
      verfassungswidrig sind,\\nwie die in Th\xFCringen, Sachsen und Sachsen-Anhalt.
      Warum die\\nVoraussetzungen f\xFCr Grundrechtsverwirkung und Parteiverbot dort\\nvorliegen,
      und die Verfassungstreue es auch verlangt, sie zu beantragen,\\nsoll dieser
      dreiteilige Beitrag[...]
