interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20modified_at%29&blogs.prefix=not.is.null&doi=is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"b3037c6a-04f8-49b0-afa0-9307f200018f\",\"doi\":null,\"url\":\"https://blog.oa.works/privacy-and-the-open-access-button\",\"archive_url\":null,\"title\":\"Privacy
      and the Open Access Button\",\"summary\":\"Privacy is a key concern to everyone
      at the Open Access Button, indeed it has sparked a lot of fears and debate within
      the team from day one. In that sense this is a long overdue blog, as we\u2019re
      yet to make several simple decisions and safeguards clear.\",\"published_at\":1401115584,\"updated_at\":1599637754,\"indexed_at\":0,\"indexed\":null,\"authors\":[{\"url\":
      \"https://oa.works\", \"name\": \"OA.Works\"}],\"image\":null,\"tags\":[\"Medium\"],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"blog_name\":\"OA.Works
      Blog\",\"blog_slug\":\"oa_works\",\"blog\":{\"slug\":\"oa_works\",\"title\":\"OA.Works
      Blog\",\"description\":\"OA.Works Blog\",\"feed_url\":\"https://blog.oa.works/rss/\",\"home_page_url\":\"https://blog.oa.works\",\"language\":\"en\",\"category\":\"computerAndInformationSciences\",\"status\":\"active\",\"generator\":\"Ghost
      5.67\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"modified_at\":\"2023-10-02T04:28:31+00:00\"}},
      \n {\"id\":\"292bad16-db0d-48e5-a81b-04a9cff3923b\",\"doi\":null,\"url\":\"https://blog.oa.works/the-week-in-links-may-23\",\"archive_url\":null,\"title\":\"The
      Week in Links \u2014 May 23\",\"summary\":\"What has been happening in the world
      of Open Access in the last week? As you know if you\u2019ve been reading this
      blog, the Open Access Button team is hard at work on Button 2.0! We\u2019re
      participating in the Jisc Summer of Stude[...]
