interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.3.5
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28%2A%29&blogs.prefix=not.is.null&updated=is.True&doi=not.is.null&order=updated_at.desc&limit=50
  response:
    content: "[{\"id\":\"7a832c79-11d3-41bb-97e5-8c462a427416\",\"guid\":\"https://www.leidenmadtrics.nl/articles/cwts-at-easst-4s-in-amsterdamamsterdam\",\"doi\":\"https://doi.org/10.59350/v241z-rz554\",\"url\":\"https://www.leidenmadtrics.nl/articles/cwts-at-easst-4s-in-amsterdamamsterdam\",\"archive_url\":null,\"title\":\"CWTS
      at EASST-4S in Amsterdam\",\"summary\":\"Every four years the European Association
      for the Study of Science and Technology (EASST) and the Society for Social Studies
      of Science (4S) join forces to organize the largest conference in the field
      of Science and Technology Studies (STS) in the world. From 16 to 19 July, 2024
      the conference is hosted by the Athena Institute in Amsterdam.\",\"abstract\":null,\"content_text\":\"Every
      four years the European Association for the Study of Science and\\nTechnology
      (EASST) and the Society for Social Studies of Science (4S)\\njoin forces to
      organize the largest conference in the field of Science\\nand Technology Studies
      (STS) in the world. From 16 to 19 July, 2024 [the\\nconference](https://www.easst4s2024.net/){target=\\\"_blank\\\"}
      is hosted by\\nthe Athena Institute in Amsterdam. The call for abstracts was
      recently\\nlaunched with an[...]
