interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.4.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/works?select=%2A&limit=10&limit=10&order=date-%3Epublished.desc&offset=0
  response:
    content: "[{\"type\":\"WebPage\",\"url\":\"https://www.issi-society.org/open-citations\",\"contributors\":[],\"titles\":[{\"title\":
      \"Open citations | International Society for Scientometrics and Informetrics\"}],\"container\":{},\"publisher\":{\"name\":
      \"International Society for Scientometrics and Informetrics\"},\"references\":[],\"relations\":[],\"date\":{\"accessed\":
      \"2024-03-14T22:03:36\"},\"descriptions\":[],\"license\":null,\"alternate_identifiers\":[],\"funding_references\":[],\"files\":[],\"subjects\":[],\"provider\":null,\"schema_version\":\"https://commonmeta.org/commonmeta_v0.12\",\"state\":null,\"geo_locations\":[],\"version\":null,\"language\":\"en\",\"additional_type\":null,\"uuid\":\"654b5c69-e6ae-4138-8266-a69d1ba7d8bc\",\"id\":\"https://www.issi-society.org/open-citations\",\"archive_locations\":[],\"formats\":[],\"sizes\":[]},
      \n {\"type\":\"WebPage\",\"url\":null,\"contributors\":[],\"titles\":[],\"container\":{},\"publisher\":null,\"references\":[],\"relations\":[],\"date\":{\"accessed\":
      \"2024-03-14T15:37:16\"},\"descriptions\":[],\"license\":null,\"alternate_identifiers\":[],\"funding_references\":[],\"files\":[],\"subjects\":[],\"provider\":null,\"schema_version\":\"https://commonmeta.org/commonmeta_v0.12\",\"state\":null,\"geo_locations\":[],\"version\":null,\"language\":null,\"additional_type\[...]
