interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=created_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":66,\"hits\":[{\"document\":{\"backlog\":0,\"category\":\"humanities\",\"created_at\":1698796800,\"description\":\"Ernesto
        Priego's blog. A personal repository of stuff.\",\"favicon\":\"https://epriego.files.wordpress.com/2021/05/cropped-original-logo.png?w=32\",\"feed_format\":\"application/atom+xml\",\"feed_url\":\"
        https://ernestopriego.com/feed/atom/\",\"generator\":\"WordPress.com\",\"home_page_url\":\"https://ernestopriego.com\",\"id\":\"tnxpa35\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"ernestopriego\",\"status\":\"active\",\"title\":\"Everything
        is Connected\",\"updated_at\":1698925726,\"use_mastodon\":false},\"highlight\":{\"category\":\"humanities\",\"description\":\"Ernesto
        Priego's blog. A personal repository of stuff.\",\"generator\":\"WordPress.com\",\"language\":\"en\",\"prefix\":\"10.59350\",\"slug\":\"ernestopriego\",\"title\":\"Everything
        is Connected\"},\"highlights\":[],\"text_match\":100,\"text_match_info\":{\"best_field_score\":\"0\",\"best_field_weight\":12,\"fields_matched\":4,\"score\":\"100\",\"tokens_matched\":0}},{\"document\":{\"archive_prefix\":\"https://wayback.archive-it.org/22122/20231105104457/\",\"backlog\":0,\"category\":\"earthAndRelatedEnvironmentalSciences\",\"created_at\":1697760000,\"description\":\"Experts
        in geodynamics, geophysics & geology tell you what you need to know\",\"feed_format\":\"application/rss+xml\",\"feed_url\":\"https://www.geo-down-under.org.au/rss/\",\"generator\":\"Ghost\",\"home_page_url\":\"https://www.geo-down-under.org.au\",\"id\":\"g5n3b43\",\"language\":\"en\",\"license\":\"https://creative[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%5D&sort_by=title%3Aasc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":68,\"hits\":[{\"document\":{\"backlog\":0,\"category\":\"naturalSciences\",\"created_at\":1695168000,\"current_feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"feed_format\":\"application/feed+json\",\"feed_url\":\"https://rossmounce.co.uk/feed/atom\",\"generator\":\"WordPress\",\"home_page_url\":\"https://rossmounce.co.uk\",\"id\":\"vbmdy90\",\"language\":\"en\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"plan\":\"Team\",\"prefix\":\"10.59350\",\"slug\":\"rossmounce\",\"status\":\"active\",\"title\":\"A
        blog by Ross Mounce\",\"updated_at\":1701457198,\"use_mastodon\":false},\[...]
