interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+1696550400+%26%26+published_at%3A%3C%3D+1697155199&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":32,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Erzsebet
        Frey\"}],\"blog_name\":\"Simply Ecologist\",\"blog_slug\":\"simplyecologist\",\"category\":\"naturalSciences\",\"content_text\":\"Dolphins
        are fascinating creatures known for their acrobatic displays,\\nincluding
        jumping out of the water. While the exact reasons for this\\n[behavior](https://simplyecologist.com/what-is-the-behavior-of-red-pandas-in-the-wild/)\\nmay
        vary, there are several key factors that contribute to why dolphins\\njump
        out of the water. Exploring insights from marine biologists and\\nresearchers,
        here are some of the reasons:\\n\\n**1. Communication and Social I[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.12.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&title=ilike.%25%25&limit=10&limit=11&order=published_at.desc&offset=0
  response:
    content: "[{\"id\":\"84750384-7af2-49a2-9d6b-6898ea1a1fa7\",\"guid\":\"https://www.leidenmadtrics.nl/articles/reusing-data-bridging-the-distance-between-data-consumers-and-producers\",\"doi\":\"https://doi.org/10.59350/tcjaa-t1y09\",\"url\":\"https://www.leidenmadtrics.nl/articles/reusing-data-bridging-the-distance-between-data-consumers-and-producers\",\"archive_url\":null,\"title\":\"Reusing
      data: bridging the distance between data consumers and producers\",\"summary\":\"Open
      science initiatives have increased the amount of (openly) available research
      data. Such data are often shared with the idea that they will be reused, although
      reuse is far from being guaranteed. Working to bridge the distance between data
      producers and data consumers has been suggested as one possible way to facilitate
      the reuse of existing data supplies.\",\"abstract\":null,\"content_text\":\"<figure>\\n<img
      src=\\\"https://www.leidenmadtrics.nl/images/uploads/Room-2.jpeg\\\"\\nalt=\\\"Room
      2\\\" />\\n<figcaption>Workshop at Academy Building, University Leiden</figcaption>\\n</figure>\\n\\nOpen
      science initiatives have increased the amount of (openly) available\\nresearch
      data. Such data are often shared with the idea that they will\\nbe reused, although
      reuse is far from being guaranteed. Working to\\n[bridge the\\ndistance](https://hdsr.mitpress.mit.edu/pub/2mvqwgmf/release/1){target=\\\"_blank\\\"}\\nbetween
      data producers and data consumers has been suggested as one\\npossible[...]
