interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.0.3
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%29&blogs.prefix=not.is.null&updated=is.True&doi=not.is.null&order=updated_at.desc&limit=15
  response:
    content: "[{\"id\":\"bb8932b9-2820-42f8-b22f-f191aaf00e32\",\"guid\":\"https://blogs.fu-berlin.de/open-access-berlin/?p=1977\",\"doi\":\"https://doi.org/10.59350/bmvf8-z4q23\",\"url\":\"https://blogs.fu-berlin.de/open-access-berlin/2023/10/06/veranstaltungshinweise-november-2023\",\"archive_url\":\"https://wayback.archive-it.org/22141/20231105110201/https://blogs.fu-berlin.de/open-access-berlin/2023/10/06/veranstaltungshinweise-november-2023\",\"title\":\"Veranstaltungshinweise
      November 2023\",\"summary\":\"weiter zu Dezember 2023 [folgt in K\xFCrze] Anmerkung
      zu dieser Rubrik: Das OABB erstellt monatlich eine \xDCbersicht \xFCber Termine
      und Veranstaltungen zu Open Access und Open Research in Berlin bzw. an Berliner
      Einrichtungen. Der Fokus liegt dabei auf unseren Partnereinrichtungen und auf
      Veranstaltungen, die sich an die \xD6ffentlichkeit richten bzw. die offen sind
      f\xFCr Angeh\xF6rige der Wissenschafts- und Kulturerbeeinrichtungen in Berlin.\",\"published_at\":1696581036,\"updated_at\":1699429735,\"indexed_at\":1699219437,\"indexed\":false,\"authors\":[{\"name\":
      \"Georg Fischer\"}],\"image\":null,\"tags\":[\"Veranstaltungshinweise\"],\"language\":\"de\",\"reference\":[],\"relationships\":[],\"blog_name\":\"Open
      Access Blog Berlin\",\"blog_slug\":\"oaberlin\",\"blog\":{\"slug\":\"oaberlin\",\"title\":\"Open
      Access Blog Berlin\",\"description\":null,\"feed_url\":\"https://blogs.fu-berlin.de/open-access-berlin/feed/atom/\",\"home_page_url\":\"https://blogs.fu-berlin.de/open-access-berlin\",\"language\":\"de\",\"category\":\"otherHumanities\",\"status\":\"active\",\"generator\":\"WordPress\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":1699429735}},
      \n {\"id\":\"3d013369-c9fa-4b05-8b5f-ad7e1e2f39a2\",\"guid\":\"652bb7cb4e902104cd51d525\",\"doi\":\"https://doi.org/10.54900/n6az7-4xb07\",\"url\":\"https://upstream.force11.org/principles-of-open-scholarly-infrastructure-posi-version-1-1-reflections-from-adopters\",\"archive_url\":\"https://wayback.archive-it.org/22124/20231105103706/https://upstream.force11.org/principles-of-open-scholarly-infrastructure-posi-version-1-1-reflections-from-adopters\",\"title\":\"Principles
      of Open Scholarly Infrastructure (POSI) version 1.1: Reflections from adopters\",\"summary\":\"<em>The
      Upstream platform was created in order to discuss all things open. Open scholarly
      infrastructure and the need for the community to assess such infrastructures
      are surely at the heart of enabling the open research movement.\",\"published_at\":1699347653,\"updated_at\":1699378833,\"indexed_at\":1699348555,\"indexed\":false,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-0353-2702\", \"name\": \"Ginny Hendricks\"}],\"image\":\"https://images.unsplash.com/photo-15292[...]
