interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+1696550400&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":22,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Chiara
        Di Giambattista\",\"url\":\"\"}],\"blog_id\":\"gzqej46\",\"blog_name\":\"OpenCitations
        Blog\",\"blog_slug\":\"opencitations\",\"content_html\":\"<p><span>In OpenCitations,
        we like to define our infrastructure organization as \u201Ccommunity-based\u201D
        and \u201Ccommunity-driven\u201D, and we\_</span><span><span>really</span></span><span>\_mean
        it. The support coming from the number of academic libraries and consortia
        coming after\_</span><a href=\\\"https://opencitations.hypotheses.org/991\\\"><span>OpenCitations\u2019
        involvement in the 2nd SCOSS funding cycle</span></a><span>\_has made it possible,
        starting from 2020, to make OpenCitations develop from a small university
        project based on time-limited grant incomes to being an open infrastructure
        globally recognized for the provision of open citation data and bibliographical
        metadata. We want to thank all our members and donors, for trusting our mission
        and sustaining OpenCitations activities with their continuous and generous
        support, despite the pandemic and post-pandemic times.\_</span></p>\\n<p><span>While
        retracing our work in the last three years, we are astonished by the achievements
        our team has accomplished, and by how in such a limited time frame OpenCitations
        has approached David Shotton\u2019s initial vision (who is one of the co-directors
        of OpenCitations), when he first shaped the project back in 2010. Here are
        just some of the technical developments that have marked the last years:</span></p>\\n<ul>\\n<li><span>in
        2021,\_</span><a href=\\\"http://opencitations.net/index/coci\\\"><span>COCI,
        the OpenCitations Index of Crossref open DOI-to-DOI citations</span></a><span>\_crossed
        the threshold of one billion citations stored;</span></li>\\n<li><span>in
        2022, we released the two new OpenCitations indexes of open citations,\_</span><a
        href=\\\"https://opencitations.net/index/doci\\\"><span>DOCI</span></a><span>\_(citations
        from DataCite) and\_</span><a href=\\\"https://opencitations.net/index/poci\\\"><span>POCI</span></a><span>\_(citations
        from PubMed);</span></li>\\n<li><span>we expanded our collection besides the
        citation data by releasing\_</span><a href=\\\"https://opencitations.net/meta\\\"><span>OpenCitations
        Meta</span></a><span>, a database storing and delivering bibliographic metadata
        for all the publications in the OpenCitations Indexes, including the publication\u2019s
        title, type, venue (e.g. journal name), volume number, issue number, page
        numbers, publication date, identifiers and details of the main actors involved
        in the document\u2019s publication (the names of the authors, editors, and
        publishers);\_</span></li>\\n<li><span>as of October 2023, OpenCitations Indexes
        contain information on <strong>1.82 <span>billion</span></strong>\_</span><span>unique</span><span>\_open
        citations.\_</span></li>\\n</ul>\\n<p><span>However, the most significant
        achievements for OpenCiations in the last years have been the <strong>creation
        of a prolific network of collaborations</strong> with other Open Science projects,
        such as <a href=\\\"https://www.openaire.eu/openaire-nexus-project\\\">OpenAIRE-Nexus</a>,
        <a href=\\\"https://www.risis2.eu/\\\">RISIS2</a> and <a h[...]
