interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/blogs/documents/search?q=&query_by=slug%2Ctitle%2Cdescription%2Ccategory%2Clanguage%2Cgenerator%2Cprefix%2Cfunding&filter_by=status%3A%21%3D%5Bsubmitted%2Cpending%5D&sort_by=updated_at%3Adesc&per_page=10&page=1&include_fields=slug%2Ctitle
  response:
    body:
      string: '{"facet_counts":[],"found":87,"hits":[{"document":{"slug":"researchgraph","title":"Stories
        by Research Graph on Medium"},"highlight":{},"highlights":[],"text_match":100,"text_match_info":{"best_field_score":"0","best_field_weight":12,"fields_matched":4,"score":"100","tokens_matched":0}},{"document":{"slug":"cwagen","title":"Corin
        Wagen"},"highlight":{},"highlights":[],"text_match":100,"text_match_info":{"best_field_score":"0","best_field_weight":12,"fields_matched":4,"score":"100","tokens_matched":0}},{"document":{"slug":"markrubin","title":"Critical
        Metascience"},"highlight":{},"highlights":[],"text_match":100,"text_match_info":{"best_field_score":"0","best_field_weight":12,"fields_matched":4,"score":"100","tokens_matched":0}},{"document":{"slug":"musings",[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.5.3
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=slug%2C%20title%2C%20description%2C%20language%2C%20favicon%2C%20feed_url%2C%20feed_format%2C%20home_page_url%2C%20generator%2C%20category&status=in.%28approved%2Cactive%2Carchived%29&title=ilike.%2A%2A&limit=10&limit=11&order=created_at.desc&offset=0
  response:
    content: "[{\"slug\":\"khinsen\",\"title\":\"Konrad Hinsen's blog\",\"description\":null,\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://blog.khinsen.net/feeds/all.atom.xml\",\"feed_format\":\"application/atom+xml\",\"home_page_url\":\"https://blog.khinsen.net/\",\"generator\":\"Other\",\"category\":\"naturalSciences\"},
      \n {\"slug\":\"epiforecasts\",\"title\":\"EpiForecasts\",\"description\":\"EpiForecasts
      team website\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://epiforecasts.io/blog.xml\",\"feed_format\":\"application/rss+xml\",\"home_page_url\":\"https://epiforecasts.io/blog.html\",\"generator\":\"Quarto\",\"category\":\"otherMedicalSciences\"},
      \n {\"slug\":\"epiverse_trace\",\"title\":\"Epiverse-TRACE developer space\",\"description\":\"A
      place [...]
