interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1737280936+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":803,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Atarraya\"}],\"blog_name\":\"BLOG
        ATARRAYA\",\"blog_slug\":\"atarraya\",\"category\":\"humanities\",\"content_text\":\"por
        **Alicia Salmer\xF3n**\\n\\nExplorar la historia de la circulaci\xF3n de impresos
        --de su traducci\xF3n, a\\nveces, as\xED como de su impresi\xF3n y distribuci\xF3n--,
        y de la manera en que\\nfueron recibidos, le\xEDdos y discutidos constituye
        una aut\xE9ntica aventura.\\nM\xE1s a\xFAn si en ese seguimiento se exploran
        los movimientos de quienes los\\nredactaron y leyeron, y se rastrea su lugar
        en la colosal tarea de\\nconstruir una nueva nac[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1739127022+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":800,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22150/20231105110624/https://ropensci.org/es/blog/2025/02/05/no-ciencia-sin-deia\",\"authors\":[{\"name\":\"The
        rOpenSci Team\"}],\"blog_name\":\"rOpenSci - herramientas abiertas para una
        ciencia abierta\",\"blog_slug\":\"ropensci_es\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"En
        rOpenSci, nuestra misi\xF3n es\\n\\n> fomentar una cultura que valore la investigaci\xF3n
        abierta y\\n> reproducible utilizando d[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.12.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28approved%2Cactive%2Carchived%2Cexpired%29&title=ilike.%25%25&limit=10&limit=11&order=published_at.desc&offset=0
  response:
    content: "[{\"id\":\"84750384-7af2-49a2-9d6b-6898ea1a1fa7\",\"guid\":\"https://www.leidenmadtrics.nl/articles/reusing-data-bridging-the-distance-between-data-consumers-and-producers\",\"doi\":\"https://doi.org/10.59350/tcjaa-t1y09\",\"url\":\"https://www.leidenmadtrics.nl/articles/reusing-data-bridging-the-distance-between-data-consumers-and-producers\",\"archive_url\":null,\"title\":\"Reusing
      data: bridging the distance between data consumers and producers\",\"summary\":\"Open
      science initiatives have increased the amount of (openly) available research
      data. Such data are often shared with the idea that they will be reused, although
      reuse is far from being guaranteed. Working to bridge the distance between data
      producers and data consumers has been suggested as one possible way to facilitate
      the reuse of existing data supplies.\",\"abstract\":null,\"content_text\":\"<figure>\\n<img
      src=\\\"https://www.leidenmadtrics.nl/images/uploads/Room-2.jpeg\\\"\\nalt=\\\"Room
      2\\\" />\\n<figcaption>Workshop at Academy Building, University Leiden</figcaption>\\n</figure>\\n\\nOpen
      science initiatives have increased the amount of (openly) available\\nresearch
      data. Such data are often shared with the idea that they will\\nbe reused, although
      reuse is far from being guaranteed. Working to\\n[bridge the\\ndistance](https://hdsr.mitpress.mit.edu/pub/2mvqwgmf/release/1){target=\\\"_blank\\\"}\\nbetween
      data producers and data consumers has been suggested as one\\npossible[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.17.0
    method: GET
    uri: https://bosczcmeodcrajtcaddf.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29&status=in.%28active%2Carchived%2Cexpired%29&title=ilike.%25%25&order=published_at.desc&offset=0&limit=10
  response:
    content: "[{\"id\":\"80fcd144-554d-448a-ad30-26435cd8f268\",\"guid\":\"6891fd186e33c10001ae2e37\",\"doi\":\"https://doi.org/10.59350/yvea7-g4n23\",\"parent_doi\":null,\"url\":\"https://www.chjh.nl/can-the-united-nations-intervene-in-gaza/\",\"archive_url\":null,\"title\":\"Can
      the United Nations intervene in Gaza?\",\"summary\":\"I recently saw a video
      recording of the Irish President Michael Higgins calling for intervention under
      the United Nations Charter: This sounds incredibly convincing as it invokes
      both emotion and procedural expertise. I want to jump on social media and say
      there is a viable, legal way to aid the people in Gaza using the UN Charter.
      Anything to circumvent the Israeli State's siege and starvation of Gaza.\",\"abstract\":null,\"content_html\":\"<img
      alt=\\\"Can the United Nations intervene in Gaza?\\\" src=\\\"https://images.unsplash.com/photo-1660479643214-8ceae9caeda0?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3wxMTc3M3wwfDF8c2VhcmNofDJ8fGdhemF8ZW58MHx8fHwxNzU0Mzk4MDI4fDA&amp;ixlib=rb-4.1.0&amp;q=80&amp;w=2000\\\"/><p>I
      recently saw <a href=\\\"https://substack.com/@zirafamedia/note/c-142081610\\\">a
      video recording of the Irish President Michael Higgins</a> calling for intervention
      under the United Nations Charter:</p><blockquote>I cannot really stand in a
      public venue and give a public speech <a>...</a> when I see such an incredible
      destruction of an entire people taking place. Are we to watch children starving?
      Women dehydrated trying to feed their children? So something must happen. </blockquote><blockquote>I
      am personally in favor of the Secretary General of the United Nations using
      procedures that are there in the Charter of the United Nations, to use a Chapter
      7 procedure. By whi[...]
