interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":27,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"NFernan\",\"url\":\"https://orcid.org/0000-0002-9373-4622\"}],\"blog_id\":\"6aswq28\",\"blog_name\":\"Edici\xF3n
        y comunicaci\xF3n de la Ciencia\",\"blog_slug\":\"norbisley\",\"content_html\":\"\\n<p><img
        data-attachment-id=\\\"523\\\" data-permalink=\\\"https://norbisley.wordpress.com/2023/10/06/que-libros-cientificos-publicamos/rrm1esyb-3/\\\"
        data-orig-file=\\\"https://norbisley.files.wordpress.com/2023/10/rrm1esyb-3.png\\\"
        data-orig-size=\\\"1008,301\\\" data-comments-opened=\\\"1\\\" data-image-meta=\\\"{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timest[...]
