interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_text%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1703516468+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":96,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22150/20231105110624/https://ropensci.org/es/blog/2023/12/05/2023-12-05-divide-y-venceras-de-polar-al-polarverse\",\"authors\":[{\"name\":\"Juan
        Pablo Ruiz Nicolini\",\"url\":\"https://orcid.org/0000-0002-3138-6343\"}],\"blog_id\":\"k0crp01\",\"blog_name\":\"rOpenSci
        - herramientas abiertas para una ciencia abierta\",\"blog_slug\":\"ropensci_es\",\"category\":\"computerAndInformationSciences\",\"content_text\":\">
        *\\\"Solo soy un polit\xF3logo, parado frente a la consola de R , pidiendole\\n>
        que le ayude a terminar una tesis\\\"*\\n\\nCorr\xEDa el a\xF1o 2015, un estudiante
        de maestr\xEDa de Ciencia Pol\xEDtica ten\xEDa\\nque procesar datos para entregar
        su t\xE9sis y decidi\xF3 aprovechar la\\noportunidad para aprender a usar
        R. Al largo y tortuoso camino del\\nrequisito acad\xE9mico se agreg\xF3 un
        grado de dificultad extra: incorporar\\nun software [...]
[...]
