interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":44,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Norbisley
        Fern\xE1ndez\",\"url\":\"https://orcid.org/0000-0002-9373-4622\"}],\"blog_id\":\"6aswq28\",\"blog_name\":\"Edici\xF3n
        y comunicaci\xF3n de la Ciencia\",\"blog_slug\":\"norbisley\",\"content_html\":\"\\n<figure
        class=\\\"wp-block-image size-large\\\"><img data-attachment-id=\\\"538\\\"
        data-permalink=\\\"https://norbisley.wordpress.com/2023/11/03/potencial-de-rogue-scholar-para-la-visibilidad-de-la-ciencia-latinoamericana/blog/\\\"
        data-orig-file=\\\"https://norbisley.files.wordpress.com/2023/11/blog.jpg\\\"
        data-orig-size=\\\"4831,3221\\\" data-comments-opened=\\\"1\\\" data-image-meta=\\\"{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}\\\"
        data-image-title=\\\"blog\\\" data-image-description=\\\"\\\" data-image-caption=\\\"\\\"
        data-medium-file=\\\"https://norbisley.files.wordpress.com/2023/11/blog.jpg?w=300\\\"
        data-large-file=\\\"https://norbisley.files.wordpress.com/2023/11/blog.jpg?w=1024\\\"
        loading=\\\"lazy\\\" width=\\\"1024\\\" height=\\\"682\\\" src=\\\"https://norbisley.files.wordpress.com/2023/11/blog.jpg?w=1024\\\"
        alt=\\\"\\\" class=\\\"wp-image-538\\\" srcset=\\\"https://norbisley.files.wordpress.com/2023/11/blog.jpg?w=1024
        1024w, https://norbisley.files.wordpress.com/2023/11/blog.jpg?w=2046 2046w,
        https://norbisley.files.wordpress.com/2023/11/blog.jpg?w=150 150w, https://norbisley.files.wordpress.com/2023/11/blog.jpg?w=300
        300w, https://norbisley.files.wordpress.com/2023/11/blog.jpg?w=768 768w\\\"
        sizes=\\\"(max-width: 1024px) 100vw, 1024px\\\" /></figure>\\n\\n\\n\\n<p
        class=\\\"has-text-align-right\\\">Yo creo que la sobrevivencia de los blogs
        depender\xE1 de la capacidad de hacerlos realmente colaborativos<br> y de
        volver al concepto primigenio de entradas cortas.</p>\\n\\n\\n\\n<p class=\\\"has-text-align-right\\\">Monsalve,
        Valencia y Franco, 2019</p>\\n\\n\\n\\n<p>Para nadie es un secreto que la
        ciencia en pa\xEDses subdesarrollados es menos visible en las grandes plataformas
        de indexaci\xF3n de contenido cient\xEDfico, sobre todo aquella en idioma
        espa\xF1ol, ya que \u201Cel ingl\xE9s es la lengua franca de la ciencia.\u201D
        A esto sumemos la poca p[...]
