interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+1696550400+%26%26+published_at%3A%3C%3D+1697155199&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":22,\"hits\":[{\"document\":{\"authors\":[{\"affiliation\":[{\"id\":\"https://ror.org/041kmwe10\",\"name\":\"Imperial
        College London\"}],\"name\":\"Henry Rzepa\",\"url\":\"https://orcid.org/0000-0002-8635-8390\"}],\"blog_name\":\"Henry
        Rzepa's Blog\",\"blog_slug\":\"rzepa\",\"category\":\"chemicalSciences\",\"content_text\":\":::
        {.kcite-section kcite-section-id=\\\"26523\\\"}\\nIn an earlier post on this\\ntopic,[[\\\\[1\\\\]](#ITEM-26523-0)]{#cite_ITEM-26523-0}^\u2021^
        I described how\\nthe curly-arrows describing the mechanism of a nucleophilic
        addition at\\na carbonyl group choreograph in two distinct ways, as seen in
        red or\\nblue below. The arrows in red can be described as firstly addition
        to\\nthe carbonyl group to form either a transient intermediate (a two-step\\nprocess)
        or instead a formal transition state state as a concerted\\nsingle-step mechanism.
        The blue arrows do the reverse; firstly\\nelimination and then followed by
        addition. I will use the shorthand\\n**AE** for the first type and **EA**
        for the second type. Here I explore\\nsome more nucleophiles to see which
        of these two mechanisms they follow.\\nData for these results can be found
        at\\n[10.14469/hpc/13171](https://doi.org/10.14469/hpc/13171)  \\n[![](https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2023/10/double-headed4.svg){.aligncenter\\n.size-full
        .wp-image-26546 decoding=\\\"async\\\"\\nwidth=\\\"450\\\"}](https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2023/10/double-headed4.svg)**N-\\ncarbon
        ylid:** This is a very facile (low-barrier) reaction with a C-O\\nbond length
        response that initially increases steeply, followed by a\\nmore modest decline
        and hence corresponds to an **AE** mechanism.\\n\\n![](https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2023/10/acetyl-chlorine-C-Nuc_tot_ener.gif){.aligncenter\\n.size-medium
        .wp-image-26534 decoding=\\\"async\\\" width=\\\"540\\\"}\\n\\n![](https://www.ch.ic.ac.uk/rzepa/blog/wp-content/uploads/2023/10/acetyl-chlorin[...]
