interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1707513914+%26%26+tags%3A%3D%5Bopen+access%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":863,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Summer
        Rosonovski\"}],\"blog_name\":\"Europe PMC News Blog\",\"blog_slug\":\"europepmc\",\"category\":\"healthSciences\",\"content_text\":\"Preprinting
        has soared in popularity in the life sciences and is\\nincreasingly recognised
        as an excellent method to share research outputs\\nquickly and freely. While
        preprints have gained popularity, an important\\nconsideration is ensuring
        their scientific quality. This prompted the\\ndevelopment of platforms where
        researchers can comment on, evaluate, and\\nreview preprints.\\n\\n### Preprint
        review benefits {#preprint-review-benefits .wp-blo[...]
[...]
