interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%29&blogs.prefix=not.is.null&doi=is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"f64b4606-b6da-490a-8890-62b2e937022c\",\"guid\":\"https://irights.info/?post_type=custom_webschau&p=28788\",\"doi\":null,\"url\":\"https://irights.info/webschau/doku-youtube-youtubers-and-you-die-neue-industrie-der-youtube-stars/28788\",\"archive_url\":null,\"title\":\"Doku
      \u201EYoutube, Youtubers and You\u201C: Die neue Industrie der Youtube-Stars\",\"summary\":\"Mit
      dem Aufstieg von Youtube ist ein neues Starsystem entstanden, in dem Viertkl\xE4ssler
      ihren eigenen Kanal er\xF6ffnen und davon tr\xE4umen d\xFCrfen, Youtuber zu
      werden.\",\"published_at\":1508750902,\"updated_at\":1508753570,\"indexed_at\":0,\"indexed\":null,\"authors\":[{\"name\":
      \"David Pachali\"}],\"image\":null,\"tags\":[\"Arbeit + Kreativwirtschaft\",\"Netzkulturen\",\"\xD6konomie\",\"Video\",\"Youtube
      + Video\"],\"language\":\"de\",\"reference\":[],\"relationships\":[],\"blog_name\":\"iRights.info\",\"blog_slug\":\"irights\",\"blog\":{\"slug\":\"irights\",\"title\":\"iRights.info\",\"description\":\"Urheberrecht
      und kreatives Schaffen in der digitalen Welt\",\"feed_url\":\"https://irights.info/feed/atom\",\"home_page_url\":\"https://irights.info/\",\"language\":\"de\",\"category\":\"law\",\"status\":\"active\",\"generator\":\"WordPress\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":1698071084}},
      \n {\"id\":\"beec5d50-8605-48b1-82b7-599fdc91b3be\",\"guid\":\"https://irights.info/?post_type=custom_artikel&p=28780\",\"doi\":null,\"url\":\"https://irights.info/artikel/eu-urheberrechtsreform-streit-ueber-upload-filter-und-grundrechte/28780\",\"archive_url\":null,\"title\":\"EU-Urheberrechtsreform:
      Streit \xFCber Upload-Filter und Grundrechte (Update)\",\"summary\":\"Das neue
      EU-Urheberrec[...]
