interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%29&blogs.prefix=not.is.null&updated=is.True&doi=not.is.null&order=updated_at.desc&limit=15
  response:
    content: "[{\"id\":\"f7298995-eb0c-4a74-956a-07be6d5fa1a0\",\"guid\":\"https://irights.info/?post_type=custom_webschau&p=25234\",\"doi\":\"https://doi.org/10.59350/hdzc0-hnj47\",\"url\":\"https://irights.info/webschau/bgh-bibliotheken-duerfen-digitalisierte-werke-zum-ausdrucken-und-speichern-anbieten/25234\",\"archive_url\":\"https://wayback.archive-it.org/22135/20231101173016/https://irights.info/webschau/bgh-bibliotheken-duerfen-digitalisierte-werke-zum-ausdrucken-und-speichern-anbieten/25234\",\"title\":\"BGH:
      Bibliotheken d\xFCrfen digitalisierte Werke zum Ausdrucken und Speichern anbieten
      (Update)\",\"summary\":\"Bibliotheken d\xFCrfen ihre Best\xE4nde auch ohne Erlaubnis
      der Verlage digitalisieren und an elektronischen Lesepl\xE4tzen zug\xE4nglich
      machen. Der Bundesgerichtshof hat dazu jetzt entschieden, dass sie diese auch
      zum Ausdrucken und Speichern anbieten d\xFCrfen. Wie der Bundesgerichtshof in
      einer Pressemitteilung bekannt gibt, hat er eine Klage des Eugen-Ulmer-Verlags
      gegen die Technische Universit\xE4t Darmstadt heute insgesamt abgewiesen.\\n\",\"abstract\":null,\"published_at\":1429200306,\"updated_at\":1474299142,\"indexed_at\":1,\"indexed\":true,\"authors\":[{\"name\":
      \"David Pachali\"}],\"image\":null,\"tags\":[\"Autor + Text\",\"Bildung + OER\",\"B\xFCcher\",\"E-Books
      + H\xF6rb\xFCcher\",\"Urheberrecht\"],\"language\":\"de\",\"reference\":[],\"relationships\":[],\"blog_name\":\"iRights.info\",\"blog_slug\":\"irights\",\"blog\":{\"slug\":\"irights\",\"title\":\"iRights.info\",\"description\":\"Urheberrecht
      und kreatives Schaffen in der digitalen Welt\",\"feed_url\":\"https://irights.info/feed/atom\",\"home_page_url\":\"https://irights.info/\",\"language\":\"de\",\"category\":\"law\",\"status\":\"active\",\"generator\":\"WordPress\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":1707292625}},
      \n {\"id\":\"61ba75f5-cbe0-4d90-a69b-73b8c067ec76\",\"guid\":\"https://irights.info/?post_type=custom_webschau&p=26034\",\"doi\":\"https://doi.org/10.59350/q2v78-dq887\",\"url\":\"https://irights.info/webschau/eth-bildarchiv-mit-freier-lizenz-250-000-fotos-online/26034\",\"archive_url\":\"https://wayback.archive-it.org/22135/20231101173016/https://irights.info/webschau/eth-bildarchiv-mit-freier-lizenz-25[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28%2A%29&blogs.prefix=not.is.null&updated=is.True&doi=not.is.null&order=updated_at.desc&limit=20
  response:
    content: "[{\"id\":\"cb4c1987-5224-4abb-882c-70d83c76344b\",\"guid\":\"https://www.leidenmadtrics.nl/articles/reminiscence-a-note-by-two-former-interns-at-cwts\",\"doi\":\"https://doi.org/10.59350/zf1ea-m0h34\",\"url\":\"https://www.leidenmadtrics.nl/articles/reminiscence-a-note-by-two-former-interns-at-cwts\",\"archive_url\":null,\"title\":\"Reminiscence:
      A note by two former interns\",\"summary\":\"Through our master\u2019s programme
      MARIHE\_(Master in Research and Innovation in Higher Education), we were supported
      by the staff members at Tampere University in the selection of internship hosts,
      but we were also encouraged to suggest our own internship hosts around the world.\",\"abstract\":null,\"content_text\":\"Through
      our master's programme\\n[MARIHE](http://www.marihe.eu/){target=\\\"_blank\\\"}\_(Master
      in Research and\\nInnovation in Higher Education), we were supported by the
      staff members\\nat [Tampere\\nUniversity](https://www.tuni.fi/en/about-us/tampere-university)
      in the\\nselection of internship hosts, but we were also encouraged to suggest\\nour
      own internship hosts around the world. Since several interesting\\nresearch
      topics for our master's studies we[...]
