interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20modified_at%29&blogs.prefix=not.is.null&doi=is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"1e093888-160d-4dab-8abf-d0dfe752df0f\",\"doi\":null,\"url\":\"https://svpow.com/2013/12/17/bare-bear-bone-beautiful\",\"archive_url\":null,\"title\":\"Bare
      bear bone: beautiful\",\"summary\":\"Yes, it\u2019s bear skulls on the brain
      lately. I have nothing scientific to say here, I was just going through old
      files and found myself struck by the beautiful form and texture of the bones.
      The photos are all close-ups of this skull of an American black bear, Ursus
      americanus.\",\"published_at\":1387269419,\"updated_at\":1387269419,\"indexed_at\":0,\"indexed\":true,\"authors\":[{\"url\":
      \"http://10minuteastronomy.wordpress.com/\", \"name\": \"Matt Wedel\"}],\"image\":\"http://svpow.files.wordpress.com/2013/12/ursus-americanus-canines.jpg\",\"tags\":[\"Stinkin
      Heads\",\"Stinkin Mammals\"],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"blog_name\":\"Sauropod
      Vertebra Picture of the Week\",\"blog_slug\":\"svpow\",\"blog\":{\"slug\":\"svpow\",\"title\":\"Sauropod
      Vertebra Picture of the Week\",\"description\":\"SV-POW!  ...  All sauropod
      vertebrae, except when we're talking about Open Access\",\"feed_url\":\"https://svpow.com/feed/atom/\",\"home_page_url\":\"https://svpow.com\",\"language\":\"en\",\"category\":\"earthAndRelatedEnvironmentalSciences\",\"status\":\"active\",\"generator\":\"WordPress.com\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"modified_at\":\"2023-09-22T14:44:45+00:00\"}},
      \n {\"id\":\"430d4d9a-215b-4312-915b-c99a15b94fb1\",\"doi\":null,\"url\":\"https://svpow.com/2013/12/13/correlation-of-impact-factor-and-citations-a-personal-case-study\",\"archive_url\":null,\"title\":\"Correlation
      of impact factor and citations: a personal case-study\",\"summary\":\"It\u2019s
      now widely understood among researchers that the impact factor\_(IF) is a statistically
      illiterate measure of the quality of a paper.\",\"published_at\":1386964366,\"updated_at\":1387194746,\"indexed_at\":0,\"indexed\":true,\"authors\":[{\"url\":
      \"http://www.miketaylor.org.uk/dino/pubs/\", \"name\": \"Mike Taylor\"}],\"image\":\"http://svpow.files.wordpress.com/2013/12/berlin11-satellite-taylor-what-we-can-do-impact-factor-graph.png\",\"tags\":[\"Just
      Plain Wrong\",\"Look This Isnt Complicated\",\"Math\",\"Papers By SV POW Sketeers\",\"Rants\"],\"language\":\"en\",\"reference\":[{\"key\":
      \"ref1\", \"url\": \"http://miketaylor.org.uk/dino/pubs/farke-et-al-2009/farkeetal2009-open-dinosaur-project.pdf\"},
      {\"key\": \"ref2\", \"url\": \"http://onlinelibrary.wiley.com/doi/10.1002/asi.22731/abstract\"},
      {\"key\": \"ref3\", \"url\": \"http://arxiv.org/abs/1205.4328\"}, {\"key\":
      \"ref4\", \"url\": \"http://miketaylor.org.uk/dino/pubs/taylor2009/taylor2009-brachiosaurus-and-giraffatitan.pdf\"},
      {\"key\": \"ref5\", \"url\": \"http://app.pan.pl/archive/publi[...]
