interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=retraction-watch&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=published_at%3A%3E%3D+0&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":21,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/generating-overlay-blog-posts\",\"authors\":[{\"name\":\"Martin
        Fenner\",\"url\":\"https://orcid.org/0000-0003-1419-2405\"}],\"blog_id\":\"f0m0e38\",\"blog_name\":\"Front
        Matter\",\"blog_slug\":\"front_matter\",\"content_html\":\"<p>On Monday the
        Rogue Scholar science blog archive <a href=\\\"https://doi.org/10.53731/ar11b-5ea39\\\"
        rel=\\\"noreferrer\\\">launched a dedicated API</a>. Today I am reporting
        on the first Jupyter notebook using that API to generate an overlay blog post.</p><blockquote>An&nbsp;<strong>overlay
        journal</strong>&nbsp;or&nbsp;<strong>overlay ejournal</strong>&nbsp;is a
        type of&nbsp;open access&nbsp;academic journal, almost always an online&nbsp;electronic
        journal&nbsp;(ejournal), that does not produce its own content, but selects
        from texts that are already freely available online.&nbsp;From <a href=\\\"https://en.wikipedia.org/wiki/Overlay_journal\\\"
        rel=\\\"noreferrer\\\">Wikipedia</a></blockquote><p>An <strong>overlay blog
        post</strong> applies the idea of an <strong>overlay journal</strong> to science
        blog posts, and the Rogue Scholar API \u2013 in combination with content that
        has an open license (<a href=\\\"https://creativecommons.org/licenses/by/4.0/legalcode\\\"
        rel=\\\"noreferrer\\\">CC-BY</a>) \u2013 makes that easy.</p><p>The Jupyter
        notebook that I started and <a href=\\\"https://github.com/front-matter/rogue-scholar-notebooks\\\">made
        available via GitHub</a> and <a href=\\\"https://doi.org/10.5281/zenodo.8433675\\\"
        rel=\\\"noreferrer\\\">Zenodo</a> fetches all blog posts using a search term
        and some other conditions (here written in English and published after 2010).
        I thought a good search term to try out the concept would be <strong>Retraction
        Watch</strong>, after the <a href=\\\"https://doi.org/10.13003/c23rw1d9\\\"
        rel=\\\"noreferrer\\\">announcement in September</a> that <em>Crossref has
        acquired the Retraction Watch database of expressions of concerns and retractions
        and has made it openly accessible to anyone who wants to use it.</em></p><p>The
        notebook includes this note:</p><div class=\\\"kg-card kg-callout-card kg-callout-card-blue\\\"><div
        class=\\\"kg-callout-emoji\\\">\U0001F4A1</div><div class=\\\"kg-callout-text\\\">We
        use the query&nbsp;retraction watch. We limit results to posts published since&nbsp;2010&nbsp;(the
        year Retraction Watch launched) and&nbsp;en&nbsp;as language. We retrieve
        the&nbsp;title,&nbsp;authors,&nbsp;publication date,&nbsp;abstract,&nbsp;blog
        name,&nbsp;doi&nbsp;and&nbsp;url.We sort the results in reverse chronological
        order (newest first).</div></div><p>The query for that search term returned
        17 blog posts included in Rogue Scholar (out of about 9,000 posts), and manual
        curation narrowed that list further down to 12 posts (visualized with <a href=\\\"https://mermaid.js.org/\\\"
        rel=\\\"noreferrer\\\">Mermaid</a>):</p><figure class=\\\"kg-card kg-image-card\\\"><img
        src=\\\"https://blog.front-matter.io/content/images/2023/10/mermaid-figure-1.png\\\"
        class=\\\"kg-image\\\" alt=\\\"\\\" loading=\\\"lazy\\\" width=\\\"2000\\\"
        height=\\\"190\\\" srcset=\\\"https://blog.front-matter.io/content/images/size/w600/2023/10/mermaid-figure-1.png
        600w, https://blog.front-matter.io/content/images/size/w1000/2023/10/mermaid-figure-1.png
        1000w, https://blog.front-matter.io/content/images/size/w1600/2023/10/mermaid-figure-1.png
        1600w, https://blog.front-matter.io/content/images/size/w2400/2023/10/mermaid-figure-1.png
        2400w\\\" sizes=\\\"(min-width: 720px) 720px\\\"></figure><p>The notebook
        then generates a bibtex file of all 12 blog posts (easy as they all have DOIs)
        and generates a summary written in markdown using the title, author, blog
        name, publication date, and abstract.</p><h2 id=\\\"conclusions\\\">Conclusions</h2><p>The
        notebook needs some more fine-tuning, and I plan to publish the first overlay
        blog post next week. But notebooks are an interesting approach to automate
        the generating of overlay blog posts, open to everyone as the content of the
        Rogue Scholar API is freely available for reuse. I particularly like using
        both automation and manual curation using open source tools, which is a powerful
        combination</p><h2 id=\\\"references\\\">References</h2><p>Fenner, M. (2023).
        <em>Rogue Scholar has an API</em>. <a href=\\\"https://doi.org/10.53731/ar11b-5ea39\\\">https://doi.org/10.53731/ar11b-5ea39</a></p><p>Fenner,
        M. (2023). <em>front-matter/rogue-scholar-notebooks: Initial public release</em>
        (0.8) [Computer software]. Zenodo. <a href=\\\"https://doi.org/10.5281/ZENODO.8433675\\\">https://doi.org/10.5281/ZENODO.8433675</a></p><p>Crossref,
        Hendricks, G., Center for Scientific Integrity, &amp; Lammey, R. (2023). <em>Crossref
        acquires Retraction Watch data and opens it for the scientific community</em>.
        <a href=\\\"https://doi.org/10.13003/c23rw1d9\\\">https://doi.org/10.13003/c23rw1d9</a></p>\",\"content_text\":\"content_text\",\"doi\":\"https://doi.org/10.53731/gzrse-p5d35\",\"guid\":\"6526c60bf23c390001a8394c\",\"id\":\"1cc6de6d-9eef-4305-a936-933446c315dd\",\"image\":\"https://images.unsplash.com/flagged/photo-1552425083-0117136f7d67?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDIxfHxjYW5vcHl8ZW58MHx8fHwxNjk3MDQwMDk1fDA&ixlib=rb-4.0.3&q=80&w=2000\",\"language\":\"en\",\"published_at\":1697042431,\"reference\":[{\"doi\":\"https://doi.org/10.53731/ar11b-5ea39\",\"key\":\"ref1\"},{\"doi\":\"https://doi.org/10.5281/ZENODO.8433675\",\"key\":\"ref2\"},{\"doi\":\"https://doi.org/10.13003/c23rw1d9\",\"key\":\"ref3\"}],\"relationships\":[],\"summary\":\"On
        Monday the Rogue Scholar science blog archive launched a dedicated API.\",\"tags\":[\"Feature\"],\"title\":\"Generating
        Overlay blog posts\",\"updated_at\":1698073388,\"url\":\"https://blog.front-matter.io/posts/generating-overlay-blog-posts\"},\"highlight\":{\"content_html\":{\"matched_tokens\":[\"Retraction\",\"Watch\"],\"snippet\":\"em>Crossref
        has acquired the <mark>Retraction</mark> <mark>Watch</mark> database of expressions
        of\"}},\"highlights\":[{\"field\":\"content_html\",\"matched_tokens\":[\"Retraction\",\"Watch\"],\"snippet\":\"em>Crossref
        has acquired the <mark>Retraction</mark> <mark>Watch</mark> database of expressions
        of\"}],\"text_match\":1157451471441100873,\"text_match_info\":{\"best_field_score\":\"2211897868288\",\"best_field_weight\":9,\"fields_matched\":1,\"score\":\"1157451471441100873\",\"tokens_matched\":2}},{\"document\":{\"authors\":[{\"name\":\"Martin
        Paul Eve\",\"url\":\"https://orcid.org/0000-0002-5589-8511\"}],\"blog_id\":\"z4b9d78\",\"blog_name\":\"Martin
        Paul Eve\",\"blog_slug\":\"eve\",\"content_html\":\"&lt;p&gt;Today\u2019s
        big news is that &lt;a href=&quot;https://doi.org/10.13003/c23rw1d9&quot;&gt;Crossref
        has acquired the Retraction Watch database of expressions of concerns and
        retractions and has made it openly accessible to anyone who wants[...]
