interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.59350/sfzv4-xdb68
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.59350%2Fsfzv4-xdb68/transform">https://api.crossref.org/v1/works/10.59350%2Fsfzv4-xdb68/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.59350%2Fsfzv4-xdb68/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.59350%2Fsfzv4-xdb68/transform
  response:
    body:
      string: '{"institution":[{"name":"Edici\u00f3n y comunicaci\u00f3n de la Ciencia"}],"indexed":{"date-parts":[[2023,10,25]],"date-time":"2023-10-25T15:16:30Z","timestamp":1698246990605},"posted":{"date-parts":[[2023,10,6]]},"group-title":"Media
        and communications","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,10,6]],"date-time":"2023-10-06T00:00:00Z","timestamp":1696550400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2023,10,6]],"date-time":"2023-10-06T00:00:00Z","timestamp":1696550400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Con
        frecuencia a la editorial llegan textos que terminan siendo muy diferentes
        a la idea de libro que el autor tra\u00eda inicialmente.<\/p>","DOI":"10.59350\/sfzv4-xdb68","type":"posted-content","created":{"date-parts":[[2023,10,6]],"date-time":"2023-10-06T11:53:17Z","timestamp":1696593197000},"source":"Crossref","is-referenced-by-count":0,"title":"\u00bfQu\u00e9
        libros cient\u00edficos publicamos en Ediciones Universidad de Camag\u00fcey?","prefix":"10.59350","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-9373-4622","authenticated-orcid":false,"given":"Norbisley","family":"Fern\u00e1ndez","sequence":"first","affiliation":[]}],"member":"31795","container-title":[],"original-title":[],"link":[{"URL":"https:\/\/norbisley.wordpress.com\/2023\/10\/06\/que-libros-cientificos-publicamos","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2023,10,24]],"date-time":"2023-10-24T18:29:21Z","timestamp":1698172161000},"score":1,"resource":{"primary":{"URL":"https:\/\/norbisley.wordpress.com\/2023\/10\/06\/que-libros-cientificos-publicamos"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2023,10,6]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.59350\/sfzv4-xdb68","relation":{},"published":{"date-parts":[[2023,10,6]]},"subtype":"other"}'
    headers:
      content-type:
      - application/vnd.citationstyles.csl+json
      link:
      - "<http://dx.doi.org/10.59350/sfzv4-xdb68>; rel=\"canonical\", <https://norbisley.wordpress.com/2023/10/06/que-libros-cientificos-publicamos>;
        version=\"vor\"; type=\"text/html\"; rel=\"item\", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version=\"vor\"; rel=\"license\", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version=\"tdm\"; rel=\"license\", <http://orcid.org/0000-0002-9373-4622>;
        title=\"Norbisley Fern\xE1ndez\"; rel=\"author\""
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
