interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Cabstract%2Ccontent_text%2Creference&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1737280936+%26%26+language%3A%3D%5Bes%5D&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":803,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Atarraya\"}],\"blog_name\":\"BLOG
        ATARRAYA\",\"blog_slug\":\"atarraya\",\"category\":\"humanities\",\"content_text\":\"por
        **Alicia Salmer\xF3n**\\n\\nExplorar la historia de la circulaci\xF3n de impresos
        --de su traducci\xF3n, a\\nveces, as\xED como de su impresi\xF3n y distribuci\xF3n--,
        y de la manera en que\\nfueron recibidos, le\xEDdos y discutidos constituye
        una aut\xE9ntica aventura.\\nM\xE1s a\xFAn si en ese seguimiento se exploran
        los movimientos de quienes los\\nredactaron y leyeron, y se rastrea su lugar
        en la colosal tarea de\\nconstruir una nueva nac[...]
