interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=0000-0003-1419-2405&query_by=authors.url&filter_by=status%3A%21%3D%5Bpending%5D+%26%26+published_at%3A%3E%3D+0+%26%26+published_at%3A%3C%3D+1708703375&sort_by=_text_match%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":541,\"hits\":[{\"document\":{\"archive_url\":\"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/commonmeta-py-now-supports-metadata-lists\",\"authors\":[{\"name\":\"Martin
        Fenner\",\"url\":\"https://orcid.org/0000-0003-1419-2405\"}],\"blog_name\":\"Front
        Matter\",\"blog_slug\":\"front_matter\",\"category\":\"computerAndInformationSciences\",\"content_text\":\"This
        week the\\n[commonmeta-py](https://python.commonmeta.org/){rel=\\\"noreferrer\\\"}
        Python\\nlibrary adds an important new feature: metadata lists. With this
        feature\\ncommonmeta-py no longer only operates on metadata for a single scholarly\\nwork
        (e.g. a journal article, book, dataset, software, or blog post),\\nbut can
        handle lists of scholarly works.\\n\\nMost of the [metadata formats supported
        by\\ncommonmeta-py](https://www.commonmeta.or[...]
[...]
