interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20published_at%2C%20updated_at%2C%20indexed_at%2C%20indexed%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20blog%3A%20blogs%21inner%28slug%2C%20title%2C%20description%2C%20feed_url%2C%20home_page_url%2C%20language%2C%20category%2C%20status%2C%20generator%2C%20license%2C%20updated_at%29&blogs.prefix=not.is.null&indexed=is.null&doi=not.is.null&order=published_at.desc&limit=15
  response:
    content: "[{\"id\":\"35bea8e0-7c8d-475c-83b0-c9c10b96f468\",\"guid\":null,\"doi\":\"https://doi.org/10.59350/c6935-n5w84\",\"url\":\"https://ropensci.org/blog/2023/10/20/news-october-2023\",\"archive_url\":null,\"title\":\"rOpenSci
      News Digest, October 2023\",\"summary\":\"Dear rOpenSci friends, it\u2019s time
      for our monthly news roundup!\",\"published_at\":1697760000,\"updated_at\":1697788477,\"indexed_at\":1697790900,\"indexed\":null,\"authors\":[{\"name\":
      \"The rOpenSci Team\"}],\"image\":null,\"tags\":[\"Newsletter\"],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"blog_name\":\"rOpenSci
      - open tools for open science\",\"blog_slug\":\"ropensci\",\"blog\":{\"slug\":\"ropensci\",\"title\":\"rOpenSci
      - open tools for open science\",\"description\":\"Open Tools and R Packages
      for Open Science\",\"feed_url\":\"https://ropensci.org/blog/index.json\",\"home_page_url\":\"https://ropensci.org/blog\",\"language\":\"en\",\"category\":\"computerAndInformationSciences\",\"status\":\"active\",\"generator\":\"Hugo
      -- gohugo.io\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"updated_at\":1697790198}},
      \n {\"id\":\"3f6ae6d1-d797-485d-8605-a28e95797d89\",\"guid\":\"6529e3004e902104cd51d4e3\",\"doi\":\"https://doi.org/10.54900/g4928-wva21\",\"url\":\"https://upstream.force11.org/building-a-community-of-practice\",\"archive_url\":null,\"title\":\"Building
      a Community of Practice: Observations of the Current Use of DataCite DOIs as
      Project IDs\",\"summary\":\"Project identifiers have been used [...]
