interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fmxr36stzdcbiw7hp-1.a1.typesense.net/collections/posts/documents/search?q=&query_by=tags%2Ctitle%2Cdoi%2Cauthors.name%2Cauthors.url%2Csummary%2Ccontent_html%2Creference&filter_by=blog_slug%3Arossmounce&sort_by=published_at%3Adesc&per_page=10&page=1
  response:
    body:
      string: "{\"facet_counts\":[],\"found\":127,\"hits\":[{\"document\":{\"authors\":[{\"name\":\"Ross
        Mounce\",\"url\":\"\"}],\"blog_id\":\"vbmdy90\",\"blog_name\":\"A blog by
        Ross Mounce\",\"blog_slug\":\"rossmounce\",\"content_html\":\"\\n<p>\u201CIn
        statistics, a central tendency (or measure of central tendency) is a central
        or typical value for a probability distribution. Colloquially, measures of
        central tendency are often called averages. The most common measures of central
        tendency are the\_<a href=\\\"https://en.wikipedia.org/wiki/Arithmetic_mean\\\">arithmetic
        mean</a>, the\_<a href=\\\"https://en.wikipedia.org/wiki/Median\\\">median</a>,
        and the\_<a href=\\\"https://en.wikipedia.org/wiki/Mode_(statistics)\\\">mode</a>.\u201D
        \u2014 <a href=\\\"https://en.wikipedia.org/wiki/Central_tendency\\\">Wikipedia</a>.</p>\\n\\n\\n\\n<p>In
        the UK, we teach school kids how to calculate the mean, median, and mode <a
        href=\\\"https://home.oxfordowl.co.uk/maths/primary-statistics/statistics-year-6-age-10-11/\\\">in
        Year 6</a> (kids aged 10-11), it\u2019s simple stuff.</p>\\n\\n\\n\\n<p>If
        your data is normally distributed then the mean is an appropriate measure
        of central tendency to describe your data. However, if your data has significant
        <a href=\\\"https://en.wikipedia.org/wiki/Skewness\\\">skew</a> and/or big
        outliers then it is not considered appropriate to report the mean, and instead
        one should use the median or mode.</p>\\n\\n\\n\\n<p>You\u2019ll see this
        advice in countless stats textbooks and websites e.g. </p>\\n\\n\\n\\n<p>\u201C<strong>In
        a strongly skewed distribution, what is the best indicator of central tendency?</strong><br
        />It is usually inappropriate to use the mean in such situations where your
        data is skewed. You would normally choose the median or mode, with the median
        usually preferred.\u201D \u2014 from <a href=\\\"https://statistics.laerd.com/statistical-guides/measures-central-tendency-mean-mode-median-faqs.php\\\">Laerd
        Statistics</a>.</p>\\n\\n\\n\\n<p>In the <a href=\\\[...]
