[tool.poetry]
name = "rogue-scholar-api"
version = "0.8.0"
description = "API for the Rogue Scholar science blogging platform."
authors = ["Martin Fenner <martin@front-matter.io>"]
license = "MIT"
readme = "README.md"
packages = [{include = "rogue_scholar"}]

[tool.poetry.dependencies]
python = "^3.9"
Quart = "^0.19.2"
tox = "^4.11.3"
hypercorn = "^0.14.4"
supabase = "^1.1.1"
python-dotenv = "^1.0.0"
quart-schema = "^0.17.1"
typesense = "^0.17.0"
pydash = "^6.0"
commonmeta-py = "^0.8.4"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
pytest-cov = "^4.1.0"
pytest-recording = "^0.13.0"
ruff = "^0.0.292"
black = "^23.9.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
