[tool.poetry]
name = "rogue-scholar-api"
version = "0.7.1"
repository = "https://github.com/front-matter/rogue-scholar-api"
homepage = "https://rogue-scholar.org"
description = "API for the Rogue Scholar science blogging platform."
keywords = ["science", "blogging", "quart", "api", "supabase", "typesense"]
authors = ["Martin Fenner <martin@front-matter.io>"]
license = "MIT"
readme = "README.md"
packages = [{include = "rogue_scholar_api"}]

[tool.poetry.dependencies]
python = "^3.11"
Quart = "^0.19.2"
tox = "^4.11.3"
hypercorn = "^0.14.4"
supabase = "^2.0"
python-dotenv = "^1.0.0"
quart-schema = "^0.17.1"
typesense = "^0.17.0"
pydash = "^6.0"
commonmeta-py = "^0.8.4"
pytest-asyncio = "^0.21.1"
chardet = "^5.2.0"
quart-rate-limiter = "^0.9.0"
iso8601 = "^2.1.0"
feedparser = "^6.0.10"
furl = "^2.1.3"
idutils = "^1.2.1"
beautifulsoup4 = "^4.12.2"
aiohttp = "^3.8.6"
aiodns = "^3.1.1"
xmltodict = "^0.12.0"
sentry-sdk = "^1.32.0"
nh3 = "^0.2.14"
langdetect = "^1.0.9"
dateutils = "^0.6.12"


[tool.poetry.group.dev.dependencies]
coverage = "*"
pytest = "^7.2.0"
pytest-cov = "^4.1.0"
ruff = "^0.0.292"
black = "^23.9.1"
pytest-asyncio = "^0.21.1"
pytest-recording = "^0.13.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 88
select = [
    "F401",
    "F403",
]

[tool.tox]
legacy_tox_ini = """
    [tox]
    min_version = 4.0
    env_list =
        py311

    [testenv]
    passenv = *
    deps = 
        pytest
        pytest-cov
    commands = pytest --cov=rogue_scholar_api --cov-report=xml

    [coverage:run]
    relative_files = True
    branch = True
"""

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.poetry.scripts]
start = "rogue_scholar_api:run"
