interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      apikey:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrbGV1ZGhuenJheGtxbmNnbmplIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4NTI3ODQ0NiwiZXhwIjoyMDAwODU0NDQ2fQ.0A6m8-XoUR2e9FU5Ahghg5xIVg1mSIuPUF0UjB3qa08
      authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrbGV1ZGhuenJheGtxbmNnbmplIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODUyNzg0NDYsImV4cCI6MjAwMDg1NDQ0Nn0.ozCcE0zNlTYgsG-WCgBwA3AsxEV7R47u8ohFesmCiaU
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - count=exact
      x-client-info:
      - supabase-py/2.4.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/works?select=%2A&id=eq.10.53731%2Fybhah-9jy85
  response:
    content: '{"code":"PGRST116","details":"Results contain 0 rows, application/vnd.pgrst.object+json
      requires 1 row","hint":null,"message":"JSON object requested, multiple (or no)
      rows returned"}'
    headers:
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 406
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/ra/10.53731
  response:
    content: "[\n  {\n    \"DOI\": \"10.53731\",\n    \"RA\": \"Crossref\"\n  }\n]"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.53731/ybhah-9jy85
  response:
    content: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Front
      Matter"}],"indexed":{"date-parts":[[2024,3,8]],"date-time":"2024-03-08T00:22:18Z","timestamp":1709857338621},"posted":{"date-parts":[[2023,10,4]]},"group-title":"Computer
      and information sciences","reference-count":3,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T00:00:00Z","timestamp":1696377600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T00:00:00Z","timestamp":1696377600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<p>Newsletters
      have been around forever, but their popularity has significantly increased in
      the past few years, also thanks to platforms such as Ghost, Medium, and Substack.
      Which of course also includes science newsletters.Failure of advertising as
      a revenue model The most important driver of this trend is probably the realization
      that advertising is a poor revenue model for content published on the web, including
      blogs.<\/p>","DOI":"10.53731\/ybhah-9jy85","type":"posted-content","created":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T12:48:19Z","timestamp":1696423699000},"source":"Crossref","is-referenced-by-count":0,"title":["The
      rise of the (science) newsletter"],"prefix":"10.59350","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[{"name":"Front
      Matter"}]}],"member":"31795","reference":[{"key":"ref1","doi-asserted-by":"publisher","article-title":"Thousands
      of scientists are cutting back on Twitter, seeding angst and uncertainty","year":"2023","DOI":"10.1038\/d41586-023-02554-0"},{"key":"ref2","doi-asserted-by":"publisher","article-title":"The
      Principles of Open Scholarly Infrastructure","year":"2020","DOI":"10.24343\/c34w2h"},{"key":"ref3","doi-asserted-by":"publisher","article-title":"The
      Rogue Scholar weekly newsletter launches on Wednesday","year":"2023","DOI":"10.53731\/9cdnt-2k006"}],"container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.io\/posts\/the-rise-of-the-science-newsletter","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/ybhah-9jy85.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2024,3,7]],"date-time":"2024-03-07T14:18:20Z","timestamp":1709821100000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.io\/posts\/the-rise-of-the-science-newsletter"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2023,10,4]]},"references-count":3,"URL":"http:\/\/dx.doi.org\/10.53731\/ybhah-9jy85","relation":{"is-part-of":[{"id-type":"issn","id":"2749-9952","asserted-by":"subject"}]},"published":{"date-parts":[[2023,10,4]]},"subtype":"other"}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
- request:
    body: '{"id": "https://doi.org/10.53731/ybhah-9jy85", "type": "Article", "url":
      "https://blog.front-matter.io/posts/the-rise-of-the-science-newsletter", "contributors":
      [{"id": "https://orcid.org/0000-0003-1419-2405", "type": "Person", "contributorRoles":
      ["Author"], "givenName": "Martin", "familyName": "Fenner", "affiliation": [{"name":
      "Front Matter"}]}], "titles": [{"title": "The rise of the (science) newsletter"}],
      "container": null, "publisher": {"name": "Front Matter"}, "references": [{"key":
      "ref1", "doi": "https://doi.org/10.1038/d41586-023-02554-0", "title": "Thousands
      of scientists are cutting back on Twitter, seeding angst and uncertainty", "publicationYear":
      "2023"}, {"key": "ref2", "doi": "https://doi.org/10.24343/c34w2h", "title":
      "The Principles of Open Scholarly Infrastructure", "publicationYear": "2020"},
      {"key": "ref3", "doi": "https://doi.org/10.53731/9cdnt-2k006", "title": "The
      Rogue Scholar weekly newsletter launches on Wednesday", "publicationYear": "2023"}],
      "relations": [{"type": "IsPartOf", "id": "2749-9952"}], "date": {"published":
      "2023-10-04"}, "descriptions": [{"description": "Newsletters have been around
      forever, but their popularity has significantly increased in the past few years,
      also thanks to platforms such as Ghost, Medium, and Substack. Which of course
      also includes science newsletters.Failure of advertising as a revenue model
      The most important driver of this trend is probably the realization that advertising
      is a poor revenue model for content published on the web, including blogs.",
      "descriptionType": "Abstract"}], "license": {"id": "CC-BY-4.0", "url": "https://creativecommons.org/licenses/by/4.0/legalcode"},
      "alternate_identifiers": [], "funding_references": [], "files": [{"url": "https://blog.front-matter.io/posts/the-rise-of-the-science-newsletter",
      "mimeType": "text/html"}, {"url": "https://api.rogue-scholar.org/posts/10.53731/ybhah-9jy85.md",
      "mimeType": "text/plain"}, {"url": "https://api.rogue-scholar.org/posts/10.53731/ybhah-9jy85.pdf",
      "mimeType": "application/pdf"}, {"url": "https://api.rogue-scholar.org/posts/10.53731/ybhah-9jy85.epub",
      "mimeType": "application/epub+zip"}, {"url": "https://api.rogue-scholar.org/posts/10.53731/ybhah-9jy85.xml",
      "mimeType": "application/xml"}], "subjects": [], "provider": "Crossref", "schema_version":
      "https://commonmeta.org/commonmeta_v0.12", "state": null, "archive_locations":
      [], "geo_locations": [], "version": null, "language": null, "additional_type":
      null, "sizes": [], "formats": []}'
    headers:
      accept-profile:
      - public
      apikey:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrbGV1ZGhuenJheGtxbmNnbmplIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4NTI3ODQ0NiwiZXhwIjoyMDAwODU0NDQ2fQ.0A6m8-XoUR2e9FU5Ahghg5xIVg1mSIuPUF0UjB3qa08
      authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrbGV1ZGhuenJheGtxbmNnbmplIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4NTI3ODQ0NiwiZXhwIjoyMDAwO[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rogue-scholar.org/posts/10.53731/ybhah-9jy85
  response:
    content: '{"abstract":null,"archive_url":"https://wayback.archive-it.org/22096/20231101172748/https://blog.front-matter.io/posts/the-rise-of-the-science-newsletter","authors":[{"affiliation":[{"name":"Front
      Matter"}],"name":"Martin Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","authors":[{"name":"Martin
      Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"canonical_url":null,"category":"computerAndInformationSciences","created_at":1672561153,"current_feed_url":"https://blog.front-matter.io/atom/","description":"The
      Front Matter Blog covers the intersection of science and technology since 2007.","favicon":"https://blog.front-matter.io/favicon.png","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.io/atom","filter":null,"funding":null,"generator":"Ghost","generator_raw":"Ghost
      5.52","home_page_url":"https://blog.front-matter.io","id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","indexed":null,"issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","mastodon":"https://mozilla.social/@martin","plan":"Personal","prefix":"10.53731","relative_url":null,"ror":null,"secure":true,"slug":"front_matter","status":"active","title":"Front
      Matter","updated_at":1709633714,"use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa"},"blog_name":"Front
      Matter","blog_slug":"front_matter","content_text":"Newsletters have been around
      forever, but their popularity has\nsignificantly increased in the past few years,
      also thanks to platforms\nsuch as [Ghost](https://ghost.org/){rel=\"noreferrer\"},\n[Medium](https://medium.com/){rel=\"noreferrer\"},
      and\n[Substack](https://substack.com/){rel=\"noreferrer\"}. Which of course\nalso
      includes science newsletters.\n\n## Failure of advertising as a revenue model\n\nThe
      most important driver of this trend is probably the real[...]
