interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.4.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
  response:
    content: '{"id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","slug":"front_matter","feed_url":"https://blog.front-matter.io/atom","current_feed_url":"https://blog.front-matter.io/atom/","home_page_url":"https://blog.front-matter.io","archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","feed_format":"application/atom+xml","created_at":1672561153,"updated_at":1710750721,"mastodon":"https://mozilla.social/@martin","generator":"Ghost","generator_raw":"Ghost
      5.52","language":"en","category":"computerAndInformationSciences","favicon":"https://blog.front-matter.io/favicon.png","title":"Front
      Matter","description":"The Front Matter Blog covers the intersection of science
      and technology since 2007.","category":"computerAndInformationSciences","status":"active","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","authors":[{"url":
      "https://orcid.org/0000-0003-1419-2405", "name": "Martin Fenner"}],"plan":"Personal","use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      content-profile:
      - public
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
      accept-version:
      - v5.0
    method: GET
    uri: https://front-matter.ghost.io/ghost/api/content/posts/?page=1&limit=50&filter=visibility%3Apublic&include=tags%2Cauthors&key=b099ebe9ce894979c77431e6d3
  response:
    content: "{\"posts\":[{\"id\":\"65f6d91557b30300011708d0\",\"uuid\":\"c1098449-d8cf-4ca7-aec3-d4ee3ba4fc54\",\"title\":\"Rogue
      Scholar reaches another milestone with 15,000 science blog posts\",\"slug\":\"milestone-15000\",\"html\":\"<p>Last
      week the <a href=\\\"https://rogue-scholar.org\\\" rel=\\\"noreferrer\\\">Rogue
      Scholar</a> science blog archive reached another milestone with 15,000 (<a href=\\\"https://api.rogue-scholar.org/posts\\\"
      rel=\\\"noreferrer\\\">15,332 as of today</a>) science blog posts. These posts
      come from 86 participating blogs with <a href=\\\"https://rogue-scholar.org/about#stats\\\"
      rel=\\\"noreferrer\\\">69% written in English</a> and 28% in German. The most
      c[...]
