interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.wisspub
  response:
    content: '{"id":"34zkv26","slug":"wisspub","feed_url":"https://wisspub.net/feed/atom/","current_feed_url":null,"home_page_url":"https://wisspub.net","archive_prefix":null,"feed_format":"application/atom+xml","created_at":"2023-01-16","updated_at":1689236362,"use_mastodon":true,"generator":"WordPress.com","language":"de","favicon":null,"title":"wisspub.net","description":"Gemeinschaftsblog
      zu wissenschaftlicher Kommunikation im Netz.","category":"socialSciences","status":"active","user_id":"dbffda7d-f391-48fb-a6d2-d4a284c59c8d","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.wisspub
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
version: 1
