interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.wisspub
  response:
    content: '{"id":"9cb1a7b3-1791-42e5-9f2d-153038fe34e3","slug":"wisspub","feed_url":"https://wisspub.net/feed/atom/","current_feed_url":null,"home_page_url":"https://wisspub.net","archive_prefix":null,"feed_format":"application/atom+xml","created_at":1673827200,"updated_at":1724503236,"mastodon":null,"generator":"WordPress.com","generator_raw":"WordPress.com","language":"de","category":"socialSciences","favicon":null,"title":"wisspub.net","description":"Gemeinschaftsblog
      zu wissenschaftlicher Kommunikation im Netz.","category":"socialSciences","status":"active","user_id":"dbffda7d-f391-48fb-a6d2-d4a284c59c8d","authors":null,"use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      content-location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.wisspub
      content-profile:
      - public
      content-range:
      - 0-0/*
      content-type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://public-api.wordpress.com/rest/v1.1/sites/wisspub.net/posts/?page=1&number=50
  response:
    content: '{"found":320,"posts":[{"ID":20574,"site_ID":7070983,"author":{"ID":25361157,"login":"chgutknecht","email":false,"name":"Christian
      Gutknecht","first_name":"Christian","last_name":"Gutknecht","nice_name":"chgutknecht","URL":"https:\/\/orcid.org\/0000-0002-7265-1692","avatar_URL":"","profile_URL":"https:\/\/gravatar.com\/chgutknecht","site_ID":7070983},"date":"2024-05-01T23:17:20+01:00","modified":"2024-05-01T23:41:06+01:00","title":"Beschaffungsrecht
      und Open Access","URL":"http:\/\/wisspub.net\/2024\/05\/01\/beschaffungsrecht-und-open-access\/","short_URL":"https:\/\/wp.me\/ptFu7-5lQ","content":"\n<p>Im
      Beitrag <a href=\"https:\/\/doi.org\/10.21257\/sg.253\">Ein neuer Blick auf
      Open Access: Wissenschaftliches Publizieren aus Sicht des \u00f6ffentlichen
      Beschaffungsrechts<\/a>, beleuchten die Juristen <a href=\"https:\/\/ius.unibas.ch\/de\/personen\/alfred-frueh\/\">Alfred
      Fr\u00fch<\/a> und <a href=\"https:\/\/orcid.org\/0009-0002-3801-8073\">Rika
      Koch<\/a> ein Thema, dem in der Schweizer Bibliothekswelt bislang viel zu wenig
      Beachtung zugekommen ist. Wesentliche Teile des Beitrags stammen aus dem swissuniversities-Projekt
      <a href=\"https:\/\/perma.cc\/LN8S-UGLB\">Regulatory Framework<\/a>. <\/p>\n\n\n\n<h2
      class=\"wp-block-heading\">Anwendbarkeit des Beschaffungsrechts<\/h2>\n\n\n\n<p>Seit
      der Total-Revision von 2021 bezweckt das Schweizer Beschaffungsrecht auch den
      wirtschaftlichen und den volkswirtschaftlich, \u00f6kologisch und sozial nachhaltigen
      Einsatz der \u00f6ffentlichen Mittel.<\/p>\n\n\n\n<p>Dies gilt sicher f\u00fcr
      Beschaffungen \u00fcber den Schwellenwerten:<\/p>\n\n\n<blockquote>\n<p>F\u00fcr
      die Verlagsleistungen gelten gem\u00e4ss B\u00f6B die Schwellenwerte von CHF
      230&#8217;000 f\u00fcr die ETH und die EPFL und gem\u00e4ss IV\u00f6B CHF 250&#8217;000
      bzw. CHF 350&#8217;000 f\u00fcr kantonale Forschungsinstitutionen. Ab diesen
      Vertragsvolumen m\u00fcssen Auftr\u00e4ge an Verlage schweizweit oder gar international
      ausgeschrieben werden. Ab CHF 150&#8217;000 kommt das Einladungsverfahren gem.\u00a0<a
      href=\"https:\/\/perma.cc\/9Y2M-G[...]
