interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
  response:
    content: '{"id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","slug":"front_matter","feed_url":"https://blog.front-matter.io/atom","current_feed_url":"https://blog.front-matter.io/atom/","home_page_url":"https://blog.front-matter.io","archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","feed_format":"application/atom+xml","created_at":1672561153,"updated_at":1728302105,"mastodon":"https://mozilla.social/@martin","generator":"Ghost","generator_raw":"Ghost
      5.52","language":"en","category":"computerAndInformationSciences","favicon":"https://blog.front-matter.io/favicon.png","title":"Front
      Matter","description":"The Front Matter Blog covers the intersection of science
      and technology since 2007.","category":"computerAndInformationSciences","status":"active","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","authors":[{"url":
      "https://orcid.org/0000-0003-1419-2405", "name": "Martin Fenner"}],"use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      content-location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
      content-profile:
      - public
      content-range:
      - 0-0/*
      content-type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
      accept-version:
      - v5.0
    method: GET
    uri: https://front-matter.ghost.io/ghost/api/content/posts/?page=3&limit=50&filter=visibility%3Apublic&include=tags%2Cauthors&key=b099ebe9ce894979c77431e6d3
  response:
    content: "{\"posts\":[{\"id\":\"62d42bbd41e317003df48ee0\",\"uuid\":\"31f24ca0-47bc-48ae-9dee-a7025c712e94\",\"title\":\"DataCite
      Commons at your service\",\"slug\":\"datacite-commons-at-your-service\",\"html\":\"<p>DataCite
      and the <a href=\\\"https://www.project-freya.eu/en\\\">FREYA project</a> partners
      are proud to announce the official launch of <a href=\\\"https://commons.datacite.org/\\\">DataCite
      Commons</a> today. DataCite Commons is the web interface to explore the PID
      Graph, formed by the publications, datasets, research software, and other research
      outputs generated by researchers working at research institutions and supported
      by grant funding (<strong>???</strong>). The PID Graph depends on persistent
      identifiers to uniquely identify all these resources, and metadata that describe
      these resources and their connections.</p>\\n<figure class=\\\"kg-card kg-image-card\\\"><img
      src=\\\"https://blog.front-matter.io/content/images/2022/07/bildschirmfoto-2020-10-28-um-11.42.23.png\\\"
      class=\\\"kg-image\\\" alt=\\\"\\\" loading=\\\"lazy\\\" title=\\\"DataCite
      Commons data sources summarized on the DataCite Commons statistics page.\\\"
      width=\\\"2000\\\" height=\\\"657\\\" srcset=\\\"https://blog.front-matter.io/content/images/size/w600/2022/07/bildschirmfoto-2020-10-28-um-11.42.23.png
      600w, https://blo[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/yfck-mv39/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/yfck-mv39","type":"Article","archiveLocations":[],"container":{"id":"10.5438/0000-00ss","type":"Series"},"contributors":[{"affiliation":[{"name":"DataCite"}],"contributorRoles":["Author"],"familyName":"Fenner","givenName":"Martin","id":"https://orcid.org/0000-0003-1419-2405","type":"Person"}],"date":{"created":"2020-05-06","published":"2020-05-06","updated":"2020-05-06"},"descriptions":[{"description":"Today
      DataCite launches a new API that powers the PID Graph, the graph formed by scholarly
      resources described by persistent identifiers (PIDs) and the connections between
      them. The API is powered by GraphQL, a widely adopted Open Source technology...","type":"Abstract"}],"files":[],"fundingReferences":[{"awardNumber":"777523","awardTitle":"Connected
      Open Identifiers for Discovery, Access and Use of Research Resources","awardUri":"info:eu-repo/grantAgreement/EC/H2020/777523/","funderIdentifier":"https://doi.org/10.13039/501100000780","funderIdentifierType":"Crossref
      Funder ID","funderName":"European Commission"}],"geoLocations":[],"identifiers":[],"language":"en","license":{"id":"CC-BY-4.0","url":"https://creativecommons.org/licenses/by/4.0/legalcode"},"provider":"DataCite","publisher":{"name":"DataCite"},"references":[{"doi":"https://doi.org/10.14454/3bpw-w381","key":"ref2"},{"doi":"https://doi.org/10.5438/qab1-n315","key":"ref3"},{"doi":"https://doi.org/10.5438/hwaw-xe52","key":"ref4"}],"relations":[{"id":"10.5438/0000-00ss","type":"IsPartOf"}],"subjects":[{"subject":"freya"},{"subject":"pid
      graph"},{"subject":"featured"},{"subject":"graphql"},{"subject":"doi"},{"subject":"ror"},{"subject":"orcid"}],"titles":[{"title":"Powering
      the PID Graph: announcing the DataCite GraphQL API"}],"url":"https://datacite.org/blog/powering-the-pid-graph","version":"1.0","created":"2024-04-03
      18:28:38.396Z","updated":"2024-04-03 18:28:38.396Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRNZ8SDEV6WE46A6NFWZ23-arn
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.14454/3bpw-w381/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.14454/3bpw-w381","type":"ComputationalNotebook","additionalType":"Jupyter
      notebook","archiveLocations":[],"contributors":[{"contributorRoles":["Author"],"familyName":"Fenner","givenName":"Martin","id":"https://orcid.org/0000-0003-1419-2405","type":"Person"}],"date":{"created":"2019-06-30","published":"2019-06-30","updated":"2019-06-30"},"descriptions":[],"files":[],"fundingReferences":[{"awardNumber":"777523","awardTitle":"Connected
      Open Identifiers for Discovery, Access and Use of Research Resources","awardUri":"info:eu-repo/grantAgreement/EC/H2020/777523/","funderIdentifier":"https://doi.org/10.13039/501100000780","funderIdentifierType":"Crossref
      Funder ID","funderName":"European Commission"}],"geoLocations":[],"identifiers":[],"license":{"id":"MIT","url":"https://opensource.org/licenses/MIT"},"provider":"DataCite","publisher":{"name":"DataCite"},"references":[],"relations":[],"subjects":[{"subject":"pid
      graph"},{"subject":"graphql"},{"subject":"kpi"},{"subject":"freya"},{"subject":"eosc"},{"subject":"FOS:
      Computer and information sciences","subjectScheme":"Fields of Science and Technology
      (FOS)"}],"titles":[{"title":"Jupyter Notebook FREYA PID Graph Key Performance
      Indicators (KPIs)"}],"url":"https://github.com/datacite/pidgraph-notebooks-r/tree/master/kpi","version":"1.1.0","created":"2024-04-03
      18:28:47.066Z","updated":"2024-04-03 18:28:47.066Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRNZ93SSBX41VA6M1Y8D6Z-arn
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/9j86-bv91/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/9j86-bv91","type":"Article","archiveLocations":[],"container":{"id":"10.5438/0000-00ss","type":"Series"},"contributors":[{"affiliation":[{"name":"DataCite"}],"contributorRoles":["Author"],"familyName":"Buys","givenName":"Matt","id":"https://orcid.org/0000-0001-7234-3684","type":"Person"}],"date":{"created":"2020[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/1dgk-1m22/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/1dgk-1m22","type":"Document","archiveLocations":[],"contributors":[{"affiliation":[{"name":"DataCite"}],"contributorRoles":["Author"],"familyName":"Fenner","givenName":"Martin","id":"https://orcid.org/0000-0003-1419-2405","type":"Person"}],"date":{"created":"2020-07-09","published":"2020-07-09","updated":"2020-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/bckb-qy95/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/bckb-qy95","type":"Document","archiveLocations":[],"contributors":[{"affiliation":[{"name":"DataCite"}],"contributorRoles":["Author"],"familyName":"Dasler","givenName":"Robin","id":"https://orcid.org/0000-0002-4695-7874","type":"Person"}],"date":{"created":"2018-12-18","published":"2018-12-18","updated":"2018-12-18"},"descriptions":[{"description":"First,
      a big pat on the back for last year 2018 saw a lot of changes at DataCite. We
      went from 5 employees to 8, and we released several new things, both visible
      and not-so-visible. Here are the highlights from a product release perspective.
      DOI and...","type":"Abstract"}],"files":[],"fundingReferences":[],"geoLocations":[],"identifiers":[],"provider":"DataCite","publisher":{"name":"DataCite"},"references":[],"relations":[{"id":"10.5438/0000-00ss","type":"IsPartOf"}],"subjects":[{"subject":"datacite"},{"subject":"featured"}],"titles":[{"title":"DataCite
      2018 Wrap-up and 2019 Preview"}],"url":"https://datacite.org/blog/2019-preview","version":"1.0","created":"2024-04-03
      18:29:27.434Z","updated":"2024-04-03 18:29:27.434Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRNZ9JHRBC1M4GKQ3KZMMM-arn
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/s6d3-k860/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.5438/s6d3-k860\",\"type\":\"Document\",\"archiveLocations\":[],\"contributors\":[{\"affiliation\":[{\"name\":\"DataCite\"}],\"contributorRoles\":[\"Author\"],\"familyName\":\"Dasler\",\"givenName\":\"Robin\",\"id\":\"https://orcid.org/0000-0002-4695-7874\",\"type\":\"Person\"},{\"affiliation\":[{\"name\":\"DataCit[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/0014/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.5438/0014\",\"type\":\"Document\",\"additionalType\":\"Documentation\",\"archiveLocations\":[],\"contributors\":[{\"contributorRoles\":[\"Author\"],\"familyName\":\"Group\",\"givenName\":\"DataCite
      Metadata Working\",\"type\":\"Person\"},{\"affiliation\":[{\"name\":\"TU Delft\"}],\"contributorRoles\":[\"ProjectLe[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/n138-z3mk/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/n138-z3mk","type":"Software","additionalType":"SoftwareSourceCode","archiveLocations":[],"contributors":[{"contributorRoles":["Author"],"familyName":"Fenner","givenName":"Martin","id":"https://orcid.org/0000-0003-0077-4738","type":"Person"}],"date":{"created":"2017-02-13","published":"2017-02-25","updated":"2017-02-25"},"descriptions":[{"description":"Ruby
      gem and command-line utility for conversion of DOI metadata from and to different
      metadata formats, including schema.org.","type":"Abstract"}],"files":[],"fundingReferences":[],"geoLocations":[],"identifiers":[],"provider":"DataCite","publisher":{"name":"DataCite"},"references":[],"relations":[],"subjects":[{"subject":"doi"},{"subject":"metadata"},{"subject":"crossref"},{"subject":"datacite"},{"subject":"schema.org"},{"subject":"bibtex"},{"subject":"codemeta"}],"titles":[{"title":"Bolognese:
      a Ruby library for conversion of DOI Metadata"}],"url":"https://github.com/datacite/bolognese","created":"2024-04-03
      17:23:03.120Z","updated":"2024-04-03 17:23:03.120Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRNZ9MM8M4TYXFJ58ATNXS-arn
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/jwvf-8a66/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/jwvf-8a66","type":"Article","archiveLocations":[],"container":{"id":"10.5438/0000-00ss","type":"Series"},"contributors":[{"affiliation":[{"name":"DataCite"}],"contributorRoles":["Author"],"familyName":"Fenner","givenName":"Martin","id":"https://orcid.org/0000-0003-1419-2405","type":"Person"},{"affiliation":[{"na[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5447/ipk/2011/0/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.5447/ipk/2011/0\",\"type\":\"Software\",\"additionalType\":\"source
      code\",\"archiveLocations\":[],\"contributors\":[{\"affiliation\":[{\"name\":\"Leibniz
      Institute of Plant Genetics and Crop Plant Research (IPK), Seeland OT Gatersleben,
      Corrensstra\xDFe 3, 06466, Germany\"}],\"contributorRoles\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/0yk5-b755/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/0yk5-b755","type":"Document","archiveLocations":[],"contributors":[{"affiliation":[{"name":"DataCite"}],"contributorRoles":["Author"],"familyName":"Dasler","givenName":"Robin","id":"https://orcid.org/0000-0002-4695-7874","type":"Person"}],"date":{"created":"2018-05-09","published":"2018-05-09","updated":"2018-05[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5063/schema/codemeta-2.0/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.5063/schema/codemeta-2.0\",\"type\":\"Software\",\"archiveLocations\":[],\"contributors\":[{\"contributorRoles\":[\"Author\"],\"familyName\":\"Jones\",\"givenName\":\"Matthew
      B\",\"type\":\"Person\"},{\"contributorRoles\":[\"Author\"],\"familyName\":\"Boettiger\",\"givenName\":\"Carl\",\"type\":\"P[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/epubs.stfc.ac.uk/work/24058274/transform/application/json
  response:
    content: '{"id":"https://epubs.stfc.ac.uk/work/24058274","type":"Report","archiveLocations":[],"container":{},"contributors":[{"contributorRoles":["Author"],"familyName":"Gent","givenName":"Ian","type":"Person"},{"contributorRoles":["Author"],"familyName":"Jones","givenName":"Catherine","type":"Person"},{"contributorRoles":["Author"],"familyName":"Matthews","givenName":"Brian","type":"Person"}],"date":{"published":"2015"},"descriptions":[],"files":[],"fundingReferences":[],"geoLocations":[],"identifiers":[],"references":[],"relations":[],"subjects":[],"titles":[{"title":"Guidelines
      for persistently identifying software using DataCite"}],"url":"https://epubs.stfc.ac.uk/work/24058274","created":"2024-04-03
      18:29:30.213Z","updated":"2024-04-03 18:29:30.213Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRNZ9SEFBXNH0AMB4AA4W6-arn
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/pre3-2f25/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.5438/pre3-2f25\",\"type\":\"Document\",\"archiveLocations\":[],\"contributors\":[{\"affiliation\":[{\"name\":\"California
      Digital Library\"}],\"contributorRoles\":[\"Author\"],\"familyName\":\"Lowenberg\",\"givenName\":\"Daniella\",\"id\":\"https://orcid.org/0000-0003-2255-1869\",\"type\":\"Person\"},{\"affi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/cxe5-rg55/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/cxe5-rg55","type":"Software","additionalType":"SoftwareSourceCode","archiveLocations":[],"contributors":[{"contributorRoles":["Author"],"familyName":"Fenner","givenName":"Martin","id":"https://orcid.org/0000-0003-0077-4738","type":"Person"}],"date":{"created":"2017-03-18","published":"2018-05-09","updated":"2018-05-09"},"descriptions":[{"description":"The
      web frontend for the DataCite DOI Fabrica service for managing DataCite providers,
      clients, prefixes and DOIs.","type":"Abstract"}],"files":[],"fundingReferences":[],"geoLocations":[],"identifiers":[],"provider":"DataCite","publisher":{"name":"DataCite"},"references":[],"relations":[],"subjects":[{"subject":"Doi
      Registration"},{"subject":"DOI Fabrica"}],"titles":[{"title":"Frontend for the
      DataCite DOI Fabrica service"}],"url":"https://github.com/datacite/bracco","created":"2024-04-03
      18:29:29.658Z","updated":"2024-04-03 18:29:29.658Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRNZ9TPSTR788899K7DF0P-arn
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.53731/r7adm61-97aq74v-ag5kv/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.53731/r7adm61-97aq74v-ag5kv\",\"type\":\"Article\",\"archiveLocations\":null,\"container\":{\"type\":\"Periodical\"},\"contributors\":[{\"id\":\"https://orcid.org/0000-0003-1419-2405\",\"type\":\"Person\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliations\":[{\"id\":\"https://ror.org/04wxnsj81\",\"name\":\"DataCite\"}],\"contributorRoles\":[\"Author\"]}],\"date\":{\"published\":\"2017-04-28\"},\"descriptions\":[{\"description\":\"While
      it is a best practice for DOIs (expressed as URL) to send the user to the landing
      page for that resource (Starr et al., 2015), sometimes we want something else:
      \\u0026lt;strong\\u0026gt; metadata \\u0026lt;/strong\\u0026gt; , e.g. to generate
      a citation, or to go to the \\u0026lt;strong\\u0026gt; content \\u0026lt;/strong\\u0026gt;
      itself. The easiest way to do that is to use DOI content negotiation.\",\"type\":\"Abstract\"}],\"files\":[{\"url\":\"https://blog.front-matter.io/posts/a-content-negotiation-update\",\"mimeType\":\"text/html\"},{\"url\":\"https://api.rogue-scholar.org/posts/10.53731/r7adm61-97aq74v-ag5kv.md\",\"mimeType\":\"text/plain\"},{\"url\":\"https://api.rogue-scholar.org/posts/10.53731/r7adm61-97aq74v-ag5kv.pdf\",\"mimeType\":\"application/pdf\"},{\"url\":\"https://api.rogue-scholar.org/posts/10.53731/r7adm61-97aq74v-ag5kv.epub\",\"mimeType\":\"application/epub+zip\"},{\"url\":\"https://api.rogue-scholar.org/posts/10.53731/r7adm61-97aq74v-ag5kv.xml\",\"mimeType\":\"application/xml\"}],\"fundingReferences\":null,\"geoLocations\":null,\"identifiers\":[{\"identifier\":\"https://doi.org/10.53731/r7adm61-97aq74v-ag5kv\",\"identifierType\":\"DOI\"}],\"license\":{\"id\":\"CC-BY-4.0\",\"url\":\"https://creativecommons.org/licenses/by/4.0/legalcode\"},\"provider\":\"Crossref\",\"publisher\":{\"name\":\"Front
      Matter\"},\"references\":[{\"id\":\"https://doi.org/10.1101/103143\",\"type\":\"Article\",\"archiveLocations\":[],\"container\":{\"type\":\"Periodical\"},\"contributors\":[{\"contributorRoles\":[\"Author\"],\"familyName\":\"Sansone\",\"givenName\":\"Susanna-Assunta\",\"id\":\"https://orcid.org/0000-0001-5306-5690\",\"type\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.48550/arxiv.1501.04916/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.48550/arxiv.1501.04916\",\"type\":\"Article\",\"additionalType\":\"Article\",\"archiveLocations\":[],\"contributors\":[{\"contributorRoles\":[\"Author\"],\"familyName\":\"Asorey\",\"givenName\":\"H.\",\"type\":\"Person\"},{\"contributorRoles\":[\"Author\"],\"familyName\":\"Nunez\",\"givenName\":\"L.
      A.\",\"type\":\"Person\"},{\"contributorRoles\":[\"Author\"],\"familyName\":\"Sarmiento-Cano\",\"givenName\":\"C.\",\"type\":\"Person\"}],\"date\":{\"available\":\"2015-01\",\"published\":\"2015\",\"submitted\":\"2015-01-20T18:50:00Z\",\"updated\":\"2015-01-21T01:14:17Z\"},\"descriptions\":[{\"description\":\"Being
      aware of the motivation problems observed in many scientific oriented careers,
      we present two experiences to expose to college students to environments, methodologies
      and discovery techniques addressing contemporary problems. This experiences
      are developed in two complementary contexts: an Introductory Physics course,
      where we motivated to physics students to participate in research activities,
      and a multidisciplinary hotbed of research oriented to advanced undergraduate
      students of Science and Engineering (that even produced three poster presentations
      in international conferences). Although these are preliminary results and require
      additional editions to get statistical significance, we consider they are encouraging
      results. On both contexts we observe an increase in the students motivation
      to orient their careers with emphasizing on research. In this work, besides
      the contextualization support for these experiences, we describe six specific
      activities to link our students to research areas, which we believe can be replicated
      on similar environments in other educational institutions.\",\"type\":\"Abstract\"},{\"description\":\"First
      Version. Submitted. 26 pages, 3 figures. In spanish\",\"type\":\"Other\"}],\"files\":[],\"fundingReferences\":[],\"geoLocations\":[],\"identifiers\":[{\"alternateIdentifier\":\"1501.04916\",\"alternateIdentifierType\":\"arXiv\"}],\"license\":{\"url\":\"https://arxiv.org/licenses/nonexclusive-distrib/1.0\"},\"provider\":\"DataCite\",\"publisher\":{\"name\":\"arXiv\"},\"references\":[],\"relations\":[],\"subjects\":[{\"lang\":\"en\",\"subject\":\"Physics
      Education (physics.ed-ph)\",\"subjectScheme\":\"arXiv\"},{\"lang\":\"en\",\"subject\":\"Popular
      Physics (physics.pop-ph)\",\"subjectScheme\":\"arXiv\"},{\"lang\":\"en\",\"subject\":\"Physics
      and Society (physics.soc-ph)\",\"subjectScheme\":\"arXiv\"},{\"subject\":\"FOS:
      Physical sciences\",\"subjectScheme\":\"Fields of Science and Technology (FOS)\"},{\"schemeUri\":\"http://www.oecd.org/science/inno/38235147.pdf\",\"subject\":\"FOS:
      Physical sciences\",\"subjectScheme\":\"Fields of Science and Technology (FOS)\"}],\"titles\":[{\"title\":\"Exposici\xF3n
      Temprana de Nativos Digitales en Ambientes, Metodolog\xEDas y T\xE9cnicas de
      Investigaci\xF3n en la Universidad\"}],\"url\":\"https://arxiv.org/abs/1501.04916\",\"version\":\"1\",\"created\":\"2024-04-03
      18:29:34.665Z\",\"updated\":\"2024-04-03 18:29:34.665Z\"}\n"
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRNZBJDJ2XCBWK4K7G5N43-arn
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5281/zenodo.2548643/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5281/zenodo.2548643","type":"Document","additionalType":"Presentation","archiveLocations":[],"container":{"id":"https://zenodo.org/communities/pidapalooza19","type":"Series"},"contributors":[{"affiliation":[{"name":"CERN"}],"contributorRoles":["Author"],"familyName":"Ioannidis","givenName":"Alexandros","id":"https://orcid.org/0000-0002-5082-6404","type":"Person"},{"affiliation":[{"name":"CERN"}],"contributorRoles":["Author"],"familyName":"Gonzalez
      Lopez","givenName":"Jose Benito","id":"https://orcid.org/0000-0002-0816-7126","type":"Person"}],"date":{"published":"2019-01-24"},"descriptions":[{"description":"Asclepias
      is a project between CERN/Zenodo, NASA ADS and AAS to promote scientific software
      into an identifiable, citable, and preservable object. We are focusing upon
      the needs of two of the most important roles researchers play in the scholarly
      ecosystem: authors of scholarly manuscripts and developers of scientific software.
      We are building a technical framework and promoting a set of social practices
      that will help to manage some of the problems associated with software citations,
      which include software versions, release specific authorship, synonymous object
      identifiers, and best practices for journal references markup. Our technical
      solution provides a flexible and reusable service that, as first step, will
      connect Zenodo[1] and ADS[2] systems using the Scholix[3] framework as the interoperability
      communication protocol to share scholarly PID-based links.\u003cbr\u003e\n[1]
      https://zenodo.org\u003cbr\u003e\n[2] https://ui.adsabs.harvard.edu\u003cbr\u003e\n[3]
      http://www.scholix.org","type":"Abstract"}],"files":[],"fundingReferences":[],"geoLocations":[],"identifiers":[],"language":"en","license":{"id":"CC-BY-4.0","url":"https://creativecommons.org/licenses/by/4.0/legalcode"},"provider":"DataCite","publisher":{"name":"Zenodo"},"references":[],"relations":[{"id":"10.5281/zenodo.2548642","type":"IsVersionOf"},{"id":"https://zenodo.org/communities/pidapalooza19","type":"IsPartOf"}],"subjects":[],"titles":[{"title":"Asclepias:
      Flower Power for Software Citation"}],"url":"https://zenodo.org/record/2548643","created":"2024-04-03
      17:23:02.438Z","updated":"2024-04-03 17:23:02.438Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRNZ9M8JG2N11P4JN8SFTV-arn
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.6084/m9.figshare.4490588/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.6084/m9.figshare.4490588","type":"Presentation","archiveLocations":[],"contributors":[{"contributorRoles":["Author"],"familyName":"Boettiger","givenName":"Carl","id":"https://orcid.org/0000-0002-1642-628X","type":"Person"}],"date":{"created":"2016-12-21","published":"2017","updated":"2018-04-26"},"descripti[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.1002/esp.3677/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.1002/esp.3677\",\"type\":\"JournalArticle\",\"archiveLocations\":[],\"container\":{\"firstPage\":\"864\",\"identifier\":\"1096-9837\",\"identifierType\":\"ISSN\",\"issue\":\"7\",\"lastPage\":\"875\",\"title\":\"Earth
      Surface Processes and Landforms\",\"type\":\"Journal\",\"volume\":\"40\"},\"contributors\":[{\"affiliation\":[{\"name\":\"Departamento
      de Petrolog\xEDa y Geoqu\xEDmica Facultad de Ciencias Geol\xF3gicas (UCM)  C/Jos\xE9
      Antonio Novais, 12 28040 Madrid Spain\"}],\"contributorRoles\":[\"Author\"],\"familyName\":\"Sanz\u2010Montero\",\"givenName\":\"M.
      E.\",\"type\":\"Person\"},{\"affiliation\":[{\"name\":\"Departamento de Petrolog\xEDa
      y Geoqu\xEDmica Facultad de Ciencias Geol\xF3gicas (UCM)  C/Jos\xE9 Antonio
      Novais, 12 28040 Madri[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/5aep-2n86/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.5438/5aep-2n86\",\"type\":\"Document\",\"archiveLocations\":[],\"contributors\":[{\"affiliation\":[{\"name\":\"DataCite\"}],\"contributorRoles\":[\"Author\"],\"familyName\":\"Cousijn\",\"givenName\":\"Helena\",\"id\":\"https://orcid.org/0000-0001-6660-6214\",\"type\":\"Person\"},{\"affiliation\":[{\"name\":\"DataC[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/hwaw-xe52/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/hwaw-xe52","type":"Article","archiveLocations":[],"container":{"id":"10.5438/0000-00ss","type":"Series"},"contributors":[{"affiliation":[{"name":"DataCite"}],"contributorRoles":["Author"],"familyName":"Fenner","givenName":"Martin","id":"https://orcid.org/0000-0003-1419-2405","type":"Person"}],"date":{"published"[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/wr0x-e194/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5438/wr0x-e194","type":"Software","additionalType":"SoftwareSourceCode","archiveLocations":[],"contributors":[{"contributorRoles":["Author"],"familyName":"Fenner","givenName":"Martin","id":"https://orcid.org/0000-0003-0077-4738","type":"Person"},{"contributorRoles":["Author"],"familyName":"Katz","givenName":"Daniel
 [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.53731/r79z0kh-97aq74v-ag5hb/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.53731/r79z0kh-97aq74v-ag5hb\",\"type\":\"Article\",\"archiveLocations\":null,\"container\":{\"type\":\"Periodical\"},\"contributors\":[{\"id\":\"https://orcid.org/0000-0003-1419-2405\",\"type\":\"Person\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliations\":[{\"id\":\"https://ror.org/04[...]
- request:
    body: ''
    headers:
[...]
