interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.4.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.metadatagamechangers
  response:
    content: '{"id":"6ac6b508-37c9-4dca-9f49-c36bbe19458a","slug":"metadatagamechangers","feed_url":"https://metadatagamechangers.com/blog?format=rss","current_feed_url":null,"home_page_url":"https://metadatagamechangers.com/blog","archive_prefix":null,"feed_format":"application/rss+xml","created_at":1709154984,"updated_at":1707852638,"mastodon":"","generator":"Squarespace","generator_raw":"Squarespace
      6.0.0","language":"en","category":"earthAndRelatedEnvironmentalSciences","favicon":null,"title":"Blog
      - Metadata Game Changers","description":"<p>Exploring metadata, communities,
      and new ideas. </p>","category":"earthAndRelatedEnvironmentalSciences","status":"active","user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","authors":null,"plan":"Starter","use_api":null,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.metadatagamechangers
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://metadatagamechangers.com/blog?format=json
  response:
    content: '{"website":{"id":"52ffa419e4b05b374032e6d9","identifier":"ted-habermann","websiteType":1,"contentModifiedOn":1706025705354,"cloneable":false,"hasBeenCloneable":false,"siteStatus":{},"language":"en-US","timeZone":"US/Mountain","machineTimeZoneOffset":-25200000,"timeZoneOffset":-25200000,"timeZoneAbbr":"MST","siteTitle":"Metadata
      Game Changers","siteTagLine":"","siteDescription":"<p>I have worked in scientific
      data management for many years and enjoy working with organizations and communities
      that share data and knowledge. I am fluent in metadata standards and dialects
      used in scientific data management and publishing.</p>","location":{"mapZoom":12.0,"mapLat":40.0149856,"mapLng":-105.27054559999999,"markerLat":40.0149856,"markerLng":-105.27054559999999,"addressTitle":"","addressLine1":"","addressLine2":"Boulder,
      CO","addressCountry":"U.S."},"logoImageId":"5e06b72713bb831c9c20c8ab","shareButtonOptions":{"4":true,"1":true},"logoImageUrl":"//images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/1577498408185-9LMHCVUJMNL2UBCIUOB9/Metadata+Game+Changers+Logo-Light.png","authenticUrl":"https://metadatagamechangers.com","internalUrl":"https://ted-habermann.squarespace.com","baseUrl":"https://metadatagamechangers.com","primaryDomain":"metadatagamechangers.com","sslSetting":3,"isHstsEnabled":true,"socialAccounts":[{"serviceId":14,"userId":"xC5r77XdUp","userName":"ted-habermann-141b6764","screenname":"Ted
      Habermann","addedOn":1536012528393,"profileUrl":"https://www.linkedin.com/company/metadata-game-changers/","iconUrl":"https://media.licdn.com/dms/image/C5603AQGElXGrQ9f22A/profile-displayphoto-shrink_100_100/0?e=1541635200&v=beta&t=dfB-_8yqw8v8Y5koN6fORd_xLm1WGZIEAgZMjB6lJTI","iconEnabled":true,"serviceName":"linkedin"}],"typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":false,"screenshotId":"05e4cfdcbe945e3f1248770a58b568b94940edef4623b9380e4a20b03e719a5a","captchaSettings":{"enabledForDonations":false},"showOwnerLogin":false,"siteTitle":"Metadata
      Game Changers"},"websiteSettings":{"id":"52ffa419e4b05b374032e6da","websiteId":"52ffa419e4b05b374032e6d9","type":"Business","subjects":[{"systemSubject":"tech"}],"country":"US","state":"CO","simpleLikingEnabled":true,"mobileInfoBarSettings":{"isContactEmailEnabled":false,"isContactPhoneNumberEnabled":false,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"announcementBarSettings":{"style":1,"text":"","clickthroughUrl":{"url":"https://docs.google.com/forms/d/e/1FAIpQLScVHVCclrr4vjeaCg-fUhx5KUwMpc12UxejQvGPKLaUcYu6tw/viewform","newWindow":true}},"popupOverlaySettings":{"showOnScroll":false,"scrollPercentage":25,"showOnTimer":true,"timerDelay":30000,"showUntilSignup":true,"displayFrequency":30,"enableMobile":true,"enabledPages":[],"showOnAllPages":true,"version":1},"commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","collectionTitleFormat":"%p
      \u2014 %s","itemTitleFormat":"%i \u2014 %s","commentsEnabled":true,"uiComponentRegistrationsFlag":false,"scriptRegistrationsFlag":false,"bundleEligible":false,"businessHours":{"monday":{"text":"","ranges":[{}]},"tuesday":{"text":"","ranges":[{}]},"wednesday":{"text":"","ranges":[{}]},"thursday":{"text":"","ranges":[{}]},"friday":{"text":"","ranges":[{}]},"saturday":{"text":"","ranges":[{}]},"sunday":{"text":"","ranges":[{}]}},"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"currenciesSupported":["CHF","HKD","MXN","EUR","DKK","USD","CAD","MYR","NOK","THB","AUD","SGD","ILS","PLN","GBP","CZK","SEK","NZD","PHP","RUB"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"checkoutPageMarketingOptInEnabled":false,"enableMailingListOptInByDefault":false,"sameAsRetailLocation":false,"merchandisingSettings":{"scarcityEnabledOnProductItems":false,"scarcityEnabledOnProductBlocks":false,"scarcityMessageType":"DEFAULT_SCARCITY_MESSAGE","scarcityThreshold":10,"multipleQuantityAllowedForServices":true,"restockNotificationsEnabled":false,"restockNotificationsSuccessText":"","restockNotificationsMailingListSignUpEnabled":false,"relatedProductsEnabled":false,"relatedProductsOrdering":"random","soldOutVariantsDropdownDisabled":false,"productComposerOptedIn":false,"productComposerABTestOptedOut":false,"productReviewsEnabled":false,"displayImportedProductReviewsEnabled":false,"hasOptedToCollectNativeReviews":false},"isLive":false,"multipleQuantityAllowedForServices":true},"useEscapeKeyToLogin":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled"},"ampEnabled":false,"seoHidden":false,"userAccountsSettings":{"loginAllowed":false,"signupAllowed":false},"businessHours":{"monday":{"text":"","ranges":[{}]},"tuesday":{"text":"","ranges":[{}]},"wednesday":{"text":"","ranges":[{}]},"thursday":{"text":"","ranges":[{}]},"friday":{"text":"","ranges":[{}]},"saturday":{"text":"","ranges":[{}]},"sunday":{"text":"","ranges":[{}]}},"contactEmail":"rehabermann@me.com","contactPhoneNumber":""},"collection":{"id":"52ffb111e4b015113d9dc404","websiteId":"52ffa419e4b05b374032e6d9","mainImageId":"5fe4dc8eba5cdf376564d8c8","mainImage":{"id":"5fe4dc8eba5cdf376564d8c8","recordType":2,"addedOn":1608834190352,"updatedOn":1608834195101,"workflowState":1,"publishOn":1608834190352,"authorId":"52ffa417e4b008058a4648eb","systemDataId":"1608834191729-2F6Z77AVZZWWHQEIMLY9","systemDataVariants":"965x463,100w,300w,500w,750w","systemDataSourceType":"PNG","filename":"TedAtForce2018.png","mediaFocalPoint":{"x":0.5,"y":0.5,"source":3},"colorData":{"topLeftAverage":"59514f","topRightAverage":"e7caad","bottomLeftAverage":"9e7973","bottomRightAverage":"e2c4ae","centerAverage":"e6cfbc","suggestedBgColor":"0e0d0c"},"urlId":"vydynbhkbpan8yyyg84galxmdakoh5","title":"","body":null,"likeCount":0,"commentCount":0,"publicCommentCount":0,"commentState":2,"unsaved":false,"author":{"id":"52ffa417e4b008058a4648eb","displayName":"Ted
      Habermann","firstName":"Ted","lastName":"Habermann","avatarUrl":"https://static1.squarespace.com/static/images/5ec68eabb1e0816611fed76a/300w","websiteUrl":"http://tedhabermann.com","bio":"","avatarAssetUrl":"https://static1.squarespace.com/static/images/5ec68eabb1e0816611fed76a/300w"},"assetUrl":"https://images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/1608834191729-2F6Z77AVZZWWHQEIMLY9/TedAtForce2018.png","contentType":"image/png","pushedServices":{},"pendingPushedServices":{},"recordTypeLabel":"image","originalSize":"965x463"},"backgroundSource":1,"enabled":true,"starred":false,"type":1,"ordering":2,"title":"Blog","navigationTitle":"Blog","urlId":"blog","itemCount":59,"updatedOn":1703534229112,"description":"<p
      class=\"\" style=\"white-space:pre-wrap;\">Exploring metadata, communities,
      and new ideas. </p>","pageSize":20,"folder":false,"dropdown":false,"tags":["ISO","identifiers","Roles","dataPackages","Openscapes","metadata
      improvement","DataCite","ROR","XML","Objects","Identifiers","Dryad","dataFiles"],"categories":["Affiliations","Crossref
      Metadata","DataCite Metadata","Dryad Metadata","Metadata Evaluation","News","The
      Metadata Game","Understanding ISO Metadat","Using ISO Metadata"],"homepage":false,"typeName":"blog","regionName":"default","synchronizing":false,"categoryPagesSeoHidden":false,"tagPagesSeoHidden":false,"fullUrl":"/blog","draft":false,"typeLabel":"blog","passwordProtected":false,"pagePermissionType":1,"title":"Blog","navigationTitle":"Blog"},"shoppingCart":{"websiteId":"52ffa419e4b05b374032e6d9","created":1709156478273,"entries":[],"shippingLocation":{},"taxLineItems":[],"coupons":[],"promoCodes":[],"appliedGiftCards":[],"cartType":1,"validCoupons":[],"invalidCoupons":[],"subtotalCents":0,"taxCents":0,"shippingCostCents":0,"discountCents":0,"giftCardRedemptionTotalCents":0,"grandTotalCents":0,"amountDueCents":0,"totalQuantity":0,"purelyDigital":false,"hasDigital":false,"requiresShipping":false,"shippingOptions":[]},"shareButtons":{"twitter":true,"linkedin":true},"showCart":false,"localizedStrings":{},"userAccountsContext":{"showSignInLink":false},"template":{"mobileStylesEnabled":true},"uiextensions":{"product-badge":"sqs-uiextensions-product-badge","product-body":"sqs-uiextensions-product-body","product-badge-mobile":"sqs-uiextensions-product-badge-mobile","product-body-mobile":"sqs-uiextensions-product-body-mobile","product-collection-item":"sqs-uiextensions-product-collection-item","scripts-enabled":false},"empty":false,"emptyFolder":false,"calendarView":false,"pagination":{"nextPage":true,"nextPageOffset":1641844066301,"nextPageUrl":"/blog?offset=1641844066301","pageSize":20},"items":[{"id":"6589de951ec1d133f779ef2e","collectionId":"52ffb111e4b015113d9dc404","recordType":1,"addedOn":1703610207087,"updatedOn":1703611395057,"starred":false,"passthrough":false,"tags":[],"categories":[],"workflowState":1,"publishOn":1703610207087,"authorId":"52ffa417e4b008058a4648eb","systemDataId":"1703609857434-IXAVFK774UV45N4KTYOV","systemDataVariants":"1920x1080,100w,300w,500w,750w,1000w,1500w","systemDataSourceType":"PNG","filename":"CHORUS_Report_Parameters.png","mediaFocalPoint":{"x":0.5,"y":0.5,"source":3},"colorData":{"topLeftAverage":"ffffff","topRightAverage":"fefdfd","bottomLeftAverage":"ffffff","bottomRightAverage":"ffffff","centerAverage":"f4cfc3","suggestedBgColor":"faefea"},"urlId":"2023/12/25/chorus-data-journeys","title":"CHORUS
      Data Journeys","sourceUrl":"","body":"<div class=\"sqs-layout sqs-grid-12 columns-12\"
      data-layout-label=\"Post Body\" data-type=\"item\" data-updated-on=\"1703534658395\"
      id=\"item-6589de951ec1d133f779ef2e\"><div class=\"row sqs-row\"><div class=\"col
      sqs-col-12 span-12\"><div class=\"sqs-block html-block sqs-block-html\" data-block-type=\"2\"
      data-border-radii=\"&#123;&quot;topLeft&quot;:&#123;&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0&#125;,&quot;topRight&quot;:&#123;&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0&#125;,&quot;bottomLeft&quot;:&#123;&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0&#125;,&quot;bottomRight&quot;:&#123;&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0&#125;&#125;\"
      id=\"block-4d0d36c5315635abda26\"><div class=\"sqs-block-content\">\n\n<div
      class=\"sqs-html-content\">\n  <h2 style=\"white-space:pre-wrap;\">Ted Habermann,
      Metadata Game Changers</h2><h2 style=\"white-space:pre-wrap;\">Jamaica Jones,
      University of Pittsburgh</h2><h2 style=\"white-space:pre-wrap;\">Howard Ratner
      and Tara Packer, CHORUSIntroduction</h2><p class=\"\" style=\"white-space:pre-wrap;\">A
      recent <a href=\"https://metadatagamechangers.com/blog/2023/9/20/informate-metadata-game-changers-and-chorus-collaborate-to-make-the-invisible-visible\"><span
      style=\"text-decora[...]
- request:
    body: '{"authors": [{"name": "Ted Habermann", "url": "https://orcid.org/0000-0003-3585-6733",
      "affiliation": {"name": "Metadata Game Changers", "id": "https://ror.org/05bp8ka05"}}],
      "blog_name": "Blog - Metadata Game Changers", "blog_slug": "metadatagamechangers",
      "content_text": "::: {#item-6589de951ec1d133f779ef2e .sqs-layout .sqs-grid-12
      .columns-12 layout-label=\"Post Body\" data-type=\"item\" updated-on=\"1703534658395\"}\n:::
      {.row .sqs-row}\n::: {.col .sqs-col-12 .span-12}\n::: {#block-4d0d36c5315635abda26
      .sqs-block .html-block .sqs-block-html block-type=\"2\" border-radii=\"{\\\"topLeft\\\":{\\\"unit\\\":\\\"px\\\",\\\"value\\\":0.0},\\\"topRight\\\":{\\\"unit\\\":\\\"px\\\",\\\"value\\\":0.0},\\\"bottomLeft\\\":{\\\"unit\\\":\\\"px\\\",\\\"value\\\":0.0},\\\"bottomRight\\\":{\\\"unit\\\":\\\"px\\\",\\\"value\\\":0.0}}\"}\n:::
      {.sqs-block-content}\n::: {.sqs-html-content}\n## Ted Habermann, Metadata Game
      Changers {#ted-habermann-metadata-game-changers style=\"white-space:pre-wrap;\"}\n\n##
      Jamaica Jones, University of Pittsburgh {#jamaica-jones-university-of-pittsburgh
      style=\"white-space:pre-wrap;\"}\n\n## Howard Ratner and Tara Packer, CHORUSIntroduction
      {#howard-ratner-and-tara-packer-chorusintroduction style=\"white-space:pre-wrap;\[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.4.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.452766ae-c245-459e-80d2-6bc0b81790cf
  response:
    content: "[{\"url\":\"https://metadatagamechangers.com/blog/2023/12/25/chorus-data-journeys\",\"title\":\"CHORUS
      Data Journeys\",\"summary\":\"Ted Habermann, Metadata Game Changers Jamaica
      Jones, University of Pittsburgh Howard Ratner and Tara Packer, CHORUSIntroduction
      A recent blog post described a new partnership between Metadata Game Changers
      and CHORUS aimed at understanding how CHORUS reports can help federal agencies,
      other funders, and other users access and use information from the global research
      infrastructure to understand impact and connections between people,\",\"image\":\"https://images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/1703609857434-IXAVFK774UV45N4KTYOV/CHORUS_Report_Parameters.png\",\"tags\":[],\"language\":\"en\",\"authors\":[{\"url\":
      \"https://orcid.org/0000-0003-3585-6733\", \"name\": \"Ted Habermann\", \"affiliation\":
      {\"id\": \"https://ror.org/05bp8ka05\", \"name\": \"Metadata Game Changers\"}}],\"doi\":\"https://doi.org/10.59350/ksgzn-a6w37\",\"id\":\"452766ae-c245-459e-80d2-6bc0b81790cf\",\"reference\":[],\"updated_at\":1703611395,\"published_at\":1703610207,\"blog_name\":\"Blog
      - Metadata Game Changers\",\"indexed_at\":1709199119,\"indexed\":true,\"images\":[{\"src\":
      \"https://images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/b3b6e9c7-c750-407f-8a25-bdb88cb1a9cf/CHORUSDashboardAndReports.png\",
      \"sizes\": \"(max-width: 640px) 100vw, (max-width: 767px) 100vw, 100vw\", \"width\":
      \"470\", \"height\": \"327\", \"srcset\": \"https://images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/b3b6e9c7-c750-407f-8a25-bdb88cb1a9cf/CHORUSDashboardAndReports.png?format=100w,
      https://images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/b3b6e9c7-c750-407f-8a25-bdb88cb1a9cf/CHORUSDashboardAndReports.png?format=300w,
      https://images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/b3b6e9c7-c750-407f-8a25-bdb88cb1a9cf/CHORUSDashboardAndReports.png?format=500w,
      https://images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/b3b6e9c7-c750-407f-8a25-bdb88cb1a9cf/CHORUSDashboardAndReports.png?format=750w,
      https://images.squarespace-cdn.com/[...]
[...]
