interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.4.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
  response:
    content: '{"id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","slug":"front_matter","feed_url":"https://blog.front-matter.io/atom","current_feed_url":"https://blog.front-matter.io/atom/","home_page_url":"https://blog.front-matter.io","archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","feed_format":"application/atom+xml","created_at":1672561153,"updated_at":1708949311,"mastodon":"https://mozilla.social/@martin","generator":"Ghost","generator_raw":"Ghost
      5.52","language":"en","category":"computerAndInformationSciences","favicon":"https://blog.front-matter.io/favicon.png","title":"Front
      Matter","description":"The Front Matter Blog covers the intersection of science
      and technology since 2007.","category":"computerAndInformationSciences","status":"active","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","authors":[{"url":
      "https://orcid.org/0000-0003-1419-2405", "name": "Martin Fenner"}],"plan":"Personal","use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
      accept-version:
      - v5.0
    method: GET
    uri: https://front-matter.ghost.io/ghost/api/content/posts/?page=3&limit=50&filter=visibility%3Apublic&include=tags%2Cauthors&key=b099ebe9ce894979c77431e6d3
  response:
    content: "{\"posts\":[{\"id\":\"62d42bbd41e317003df48eef\",\"uuid\":\"57cf9b1e-7ca8-4786-9b68-208df684e2b0\",\"title\":\"Introducing
      DataCite JSON\",\"slug\":\"introducing-datacite-json\",\"html\":\"<p>All DataCite
      DOIs have associated metadata, described in the DataCite Metadata Schema Documentation
      (DataCite Metadata Working Group (<a href=\\\"https://blog.datacite.org/introducing-datacite-json/#ref-https://doi.org/10.5438/0014\\\">2017</a>)),
      validated and stored as XML in the DataCite Metadata Store (MDS). These metadata
      are then made available via DataCite APIs and services. For these services XML
      is not always the best format, and we are thus providing the metadata in other
      formats, most notably JSON. The problem with our approach so far has been that
      this JSON was not properly defined, creating overhead and ambiguity both for
      our internal services and for our users. To change this situation, and to make
      it easier to work with metadata for DataCite DOIs, we today are announcing <strong><strong>DataCite
      JSON</strong></strong>.</p><h3 id=\\\"what-is-datacite-json\\\">What is DataCite
      JSON?</h3><p>DataCite JSON represents all metadata elements and attributes available
      in DataCite XML, and can be converted from and to DataCite XML via several DataCite
      services (MDS API, EZ API, DOI Fabrica, Content Negotiation) that internally
      all use the bolognese metadata conversion library (Fenner (<a href=\\\"https://blog.datacite.org/introducing-datacite-json/#ref-https://doi.org/10.5438/n138-z3mk\\\">2017</a>)),
      which also provides a command-line utility. Both our new Elasticsearch Search
      index and the updated JSON REST API (more on those in another blog post) use
      DataCite JSON. The bolognese metadata conversion library uses DataCite JSON
      as the intermediary format, for example when converting BibTeX to schema.org
      JSON-LD or JATS XML.</p><h2 id=\\\"is-datacite-json-different-from-datacite-xml\\\">Is
      DataCite JSON different from DataCite XML?</h2><p>There are minor differences
      between DataCite JSON and DataCite XML, mainly to make working with the metadata
      easier. This includes an <strong><strong>identifiers</strong></strong> object
      that combines the <strong><strong>identifier</strong></strong> and <strong><strong>alternateIdentifier</strong></strong>
      properties, and a <strong><strong>types</strong></str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/0014
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2F0014">https://data.crosscite.org/10.5438%2F0014</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2F0014
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2F0014
  response:
    content: "{\n  \"type\": \"article-journal\",\n  \"id\": \"https://doi.org/10.5438/0014\",\n
      \ \"language\": \"en\",\n  \"author\": [\n    {\n      \"literal\": \"DataCite
      Metadata Working Group\"\n    }\n  ],\n  \"contributor\": [\n    {\n      \"family\":
      \"Smaele\",\n      \"given\": \"Madeleine de\"\n    },\n    {\n      \"family\":
      \"Starr\",\n      \"given\": \"Joan\"\n    },\n    {\n      \"family\": \"Ashton\",\n
      \     \"given\": \"Jan\"\n    },\n    {\n      \"family\": \"Barton\",\n      \"given\":
      \"Amy\"\n    },\n    {\n      \"family\": \"Birt\",\n      \"given\": \"Noris\"\n
      \   },\n    {\n      \"family\": \"Dietiker\",\n      \"given\": \"Stefanie\"\n
      \   },\n    {\n      \"family\": \"Elliot\",\n      \"given\": \"Jannean\"\n
      \   },\n    {\n      \"family\": \"Fenner\",\n      \"given\": \"Martin\"\n
      \   },\n    {\n      \"family\": \"Hugo\",\n      \"given\": \"Wim\"\n    },\n
      \   {\n      \"family\": \"Jakobsson\",\n      \"given\": \"Stefan\"\n    },\n
      \   {\n      \"family\": \"Bernal Marti\u0301nez\",\n      \"given\": \"Isabel\"\n
      \   },\n    {\n      \"family\": \"Ru\u0308cknagel\",\n      \"given\": \"Jessica\"\n
      \   },\n    {\n      \"family\": \"Yahia\",\n      \"given\": \"Mohamed\"\n
      \   },\n    {\n      \"family\": \"Ziedorn\",\n      \"given\": \"Frauke\"\n
      \   },\n    {\n      \"family\": \"Zolly\",\n      \"given\": \"Lisa\"\n    }\n
      \ ],\n  \"issued\": {\n    \"date-parts\": [\n      [\n        2017\n      ]\n
      \   ]\n  },\n  \"abstract\": \"1 Introduction1.1 The DataCite Consortium1.2
      DataCite Community Participation1.3 The Metadata Schema1.4 Version 4.1 Update2
      DataCite Metadata Properties2.1 Overview2.2 Citation2.3 DataCite Properties3
      XML Example4 XML Schema5 Other DataCite ServicesAppendicesAppendix 1: Controlled
      List DefinitionsAppendix 2: Earlier Version Update NotesAppendix 3: Standard
      values for unknown informationAppendix 4: Version 4.1 Changes in support of
      software citationAppendix 5: FORCE11 Software Citation Principles Mapping\",\n
      \ \"container-title\": \"DataCite\",\n  \"DOI\": \"10.5438/0014\",\n  \"publisher\":
      \"DataCite\",\n  \"title\": \"DataCite Metadata Schema Documentation for the
      Publication and Citation of Research Data v4.1\",\n  \"URL\": \"https://schema.datacite.org/meta/kernel-4.1/index.html\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"7bb94f830fce995a5f515c87cfdab70b"
      Status:
      - 200 OK
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/n138-z3mk
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2Fn138-z3mk">https://data.crosscite.org/10.5438%2Fn138-z3mk</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2Fn138-z3mk
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2Fn138-z3mk
  response:
    content: "{\n  \"type\": \"article\",\n  \"id\": \"https://doi.org/10.5438/n138-z3mk\",\n
      \ \"categories\": [\n    \"doi\",\n    \"metadata\",\n    \"crossref\",\n    \"datacite\",\n
      \   \"schema.org\",\n    \"bibtex\",\n    \"codemeta\"\n  ],\n  \"author\":
      [\n    {\n      \"family\": \"Fenner\",\n      \"given\": \"Martin\"\n    }\n
      \ ],\n  \"issued\": {\n    \"date-parts\": [\n      [\n        2017,\n        2,\n
      \       25\n      ]\n    ]\n  },\n  \"abstract\": \"Ruby gem and command-line
      utility for conversion of DOI metadata from and to different metadata formats,
      including schema.org.\",\n  \"DOI\": \"10.5438/N138-Z3MK\",\n  \"publisher\":
      \"DataCite\",\n  \"title\": \"Bolognese: a Ruby library for conversion of DOI
      Metadata\",\n  \"URL\": \"https://github.com/datacite/bolognese\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"dffa1ae1864400440460e7d8fe733b26"
      Status:
      - 200 OK
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.6084/m9.figshare.4490588
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.6084%2Fm9.figshare.4490588">https://data.crosscite.org/10.6084%2Fm9.figshare.4490588</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.6084%2Fm9.figshare.4490588
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.6084%2Fm9.figshare.4490588
  response:
    content: "{\n  \"type\": \"graphic\",\n  \"id\": \"https://doi.org/10.6084/m9.figshare.4490588\",\n
      \ \"categories\": [\n    \"80609 Information Systems Management\",\n    \"FOS:
      Computer and information sciences\",\n    \"FOS: Computer and information sciences\",\n
      \   \"80505 Web Technologies (excl. Web Search)\",\n    \"80612 Interorganisatio[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5281/zenodo.1241346
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5281%2Fzenodo.1241346">https://data.crosscite.org/10.5281%2Fzenodo.1241346</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5281%2Fzenodo.1241346
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5281%2Fzenodo.1241346
  response:
    content: "{\n  \"type\": \"book\",\n  \"id\": \"https://doi.org/10.5281/zenodo.1241346\",\n
      \ \"author\": [\n    {\n      \"family\": \"Boettiger\",\n      \"given\": \"Carl\"\n
      \   },\n    {\n      \"family\": \"Salmon\",\n      \"given\": \"Ma\xEBlle\"\n
      \   },\n    {\n      \"literal\": \"Arfon Smith\"\n    },\n    {\n      \"family\":
      \"Ros[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5447/ipk/2011/0
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5447%2Fipk%2F2011%2F0">https://data.crosscite.org/10.5447%2Fipk%2F2011%2F0</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5447%2Fipk%2F2011%2F0
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5447%2Fipk%2F2011%2F0
  response:
    content: "{\n  \"type\": \"article\",\n  \"id\": \"https://doi.org/10.5447/ipk/2011/0\",\n
      \ \"categories\": [\n    \"bioinformatics\",\n    \"source code\",\n    \"database\",\n
      \   \"LIMS\",\n    \"primary data\"\n  ],\n  \"language\": \"en\",\n  \"author\":
      [\n    {\n      \"family\": \"Colmsee\",\n      \"given\": \"Christian\"\n    },\n
      \ [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/0yk5-b755
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2F0yk5-b755">https://data.crosscite.org/10.5438%2F0yk5-b755</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2F0yk5-b755
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2F0yk5-b755
  response:
    content: "{\n  \"type\": \"post-weblog\",\n  \"id\": \"https://doi.org/10.5438/0yk5-b755\",\n
      \ \"categories\": [\n    \"featured\"\n  ],\n  \"author\": [\n    {\n      \"family\":
      \"Dasler\",\n      \"given\": \"Robin\"\n    }\n  ],\n  \"issued\": {\n    \"date-parts\":
      [\n      [\n        2018,\n        5,\n        9\n      ]\n    ]\n  },\n  \"abstract\":
      \"The DataCite team is pleased to announce the release of DOI Fabrica 1.0! DataCite
      Providers and Clients can check it out at [https://doi.datacite.org]. DOI Fabrica
      is the new web interface for DataCite DOI registration services. With DOI Fabrica,
      you...\",\n  \"DOI\": \"10.5438/0YK5-B755\",\n  \"publisher\": \"DataCite\",\n
      \ \"title\": \"DOI Fabrica 1.0 is Here!\",\n  \"URL\": \"https://datacite.org/blog/fabrica-1-release/\",\n
      \ \"version\": \"1.0\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"01fb1a2af23b4401761ae353304f2492"
      Status:
      - 200 OK
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/cxe5-rg55
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2Fcxe5-rg55">https://data.crosscite.org/10.5438%2Fcxe5-rg55</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2Fcxe5-rg55
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2Fcxe5-rg55
  response:
    content: "{\n  \"type\": \"article\",\n  \"id\": \"https://doi.org/10.5438/cxe5-rg55\",\n
      \ \"categories\": [\n    \"Doi Registration\",\n    \"DOI Fabrica\"\n  ],\n
      \ \"author\": [\n    {\n      \"family\": \"Fenner\",\n      \"given\": \"Martin\"\n
      \   }\n  ],\n  \"issued\": {\n    \"date-parts\": [\n      [\n        2018,\n
      \       5,\n        9\n      ]\n    ]\n  },\n  \"abstract\": \"The web frontend
      for the DataCite DOI Fabrica service for managing DataCite providers, clients,
      prefixes and DOIs.\",\n  \"DOI\": \"10.5438/CXE5-RG55\",\n  \"publisher\": \"DataCite\",\n
      \ \"title\": \"Frontend for the DataCite DOI Fabrica service\",\n  \"URL\":
      \"https://github.com/datacite/bracco\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"c23c98980c3f25f808916330b2d26526"
      Status:
      - 200 OK
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/wr0x-e194
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2Fwr0x-e194">https://data.crosscite.org/10.5438%2Fwr0x-e194</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2Fwr0x-e194
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2Fwr0x-e194
  response:
    content: "{\n  \"type\": \"article\",\n  \"id\": \"https://doi.org/10.5438/wr0x-e194\",\n
      \ \"categories\": [\n    \"doi\",\n    \"software\",\n    \"codemeta\"\n  ],\n
      \ \"author\": [\n    {\n      \"family\": \"Fenner\",\n      \"given\": \"Martin\"\n
      \   },\n    {\n      \"family\": \"Katz\",\n      \"given\": \"Daniel S.\"\n
      \   },\n    {\n      \"family\": \"Smith\",\n      \"given\": \"Arfon\"\n    },\n
      \   {\n      \"family\": \"Nielsen\",\n      \"given\": \"Lars Holm\"\n    }\n
      \ ],\n  \"issued\": {\n    \"date-parts\": [\n      [\n        2018,\n        5,\n
      \       17\n      ]\n    ]\n  },\n  \"abstract\": \"Analysis of DataCite DOIs
      registered for software, broken down by repository and over time.\",\n  \"DOI\":
      \"10.5438/WR0X-E194\",\n  \"publisher\": \"DataCite\",\n  \"title\": \"DOI Registrations
      for Software\",\n  \"URL\": \"https://github.com/datacite/metadata-reports/blob/master/software/index.md\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"41e9690dbc588030eef028a106cdb993"
      Status:
      - 200 OK
    status_code: 200
- request:
    body: ''
    headers:
    method: HEAD
    uri: https://epubs.stfc.ac.uk/work/24058274
  response:
    content: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Last-Modified:
      - Fri, 01 Mar 2024 07:18:02 GMT
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.2218/ijdc.v11i2.422
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.2218%2Fijdc.v11i2.422/transform">https://api.crossref.org/v1/works/10.2218%2Fijdc.v11i2.422/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.2218%2Fijdc.v11i2.422/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.2218%2Fijdc.v11i2.422/transform
  response:
    content: '{"indexed":{"date-parts":[[2024,2,19]],"date-time":"2024-02-19T09:43:35Z","timestamp":1708335815705},"reference-count":0,"publisher":"Edinburgh
      University Library","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:p>Software
      underpins the academic research process across disciplines. To be able to understand,
      use\/reuse and preserve data, the software code that generated, analysed or
      presented the data will need to be retained and executed. An important part
      of this process is being able to persistently identify the software concerned.
      This paper discusses the reasons for doing so and introduces a model of software
      entities to enable better identification of what is being identified. The DataCite
      metadata schema provides a persistent identification scheme and we consider
      how this scheme can be applied to software. We then explore examples of persistent
      identification and reuse. The examples show the differences and similarities
      of software used in academic research, which has been written and reused at
      different scales. The key concepts of being able to identify what precisely
      is being used and provide a mechanism for appropriate credit are important to
      both of them.\u00c2\u00a0\u00c2\u00a0<\/jats:p>","DOI":"10.2218\/ijdc.v11i2.422","type":"journal-article","created":{"date-parts":[[2017,1,25]],"date-time":"2017-01-25T22:50:36Z","timestamp":1485384636000},"page":"104-114","source":"Crossref","is-referenced-by-count":1,"title":"Persistent
      Identification and Citation of Software","prefix":"10.2218","volume":"11","author":[{"given":"Catherine
      Mary","family":"Jones","sequence":"first","affiliation":[]},{"given":"Brian","family":"Matthews","sequence":"additional","affiliation":[]},{"given":"Ian","family":"Gent","sequence":"additional","affiliation":[]},{"given":"Tom","family":"Griffin","sequence":"additional","affiliation":[]},{"given":"Jonathan","family":"Tedds","sequence":"additional","affiliation":[]}],"member":"5235","published-online":{"date-parts":[[2017,7,4]]},"container-title":"International
      Journal of Digital Curation","original-title":[],"link":[{"URL":"http:\/\/ijdc.net\/article\/download\/11.2.104\/459","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/ijdc.net\/article\/download\/11.2.104\/459","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,11,28]],"date-time":"2023-11-28T16:16:35Z","timestamp":1701188195000},"score":1,"resource":{"primary":{"URL":"http:\/\/ijdc.net\/article\/view\/11.2.104"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2017,7,4]]},"references-count":0,"journal-issue":{"issue":"2","published-online":{"date-parts":[[2017,7,4]]}},"URL":"http:\/\/dx.doi.org\/10.2218\/ijdc.v11i2.422","relation":{},"ISSN":["1746-8256"],"subject":["General
      Earth and Planetary Sciences","General Environmental Science"],"container-title-short":"IJDC","published":{"date-parts":[[2017,7,4]]}}'
    headers:
      content-type:
      - application/vnd.citationstyles.csl+json
      link:
      - <http://dx.doi.org/10.2218/ijdc.v11i2.422>; rel="canonical", <http://ijdc.net/article/download/11.2.104/459>;
        version="vor"; type="application/pdf"; rel="item", <http://ijdc.net/article/download/11.2.104/459>;
        version="vor"; rel="item"
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5063/schema/codemeta-2.0
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5063%2Fschema%2Fcodemeta-2.0">https://data.crosscite.org/10.5063%2Fschema%2Fcodemeta-2.0</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5063%2Fschema%2Fcodemeta-2.0
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5063%2Fschema%2Fcodemeta-2.0
  response:
    content: "{\n  \"type\": \"article\",\n  \"id\": \"https://doi.org/10.5063/schema/codemeta-2.0\",\n
      \ \"author\": [\n    {\n      \"family\": \"Jones\",\n      \"given\": \"Matthew
      B\"\n    },\n    {\n      \"family\": \"Boettiger\",\n      \"given\": \"Carl\"\n
      \   },\n    {\n      \"family\": \"Mayes\",\n      \"given\": \"Abby Cabunoc\"\n
 [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.7717/peerj-cs.86
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.7717%2Fpeerj-cs.86/transform">https://api.crossref.org/v1/works/10.7717%2Fpeerj-cs.86/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.7717%2Fpeerj-cs.86/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.7717%2Fpeerj-cs.86/transform
  response:
    content: '{"indexed":{"date-parts":[[2024,2,22]],"date-time":"2024-02-22T19:28:57Z","timestamp":1708630137157},"reference-count":47,"publisher":"PeerJ","license":[{"start":{"date-parts":[[2016,9,19]],"date-time":"2016-09-19T00:00:00Z","timestamp":1474243200000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"name":"NSF","award":["ACI-1535065"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:p>Software
      is a critical part of modern research and yet there is little support across
      the scholarly ecosystem for its acknowledgement and citation. Inspired by the
      activities of the FORCE11 working group focused on data citation, this document
      summarizes the recommendations of the FORCE11 Software Citation Working Group
      and its activities between June 2015 and April 20[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/nzhx-xx96
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2Fnzhx-xx96">https://data.crosscite.org/10.5438%2Fnzhx-xx96</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2Fnzhx-xx96
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2Fnzhx-xx96
  response:
    content: "{\n  \"type\": \"post-weblog\",\n  \"id\": \"https://doi.org/10.5438/nzhx-xx96\",\n
      \ \"categories\": [\n    \"metadata\",\n    \"software\"\n  ],\n  \"author\":
      [\n    {\n      \"family\": \"Starr\",\n      \"given\": \"Joan\"\n    }\n  ],\n
      \ \"issued\": {\n    \"date-parts\": [\n      [\n        2017,\n        10,\n
      \       23\n      ]\n    ]\n  },\n  \"abstract\": \"The DataCite Metadata Schema
      4.1 has been released today. If the 4.1 release has a theme, it is support for
      software citation. The DataCite Metadata Working Group addressed this topic
      in response to increasing interest within the community, including...\",\n  \"DOI\":
      \"10.5438/NZHX-XX96\",\n  \"publisher\": \"DataCite\",\n  \"title\": \"New DataCite
      Metadata Updates Support Software Citation\",\n  \"URL\": \"https://datacite.org/blog/metadata-schema-4-1/\",\n
      \ \"version\": \"1.0\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"48752d2f538a41ccf4ea8136cb081437"
      Status:
      - 200 OK
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/t1jg-hvhn
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2Ft1jg-hvhn">https://data.crosscite.org/10.5438%2Ft1jg-hvhn</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2Ft1jg-hvhn
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2Ft1jg-hvhn
  response:
    content: "{\n  \"type\": \"article\",\n  \"id\": \"https://doi.org/10.5438/t1jg-hvhn\",\n
      \ \"categories\": [\n    \"doi\",\n    \"metadata\",\n    \"crossref\",\n    \"datacite\",\n
      \   \"schema.org\",\n    \"bibtex\",\n    \"codemeta\",\n    \"content negotiation\"\n
      \ ],\n  \"author\": [\n    {\n      \"family\": \"Fenner\",\n      \"given\":
      \"Martin\"\n    }\n  ],\n  \"issued\": {\n    \"date-parts\": [\n      [\n        2017,\n
      \       4,\n        28\n      ]\n    ]\n  },\n  \"abstract\": \"An API for DOI
      content negotiation. Also available as Docker container.\",\n  \"DOI\": \"10.5438/T1JG-HVHN\",\n
      \ \"publisher\": \"DataCite\",\n  \"title\": \"Content-Negotation: an API for
      DOI content negotiation\",\n  \"URL\": \"https://github.com/crosscite/content-negotiation\",\n
      \ \"copyright\": \"MIT License\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"95713dd058abd97937238b7bfdb7f991"
      Status:
      - 200 OK
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.1101%2F103143/transform
  response:
    content: '{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2024,2,7]],"date-time":"2024-02-07T10:51:46Z","timestamp":1707303106595},"posted":{"date-parts":[[2017,1,25]]},"group-title":"Bioinformatics","reference-count":0,"publisher":"Cold
      Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"accepted":{"date-parts":[[2017,1,25]]},"abstract":"<jats:p>Today''s
      science increasingly requires effective ways to find and access existing datasets
      that are distributed across a range of repositories. For researchers in the
      life sciences, discoverability of datasets may soon become as essential as identifying
      the latest publications via PubMed. Through an international collaborative effort
      funded by the National Institutes of Health (NIH)''s Big Data to Knowledge (BD2K)
   [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/0000-00ss
  response:
    content: '<html><head><title>Handle Redirect</title></head>

[...]
