interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
  response:
    content: '{"id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","slug":"front_matter","feed_url":"https://blog.front-matter.io/atom","current_feed_url":"https://blog.front-matter.io/atom/","home_page_url":"https://blog.front-matter.io","archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","feed_format":"application/atom+xml","created_at":1672561153,"updated_at":1707416598,"mastodon":"https://mozilla.social/@martin","generator":"Ghost","generator_raw":"Ghost
      5.52","language":"en","category":"computerAndInformationSciences","favicon":"https://blog.front-matter.io/favicon.png","title":"Front
      Matter","description":"The Front Matter Blog covers the intersection of science
      and technology since 2007.","category":"computerAndInformationSciences","status":"active","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
      accept-version:
      - v5.0
    method: GET
    uri: https://front-matter.ghost.io/ghost/api/content/posts/?page=1&limit=50&filter=visibility%3Apublic&include=tags%2Cauthors&key=b099ebe9ce894979c77431e6d3
  response:
    content: "{\"posts\":[{\"id\":\"65c4809686e93a00017b47f7\",\"uuid\":\"0d29e6dc-84c7-4044-972a-b499bc173f7d\",\"title\":\"Introducing
      the Rogue Scholar Advisory Board\",\"slug\":\"rogue-scholar-has-an-advisory-board\",\"html\":\"<p>In
      January 2024 the new <a href=\\\"https://rogue-scholar.org/board\\\" rel=\\\"noreferrer\\\">Rogue
      Scholar Advisory Board </a>had its first meeting. It consists of six people
      with diverse expertise in scholarly blogging. Advisory Board members come from
      different scholarly disciplines and geographic regions, write in several languages
      besides English, and have different levels of technical expertise. </p><p>The
      Advisory Board will guide the overall direction of Rogue Scholar, looking at
      governance, feature development, and outreach activities. The Advisory Board
      will meet virtually twice a year and publish a public summary report (where
      this is the first one).</p><h3 id=\\\"vision-and-mission\\\">Vision and Mission</h3><p>One
      important discussion at the initial Advisory Board meeting was about starting
      to clarify the vision and mission for Rogue Scholar. This includes short-term
      but also long-term goals beyond the next six months, for example, more work
      on clarifying what kind of organizations and blog content Rogue Scholar should
      aim to attract, and how the service should be positioned in relation to other
      scholarly outpu[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.24343/c34w2h
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.24343%2Fc34w2h">https://data.crosscite.org/10.24343%2Fc34w2h</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.24343%2Fc34w2h
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5281/zenodo.8340374
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5281%2Fzenodo.8340374">https://data.crosscite.org/10.5281%2Fzenodo.8340374</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5281%2Fzenodo.8340374
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/f1mhr-wps22
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Ff1mhr-wps22/transform">https://api.crossref.org/v1/works/10.53731%2Ff1mhr-wps22/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Ff1mhr-wps22/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/jvkk-8198
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2Fjvkk-8198">https://data.crosscite.org/10.5438%2Fjvkk-8198</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2Fjvkk-8198
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/sgavn-wr288
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fsgavn-wr288/transform">https://api.crossref.org/v1/works/10.53731%2Fsgavn-wr288/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fsgavn-wr288/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/1dfxr-hs665
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform">https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform
    status_code: 302
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/5vvnh-tnm55
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform">https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/ch2e1-1cm64
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform">https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/fy5gh-g0w69
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform">https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/9cdnt-2k006
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2F9cdnt-2k006/transform">https://api.crossref.org/v1/works/10.53731%2F9cdnt-2k006/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F9cdnt-2k006/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/hhtx0-wb293
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fhhtx0-wb293/transform">https://api.crossref.org/v1/works/10.53731%2Fhhtx0-wb293/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fhhtx0-wb293/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/mh9a1-dw902
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fmh9a1-dw902/transform">https://api.crossref.org/v1/works/10.53731%2Fmh9a1-dw902/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fmh9a1-dw902/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/ar11b-5ea39
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Far11b-5ea39/transform">https://api.crossref.org/v1/works/10.53731%2Far11b-5ea39/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Far11b-5ea39/transform
    status_code: 302
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.1038/d41586-023-02554-0
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.1038%2Fd41586-023-02554-0/transform">https://api.crossref.org/v1/works/10.1038%2Fd41586-023-02554-0/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1038%2Fd41586-023-02554-0/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.1038/s41597-019-0031-8
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.1038%2Fs41597-019-0031-8/transform">https://api.crossref.org/v1/works/10.1038%2Fs41597-019-0031-8/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1038%2Fs41597-019-0031-8/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.59350/e346f-2jg53
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.59350%2Fe346f-2jg53/transform">https://api.crossref.org/v1/works/10.59350%2Fe346f-2jg53/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.59350%2Fe346f-2jg53/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/gvb08-7kc16
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fgvb08-7kc16/transform">https://api.crossref.org/v1/works/10.53731%2Fgvb08-7kc16/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fgvb08-7kc16/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/xszpd-6z265
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform">https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform
    status_code: 302
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.7717/peerj-cs.86
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.7717%2Fpeerj-cs.86/transform">https://api.crossref.org/v1/works/10.7717%2Fpeerj-cs.86/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.7717%2Fpeerj-cs.86/transform
    status_code: 302
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/c09py-3we11
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fc09py-3we11/transform">https://api.crossref.org/v1/works/10.53731%2Fc09py-3we11/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fc09py-3we11/transform
    status_code: 302
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/z9v2s-bh329
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fz9v2s-bh329/transform">https://api.crossref.org/v1/works/10.53731%2Fz9v2s-bh329/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fz9v2s-bh329/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/80awr-zcc48
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2F80awr-zcc48/transform">https://api.crossref.org/v1/works/10.53731%2F80awr-zcc48/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F80awr-zcc48/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.54900/bj4g7p2-2f0fn9b
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.54900%2Fbj4g7p2-2f0fn9b/transform">https://api.crossref.org/v1/works/10.54900%2Fbj4g7p2-2f0fn9b/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.54900%2Fbj4g7p2-2f0fn9b/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/m9fs5-nap05
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fm9fs5-nap05/transform">https://api.crossref.org/v1/works/10.53731%2Fm9fs5-nap05/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fm9fs5-nap05/transform
    status_code: 302
- request:
    body: '{"authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
      "blog_name": "Front Matter", "blog_slug": "front_matter", "content_text": "In
      January 2024 the new [Rogue Scholar Advisory\nBoard](https://rogue-scholar.org/board){rel=\"noreferrer\"}
      had its first\nmeeting. It consists of six people with diverse expertise in
      scholarly\nblogging. Advisory Board members come from different scholarly\ndisciplines
      and geographic regions, write in several languages besides\nEnglish, and have
      different levels of technical expertise.\n\nThe Advisory Board will guide the
      overall direction of Rogue Scholar[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.767fa1b5-2d1b-4f73-bf8a-0f4f2fa1254f
  response:
    content: '[{"url":"https://blog.front-matter.io/posts/rogue-scholar-has-an-advisory-board","title":"Introducing
      the Rogue Scholar Advisory Board","summary":"In January 2024 the new Rogue Scholar
      Advisory Board had its first meeting. It consists of six people with diverse
      expertise in scholarly blogging. Advisory Board members come from different
      scholarly disciplines and geographic regions, write in several languages besides
      English, and have different levels of technical expertise.","image":"https://blog.front-matter.io/content/images/2024/02/photo-1579052511406-ebe4c90f299f.jpeg","tags":["News","Rogue
      Scholar"],"language":"en","authors":[{"url": "https://orcid.org/0000-0003-1419-2405",
      "name": "Martin Fenner"}],"doi":"https://doi.org/10.53731/9yf86-p8541","id":"767fa1b5-2d1b-4f73-bf8a-0f4f2fa1254f","reference":[],"updated_at":1707416598,"published_at":1707382841,"blog_name":"Front
      Matter","indexed_at":1707417404,"indexed":true,"images":[],"blog_slug":"front_matter","content_text":"In
      January 2024 the new [Rogue Scholar Advisory\nBoard](https://rogue-scholar.org/board){rel=\"noreferrer\"}
      had its first\nmeeting. It consists of six people with diverse expertise in
      scholarly\nblogging. Advisory Board members come from different scholarly\ndisciplines
      and geographic regions, write in several languages besides\nEnglish, and have
      different levels of technical expertise.\n\nThe Advisory Board will guide [...]
[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.38a8650b-f7b9-4cce-a0f8-8715f3f629f1
  response:
    content: '[{"url":"https://blog.front-matter.io/posts/new-version-commonmeta-py","title":"New
      version of commonmeta-py library for scholarly metadata","summary":"Yesterday
      I released version 0.13 of the commonmeta-py library on PyPi. The major new
      feature is a command-line interface for all metadata conversions, and the metadata
      validation with the Commonmeta JSON Schema has finally been fixed. The command-line
      interface takes any supported persistent identifier or file as input, and returns
      the metadata in the desired format as output.","image":"https://blog.front-matter.io/content/images/2024/02/14720302426_08d128a3c4_c.jpg","tags":["News"],"language":"en","authors":[{"url":
      "https://orcid.org/0000-0003-1419-2405", "name": "Martin Fenner"}],"doi":"https://doi.org/10.53731/918y1-v4d08","id":"38a8650b-f7b9-4cce-a0f8-8715f3f629f1","reference":[],"updated_at":1707152841,"published_at":1707152841,"blog_name":"Front
      Matter","indexed_at":1707153296,"indexed":true,"images":[{"src": "https://blog.front-matter.io/content/images/2024/02/Bildschirmfoto-2024-02-05-um-17.41.16.png",
      "sizes": "(min-width: 720px) 720px", "width": "1368", "height": "1020", "srcset":
      "https://blog.front-matter.io/content/images/size/w600/2024/02/Bildschirmfoto-2024-02-05-um-17.41.16.png,
      https://blog.front-matter.io/content/images/size/w1000/2024/02/Bildschirmfoto-2024-02-05-um-17.41.16.png,
      https://blog.front-matter.io/content/images/2024/02/Bildschirmfoto-2024-02-05-um-17.41.16.png"},
      {"src": "https://blog.front-matter.io/content/images/2024/02/Bildschirmfoto-2024-02-05-um-17.43.54.png",
      "sizes": "(min-width: 720px) 720px", "width": "1102", "[...]
[...]
- request:
    body: '{"authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
      "blog_name": "Front Matter", "blog_slug": "front_matter", "content_text": "Last
      week [I reported a small\nchange](https://doi.org/10.53731/sgavn-wr288){rel=\"noreferrer\"}
      to the\nRogue Scholar science blog submission form. By asking for the homepage\nURL
      of the blog instead of the feed URL, I hope to make it easier for\nusers to
      register their blog. At the same time, I fixed a bug in the\nsubmission form,
      caused by an issue with the database backend.\n\nUnfortunately, that bug fix
      didn\\''t work as expected. There were again\nissues with submitting new blogs,
      or with updating the information in\nthe form. As a quick fix, I have now disabled
      the automated background\nprocess that automatically syncs the database record
      to the search\nindex. And the submission form now contains an email link at
      the bottom\nfor users who run into problems or have questions:\n\n<figure class=\"kg-card
      kg-image-card\">\n<img\nsrc=\"https://blog.front-matter.io/content/images/2024/01/Bildschirmfoto-2024-01-25-um-16.45.55.png\"\nclass=\"kg-image\"
      loading=\"lazy\"\nsrcset=\"https://blog.front-matter.io/content/images/size/w600/2024/01/Bildschirmfoto-2024-01-25-um-16.45.55.png
      600w, https://blog.front-matter.io/content/images/size/w1000/2024/01/Bildschirmfoto-2024-01-25-um-16.45.55.png
      1000w, https://blog.front-matter.io/content/images/2024/01/Bildschirmfot[...]
[...]
- request:
    body: '{"authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
      "blog_name": "Front Matter", "blog_slug": "front_matter", "content_text": "Blogs
      participating in the Rogue Scholar science blog archive are [now\narchived in
      the Internet\nArchive](https://doi.org/10.53731/hhtx0-wb293){rel=\"noreferrer\"}.\nStarting
      November 1st, Rogue Scholar is participating in the Internet\nArchive Archive-It
      service and all archived blogs can be found\n[here](https://archive-it.org/home/rogue-scholar){rel=\"noreferrer\"}.\nArchiving
      of all blog posts, associated HTML pages, and media will\nautomatically happen
      every six months, with the first round of archiving\nwell underway.\n\n<figure
      class=\"kg-card kg-image-card kg-card-hascaption\">\n<img\nsrc=\"https://blog.front-matter.io/content/images/2023/11/Bildschirmfoto-2023-11-09-um-17.35.59.png\"\nclass=\"kg-image\"
      loading=\"lazy\"\nsrcset=\"https://blog.front-matter.io/content/images/size/w600/2023/11/Bildschirmfoto-2023-11-09-um-17.35.59.png
      600w, https://blog.front-matter.io/content/images/size/w1000/2023/11/Bildschirmfoto-2023-11-09-um-17.35.59.png
      1000w, https://blog.front-matter.io/content/images/2023/11/Bildschirmfoto-2023-11-09-um-17.35.59.png
      1304w\"\nsizes=\"(min-width: 720px) 720px\" width=\"1304\" height=\"1124\" />\n<figcaption><span
      style=\"white-space: pre-wrap;\">Rogue Scholar science\nblog archived via the
      Internet Archive Archive-It\nservice</span></figcaption>\n</figure>\n\nThe URLs
      of the archived blog posts are stored in the Rogue Scholar\nservice and made
      available via the [Rogue Scholar\nAPI](https://api.rogue-scholar.org/posts){rel=\"noreferrer\"}.
      If a blog\nis no longer available via the public internet, Rogue Scholar can
      update\nthe DOI metadata to point to the archived[...]
[...]
