interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.tarleb
  response:
    content: '{"id":"7gyq558","slug":"tarleb","feed_url":"https://tarleb.com/index.xml","current_feed_url":null,"home_page_url":"https://tarleb.com/index.html","archive_prefix":"https://wayback.archive-it.org/22161/20231101171515/","feed_format":"application/rss+xml","created_at":1681948800,"updated_at":1679616000,"use_mastodon":false,"generator":"Quarto","generator_raw":"Quarto
      1.2.475","language":"en","category":"computerAndInformationSciences","favicon":null,"title":"tarleb","description":"tarleb''s
      blog","category":"computerAndInformationSciences","status":"active","user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","authors":null,"plan":"Starter","use_api":null,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.tarleb
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: https://tarleb.com/index.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss  xmlns:atom=\"http://www.w3.org/2005/Atom\"
        \n      xmlns:media=\"http://search.yahoo.com/mrss/\" \n      xmlns:content=\"http://purl.org/rss/1.0/modules/content/\"
        \n      xmlns:dc=\"http://purl.org/dc/elements/1.1/\" \n      version=\"2.0\">\n<channel>\n<title>tarleb</title>\n<link>https://tarleb.com/index.html</link>\n<atom:link
        href=\"https://tarleb.com/index.xml\" rel=\"self\" type=\"application/rss+xml\"/>\n<description>tarleb&#39;s
        blog</description>\n<generator>quarto-1.2.475</generator>\n<lastBuildDate>Fri,
        24 Mar 2023 00:00:00 GMT</lastBuildDate>\n<item>\n  <title>Typst Musings</title>\n
        \ <dc:creator>Albert Krewinkel</dc:creator>\n  <link>https://tarleb.com/posts/typst-musings/index.html</link>\n
        \ <description><![CDATA[ \n\n\n\n<p><a href=\"https://typst.app\">Typst</a>,
        the new writing tool, was open sourced a couple of days ago. This is right
        up my alley of course, and I have a couple of thoughts on it, which I share
        here.</p>\n<section id=\"what-is-it\" class=\"level2\">\n<h2 class=\"anchored\"
        data-anchor-id=\"what-is-it\">What is it?</h2>\n<p>Typst is a writing tool
        that\u2019s described as a LaTeX alternative: it takes plain-text markup as
        input and can produce nice looking PDFs from that. The open-sourcing of the
        code created a lot of excitement and interest, with the <a href=\"https://github.com/typst/typst\">GitHub
        repository</a> getting starred over 9,000 times in just a few days.</p>\n<p>The
        tool comes with fresh and interesting ideas, impressive technology, and a
        good bit of hype\u2014so let\u2019s take a closer look.</p>\n</section>\n<section
        id=\"how-does-it-work\" class=\"level2\">\n<h2 class=\"anchored\" data-anchor-id=\"how-does-it-work\">How
        does it work?</h2>\n<p>Typst is written in <a href=\"https://www.rust-lang.org/\">Rust</a>,
        a comparatively low-level programming language that fixes many shortcomings
        of other languages operating in the same domain. One interesting feature of
        Rust that Typst makes use of is compilation to web assembly, which allows
        us to run Rust programs in the browser. This is how Typst can do the blazing
        fast PDF generation <em>in the browser!</em></p>\n<p>Of course this only works
        if it is Rust all the way down, which has important consequences. My first
        thought when I looked at the code was that it suffered from some serious <a
        href=\"https://en.wikipedia.org/wiki/Not_invented_here\">nih</a> syndrome:
        basically the whole stack is built on libraries written by the Typst team,
        even when high-qualitify open source libraries were available and could have
        been used with Rust[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "[Typst](https://typst.app), the new writing tool,
      was open sourced a\ncouple of days ago. This is right up my alley of course,
      and I have a\ncouple of thoughts on it, which I share here.\n\n::: {#what-is-it
      .section .level2}\n## What is it? {#what-is-it .anchored anchor-id=\"what-is-it\"}\n\nTypst
      is a writing tool that''s described as a LaTeX alternative: it\ntakes plain-text
      markup as input and can produce nice looking PDFs from\nthat. The open-sourcing
      of[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.b98948a9-9fcf-4580-a446-7354f2c7e6cd
  response:
    content: "[{\"url\":\"https://tarleb.com/posts/typst-musings\",\"title\":\"Typst
      Musings\",\"summary\":\"Typst, the new writing tool, was open sourced a couple
      of days ago. This is right up my alley of course, and I have a couple of thoughts
      on it, which I share here. What is it?   Typst is a writing tool that\u2019s
      described as a LaTeX alternative: it takes plain-text markup as input and can
      produce nice looking PDFs from that.\\n\",\"image\":null,\"tags\":[\"PDF\"],\"language\":\"en\",\"authors\":[{\"name\":
      \"Albert Krewinkel\"}],\"doi\":\"https://doi.org/10.59350/y2akn-caz06\",\"id\":\"b98948a9-9fcf-4580-a446-7354f2c7e6cd\",\"reference\":[],\"updated_at\":1679616000,\"published_at\":1679616000,\"blog_name\":\"tarleb\",\"indexed_at\":1700475385,\"indexed\":true,\"images\":[],\"blog_slug\":\"tarleb\",\"content_text\":\"[Typst](https://typst.app),
      the new writing tool, was open sourced a\\ncouple of days ago. This is right
      up my alley of course, and I have a\\ncouple of thoughts on it, which I share
      here.\\n\\n::: {#what-is-it .section .level2}\\n## What is it? {#what-is-it
      .anchored anchor-id=\\\"what-is-it\\\"}\\n\\nTypst is a writing tool that's
      described as a LaTeX alternative: it\\ntakes plain-text markup as input and
      can pr[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "Pandoc''s Markdown allows for \"fancy lists\", i.e.,
      lists with different\nstyles used for the marker of ordered list items.\n\nE.g.,
      the list\n\n::: {#cb1 .sourceCode style=\"background: #f1f3f5;\"}\n``` {.sourceCode
      .markdown .code-with-copy}\n(I)  primus\n(#)  secundus\n(#)  tertius\n```\n:::\n\nuses
      uppercase roman numerals and double [...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "Line breaks usually have no semantic meaning within
      a Markdown\nparagraph. However, using line breaks to mark the end of a sentece
      can\nhelp with productivity for various reasons.^1^ Documents with one\nsentence
      per line are also called \"ventilated prose\", and the [Write the\n{Ascii}Docs](https://writetheasciidocs.netlify.app)
      website ha[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.7d384846-aee9-4cf2-a0df-9ebaa4d4f955
  response:
    content: "[{\"url\":\"https://tarleb.com/posts/semantic-line-breaks\",\"title\":\"Semantic
      line breaks\",\"summary\":\"Line breaks usually have no semantic meaning within
      a Markdown paragraph. However, using line breaks to mark the end of a sentece
      can help with productivity for various reasons.\\n<sup>\\n 1\\n</sup>\\nDocuments
      with one sentence per line are also called \u201Cventilated prose\u201D, and
      the Write the {Ascii}Docs website has a good article on that topic.\\n\",\"image\":null,\"tags\":[\"Markdown\",\"Pandoc\"],\"language\":\"en\",\"authors\":[{\"name\":
      \"Albert Krewinkel\"}],\"doi\":\"https://doi.org/10.59350/8e6np-4ep92\",\"id\":\"7d384846-aee9-4cf2-a0df-9ebaa4d4f955\",\"reference\":[],\"updated_at\":1667088000,\"published_at\":1667088000,\"blog_name\":\"tarl[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "When pandoc is used in larger pipelines, e.g.\u00a0in
      combination with\n[Sphinx](https://sphinx-doc.org), it can be useful to pack
      everything up\ninto one neat container. One option is to base the container
      on a pandoc\nimage like `pandoc/core`, but this may be difficult due to other\ndependencies.
      In this case, the easiest option is to do this:\n\n::: {#cb1 .sourceCode style=\"background:
      #f1f3f5;\"}\n``` {.sourceCode .dockerfile .code-with-copy}\nCOPY --from=pandoc/minimal:2.19.2
      /pandoc /usr/bin/pandoc\n```\n:::\n\nThe snippet, when added to a Dockerfile,
      copies a statically compiled\nexecutable from an official build to `/usr/bin/pandoc`.
      The static\npandoc binary can run on all Linux distributions, so it does not
      matter\nwhat distro the custom build is based on.\n\nThe documentation for the
      <https://hub.docker.com/r/pandoc/minimal> has\nmore info, including a list of
      supported versions (tags).\n", "images": [], "updated_at": 1662508800, "published_at":
      1662508800, "image": null, "language": "en", "category": "computerAndInformationSciences",
      "reference": [], "relationships": [], "summary": "When pandoc is used in larger
      pipelines, e.g.\u00a0in combination with Sphinx, it can be useful to pack everything
      up into one neat container. One option is to base the container on a pandoc
      image like pandoc/core, but this may be difficult due to other dependencies.\n",
      "tags": ["Pandoc", "Tip", "Docker"], "title": "Install pandoc in custom Docker
      images", "url": "https://tarleb.com/posts/tip-install-in-docker", "guid": "https://tarleb.com/posts/tip-install-in-docker/index.html",
      "archive_url": "https://wayback.archive-it.org/22161/20231101171515/https://tarleb.com/posts/tip-install-in-docker"}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation,resolution=merge-duplicates
      x-client-info:
      - supabase-py/2.3.4
    method: POST
    uri: https://db.rogue-scholar.org/rest/v1/posts?on_conflict=guid
  response:
    content: "[{\"url\":\"https://tarleb.com/p[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "Setting the document font this way works for ConTeXt,
      LaTeX, and HTML\noutput. The fonts used in docx or odt output must be controlled
      with the\nreference document instead.\n\nThe default LaTeX engine is pdflatex,
      which only supports TeX''s own font\nformat and cannot use the TrueType or OpenType
      fonts installed on the\nsystem. However, Xe[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "When extending pandoc (or Quarto) with Lua filters,
      we interact with\nso-called Lua userdata objects. These objects are used to
      wrap document\nAST elements, making them accessible from Lua scripts. They mostly\nbehave
      like normal Lua tables. This post is intended as a quick\noverview, listing
      interesting properties of userdata objects.\n\n[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "Sitemaps are an easy way to list all pages that a
      search engine should\ncrawl and index. Quarto supports the standard, XML based
      [Sitemap\nProtocol](https://www.sitemaps.org/protocol.html), although that fact
      is\na bit hidden in the docs.\n\nQuarto will automatically produce a sitemap
      if the website''s URL is\ngiven as `site-url` property:[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.7b6162e7-1b3b-46b9-bcf3-523193e440a0
  response:
    content: "[{\"url\":\"https://tarleb.com/posts/quarto-sitemap\",\"title\":\"Generating
      a sitemap with Quarto\",\"summary\":\"Sitemaps are an easy way to list all pages
      that a search engine should crawl and index. Quarto supports the standard, XML
      based Sitemap Protocol, although that fact is a bit hidden in the docs.  Quarto
      will automatically produce a sitemap if the website\u2019s URL is given as site-url
      property: website:   title: tarleb   site-url: 'https://tarleb.com'   site-path:
      '/'  The URL will contain a colon :, which is why the YAML value must be put
      in quotes.\\n\",\"image\":null,\"tags\":[\"Quarto\"],\"language\":\"en\",\"authors\":[{\"name\":
      \"Albert Krewinkel\"}],\"doi\":\"https://doi.org/10.59350/2fb2f-hb753\",\"id\":\"7b6162e7-1b3b-46b9-bcf3-523193e440a0\",\"reference\":[],\"updated_at\":1661299200,\"published_at\":1661299200,\"blog_name\":\"tarleb\",\"indexed_at\":17004[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "These are the resources that I''d want to have if
      I was to learn about\n[pandoc (the universal document converter)](https://pandoc.org/)
      all\nover again:\n\n::: {#installing .section .level2}\n## Installing {#installing
      .anchored anchor-id=\"installing\"}\n\n[latest release](https://github.com/jgm/pandoc/releases/latest)\n:   The
      GitHub re[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "[Quarto](https://quarto.org) makes it very easy to
      publish a website via\nGitHub Pages: It is as simple as running `quarto publish
      gh-pages`. Here\nwe explore a slightly different method that uses a GitHub Action
      to\npublish the website automatically every time it is updated.\n\n::: {#classic-github-pages
      .section .level2}\n## Classic GitHub Pages {#classic-github-pages .anchored
      anchor-id=\"classic-github-pages\"}\n\nThe classic way to publish a website
      via GitHub pages is to maintain a\nseparate branch `gh-pages`. The branch is
      used to store the rendered\nHTML pages, and GitHub will publish the branch''s
      contents as website\neverytime that branch is updated.\n\nQuarto uses this mechanism
      when called with\n\n::: {#cb1 .sourceCode style=\"background: #f1f3f5;\"}\n```
      {.sourceCode .bash .code-with-copy}\nquarto publish gh-pages\n```\n:::\n\nWe
      can combine this with GitHub Actions easily, ensuring that the site\nis updated
      every time new content is pushed to the main branch.\n\n::: {#cb2 .sourceCode
      style=\"background: #f1f3f5;\"}\n``` {.sourceCode .yaml .code-with-copy}\n#
      file: .github/workflows/publish.yml\nname: Publish Website\n\n# Allow one concurrent
      deployment\nconcurrency:\n  group: \"pages\"\n  cancel-in-progress: true\n\non:\n  push:\n    branches:
      [''main'']\n\njobs:\n  quarto-publish:\n    name: Publish with Quarto\n    runs-on:
      ubuntu-latest\n    steps:\n      - name: Checkout repository\n        uses:
      actions/checkout@v3\n      - name: Install Quarto\n        uses: quarto-dev/quarto-actions/setup@v2\n      -
      name: Publish to [...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.92141755-62a9-4409-9638-d01f721d4357
  response:
    content: "[{\"url\":\"https://tarleb.com/posts/quarto-with-gh-pages\",\"title\":\"Quarto
      Website with GitHub Actions\",\"summary\":\"Quarto makes it very easy to publish
      a website via GitHub Pages: It is as simple as running quarto publish gh-pages.
      Here we explore a slightly different method that uses a GitHub Action to publish
      the website automatically every time it is updated. Classic GitHub Pages   The
      classic way to publish a website via GitHub pages is to maintain a separate
      branch gh-pages.\\n\",\"image\":\"https://tarleb.com/posts/quarto-with-gh-pages/pages-settings.png\",\"tags\":[\"Quarto\"],\"language\":\"en\",\"authors\":[{\"name\":
      \"Albert Krewinkel\"}],\"doi\":\"https://doi.org/10.59350/kgags-r7165\",\"id\":\"92141755-62a9-4409-9638-d01f721d4357\",\"reference\":[],\"updated_at\":1659916800,\"published_at\":1659916800,\"blog_name\":\"tarleb\",\"indexed_at\":1700479992,\"indexed\":true,\"images\":[{\"src\":
      \"https://tarleb.com/posts/quarto-with-gh-pages/pages-settings.png\"}, {\"alt\":
      \"Required setting to enable the new method\", \"src\": \"https://tarleb.com/posts/quarto-with-gh-pages/pages-settings.png\"}],\"blog_slug\":\"tarleb\",\"content_text\":\"[Quarto](https://quarto.org)
      makes it very easy to publish a website via\\nGitHub Pages: It is as simple
      as running `quarto publish gh-pages`. Here\\nwe explore a slightly different
      method that uses a GitHub Action to\\npublish the website automatically every
      time it is updated.\\n\\n::: {#classic[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "Santa sighted deeply as worry and uncertainty gave
      way, leaving a\nfeeling of relieve and accomplishment. The year was one of the
      worst\nhe''d seen so far. Large numbers of his helpers were moving from the\nNorth
      Pole to Antarctica to satisfy their ambient temperature\npreferences. There
      would be many telecommuting Elves this year, and each\nhelper enjoyed additional
      autonomy. Tying everything together was a\nchallenge. But he had succeeded:
      the wishes processing program was\nfinished, and the elves would be able to
      help Santa from the comfort of\ntheir new homes.\n\n::: {#wishes .section .level2}\n##
      Wishes {#wishes .anchored anchor-id=\"wishes\"}\n\nThe part of the wishes system
      that Santa had been working on was focused\non classic toys: wooden bricks,
      dolls, and train sets.\n\n::: {#cb1 .sourceCode style=\"background: #f1f3f5;\"}\n```
      {.sourceCode .haskell .code-with-copy}\ndata Toy = Bricks | TrainSet | Doll
      deriving Show\n```\n:::\n\nThe system also kept track of basic data about the
      children:\n\n::: {#cb2 .sourceCode style=\"background: #f1f3f5;\"}\n``` {.sourceCode
      .haskell .code-with-copy}\ndata Behavior = Nice | Naughty deriving (Eq, Show)\n\ndata
      Child = Child\n  { childName     :: Text\n  , childBehavior :: Behavior\n  }
      deriving (Show)\n```\n:::\n\nChildren and toys were tied together in a wish.\n\n:::
      {#cb3 .sourceCode style=\"background: #f1f3f5;\"}\n``` {.sourceCode .haskell
      .code-with-copy}\ndata Wish = Wish\n  { wishingChild :: Child\n  , wis[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "A question came up on the Lua mailing list, asking
      whether there was a\nPDF version of the [Lua manual](https://lua.org/manual/5.4/manual.html).\nThis
      is, of course, the home domain of pandoc, and I got nerd-sniped\ninto producing
      a PDF (and ePUB) version of the manual.\n\nThis is a good opportunity to showcase
      some pandoc features. The post\ndescribes the process of going from an HTML
      web page to a PDF file via\nLaTeX and pandoc. We will see how to\n\n1.  quickly
      convert documents with pandoc;\n2.  use Lua filters to improve the result by
      modifying the document; and\n3.  fine-tune the output by setting appropriate
      pandoc options.\n\n::: {#invoking-pandoc .section .level2}\n## Invoking pandoc
      {#invoking-pandoc .anchored anchor-id=\"invoking-pandoc\"}\n\nThe first step
      is to call pandoc on the Lua manual website. Even when\nkeeping everything bare-bones,
      the result is already decent:\n\n    pandoc --pdf-engine=xelatex --output=lua-manual.pdf
      \\\n        \"https://lua.org/manual/5.4/manual.html\"\n\nProduces\n\n::: {.quarto-figure
      .quarto-figure-center}\n<figure class=\"figure\">\n<p><img\nsrc=\"https://tarleb.com/posts/pdf-of-the-lua-manual/lua-refman-naive.png\"\nclass=\"img-fluid
      figure-img\" /></p>\n<figcaption>First page of unoptimized PDF</figcaption>\n</figure>\n:::\n\nThis
      requires a somewhat recent version of pandoc as well as XeLaTeX to\nbe installed.
      It is possible to forgo the trouble of installing the\nrequirements by using
      the *pandoc/latex* Docker image:\n\n    docker run --rm -v \"$PWD\":/data -u
      $(id -u):$(id -g) pandoc/latex:2.9.2.1 \\\n        --pdf-engine=xelatex --output=lua-manual.pdf
      \\\n        \"https://lua.org/manual/5.4/manual.html\"\n:::\n\n::: {#replacing-characters
      .section .level2}\n## Replacing characters {#replacing-characters .anchored
      anchor-id=\"replacing-characters\"}\n\nThe above commands will produce warnings
      about characters which are\nunavailable in the default fonts. We don''t want
      characters to go\nmissing, of course, so let''s fix that first. The warnings
      are:\n\n    [WARNING] Missing character: There is no \u2264 (U+2264) in font
      [lmmono10-regular]:!\n    [WARNING] Missing character: There is no \u2264 (U+2264)
      in font [lmmono10-regular]:!\n    [WARNING] Missing character: There is no \u03c0
      (U+03C0) in font [lmroman10-italic]:mapping=tex-text;!\n\nSearching the page
      for `\u2264` shows that it is used in inline code, while\n`\u03c0` occurs as
      emphasized character in the description of `math.pi`. We\ncould, of course,
  [...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "My first exposure to Lua has been as a pandoc user,
      and adding new Lua\nfeatures to pandoc turned Lua into one of my favorite languages.
      In this\npost I will take a look at [pandoc](https://pandoc.org/), the universal\ndocument
      converter, and explore how one can script and extend it with\nLua. Pandoc includes
      a Lua interpreter since 2012, [...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "Last night was the night of this year''s MetaNook.
      It was the fourth time\nthat the local hackers, most notably [MetaMeute](https://metameute.de)\nand
      [Chaotikum](https://chaotikum.org), joined forces to organize a\nnight full
      of beginner-friendly introductions, advanced tech talks, and\nproject presentations.\n\nMy
      [talk contribution](htt[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "The zeitkraut server is configured to work with IPv6.
      For quite some\ntime now, I''ve been seeing some strange errors in my log files.
      If\nyou''ve been noticing something similar, here is what''s going on and how\nto
      prevent the messages from appearing.\n\n::: {#the-problem .section .level2}\n##
      The Problem {#the-problem .anchored anchor-i[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "Having a good working environment is vital for feeling
      comfortable being\nproductive. This extends to computational tools and the [command\nshell](https://en.wikipedia.org/wiki/command%20shell)
      is an integral\npart of the daily work for many of us. It''s a good idea to
      configure the\nshell''s interface to be efficient and pleasant to use. Here
 [...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "One of the many great things about free and open
      source software and the\nwhole GNU/Linux ecosystem are the simple yet powerful
      tools available.\nThe possibilities enabled by almost trivial programs are incredible.
      A\nvery positive side effect this has on me is that I like to go and\nexplore
      technologies with the tools at my disposal. My l[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "A couple of friends and I just discussed the idea
      of Russian Process\nRoulette: Everybody starts a little program which kills
      processes at\nrandom. The winner is the one whose computer remains usable the
      longest.\nIs this crazy? Yes. Immature? Sure. Fun? Definitely. Adviced against
      to\nactually play unless the consequences are fully unders[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_name": "tarleb", "blog_slug":
      "tarleb", "content_text": "Spam just doesn''t die. Every major mail provider
      has really good spam\nfilters in place, as do the common mail clients. Nontheless,
      there seem\nto be enough people reading -- and acting on -- spam mail to make
      it a\nprofitable business. No matter how much we hate it, we need to deal with\nspam.\n\nBetter
      than having a good spam filter is [...]
[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.tarleb
  response:
    content: '{"id":"c6e3ab7a-a0d9-4ee8-9b16-efa5b5c541b8","slug":"tarleb","feed_url":"https://tarleb.com/index.xml","current_feed_url":null,"home_page_url":"https://tarleb.com/index.html","archive_prefix":"https://wayback.archive-it.org/22161/20231101171515/","feed_format":"application/rss+xml","created_at":1681948800,"updated_at":1679616000,"mastodon":null,"generator":"Quarto","generator_raw":"Quarto
      1.2.475","language":"en","category":"computerAndInformationSciences","favicon":null,"title":"tarleb","description":"tarleb''s
      blog","category":"computerAndInformationSciences","status":"active","user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","authors":null,"plan":"Starter","use_api":null,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.tarleb
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
version: 1
