interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.5
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
  response:
    content: '{"id":"74659bc5-e36e-4a27-901f-f0c8d5769cb8","slug":"front_matter","feed_url":"https://blog.front-matter.io/atom","current_feed_url":"https://blog.front-matter.io/atom/","home_page_url":"https://blog.front-matter.io","archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","feed_format":"application/atom+xml","created_at":1672561153,"updated_at":1708450360,"mastodon":"https://mozilla.social/@martin","generator":"Ghost","generator_raw":"Ghost
      5.52","language":"en","category":"computerAndInformationSciences","favicon":"https://blog.front-matter.io/favicon.png","title":"Front
      Matter","description":"The Front Matter Blog covers the intersection of science
      and technology since 2007.","category":"computerAndInformationSciences","status":"active","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","authors":null,"plan":"Personal","use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
      accept-version:
      - v5.0
    method: GET
    uri: https://front-matter.ghost.io/ghost/api/content/posts/?page=1&limit=50&filter=visibility%3Apublic&include=tags%2Cauthors&key=b099ebe9ce894979c77431e6d3
  response:
    content: "{\"posts\":[{\"id\":\"65d4d00d1677b7000121571b\",\"uuid\":\"433149e1-aa57-48ca-bc49-d26ca05d4ba3\",\"title\":\"commonmeta-py
      now supports metadata lists\",\"slug\":\"commonmeta-py-now-supports-metadata-lists\",\"html\":\"<p>This
      week the <a href=\\\"https://python.commonmeta.org/\\\" rel=\\\"noreferrer\\\">commonmeta-py</a>
      Python library adds an important new feature: metadata lists. With this feature
      commonmeta-py no longer only operates on metadata for a single scholarly work
      (e.g. a journal article, book, dataset, software, or blog post), but can handle
      lists of scholarly works. </p><p>Most of the <a href=\\\"https://www.commonmeta.org/implementations\\\"
      rel=\\\"noreferrer\\\">metadata formats supported by commonmeta-py</a> (Crossref
      and DataCite JSON and XML, BibTex, RIS, CSL JSON, or Schema.org) can handle
      lists of works, e.g.</p><ul><li>a keyword query with the Crossref or DataCite
      REST APIs,</li><li>all articles in a journal issue or volume, or all chapters
      in a book,</li><li>all references in a journal article, or citations of that
      article,</li><li>all references in a Zotero reference manager category,</li><li>all
      versions of a preprint, dataset, or software.</li></ul><p>The initial support
      of metadata lists in version 0.14 of the commonmeta-py library allows the reading
      and/or writing of m[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/cp7apdj-jk5f471
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fcp7apdj-jk5f471/transform">https://api.crossref.org/v1/works/10.53731%2Fcp7apdj-jk5f471/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fcp7apdj-jk5f471/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fcp7apdj-jk5f471/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,20]],"date-time":"2024-02-20T18:21:51Z","timestamp":1708453311407},"posted":{"date-parts":[[2023,3,9]]},"group-title":"Computer
      and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,3,9]],"date-time":"2023-03-09T00:00:00Z","timestamp":1678320000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2023,3,9]],"date-time":"2023-03-09T00:00:00Z","timestamp":1678320000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>This
      week I launched &lt;strong&gt; Commonmeta &lt;\/strong&gt; , a new scholarly
      metadata standard described at https:\/\/commonmeta.org. Commonmeta is the result
      of working on conversion tools for scholarly metadata for many years. One conclusion
      early on was that these conversions are many-to-many, so it becomes much easier
      to have an internal format that is the intermediate step for these conversions.<\/p>","DOI":"10.53731\/cp7apdj-jk5f471","type":"posted-content","created":{"date-parts":[[2023,3,9]],"date-time":"2023-03-09T17:38:50Z","timestamp":1678383530000},"source":"Crossref","is-referenced-by-count":2,"title":"Announcing
      Commonmeta","prefix":"10.53731","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[]}],"member":"31795","container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.io\/posts\/announcing-commonmeta","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/cp7apdj-jk5f471.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/cp7apdj-jk5f471.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/cp7apdj-jk5f471.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/cp7apdj-jk5f471.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2024,2,19]],"date-time":"2024-02-19T09:16:07Z","timestamp":1708334167000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.io\/posts\/announcing-commonmeta"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2023,3,9]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.53731\/cp7apdj-jk5f471","relation":{},"published":{"date-parts":[[2023,3,9]]},"subtype":"other"}'
    headers:
      content-type:
      - application/vnd.citationstyles.csl+json
      link:
      - <http://dx.doi.org/10.53731/cp7apdj-jk5f471>; rel="canonical", <https://blog.front-matter.io/posts/announcing-commonmeta>;
        version="vor"; type="text/html"; rel="item", <https://api.rogue-scholar.org/posts/10.53731/cp7apdj-jk5f471.md>;
        version="vor"; type="text/plain"; rel="item", <https://api.rogue-scholar.org/posts/10.53731/cp7apdj-jk5f471.pdf>;
        version="vor"; type="application/pdf"; rel="item", <https://api.rogue-scholar.org/posts/10.53731/cp7apdj-jk5f471.epub>;
        version="vor"; type="application/epub+zip"; rel="item", <https://api.rogue-scholar.org/posts/10.53731/cp7apdj-jk5f471.xml>;
        version="vor"; type="application/xml"; rel="item", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version="vor"; rel="license", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version="tdm"; rel="license", <http://orcid.org/0000-0003-1419-2405>; title="Martin
        Fenner"; rel="author"
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5281/zenodo.8340374
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5281%2Fzenodo.8340374">https://data.crosscite.org/10.5281%2Fzenodo.8340374</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5281%2Fzenodo.8340374
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5281%2Fzenodo.8340374
  response:
    content: "{\n  \"type\": \"book\",\n  \"id\": \"https://doi.org/10.5281/zenodo.8340374\",\n
      \ \"categories\": [\n    \"python\",\n    \"metadata\",\n    \"software citation\",\n
      \   \"research software\",\n    \"commonmeta\"\n  ],\n  \"author\": [\n    {\n
      \     \"family\": \"Fenner\",\n      \"given\": \"Martin\"\n    }\n  ],\n  \"issued\":
      {\n    \"date-parts\": [\n      [\n        2024,\n        2,\n        4\n      ]\n
      \   ]\n  },\n  \"abstract\": \"Library for conversions to/from the Commonmeta
      scholarly metadata format.\",\n  \"DOI\": \"10.5281/ZENODO.8340374\",\n  \"publisher\":
      \"Zenodo\",\n  \"title\": \"commonmeta-py\",\n  \"URL\": \"https://zenodo.org/doi/10.5281/zenodo.8340374\",\n
      \ \"copyright\": \"MIT License\",\n  \"version\": \"013.2\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"12d74249f307e576f12628f2f06e7bae"
      Status:
      - 200 OK
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.24343/c34w2h
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.24343%2Fc34w2h">https://data.crosscite.org/10.24343%2Fc34w2h</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.24343%2Fc34w2h
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.24343%2Fc34w2h
  response:
    content: "{\n  \"type\": \"article-journal\",\n  \"id\": \"https://doi.org/10.24343/c34w2h\",\n
      \ \"author\": [\n    {\n      \"family\": \"Bilder\",\n      \"given\": \"Geoffrey\"\n
      \   },\n    {\n      \"family\": \"Lin\",\n      \"given\": \"Jennifer\"\n    },\n
      \   {\n      \"family\": \"Neylon\",\n      \"given\": \"Cameron\"\n    }\n
      \ ],\n  \"issued\": {\n    \"date-parts\": [\n      [\n        2020\n      ]\n
      \   ]\n  },\n  \"container-title\": \"The Principles of Open Scholarly Infrastructure\",\n
      \ \"DOI\": \"10.24343/C34W2H\",\n  \"publisher\": \"The Principles of Open Scholarly
      Infrastructure\",\n  \"title\": \"The Principles of Open Scholarly Infrastructure\",\n
      \ \"URL\": \"https://openscholarlyinfrastructure.org\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"a75d178670544729b08fc08f4c9f83e1"
      Status:
      - 200 OK
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/n138-z3mk
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2Fn138-z3mk">https://data.crosscite.org/10.5438%2Fn138-z3mk</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2Fn138-z3mk
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2Fn138-z3mk
  response:
    content: "{\n  \"type\": \"article\",\n  \"id\": \"https://doi.org/10.5438/n138-z3mk\",\n
      \ \"categories\": [\n    \"doi\",\n    \"metadata\",\n    \"crossref\",\n    \"datacite\",\n
      \   \"schema.org\",\n    \"bibtex\",\n    \"codemeta\"\n  ],\n  \"author\":
      [\n    {\n      \"family\": \"Fenner\",\n      \"given\": \"Martin\"\n    }\n
      \ ],\n  \"issued\": {\n    \"date-parts\": [\n      [\n        2017,\n        2,\n
      \       25\n      ]\n    ]\n  },\n  \"abstract\": \"Ruby gem and command-line
      utility for conversion of DOI metadata from and to different metadata formats,
      including schema.org.\",\n  \"DOI\": \"10.5438/N138-Z3MK\",\n  \"publisher\":
      \"DataCite\",\n  \"title\": \"Bolognese: a Ruby library for conversion of DOI
      Metadata\",\n  \"URL\": \"https://github.com/datacite/bolognese\"\n}"
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      ETag:
      - W/"d5013e35a6df8798598019ec3bbe29aa"
      Status:
      - 200 OK
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/n4vfp-nwb08
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fn4vfp-nwb08/transform">https://api.crossref.org/v1/works/10.53731%2Fn4vfp-nwb08/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fn4vfp-nwb08/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fn4vfp-nwb08/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,5]],"date-time":"2024-02-05T18:07:42Z","timestamp":1707156462743},"posted":{"date-parts":[[2024,1,16]]},"group-title":"Computer
      and information sciences","reference-count":3,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2024,1,16]],"date-time":"202[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/r294649-6f79289-8cw2j
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw2j/transform">https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw2j/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw2j/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw2j/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,19]],"date-time":"2024-02-19T09:44:49Z","timestamp":1708335889125},"posted":{"date-parts":[[2012,4,23]]},"group-title":"Computer
      and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2012,4,23]],"date[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/f1mhr-wps22
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Ff1mhr-wps22/transform">https://api.crossref.org/v1/works/10.53731%2Ff1mhr-wps22/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Ff1mhr-wps22/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Ff1mhr-wps22/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,8]],"date-time":"2024-02-08T00:23:16Z","timestamp":1707351796186},"posted":{"date-parts":[[2023,8,21]]},"group-title":"Computer
      and information sciences","reference-count":1,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,8,21]],"date-time":"202[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.5438/jvkk-8198
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://data.crosscite.org/10.5438%2Fjvkk-8198">https://data.crosscite.org/10.5438%2Fjvkk-8198</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://data.crosscite.org/10.5438%2Fjvkk-8198
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.crosscite.org/10.5438%2Fjvkk-8198
  response:
    content: "{\n  \"type\": \"article-journal\",\n  \"id\": \"https://doi.org/10.5438/jvkk-8198\",\n
      \ \"language\": \"en\",\n  \"author\": [\n    {\n      \"family\": \"Stathis\",\n
      \     \"given\": \"Kelly\"\n    },\n    {\n      \"family\": \"Ross\",\n      \"given\":
      \"Cody\"\n    },\n    {\n      \"family\": \"Vogt\",\n      \"given\": \"Suzanne\"\n
   [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.59350/3jb9h-jcd77
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.59350%2F3jb9h-jcd77/transform">https://api.crossref.org/v1/works/10.59350%2F3jb9h-jcd77/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.59350%2F3jb9h-jcd77/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.59350%2F3jb9h-jcd77/transform
  response:
    content: '{"institution":[{"name":"Henry Rzepa''s Blog"}],"indexed":{"date-parts":[[2024,1,30]],"date-time":"2024-01-30T00:11:39Z","timestamp":1706573499143},"posted":{"date-parts":[[2020,3,21]]},"group-title":"Chemical
      sciences","reference-count":1,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2020,3,21]],"date-time":"2020-03-21T[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/sgavn-wr288
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fsgavn-wr288/transform">https://api.crossref.org/v1/works/10.53731%2Fsgavn-wr288/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fsgavn-wr288/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fsgavn-wr288/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,8]],"date-time":"2024-02-08T03:19:33Z","timestamp":1707362373536},"posted":{"date-parts":[[2024,1,17]]},"group-title":"Computer
      and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2024,1,17]],"date-time":"202[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/1dfxr-hs665
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform">https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,8]],"date-time":"2024-02-08T02:45:15Z","timestamp":1707360315889},"posted":{"date-parts":[[2024,1,8]]},"group-title":"Computer
      and information sciences","reference-count":4,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2024,1,8]],"date-time":"2024-[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/xszpd-6z265
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform">https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,8]],"date-time":"2024-02-08T02:45:35Z","timestamp":1707360335899},"posted":{"date-parts":[[2023,9,12]]},"group-title":"Computer
      and information sciences","reference-count":5,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,9,12]],"date-time":"202[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/r79vxn1-97aq74v-ag58n
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fr79vxn1-97aq74v-ag58n/transform">https://api.crossref.org/v1/works/10.53731%2Fr79vxn1-97aq74v-ag58n/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fr79vxn1-97aq74v-ag58n/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fr79vxn1-97aq74v-ag58n/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,19]],"date-time":"2024-02-19T09:37:33Z","timestamp":1708335453391},"posted":{"date-parts":[[2016,12,20]]},"group-title":"Computer
      and information sciences","reference-count":2,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2016,12,20]],"da[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/r294649-6f79289-8cw0k
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw0k/transform">https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw0k/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw0k/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw0k/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,19]],"date-time":"2024-02-19T09:44:23Z","timestamp":1708335863479},"posted":{"date-parts":[[2013,12,12]]},"group-title":"Computer
      and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2013,12,12]],"da[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/5vvnh-tnm55
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform">https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,8]],"date-time":"2024-02-08T01:59:33Z","timestamp":1707357573704},"posted":{"date-parts":[[2023,12,11]]},"group-title":"Computer
      and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,12,11]],"date-time":"2[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.59350/psmbr-f6p84
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.59350%2Fpsmbr-f6p84/transform">https://api.crossref.org/v1/works/10.59350%2Fpsmbr-f6p84/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.59350%2Fpsmbr-f6p84/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.59350%2Fpsmbr-f6p84/transform
  response:
    content: '{"institution":[{"name":"A blog by Ross Mounce"}],"indexed":{"date-parts":[[2024,2,8]],"date-time":"2024-02-08T01:59:01Z","timestamp":1707357541203},"posted":{"date-parts":[[2023,11,30]]},"group-title":"Natural
      sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,11,30]],"date-time":"2023-11-3[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/g60vh-3ng48
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fg60vh-3ng48/transform">https://api.crossref.org/v1/works/10.53731%2Fg60vh-3ng48/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fg60vh-3ng48/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fg60vh-3ng48/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,8]],"date-time":"2024-02-08T01:59:19Z","timestamp":1707357559353},"posted":{"date-parts":[[2023,11,9]]},"group-title":"Computer
      and information sciences","reference-count":1,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,11,9]],"date-time":"202[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/r294649-6f79289-8cw76
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw76/transform">https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw76/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw76/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw76/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,19]],"date-time":"2024-02-19T09:44:45Z","timestamp":1708335885543},"posted":{"date-parts":[[2011,2,1]]},"group-title":"Computer
      and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2011,2,1]],"date-t[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/ch2e1-1cm64
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform">https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform
  response:
    content: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,2,7]],"date-time":"2024-02-07T20:29:18Z","timestamp":1707337758420},"posted":{"date-parts":[[2023,11,14]]},"group-title":"Computer
      and information sciences","reference-count":7,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,11,14]],"date-time":"2[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://doi.org/10.53731/fy5gh-g0w69
  response:
    content: '<html><head><title>Handle Redirect</title></head>

      <body><a href="https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform">https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform
    status_code: 302
- request:
[...]
