interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20modified_at%2C%20use_mastodon%2C%20generator%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter&slug=eq.front_matter
  response:
    content: '{"id":"f0m0e38","slug":"front_matter","feed_url":"https://blog.front-matter.io/atom-complete/","current_feed_url":"https://blog.front-matter.io/atom/","home_page_url":"https://blog.front-matter.io","archive_prefix":null,"feed_format":"application/atom+xml","created_at":"2023-01-02","modified_at":"2023-10-11T16:42:07+00:00","use_mastodon":true,"generator":"Ghost
      5.52","favicon":"https://blog.front-matter.io/favicon.png","title":"Front Matter","description":"The
      Front Matter Blog covers the intersection of science and technology since 2007.","category":"computerAndInformationSciences","status":"active","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20modified_at%2C%20use_mastodon%2C%20generator%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter&slug=eq.front_matter
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers:
      A-Im:
      - feed
    method: GET
    uri: https://blog.front-matter.io/atom-complete/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\">\n
        \   <title><![CDATA[ Front Matter ]]></title>\n    <subtitle><![CDATA[  The
        Front Matter Blog covers the intersection of science and technology since
        2007. ]]></subtitle>\n    <link rel=\"self\" type=\"application/atom+xml\"
        href=\"https://blog.front-matter.io/atom/?page=\" />    \n    <link rel=\"alternate\"
        type=\"text/html\" href=\"https://blog.front-matter.io\" />\n    <link rel=\"license\"
        type=\"text/html\" href=\"https://creativecommons.org/licenses/by/4.0/legalcode\"
        />\n    <id>https://blog.front-matter.io/atom/</id>\n    <language>en</language>\n
        \   <generator uri=\"https://ghost.org\" version=\"5.52\">Ghost</generator>\n
        \   <updated>2023-10-17T09:09:46+00:00</updated>\n    \n    <entry>\n\t\t<title><![CDATA[
        Generating Overlay blog posts ]]></title>\n\t\t<link href=\"https://blog.front-matter.io/posts/generating-overlay-blog-posts/\"
        />\n\t\t<id>https://doi.org/10.53731/gzrse-p5d35</id>\n        <published>2023-10-11T16:40:31.000+00:00</published>\n\t\t<updated>2023-10-12T08:27:25.000+00:00</updated>\n\t\t<category
        term=\"Feature\"/>\n        <media:content url=\"https://images.unsplash.com/flagged/photo-1552425083-0117136f7d67?crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;fm&#x3D;jpg&amp;ixid&#x3D;M3wxMTc3M3wwfDF8c2VhcmNofDIxfHxjYW5vcHl8ZW58MHx8fHwxNjk3MDQwMDk1fDA&amp;ixlib&#x3D;rb-4.0.3&amp;q&#x3D;80&amp;w&#x3D;2000\"
        medium=\"image\"/>\n        <content type=\"html\"><![CDATA[ <p><img src=\"https://images.unsplash.com/flagged/photo-1552425083-0117136f7d67?crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;fm&#x3D;jpg&amp;ixid&#x3D;M3wxMTc3M3wwfDF8c2VhcmNofDIxfHxjYW5vcHl8ZW58MHx8fHwxNjk3MDQwMDk1fDA&amp;ixlib&#x3D;rb-4.0.3&amp;q&#x3D;80&amp;w&#x3D;2000\"></p><p>On
        Monday the Rogue Scholar science blog archive <a href=\"https://doi.org/10.53731/ar11b-5ea39\"
        rel=\"noreferrer\">launched a dedicated API</a>. Today I am reporting on the
        first Jupyter notebook using that API to generate an overlay blog post.</p><blockquote>An&nbsp;<strong>overlay
        journal</strong>&nbsp;or&nbsp;<strong>overlay ejournal</strong>&nbsp;is a
        type of&nbsp;open access&nbsp;academic journal, almost always an online&nbsp;electronic
        journal&nbsp;(ejournal), that does not produce its own content, but selects
        from texts that are already freely available online.&nbsp;From <a href=\"https://en.wikipedia.org/wiki/Overlay_journal\"
        rel=\"noreferrer\">Wikipedia</a></blockquote><p>An <strong>overlay blog post</strong>
        applies the idea of an <strong>overlay journal</strong> to science blog posts,
        and the Rogue Scholar API \u2013 in combination with content that has an open
        license (<a href=\"https://creativecommons.org/licenses/by/4.0/legalcode\"
        rel=\"noreferrer\">CC-BY</a>) \u2013 makes that easy.</p><p>The Jupyter notebook
        that I started and <a href=\"https://github.com/front-matter/rogue-scholar-notebooks\">made
        available via GitHub</a> and <a href=\"https://doi.org/10.5281/zenodo.8433675\"
        rel=\"noreferrer\">Zenodo</a> fetches all blog posts using a search term and
        some other conditions (here written in English and published after 2010).
        I thought a good search term to try out the concept would be <strong>Retraction
        Watch</strong>, after the <a href=\"https://doi.org/10.13003/c23rw1d9\" rel=\"noreferrer\">announcement
        in September</a> that <em>Crossref has acquired the Retraction Watch database
        of expressions of concerns and retractions and has made it openly accessible
        to anyone who wants to use it.</em></p><p>The notebook includes this note:</p><div
        class=\"kg-card kg-callout-card kg-callout-card-blue\"><div class=\"kg-callout-emoji\">\U0001F4A1</div><div
        class=\"kg-callout-text\">We use the query&nbsp;retraction watch. We limit
        results to posts published since&nbsp;2010&nbsp;(the year Retraction Watch
        launched) and&nbsp;en&nbsp;as language. We retrieve the&nbsp;title,&nbsp;authors,&nbsp;publication
        date,&nbsp;abstract,&nbsp;blog name,&nbsp;doi&nbsp;and&nbsp;url.We sort the
        results in reverse chronological order (newest first).</div></div><p>The query
        [...]
