interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.leidenmadtrics
  response:
    content: '{"id":"a0920819-e194-4514-bca4-5f0837e10c51","slug":"leidenmadtrics","feed_url":"https://www.leidenmadtrics.nl/feed/","current_feed_url":null,"home_page_url":"https://www.leidenmadtrics.nl/","archive_prefix":null,"feed_format":"application/rss+xml","created_at":1682899200,"updated_at":1706108400,"use_mastodon":false,"generator":"Other","generator_raw":"Other","language":"en","category":"socialSciences","favicon":null,"title":"Leiden
      Madtrics","description":"Leiden Madtrics","category":"socialSciences","status":"active","user_id":"ae88df6b-e1cf-4743-86a8-c032659cf5d2","authors":[{"url":
      null, "name": "Leiden Madtrics"}],"plan":"Starter","use_api":null,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.leidenmadtrics
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.leidenmadtrics.nl/feed/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:media=\"http://search.yahoo.com/mrss/\"><channel><title>Leiden
        Madtrics</title><link>https://www.leidenmadtrics.nl/</link><atom:link href=\"https://www.leidenmadtrics.nl/feed/\"
        rel=\"self\" type=\"application/rss+xml\" /><description>Leiden Madtrics</description><language>en</language><pubDate>Fri,
        26 Jan 2024 09:51:02 +0100</pubDate><lastBuildDate>Fri, 26 Jan 2024 09:51:02
        +0100</lastBuildDate><item><title>An open approach for classifying research
        publications</title><link>https://www.leidenmadtrics.nl/articles/an-open-approach-for-classifying-research-publications</link><description><![CDATA[<img
        src=\"https://www.leidenmadtrics.nl/images/uploads/_articleThumb/An-open-approach-for-classifying-research-publications_header.png\"
        />In this post Nees Jan van Eck and Ludo Waltman introduce an open approach
        for classifying research publications, contributing to a broader development
        toward open approaches to bibliometrics.]]></description><content:encoded><![CDATA[<img
        src=\"https://www.leidenmadtrics.nl/images/uploads/_articleThumb/An-open-approach-for-classifying-research-publications_header.png\"
        /><p>In this post Nees Jan van Eck and Ludo Waltman introduce an open approach
        for classifying research publications, contributing to a broader development
        toward open approaches to bibliometrics.</p><p dir=\"ltr\">Classifying research
        publications into research topics or research areas is crucial for many bibli[...]
- request:
    body: '{"authors": [{"name": "Leiden Madtrics", "url": "https://ror.org/027bh9e22"}],
      "blog_name": "Leiden Madtrics", "blog_slug": "leidenmadtrics", "content_text":
      "![](https://www.leidenmadtrics.nl/images/uploads/_articleThumb/An-open-approach-for-classifying-research-publications_header.png)\n\nIn
      this post Nees Jan van Eck and Ludo Waltman introduce an open\napproach for
      classifying research publications, contributing to a\nbroader development toward
      open approaches to bibliometrics.\n\nClassifying research publications into
      research topics or research areas\nis crucial for many bibliometric analyses.
      While there are[...]
- request:
    body: '{"indexed": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.e2ecec16-405d-42da-8b4d-c746840398fa
  response:
    content: '[{"url":"https://www.leidenmadtrics.nl/articles/an-open-approach-for-classifying-research-publications","title":"An
      open approach for classifying research publications","summary":"In this post
      Nees Jan van Eck and Ludo Waltman introduce an open approach for classifying
      research publications, contributing to a broader development toward open approaches
      to bibliometrics.Classifying research publications into research topics or research
      areas is crucial for many bibliometric analyses. While there are lots of approaches
      for classifying publications, most of these approaches lack transparency.\n","image":"https://www.leidenmadtrics.nl/images/uploads/_articleThumb/An-open-approach-for-classifying-research-publications_header.png","tags":[],"language":"en","authors":[{"url":
      "https://ror.org/027bh9e22", "name": "Leiden Madtrics"}],"doi":null,"id":"e2ecec16-405d-42da-8b4d-c746840398fa","reference":[],"updated_at":1706108400,"published_at":1706108400,"blog_name":"Leiden
      Madtrics","indexed_at":0,"indexed":false,"images":[{"src": "https://www.leidenmadtrics.nl/images/uploads/_articleThumb/An-open-approach-for-classifying-research-publications_header.png"},
      {"src": "https://www.leidenmadtrics.nl/images/community/An-open-approach-for-classifying-research-publications_1.png"},
      {"src": "https://www.leidenmadtrics.nl/images/community/An-open-approach-for-classifying-research-publications_2.png"},
      {"src": "https://www.leidenmadtrics.nl/images/community/An-open-approach-for-classifying-research-publications_1[...]
[...]
- request:
    body: '{"indexed": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.946ece15-78b2-4da2-86d2-1a8f08628f4e
  response:
    content: "[{\"url\":\"https://www.leidenmadtrics.nl/articles/exploring-new-horizons-in-scientometrics-a-reflection-on-the-scientometrics-summer-school-and-sti-2023-conference\",\"title\":\"New
      Horizons: A reflection on the Scientometrics Summer School and the STI 2023
      Conference\",\"summary\":\"In September 2023, the city of Leiden in the Netherlands
      was the venue for not just one, but two scientometrics-related events: the CWTS
      Scientometrics Summer School and the STI 2023 conference. Our author attended
      both and reflects on his experience.\\n\",\"image\":\"https://www.leidenmadtrics.nl/images/uploads/_articleThumb/sti2023_header_2023-12-20-092141_bdrw.png\",\"tags\":[],\"language\":\"en\",\"authors\":[{\"url\":
      \"https://ror.org/027bh9e22\", \"name\": \"Leiden Madtrics\"}],\"doi\":null,\"id\":\"946ece15-78b2-4da2-86d2-1a8f08628f4e\",\"reference\":[],\"updated_at\":1703169000,\"published_at\":1703169000,\"blog_name\":\"Leiden
      Madtrics\",\"indexed_at\":0,\"indexed\":false,\"images\":[{\"src\": \"https://www.leidenmadtrics.nl/images/uploads/_articleThumb/sti2023_header_2023-12-20-092141_bdrw.png\"},
      {\"alt\": \"Day 2 vevrvolg 11\", \"src\": \"https://www.leidenmadtrics.nl/images/uploads/day-2-vevrvolg-11.jpg\"},
      {\"alt\": \"The author presenting at the STI 2023 conference.\", \"src\": \"https://www.leidenmadtrics.nl/images/uploads/day-2-vevrvolg-11.jpg\"}],\"blog_slug\":\"leidenmadtrics\",\"content_text\":\"![](https://www.leidenmadtrics.nl/images/uploads/_articleThumb/sti2023_header_2023-12-20-092141_bdrw.png)\\n\\nIn
      September 2023, the city of Leiden in the Netherlands was the venue\\nfor not
      just one, but two scientometrics-related events: the CWTS\\nScientometrics Summer
      School and the STI 2023 conference. Our author\\nattended both and reflects
      on his experience.\\n\\nGreetings from Peru, nestled in the heart of the Andes,
      where I find\\nmyself reflecting on two transformative events in my scientific
      journey:\\nthe CWTS Scientometrics Summer School (CS^3^) and the 27th International\\nConference
      on Science, Technology, and Innovation Indicators (STI 2023).\\nAs a bibliometrics
      enthusiast for the past two decades, this experience\\nhas been nothing short
      of a revelation---a journey that prompted me to\\nquestion the very fabric of
      scientific evaluation and metrics.\\n\\nTwo decades ago, my foray into bibliometrics
      was marked by conventional\\nsurvey field research. Fast [...]
[...]
- request:
    body: '{"indexed": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.b9666b49-b6a8-45c4-8f6c-2368efac223e
  response:
    content: "[{\"url\":\"https://www.leidenmadtrics.nl/articles/has-open-access-become-a-band-aid-for-an-historical-innovation-gone-wrong\",\"title\":\"Has
      Open Access become a 'band-aid' for an historical 'innovation-gone-wrong'?\",\"summary\":\"In
      this blog post, we examine key historical moments in research assessment, access
      to, and affordability of published research, to explain why Open Access and
      its economic models have become an incremental solution to a problem requiring
      a revolutionary change.\\n<strong>\\n Open access: a change in publishing with
      a limited reach\\n</strong>\\nOpen Access is a movement and policy directive
      dedicated to reforming the closed or subscription-based\\n\",\"image\":\"https://www.leidenmadtrics.nl/images/uploads/_articleThumb/OPEN_OR_OPEN.png\",\"tags\":[],\"language\":\"en\",\"authors\":[{\"url\":
      \"https://ror.org/027bh9e22\", \"name\": \"Leiden Madtrics\"}],\"doi\":null,\"id\":\"b9666b49-b6a8-45c4-8f6c-2368efac223e\",\"reference\":[],\"updated_at\[...]
[...]
