interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.5
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
  response:
    content: '{"id":"2e00349e-defb-4459-9653-f284f516ac20","slug":"epub_fis","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","current_feed_url":null,"home_page_url":"https://blog.dini.de/EPub_FIS","archive_prefix":"https://wayback.archive-it.org/22121/20231105105752/","feed_format":"application/atom+xml","created_at":1689897600,"updated_at":1706534803,"mastodon":null,"generator":"WordPress
      6.3.2","generator_raw":null,"language":"de","category":"socialSciences","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","title":"FIS
      & EPub","description":"Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren","category":"socialSciences","status":"active","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null,"secure":null}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.dini.de/EPub_FIS?rest_route=%2Fwp%2Fv2%2Fposts&page=1&per_page=50&_embed=1
  response:
    content: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

      <html><head>

      <title>301 Moved Permanently</title>

      </head><body>

      <h1>Moved Permanently</h1>

      <p>The document has moved <a href="https://blog.dini.de/EPub_FIS/?rest_route=%2Fwp%2Fv2%2Fposts&amp;page=1&amp;per_page=50&amp;_embed=1">here</a>.</p>

      <hr>

      <address>Apache/2.4.57 (Debian) Server at blog.dini.de Port 443</address>

      </body></html>

      '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://blog.dini.de/EPub_FIS/?rest_route=%2Fwp%2Fv2%2Fposts&page=1&per_page=50&_embed=1
    status_code: 301
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.dini.de/EPub_FIS/?rest_route=%2Fwp%2Fv2%2Fposts&page=1&per_page=50&_embed=1
  response:
    content: '[{"id":3361,"date":"2024-01-29T14:26:43","date_gmt":"2024-01-29T13:26:43","guid":{"rendered":"https:\/\/blog.dini.de\/EPub_FIS\/?p=3361"},"modified":"2024-01-29T14:26:43","modified_gmt":"2024-01-29T13:26:43","slug":"dini-ag-fis-2023-2024","status":"publish","type":"post","link":"https:\/\/blog.dini.de\/EPub_FIS\/2024\/01\/29\/dini-ag-fis-2023-2024\/","title":{"rendered":"DINI
      AG FIS &#8211; Jahresr\u00fcckblick 2023 &#038; Ausblick auf 2024"},"content":{"rendered":"\n<p>Die
      DINI AG FIS blickt auf ein ereignisreiches Jahr 2023 zur\u00fcck. Auch das frisch
      angebrochene Jahr 2024 zeigt sich bereits vielversprechend .<\/p>\n\n\n\n<h2
      class=\"wp-block-heading\">Ein Blick zur\u00fcck: 2023<\/h2>\n\n\n\n<p>Mit der
      Ende 2022 ver\u00f6ffentlichten&nbsp;<a href=\"https:\/\/edoc.hu-berlin.de\/handle\/18452\/26130\">Standortbestimmung<\/a>&nbsp;hat
      die DINI-AG FIS im Jahr 2023 von sich reden gemacht.<\/p>\n\n\n\n<figure class=\"wp-block-image
      size-full\"><img loading=\"lazy\" decoding=\"async\" width=\"680\" height=\"404\"
      src=\"https:\/\/blog.dini.de\/EPub_FIS\/wp-content\/uploads\/2024\/01\/Booksprint-Foto.jpg\"
      alt=\"\" class=\"wp-image-3362\" srcset=\"https:\/\/blog.dini.de\/EPub_FIS\/wp-content\/uploads\/2024\/01\/Booksprint-Foto.jpg
      680w, https:\/\/blog.dini.de\/EPub_FIS\/wp-content\/uploads\/2024\/01\/Booksprint-Foto-300x178.jpg
      300w\" sizes=\"(max-width: 680px) 100vw, 680px\" \/><figcaption class=\"wp-element-caption\">DINI
      AG FIS beim Book-Sprint zur Standortbestimmung (mit Book-Sprint-Profi Lambert
      Heller)<\/figcaption><\/figure>\n\n\n\n<!--more-->\n\n\n\n<p>Die&nbsp;<a href=\"http:\/\/www.kfid-online.de\/\">Kommission
      f\u00fcr Forschungsinformationen in Deutschland (KFiD)<\/a>&nbsp;lud die AG
      FIS zu ihrer Kommissionssitzung im M\u00e4rz ein. Nicht nur die Thesen des neuen
      Positionspapieres, auch die Arbeit der AG allgemein diskutierte die Kommission[...]
- request:
    body: '{"authors": [{"name": "Sabrina Petersohn"}], "blog_name": "FIS & EPub",
      "blog_slug": "epub_fis", "content_text": "Die DINI AG FIS blickt auf ein ereignisreiches
      Jahr 2023 zur\u00fcck. Auch\ndas frisch angebrochene Jahr 2024 zeigt sich bereits
      vielversprechend .\n\n## Ein Blick zur\u00fcck: 2023 {#ein-blick-zur\u00fcck-2023
      .wp-block-heading}\n\nMit der Ende 2022\nver\u00f6ffentlichten\u00a0[Standortbestimmung](https://edoc.hu-berlin.de/handle/18452/26130)\u00a0hat\ndie
      DINI-AG FIS im Jahr 2023 von sich reden gemacht.\n\n<figure class=\"wp-block-image
      size-full\">\n<img\nsrc=\[...]
- request:
    body: '{"indexed": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.5
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.50a23574-767b-4dd3-b0ed-ee7a1f287d1f
  response:
    content: "[{\"url\":\"https://blog.dini.de/EPub_FIS/2024/01/29/dini-ag-fis-2023-2024\",\"title\":\"DINI
      AG FIS &#8211; Jahresr\xFCckblick 2023 &#038; Ausblick auf 2024\",\"summary\":\"Die
      DINI AG FIS blickt auf ein ereignisreiches Jahr 2023 zur\xFCck. Auch das frisch
      angebrochene Jahr 2024 zeigt sich bereits vielversprechend . Ein Blick zur\xFCck:
      2023   Mit der Ende 2022 ver\xF6ffentlichten\_Standortbestimmung\_hat die DINI-AG
      FIS im Jahr 2023 von sich reden gemacht. Die\_Kommission f\xFCr Forschungsinformationen
      in Deutschland (KFiD)\_lud die AG FIS zu ihrer Kommissionssitzung im M\xE4rz
      ein.\",\"image\":\"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/DINI-Blog-FISE-Pub-4.png\",\"tags\":[\"Forschungsinformationen
      & Systeme\",\"Neuigkeiten\"],\"language\":\"de\",\"authors\":[{\"name\": \"Sabrina
      Petersohn\"}],\"doi\":\"https://doi.org/10.57689/dini-blog.20240129\",\"id\":\"50a23574-767b-4dd3-b0ed-ee7a1f287d1f\",\"reference\":[],\"updated_at\":1706534803,\"published_at\":1706534803,\"blog_name\":\"FIS
      & EPub\",\"indexed_at\":0,\"indexed\":false,\"images\":[{\"src\": \"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Booksprint-Foto.jpg\",
      \"sizes\": \"(max-width: 680px) 100vw, 680px\", \"width\": \"680\", \"height\":
      \"404\", \"srcset\": \"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Booksprint-Foto.jpg,
      https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Booksprint-Foto-300x178.jpg\"},
      {\"src\": \"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Ulrike-Vortrag-Bibliocon-2023.jpg\",
      \"sizes\": \"(max-width: 900px) 100vw, 900px\", \"width\": \"900\", \"height\":
      \"506\", \"srcset\": \"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Ulrike-Vortrag-Bibliocon-2023.jpg,
      https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Ulrike-Vortrag-Bibliocon-2023-300x169.jpg,
      https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Ulrike-Vortrag-Bibliocon-2023-768x432.jpg\"},
      {\"src\": \"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Jahrestreffen-DINI-AG-FIS-2023-1024x486.png\",
      \"sizes\": \"(max-width: 1024px) 100vw, 1024px\", \"width\": \"1024\", \"height\":
      \"486\", \"srcset\": \"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Jahrestreffen-DINI-AG-FIS-2023-1024x486.png,
      https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Jahrestreffen-DINI-AG-FIS-2023-300x142.png,
      https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Jahrestreffen-DINI-AG-FIS-2023-768x365.png,
      https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Jahrestreffen-DINI-AG-FIS-2023-1536x729.png,
      https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Jahrestreffen-DINI-AG-FIS-2023.png\"},
      {\"alt\": \"Creative Commons Lizenzvertrag\", \"src\": \"https://i.creativecommons.org/l/by/4.0/88x31.png\"},
      {\"alt\": \"DINI AG FIS beim Book-Sprint zur Standortbestimmung (mit Book-Sprint-Profi
      Lambert Heller)\", \"src\": \"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Booksprint-Foto.jpg\"},
      {\"alt\": \"Vortrag bei der BiblioCON 2023 \u2013 Vortragende Ulrike K\xFCsters\",
      \"src\": \"https://blog.dini.de/EPub_FIS/wp-content/uploads/2024/01/Ulrike-Vortrag-Bibliocon-2[...]
- request:
    body: '{"authors": [{"name": "Gastautor(en)"}], "blog_name": "FIS & EPub", "blog_slug":
      "epub_fis", "content_text": "Im Jahr 1995 ging mit MONARCH an der Technischen
      Universit\u00e4t Chemnitz\neines der ersten institutionellen Open-Access-Repositorien
      in\nDeutschland online (Blumtritt, 2006). Anliegen dieser fr\u00fchen\nRepositorien,
      die unter den Begriffen Dokumentenserver und\nHochschulschriftenserver betrieben
      wurden, war es,\nQualifikationsarbeit[...]
[...]
- request:
    body: '{"authors": [{"name": "Gastautor(en)"}], "blog_name": "FIS & EPub", "blog_slug":
      "epub_fis", "content_text": "Die Notwendigkeit von Persistent Identifiern (PIDs)
      zur dauerhaften\nIdentifikation der mit Forschungsprozessen verkn\u00fcpften
      Personen,\nOrganisationen, Ressourcen und ihrer Forschungsprodukte ist inzwischen\nals
      grundlegendes Prinzip global anerkannt.  \nPID-Systeme und ihre Implementationen
      wirken sowohl auf einzelne\nForschende al[...]
[...]
- request:
    body: '{"authors": [{"name": "Arvid Deppe", "url": "https://orcid.org/0000-0001-7190-9535"}],
      "blog_name": "FIS & EPub", "blog_slug": "epub_fis", "content_text": "Repositorien
      stellen eine Schl\u00fcsselinfrastruktur in der\nOpen-Science-Landschaft dar.
      Sie sammeln und bewahren\nForschungsergebnisse, erm\u00f6glichen gleichberechtigten,
      freien Zugang zu\nInhalten f\u00fcr Mensch und Maschine, inkl. Zugriff f\u00fcr
      Analysen, Text-und\nData-Mining und [...]
[...]
- request:
    body: '{"authors": [{"name": "Gastautor(en)"}], "blog_name": "FIS & EPub", "blog_slug":
      "epub_fis", "content_text": "Die Fachzugeh\u00f6rigkeit ist ein f\u00fcr die
      Auffindbarkeit und Beschreibung\nvon Datens\u00e4tzen sehr relevantes Metadatum.
      Ihre Angabe wird deshalb in\nvielen Forschungsdatenrepositorien empfohlen. Dabei
      steigert die\nVerwendung einer international breit verwendeten Klassifikation,\nbeispielsweise
      der Dewey Decimal Classification [...]
[...]
- request:
    body: '{"authors": [{"name": "Franziska Mau"}], "blog_name": "FIS & EPub", "blog_slug":
      "epub_fis", "content_text": "Bei ihrem Treffen am 18. und 19. September in M\u00fcnster
      hat die\nRES-Community neben vielen inhaltlichen Diskussionen auch ihre interne\nStruktur
      und Organisation weiterentwickelt. Dazu geh\u00f6rte die Wahl des\nVorsitzes
      und des stellvertretenden Vorsitzes.\u00a0\n\nMit Dr. Malte Kramer, welcher
      seit 2019 CRIS.NRW leitet, hat die\n[...]
[...]
- request:
    body: '{"authors": [{"name": "Gastautor(en)"}], "blog_name": "FIS & EPub", "blog_slug":
      "epub_fis", "content_text": "Im Juni 2023 wurden die \u201eOpenAIRE Guidelines
      for CRIS Managers v1.2\" als\nResultat eines intensiven Austauschs der FIS Gemeinschaft\nver\u00f6ffentlicht.\u00a0\n\nBereits
      im Jahre 2015 wurde die erste Richtlinie f\u00fcr\nForschungsinformationssysteme
      (FIS) ver\u00f6ffentlicht, welche die\nM\u00f6glichkeit bot, Informationen im
      wi[...]
[...]
