interactions:
- request:
    body: '{"authors": [{"name": "Ma\u00eblle Salmon", "url": "https://orcid.org/0000-0002-2815-0399"},
      {"name": "Yanina Bellini Saibene", "url": "https://orcid.org/0000-0002-4522-7466"}],
      "blog_id": "e22ws68", "blog_name": "rOpenSci - open tools for open science",
      "blog_slug": "ropensci", "content_html": "<p>As part of our <a href=\"/multilingual-publishing/\">multilingual
      publishing project</a>, and with <a href=\"https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2\">funding
      from the R Consortium</a>, we&rsquo;ve worked on the R package <a href=\"https://docs.ropensci.org/babeldown/\">babeldown</a>
      for translating Markdown-based content using the DeepL API.In this tech note,
      we&rsquo;ll show how you can use babeldown to translate a Hugo blog post!</p><h2
      id=\"motivation\">Motivation</h2><p>Translating a Markdown blog post from your
      R console is not only more comfortable (when you&rsquo;ve already written said
      blog post in R), but also less frustrating.With babeldown, compared to copy-pasting
      the content of a blog post into some translation service, the Markdown syntax
      won&rsquo;t be broken<sup id=\"fnref:1\"><a href=\"#fn:1\" class=\"footnote-ref\"
      role=\"doc-noteref\">1</a></sup>, and code chunks won&rsquo;t be translated.This
      works, because under the hood, babeldown uses <a href=\"https://docs.ropensci.org/tinkr\">tinkr</a>
      to produce XML which it then sends to the DeepL API, flagging some tags as not
      to be translated. It then converts the XML translated by DeepL back into Markdown
      again.</p><p>Now, as you might expect this machine-translated content isn&rsquo;t
      perfect yet!You will still need a human or two to review and amend the translation.Why
      not have the humans translate the post from scratch then?We have observed that
      editing an automatic translation is faster than translating the whole post,
      and that it frees up mental space for focusing on implementing translation rules
      such as gender-neutral phrasing.</p><h2 id=\"setup\">Setup</h2><h3 id=\"pre-requisites-on-the-hugo-website\">Pre-requisites
      on the Hugo website</h3><p><a href=\"https://docs.ropensci.org/babeldown/reference/deepl_translate_hugo.html\"><code>babeldown::deepl_translate_hugo()</code></a>
      assumes the Hugo website uses</p><ul><li>leaf bundles (each post in a folder,
      <code>content/path-to-leaf-bundle/index.md</code>);</li><li>multilingualism
      so that a post in (for example) Spanish lives in <code>content/path-to-leaf-bundle/index.es.md</code>.</li></ul><p>babeldown
      could be extended work with other Hugo multilingual setups. If you&rsquo;d be
      interested in using babeldown with a different setup, please open an issue in
      the <a href=\"https://github.com/ropensci-review-tools/babeldown/\">babeldow[...]
