interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.iphylo
  response:
    content: '{"id":"tyfqw20","slug":"iphylo","feed_url":"https://iphylo.blogspot.com/feeds/posts/default","current_feed_url":null,"home_page_url":"https://iphylo.blogspot.com/","archive_prefix":null,"feed_format":"application/atom+xml","created_at":"2023-02-06","updated_at":1693485393,"use_mastodon":true,"generator":"Blogger
      7.00","language":"en","favicon":null,"title":"iPhylo","description":"Rants,
      raves (and occasionally considered opinions) on phyloinformatics, taxonomy,
      and biodiversity informatics.  For more ranty and less considered opinions,
      see my <a href=\"https://twitter.com/rdmpage\">Twitter feed</a>.<br />ISSN 2051-8188.
      Written content on this site is licensed under a <a href=\"https://creativecommons.org/licenses/by/4.0/\">Creative
      Commons Attribution 4.0 International license</a>.","category":"computerAndInformationSciences","status":"active","user_id":"b98bb1b6-b96b-4e8a-94d3-4285ea715f5b","authors":null,"plan":"Team","use_api":null,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.iphylo
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iphylo.blogspot.com/feeds/posts/default?start-index=101&max-results=50
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><?xml-stylesheet href=\"http://www.blogger.com/styles/atom.css\"
        type=\"text/css\"?><feed xmlns='http://www.w3.org/2005/Atom' xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'
        xmlns:blogger='http://schemas.google.com/blogger/2008' xmlns:georss='http://www.georss.org/georss'
        xmlns:gd=\"http://schemas.google.com/g/2005\" xmlns:thr='http://purl.org/syndication/thread/1.0'><id>tag:blogger.com,1999:blog-16081779</id><updated>2023-10-22T16:57:50.181+01:00</updated><category
        term=\"GBIF\"/><category term=\"BHL\"/><category term=\"visualisation\"/><category
        term=\"BioStor\"/><category term=\"DOI\"/><category term=\"taxonomy\"/><category
        term=\"EOL\"/><category term=\"Challenge\"/><category term=\"Wikipedia\"/><category
        term=\"CrossRef\"/><category term=\"phylogeny\"/><category term=\"Mendeley\"/><category
        term=\"BioNames\"/><category term=\"TreeBASE\"/><category term=\"github\"/>[...]
- request:
    body: '{"authors": [{"name": "Roderic Page", "url": "https://orcid.org/0000-0002-7101-9767"}],
      "blog_id": "tyfqw20", "blog_name": "iPhylo", "blog_slug": "iphylo", "content_html":
      "<p>Some random notes on the first day of TDWG 2017. First off, great organisation
      with the first usable conference calendar app that I''ve seen (<a href=\"https://tdwg2017.sched.com\">https://tdwg2017.sched.com</a>).</p>\n\n<p>I
      gave the day''s keynote address in the morning (slides below).\n<div style=\"text-align:center\">\n<iframe
      src=\"//www.slideshare.net/slideshow/embed_code/key/oSgUxJe0UOmYOR\" width=\"425\"
      height=\"355\" frameborder=\"0\" marginwidth=\"0\" marginheight=\"0\" scrolling=\"no\"
      style=\"border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width:
      100%;\" allowfullscreen> </iframe> <div style=\"margin-bottom:5px\"> <strong>
      <a href=\"//www.slideshare.net/rdmpage/towards-a-biodiversity-knowledge-graph\"
      title=\"Towards a biodiversity knowledge graph\" target=\"_blank\">Towards a
      biodiversity knowledge graph</a> </strong> from <strong><a href=\"//www.slideshare.net/rdmpage\"
      target=\"_blank\">Roderic Page</a></strong> </div></div></p>\n\n<p>It was something
      of a stream of consciousness brain dump, and tried to cover a lot of (maybe
      too much) stuff. Among the topics I covered were [...]
- request:
    body: '{"authors": [{"name": "Roderic Page", "url": "https://orcid.org/0000-0002-7101-9767"}],
      "blog_id": "tyfqw20", "blog_name": "iPhylo", "blog_slug": "iphylo", "content_html":
      "<p><img src=\"https://lh3.googleusercontent.com/-dGuQKhH1gu0/V-5oJIf564I/AAAAAAAAESQ/0lVote3X0pk/bob_mesibov.jpg?imgmax=1600\"
      alt=\"Bob mesibov\" title=\"bob_mesibov.jpg\" border=\"0\" width=\"100\" height=\"100\"
      style=\"float:right;\" />\nThe following is a guest post by <a href=\"http://www.polydesmida.info/mesibov.html\">Bob
      Mesibov</a>.</p>\n\n<p>Do you know the party game \"Telephone\", also known
      as \"Chinese Whispers\"? The first player whispers a message in the ear of t[...]
- request:
    body: '{"authors": [{"name": "Roderic Page", "url": "https://orcid.org/0000-0002-7101-9767"}],
      "blog_id": "tyfqw20", "blog_name": "iPhylo", "blog_slug": "iphylo", "content_html":
      "<blockquote class=\"twitter-tweet\" data-lang=\"en\"><p lang=\"en\" dir=\"ltr\">Let\u2019s
      rise up to unite taxonomy and technology - I thought it already was? <a href=\"https://twitter.com/rdmpage\">@rdmpage</a>
      <a href=\"https://t.co/AkNz1GYGbw\">https://t.co/AkNz1GYGbw</a></p>&mdash; Sj\u00far\u00f0ur
      Hammer \ud83d\udc23 (@sjurdur) <a href=\"https://twitter.com/sjurdur/status/901460750513950720\">August
      26, 2017</a></blockquote> <script async src=\"//platform.twitter.com/widgets.js\"
      charset=\"utf-8\"></script>\n\n<p>Holly Bik (<a href=\"https://twitter.com/hollybik\">@hollybik</a>)
      has an opinion piece in PLoS Biology entitled \"Let\u2019s rise up to unite
      taxonomy and technology\" <a href=\"https://doi.org/10.1371/journal.pbio.2002231\">https://doi.org/10.1371/journal.pbio.2002231</a>
      (thanks to <a href=\"https://twitter.com/sjurdur\">@sjurdur</a> for bringing
      this to my attention).</p>\n\n<img style=\"display:block; margin-left:auto;
      margin-right:auto;\" src=\"https://lh3.googleusercontent.com/-IteOIhEs1LI/WaNiQvAyxDI/AAAAAAAAEfQ/GdXbMdgoumEV0WieDx-ZOpHxmceT3oRbwCHMYCw/journal.pbio.2002231.g001.PNG?imgmax=1600\"
      alt=\"Journal pbio 2002231 g001\" title=\"journal.pbio.2002231.g001.PNG\" border=\"0\"
      width=\"100%\"  />\n\n<p>It''s a passionate plea for integrating taxonomic knowledge
      and \"omics\" data. In her article Bik includes a mockup of the kind of tool
      she''d like to see (based in part on <a href=\"http://phin[...]
[...]
