interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.leidenmadtrics
  response:
    content: '{"id":"a0920819-e194-4514-bca4-5f0837e10c51","slug":"leidenmadtrics","feed_url":"https://www.leidenmadtrics.nl/atom/","current_feed_url":null,"home_page_url":"https://www.leidenmadtrics.nl/","archive_prefix":null,"feed_format":"application/atom+xml","created_at":1682899200,"updated_at":1707241375,"mastodon":null,"generator":"Other","generator_raw":"Other","language":"en","category":"socialSciences","favicon":null,"title":"Leiden
      Madtrics","description":"Leiden Madtrics","category":"socialSciences","status":"active","user_id":"ae88df6b-e1cf-4743-86a8-c032659cf5d2","authors":[{"url":
      null, "name": "Leiden Madtrics"}],"plan":"Starter","use_api":null,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.leidenmadtrics
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.leidenmadtrics.nl/atom/
  response:
    content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"
      xmlns:thr=\"http://purl.org/syndication/thread/1.0\" xml:lang=\"en-GB\"><title
      type=\"text\">Leiden Madtrics</title><updated>2024-02-09T22:21:57+01:00</updated><link
      rel=\"alternate\" type=\"text/html\" href=\"https://www.leidenmadtrics.nl/\"
      /><id>https://www.leidenmadtrics.nl/atom/</id><link rel=\"self\" type=\"application/atom+xml\"
      href=\"https://www.leidenmadtrics.nl/atom\" /><entry><title>The UNESCO Open
      Science Outlook: there is progress, but it is unequal</title><link href=\"https://www.leidenmadtrics.nl/articles/the-unesco-open-science-outlook-there-is-progress-in-os-but-it-is-unequal\"
      /><id>https://www.leidenmadtrics.nl/articles/the-unesco-open-science-outlook-there-is-progress-in-os-but-it-is-unequal</id><published>2024-02-01T10:55:00+01:00</published><updated>2024-02-09T22:21:57+01:00</updated><summary>Last
      December, UNESCO published the first global report on the trends of Open Science
      (OS). In this blog post, the main findings are highlighted: OS is increasing
      but does so unevenly and its monitoring is mainly focused on outputs, missing
      potential progress in participation and dialogue.</summary><content type=\"html\"><![CDATA[\n\t\t\t\t
      \                                               <h3><strong>A value-led perspective
      on Open Science</strong></h3><p>In 2021, UNESCO approved its <a href=\"https://unesdoc.unesco.org/ark:/48223/pf0000379949\"
      target=\"_blank\">Recommendation on Open Science</a> (OS). By signing this recommendation,
      193 countries made a commitment to support the development of OS with a vision
      of <a href=\"https://council.science/current/news/science-as-a-global-public-good/\"
      target=\"_blank\">science as a global public good</a>.&nbsp;</p><p></p><p>According
      to this vision, science is only genuinely \u201Copen\u201D when it embraces
      some core values and principles, as illustrated in Figure 1. These include transparency,
      reproducibility and integrity, as generally claimed in OS frameworks, but also
      equity, fairness, diversity and inclusiveness, and a commitment to contribute
      to collective benefits, which are less often invoked in OS policies. </p><p></p><figure
      style=\"text-align:center;\"><img src=\"https://www.leidenmadtrics.nl/images/community/Fig1_2024-01-31-174243_bmfx.jpg\"
      data-image=\"40420\"><figcaption style=\"display:block;\">Figure 1. The values
      and principles of Open Science as defined by the UNESCO Recommendation on Open
      Science.</figcaption></figure><h3><strong>Findings of the Outlook: more Open
      Science, but unevenly distributed</strong></h3><div><span class=\"caption\"></span><p>Two
      years after the signature of the OS Recommendation, the <a href=\"https://unesdoc.unesco.org/ark:/48223/pf0000387324\"
      target=\"_blank\">UNESCO OS Outlook</a> is the first (pilot) global monitoring
      exercise on the progress of OS according to this value-led perspective. (<em>Note
      that the UNESCO OS Outlook will be introduced by Dr. Tiffany Straza in a CWTS
      webinar <a href=\"https://www.cwts.nl/seminars/announcements?article=n-t2q234&title=status-and-trends-in-open-science-open-to-what-and-for-whom-the-unesco-os-outlook\"
      target=\"_blank\">on 2<sup>nd</sup> February, 2024, 15:00-16.15 CET</a>).</em></p><p>The
      good news is that there is a strong trend towards \u201Copen\u201D (i.e. accessible)
      scientific outputs: the share of Open Access (OA) publications is quickly increasing;
      the Outlook shows evidence of more sharing of datasets, software and educational
      resources; and an increase in participatory approaches to science. </p><p>There
      are, however, two downsides to this growth. <strong>First, OS has progressed[...]
- request:
    body: '{"authors": [{"name": "Ismael Rafols"}], "blog_name": "Leiden Madtrics",
      "blog_slug": "leidenmadtrics", "content_text": "### **A value-led perspective
      on Open Science**\n\nIn 2021, UNESCO approved its [Recommendation on Open\nScience](https://unesdoc.unesco.org/ark:/48223/pf0000379949){target=\"_blank\"}\n(OS).
      By signing this recommendation, 193 countries made a commitment to\nsupport
      the development of OS with a vision of [science as a global\npublic\ngood](https://council.science/current/news/science-as-a-global-public-good/){target=\"_blank\"}.\u00a0\n\nAccording
      to this vision, scien[...]
- request:
    body: '{"indexed": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.37c9f1a5-f3ab-455b-a856-40270b17fab4
  response:
    content: "[{\"url\":\"https://www.leidenmadtrics.nl/articles/the-unesco-open-science-outlook-there-is-progress-in-os-but-it-is-unequal\",\"title\":\"The
      UNESCO Open Science Outlook: there is progress, but it is unequal\",\"summary\":\"<strong>\\n
      <strong>\\n  A value-led perspective on Open Science\\n </strong>\\n</strong>\\nIn
      2021, UNESCO approved its Recommendation on Open Science (OS). By signing this
      recommendation, 193 countries made a commitment to support the development of
      OS with a vision of science as a global public good.\",\"image\":\"https://www.leidenmadtrics.nl/images/community/Fig1_2024-01-31-174243_bmfx.jpg\",\"tags\":[],\"language\":\"en\",\"authors\":[{\"name\":
      \"Ismael Rafols\"}],\"doi\":\"https://doi.org/10.59350/91td8-0bv95\",\"id\":\"37c9f1a5-f3ab-455b-a856-40270b17fab4\",\"reference\":[],\"updated_at\":1707513717,\"published_at\":1706781300,\"blog_name\":\"Leiden
      Madtrics\",\"indexed_at\":1707241722,\"indexed\":false,\"images\":[{\"src\":
      \"https://www.leidenmadtrics.nl/images/community/Fig1_2024-01-31-174243_bmfx.jpg\"},
      {\"src\": \"https://www.leidenmadtrics.nl/images/community/Fig2_2024-01-31-175826_zzva.png\"},
      {\"src\": \"https://www.leidenmadtrics.nl/images/community/Fig3_2024-01-31-184011_jsxd.png\"},
      {\"alt\": \"Figure 1. The values and principles of Open Science as defined by
      the UNESCO Recommendation on Open Science.\", \"src\": \"https://www.leidenmadtrics.nl/images/community/Fig1_2024-01-31-174243_bmfx.jpg\"},
      {\"alt\": \"Figure 2. Proportion of publications by Open Access (OA) category
      in the year of their publication. Source: UNESCO Open Science Outlook.\", \"src\":
      \"https://www.leidenmadtrics.nl/images/community/Fig2_2024-01-31-175826_zzva.png\"},
      {\"alt\": \"Fig[...]
- request:
    body: '{"authors": [{"name": "Nees Jan van Eck"}, {"name": "Martijn Visser"},
      {"name": "Ludo Waltman"}], "blog_name": "Leiden Madtrics", "blog_slug": "leidenmadtrics",
      "content_text": "The need to increase the transparency of university rankings
      is widely\nrecognized, for instance in the [ten rules for ranking\nuniversities](https://www.researchresearch.com/news/article/?articleId=1368350){target=\"_blank\"}\nthat
      we published in 2017, in the work done by t[...]
[...]
- request:
    body: '{"authors": [{"name": "Leiden Madtrics", "url": "https://ror.org/027bh9e22"}],
      "blog_name": "Leiden Madtrics", "blog_slug": "leidenmadtrics", "content_text":
      "How to find the most relevant scientific literature on topic X? How to\nevaluate
      the research carried out by department Y? And how to establish\nnew strategic
      priorities for university Z? These are just a few examples\nof the many important
      decisions that researchers, research evaluators,[...]
[...]
- request:
    body: '{"authors": [{"name": "Carlos Manuel Vilchez Rom\u00e1n"}], "blog_name":
      "Leiden Madtrics", "blog_slug": "leidenmadtrics", "content_text": "Greetings
      from Peru, nestled in the heart of the Andes, where I find\nmyself reflecting
      on two transformative events in my scientific journey:\nthe CWTS Scientometrics
      Summer School (CS^3^) and the 27th International\nConference on Science, Technology,
      and Innovation Indicators (STI 2023).\nAs a bibliometri[...]
- request:
    body: '{"indexed": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.946ece15-78b2-4da2-86d2-1a8f08628f4e
  response:
    content: "[{\"url\":\"https://www.leidenmadtrics.nl/articles/exploring-new-horizons-in-scientometrics-a-reflection-on-the-scientometrics-summer-school-and-sti-2023-conference\",\"title\":\"New
      Horizons: A reflection on the Scientometrics Summer School and the STI 2023
      Conference\",\"summary\":\"Greetings from Peru, nestled in the heart of the
      Andes, where I find myself reflecting on two transformative events in my scientific
      journey: the CWTS Scientometrics Summer School (CS\\n<sup>\\n 3\\n</sup>\\n)
      and the 27th International Conference on Science, Technology, and Innovation
      Indicators (STI 2023). As a bibliometrics enthusiast for the past two decades,
      this experience has been nothing short of a revelation\u2014a journey that prompted
      me to question\",\"image\":\"https://www.leidenmadtrics.nl/images/uploads/day-2-vevrvolg-11.jpg\",\"tags\":[],\"language\":\"en\",\"authors\":[{\"name\":
      \"Carlo[...]
[...]
- request:
    body: '{"authors": [{"name": "Vincent Traag"}, {"name": "Judit Varga"}, {"name":
      "Rodrigo Costas"}, {"name": "Carole de Bordes"}, {"name": "Tim Willemse"}],
      "blog_name": "Leiden Madtrics", "blog_slug": "leidenmadtrics", "content_text":
      "The past years have shown that science can play an important role in\nsocietal
      debates. Science was clearly pivotal in the development of\nCOVID-19 vaccines.
      In addition, many of the interventions and policies,\nsuch a[...]
[...]
- request:
    body: '{"authors": [{"name": "Ludo Waltman"}, {"name": "Biegzat Mulati"}, {"name":
      "Rong Ni"}, {"name": "Jian Wang"}, {"name": "Kwun Hang (Adrian) Lai"}, {"name":
      "Marc Luwel"}, {"name": "Ed Noyons"}, {"name": "Thed van Leeuwen"}, {"name":
      "Verena Weimer"}], "blog_name": "Leiden Madtrics", "blog_slug": "leidenmadtrics",
      "content_text": "Open science was one of the key topics at the [Science, Technology
      and\nInnovation Indicators (STI)\nconference](htt[...]
[...]
