interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.9.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.metadatagamechangers
  response:
    content: '{"id":"6ac6b508-37c9-4dca-9f49-c36bbe19458a","slug":"metadatagamechangers","feed_url":"https://metadatagamechangers.com/blog?format=rss","current_feed_url":null,"home_page_url":"https://metadatagamechangers.com/blog","archive_prefix":null,"feed_format":"application/rss+xml","created_at":1709154984,"updated_at":1727108339,"mastodon":"","generator":"Squarespace","generator_raw":"Squarespace
      6.0.0","language":"en","category":"earthAndRelatedEnvironmentalSciences","favicon":null,"title":"Blog
      - Metadata Game Changers","description":"<p>Exploring metadata, communities,
      and new ideas. </p>","category":"earthAndRelatedEnvironmentalSciences","status":"active","user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","authors":null,"use_api":null,"relative_url":null,"filter":null,"secure":true}'
    headers:
      content-location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.metadatagamechangers
      content-profile:
      - public
      content-range:
      - 0-0/*
      content-type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://metadatagamechangers.com/blog?format=json
  response:
    content: '{"website":{"id":"52ffa419e4b05b374032e6d9","identifier":"ted-habermann","websiteType":1,"contentModifiedOn":1727467524023,"cloneable":false,"hasBeenCloneable":false,"siteStatus":{},"language":"en-US","timeZone":"US/Mountain","machineTimeZoneOffset":-21600000,"timeZoneOffset":-21600000,"timeZoneAbbr":"MDT","siteTitle":"Metadata
      Game Changers","siteTagLine":"","siteDescription":"<p>I have worked in scientific
      data management for many years and enjoy working with organizations and communities
      that share data and knowledge. I am fluent in metadata standards and dialects
      used in scientific data management and publishing.</p>","location":{"mapZoom":12.0,"mapLat":40.0564669,"mapLng":-105.2802617,"markerLat":40.0149856,"markerLng":-105.27054559999999,"addressTitle":"Metadata
      Game Changers LLC","addressLine1":"4524 14th Street","addressLine2":"Boulder,
      CO, 80304","addressCountry":"United States"},"logoImageId":"5e06b72713bb831c9c20c8ab","shareButtonOptions":{"4":true,"1":true},"logoImageUrl":"//images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/1577498408185-9LMHCVUJMNL2UBCIUOB9/Metadata+Game+Changers+Logo-Light.png","authenticUrl":"https://metadatagamechangers.com","internalUrl":"https://ted-habermann.squarespace.com","baseUrl":"https://metadatagamechangers.com","primaryDomain":"metadatagamechangers.com","sslSetting":3,"isHstsEnabled":true,"socialAccounts":[{"serviceId":14,"userId":"xC5r77XdUp","userName":"ted-habermann-141b6764","screenname":"Ted
      Habermann","addedOn":1536012528393,"profileUrl":"https://www.linkedin.com/company/metadata-game-changers/","iconUrl":"https://media.licdn.com/dms/image/C5603AQGElXGrQ9f22A/profile-displayphoto-shrink_100_100/0?e=1541635200&v=beta&t=dfB-_8yqw8v8Y5koN6fORd_xLm1WGZIEAgZMjB6lJTI","iconEnabled":true,"serviceName":"linkedin"}],"typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":false,"screenshotId":"05e4cfdcbe945e3f1248770a58b568b94940edef4623b9380e4a20b03e719a5a","captchaSettings":{"enabledForDonations":false},"showOwnerLogin":false,"siteTitle":"Metadata
      Game Changers"},"websiteSettings":{"id":"52ffa419e4b05b374032e6da","websiteId":"52ffa419e4b05b374032e6d9","type":"Business","subjects":[{"systemSubject":"tech"}],"country":"US","state":"CO","simpleLikingEnabled":true,"mobileInfoBarSettings":{"isContactEmailEnabled":false,"isContactPhoneNumberEnabled":false,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"announcementBarSettings":{"style":1,"text":"","clickthroughUrl":{"url":"https://docs.google.com/forms/d/e/1FAIpQLScVHVCclrr4vjeaCg-fUhx5KUwMpc12UxejQvGPKLaUcYu6tw/viewform","newWindow":true}},"popupOverlaySettings":{"showOnScroll":false,"scrollPercentage":25,"showOnTimer":true,"timerDelay":30000,"showUntilSignup":true,"displayFrequency":30,"enableMobile":true,"enabledPages":[],"showOnAllPages":true,"version":1},"commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","collectionTitleFormat":"%p
      \u2014 %s","itemTitleFormat":"%i \u2014 %s","commentsEnabled":true,"uiComponentRegistrationsFlag":false,"scriptRegistrationsFlag":false,"bundleEligible":false,"newPlanArchitectureEligible":false,"businessHours":{"monday":{"text":"","ranges":[{}]},"tuesday":{"text":"","ranges":[{}]},"wednesday":{"text":"","ranges":[{}]},"thursday":{"text":"","ranges":[{}]},"friday":{"text":"","ranges":[{}]},"saturday":{"text":"","ranges":[{}]},"sunday":{"text":"","ranges":[{}]}},"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"currenciesSupported":["CHF","HKD","MXN","EUR","DKK","USD","CAD","MYR","NOK","THB","AUD","SGD","ILS","PLN","GBP","CZK","SEK","NZD","PHP","RUB"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"checkoutPageMarketingOptInEnabled":false,"enableMailingListOptInByDefault":false,"sameAsRetailLocation":false,"merchandisingSettings":{"scarcityEnabledOnProductItems":false,"scarcityEnabledOnProductBlocks":false,"scarcityMessageType":"DEFAULT_SCARCITY_MESSAGE","scarcityThreshold":10,"multipleQuantityAllowedForServices":true,"restockNotificationsEnabled":false,"restockNotificationsSuccessText":"","restockNotificationsMailingListSignUpEnabled":false,"relatedProductsEnabled":false,"relatedProductsOrdering":"random","soldOutVariantsDropdownDisabled":false,"productComposerOptedIn":false,"productComposerABTestOptedOut":false,"productReviewsEnabled":false,"displayImportedProductReviewsEnabled":false,"hasOptedToCollectNativeReviews":false},"minimumOrderSubtotalEnabled":false,"minimumOrderSubtotal":{"currency":"USD","value":"0.00"},"isLive":true,"multipleQuantityAllowedForServices":true},"useEscapeKeyToLogin":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled"},"ampEnabled":false,"isRestrictiveCookiePolicyEnabled":false,"seoHidden":false,"userAccountsSettings":{"loginAllowed":false,"signupAllowed":false},"cookieBannerText":"<p>We
      use cookies and similar technologies to run this website and help us understand
      how you use it.</p>","isCookieBannerEnabled":true,"isVisitorDataRestricted":false,"businessHours":{"monday":{"text":"","ranges":[{}]},"tuesday":{"text":"","ranges":[{}]},"wednesday":{"text":"","ranges":[{}]},"thursday":{"text":"","ranges":[{}]},"friday":{"text":"","ranges":[{}]},"saturday":{"text":"","ranges":[{}]},"sunday":{"text":"","ranges":[{}]}},"contactEmail":"erin@metadatagamechangers.com","contactPhoneNumber":"3143699954"},"collection":{"id":"52ffb111e4b015113d9dc404","websiteId":"52ffa419e4b05b374032e6d9","mainImageId":"5fe4dc8eba5cdf376564d8c8","mainImage":{"id":"5fe4dc8eba5cdf376564d8c8","recordType":2,"addedOn":1608834190352,"updatedOn":1608834195101,"workflowState":1,"publishOn":1608834190352,"authorId":"52ffa417e4b008058a4648eb","systemDataId":"1608834191729-2F6Z77AVZZWWHQEIMLY9","systemDataVariants":"965x463,100w,300w,500w,750w","systemDataSourceType":"PNG","filename":"TedAtForce2018.png","mediaFocalPoint":{"x":0.5,"y":0.5,"source":3},"colorData":{"topLeftAverage":"59514f","topRightAverage":"e7caad","bottomLeftAverage":"9e7973","bottomRightAverage":"e2c4ae","centerAverage":"e6cfbc","suggestedBgColor":"0e0d0c"},"urlId":"vydynbhkbpan8yyyg84galxmdakoh5","title":"","body":null,"likeCount":0,"commentCount":0,"publicCommentCount":0,"commentState":2,"unsaved":false,"author":{"id":"52ffa417e4b008058a4648eb","displayName":"Ted
      Habermann","firstName":"Ted","lastName":"Habermann","avatarUrl":"https://images.squarespace-cdn.com/content/v2/namespaces/memberAccountAvatars/libraries/52ffa417e4b008058a4648eb/7fba4bf9f03945f7a68fcc994bb83741/7fba4bf9f03945f7a68fcc994bb83741.jpeg?format=300w","websiteUrl":"http://tedhabermann.com","bio":"","avatarAssetUrl":"https://images.squarespace-cdn.com/content/v2/namespaces/memberAccountAvatars/libraries/52ffa417e4b008058a4648eb/7fba4bf9f03945f7a68fcc994bb83741/7fba4bf9f03945f7a68fcc994bb83741.jpeg?format=300w"},"assetUrl":"https://images.squarespace-cdn.com/content/v1/52ffa419e4b05b374032e6d9/1608834191729-2F6Z77AVZZWWHQEIMLY9/TedAtForce2018.png","contentType":"image/png","pushedServices":{},"pendingPushedServices":{},"originalSize":"965x463","recordTypeLabel":"image"},"backgroundSource":1,"enabled":true,"starred":false,"type":1,"ordering":2,"title":"Blog","navigationTitle":"Blog","urlId":"blog","itemCount":67,"updatedOn":1727042643127,"description":"<p
      class=\"\" style=\"white-space:pre-wrap;\">Exploring metadata, communities,
      and new ideas. </p>","pageSize":20,"folder":false,"dropdown":false,"tags":["resourceTypes","METADIG","FairIsland","keywords","FAIR","affiliations","metadata
      evaluation","BRIDGE","metaDIG","facets","presentation","CHORUS","UCAR","RADS","repository
      connectivity","institutionalRepositories","crossref","Dryad","funders","dataFiles","Affiliation","DOI","INFORMATE","Repository
      Connectivity","InstitutionalRepositories","ISO","ORCID","projectMetadata","identifiers","DMP","Roles","dataPackages","PID","Openscapes","metadata
      improvement","DataCite","ROR","re-curation","DataCite Commons","Affiliations","XML","Objects","RORs","informate","funder
      metadata","Connectivity","dataCite","Identifiers"],"categories":["Affiliations","Crossref
      Metadata","DataCite Metadata","Dryad Metadata","INFORMATE","Metadata Evaluation","News","The
      Metadata Game","Understanding ISO Metadat","Using ISO Metadata"],"homepage":false,"typeName":"blog","regionName":"default","synchronizing":false,"categoryPagesSeoHidden":false,"tagPagesSeoHidden":false,"pagePermissionType":1,"typeLabel":"blog","fullUrl":"/blog","passwordProtected":false,"draft":false,"title":"Blog","navigationTitle":"Blog"},"shoppingCart":{"websiteId":"52ffa419e4b05b374032e6d9","created":1728548920991,"entries":[],"shippingLocation":{},"taxLineItems":[],"coupons":[],"promoCodes":[],"appliedGiftCards":[],"cartType":1,"validCoupons":[],"invalidCoupons":[],"subtotalCents":0,"taxCents":0,"shippingCostCents":0,"discountCents":0,"giftCardRedemptionTotalCents":0,"grandTotalCents":0,"amountDueCents":0,"totalQuantity":0,"purelyDigital":false,"hasDigital":false,"requiresShipping":false,"shippingOptions":[]},"shareButtons":{"twitter":true,"linkedin":true},"showCart":true,"localizedStrings":{},"userAccountsContext":{"showSignInLink":false},"template":{"mobileStylesEnabled":true},"uiextensions":{"product-badge":"sqs-uiextensions-product-badge","product-body":"sqs-uiextensions-product-body","product-badge-mobile":"sqs-uiextensions-product-badge-mobile","product-body-mobile":"sqs-uiextensions-product-body-mobile","product-collection-item":"sqs-uiextensions-product-collection-item","scripts-enabled":false},"empty":false,"emptyFolder":false,"calendarView":false,"pagination":{"nextPage":true,"nextPageOffset":1656612884057,"nextPageUrl":"/blog?offset=1656612884057","pageSize":20},"items":[{"id":"66f0945316cf5a696394c076","collectionId":"52ffb111e4b015113d9dc404","recordType":1,"addedOn":1727108293580,"updatedOn":1727108339514,"starred":false,"passthrough":false,"tags":[],"categories":[],"workflowState":1,"publishOn":1727108293580,"authorId":"52ffa417e4b008058a4648eb","systemDataId":"6a0a696d-c5dd-41e4-87c3-3724d88622dc","systemDataVariants":"1749x703,100w,300w,500w,750w,1000w,1500w","systemDataSourceType":"PNG","filename":"UniversityOfBath-Details.png","mediaFocalPoint":{"x":0.5,"y":0.5,"source":3},"colorData":{"topLeftAverage":"fefefe","topRightAverage":"fcfcfc","bottomLeftAverage":"f8f8f8","bottomRightAverage":"fcfcfc","centerAverage":"f7f7f7","suggestedBgColor":"edf0f3"},"urlId":"2024/9/22/brightspots-get-brighter","title":"BrightSpots
      Get Brighter","sourceUrl":"","body":"<div class=\"sqs-layout sqs-grid-12 columns-12\"
      data-layout-label=\"Post Body\" data-type=\"item\" data-updated-on=\"1727042935818\"
      id=\"item-66f0945316cf5a696394c076\"><div class=\"row sqs-row\"><div class=\"col
      sqs-col-12 span-12\"><div class=\"sqs-block html-block sqs-block-html\" data-block-type=\"2\"
      id=\"block-e7a0670be1217abf201c\"><div class=\"sqs-block-content\">\n\n<div
      class=\"sqs-html-content\">\n  <h2 style=\"white-space:pre-wrap;\">Ted Habermann,
      Metadata Game Changers</h2><h1 style=\"white-space:pre-wrap;\">Introduction</h1><p
      class=\"\" style=\"white-space:pre-wrap;\">During June we discussed results
      of <a href=\"https://metadatagamechangers.com/blog/2024/6/12/fair-metadata-university-and-college-bright-spots\"
      target=\"_blank\">FAIR metadata assessments for 387 DataCite repositories</a>
      associated with universities and colleges. The <a href=\"https://researchdata.bath.ac.uk/\"
      target=\"_blank\">University of Bath Research Data Archive<[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/tk44-dq06/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.5438/tk44-dq06\",\"type\":\"Document\",\"additionalType\":\"blogpost\",\"archiveLocations\":null,\"container\":{},\"contributors\":[{\"id\":\"https://ror.org/04wxnsj81\",\"type\":\"Organization\",\"name\":\"DataCite\",\"contributorRoles\":[\"Author\"]},{\"id\":\"
      https://ror.org/038sjwq14\",\"type\":\"Organization\",\"name\":\"Australian
      Research Data Commons\",\"contributorRoles\":[\"Author\"]}],\"date\":{\"published\":\"2024\"},\"descriptions\":[{\"description\":\"DataCite
      and ARDC are pleased to announce a strategic partnership to deliver RAiD, a
      service and system to identify and track research projects and activities. The
      DataCite\u2013ARDC partnership is a pivotal step in providing a fast, robust,
      high quality, and reliable RAiD service for researchers that will be sustained
      over the long term.\\n\\nDataCite is a community-led organisation with a vision
      to connect research and advance knowledge. ARDC is Australia\u2019s leading
      research data infrastructure facility and is the Australian DataCite Consortium
      Lead. RAiD is an ISO standard (23527) with ARDC as the global RAiD ISO Registration
      Authority. RAiD is expanding internationally and later this year will be incorporated
      into the European Open Science Cloud (EOSC). \",\"type\":\"Abstract\"}],\"files\":null,\"fundingReferences\":null,\"geoLocations\":null,\"identifiers\":[{\"identifier\":\"https://doi.org/10.5438/tk44-dq06\",\"identifierType\":\"DOI\"}],\"language\":\"en\",\"license\":{\"id\":\"CC-BY-4.0\",\"url\":\"https://creativecommons.org/licenses/by/4.0/legalcode\"},\"provider\":\"DataCite\",\"publisher\":{\"name\":\"DataCite\"},\"references\":null,\"relations\":null,\"subjects\":null,\"titles\":[{\"title\":\"DataCite
      \\u0026 ARDC Announce Partnership to Deliver the RAiD Service\",\"language\":\"en\"}],\"url\":\"https://datacite.org/blog/datacite-ardc-announce-partnership-to-deliver-the-raid-service\",\"version\":\"1.0\",\"created\":\"2024-09-20
      14:40:21.896Z\",\"updated\":\"2024-09-20 14:40:21.896Z\"}\n"
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVHX212K6Z6BFYN5QS88-arn
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.1177/2053951716654502/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.1177/2053951716654502\",\"type\":\"JournalArticle\",\"archiveLocations\":null,\"container\":{\"identifier\":\"2053-9517\",\"identifierType\":\"ISSN\",\"type\":\"Journal\",\"title\":\"Big
      Data \\u0026amp; Society\",\"firstPage\":\"205395171665450\",\"volume\":\"3\",\"issue\":\"2\"},\"contributors\":[{\"type\":\"Person\",\"givenName\":\"Jo\",\"familyName\":\"Bates\",\"affiliations\":[{\"name\":\"Information
      School, The University of Sheffield, UK\"}],\"contributorRoles\":[\"Author\"]},{\"type\":\"Person\",\"givenName\":\"Yu-Wei\",\"familyName\":\"Lin\",\"affiliations\":[{\"name\":\"University
      for the Creative Arts, UK\"}],\"contributorRoles\":[\"Author\"]},{\"type\":\"Person\",\"givenName\":\"Paula\",\"familyName\":\"Goodale\",\"affiliations\":[{\"name\":\"University
      of Sheffield, UK\"}],\"contributorRoles\":[\"Author\"]}],\"date\":{\"published\":\"2016-07[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/commons.datacite.org/ror.org/010xaa060/transform/application/json
  response:
    content: '{"code":400,"message":"Something went wrong while processing your request.","data":{}}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVJH257D229JHRMR8H09-arn
    status_code: 400
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/agu.confex.com/agu/fm23/meetingapp.cgi/paper/1459946/transform/application/json
  response:
    content: '{"code":400,"message":"Something went wrong while processing your request.","data":{}}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVJ52JEC8Q9GRQ8V8YK0-arn
    status_code: 400
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.59350/zwzvv-1n627/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.59350/zwzvv-1n627","type":"Article","archiveLocations":[],"container":{"type":"Periodical"},"contributors":[{"id":"http://orcid.org/0000-0003-3585-6733","type":"Person","givenName":"Ted","familyName":"Habermann","affiliations":[{"name":"Metadata
      Game Changers"}],"contributorRoles":["Author"]}],"date":{"published":"2023-05-07"},"descriptions":[{"description":"\u003cp\u003eIntroduction
      The DataCite Metadata Schema was developed to provide identification and citation
      metadata for a wide variety of resource types and it has been successfully used
      for many resource types for nearly two decades.\u003c/p\u003e","type":"Abstract"}],"files":[{"url":"https://metadatagamechangers.com/blog/2023/5/2/project-metadata-in-datacite","mimeType":"text/html"},{"url":"https://api.rogue-scholar.org/posts/10.59350/zwzvv-1n627.md","mimeType":"text/plain"},{"url":"https://api.rogue-scholar.org/posts/10.59350/zwzvv-1n627.pdf","mimeType":"application/pdf"},{"url":"https://api.rogue-scholar.org/posts/10.59350/zwzvv-1n627.epub","mimeType":"application/epub+zip"},{"url":"https://api.rogue-scholar.org/posts/10.59350/zwzvv-1n627.xml","mimeType":"application/xml"}],"fundingReferences":[],"license":{},"provider":"Crossref","publisher":{"name":"Front
      Matter"},"references":[],"relations":[],"subjects":[],"titles":[{"title":"Project
      Metadata in DataCite"}],"url":"https://metadatagamechangers.com/blog/2023/5/2/project-metadata-in-datacite","created":"2024-04-20
      03:30:27.225Z","updated":"2024-04-20 03:30:27.225Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVJKSWTRCC68HNYXZ753-arn
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/zenodo.org/records/12168626/transform/application/json
  response:
    content: '{"code":400,"message":"Something went wrong while processing your request.","data":{}}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVK2F1ARC5WWS8JGMRPG-arn
    status_code: 400
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.59350/ksgzn-a6w37/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.59350/ksgzn-a6w37","type":"Article","archiveLocations":[],"container":{"type":"Periodical"},"contributors":[{"id":"http://orcid.org/0000-0003-3585-6733","type":"Person","givenName":"Ted","familyName":"Habermann","affiliations":[{"name":"Metadata
      Game Changers"}],"contributorRoles":["Author"]}],"date":{"created":"2024-02-29T09:32:09Z"},"descriptions":[{"description":"\u003cp\u003eTed
      Habermann, Metadata Game Changers Jamaica Jones, University of Pittsburgh Howard
      Ratner and Tara Packer, CHORUSIntroduction A recent blog post described a new
      partnership between Metadata Game Changers and CHORUS aimed at understanding
      how CHORUS reports can help federal agencies, other funders, and other users
      access and use information from the global research infrastructure to understand
      impact and connections between people,\u003c/p\u003e","descriptionType":"Abstract"}],"files":[{"url":"https://metadatagamechangers.com/blog/2023/12/25/chorus-data-journeys","mimeType":"text/html"},{"url":"https://api.rogue-scholar.org/posts/10.59350/ksgzn-a6w37.md","mimeType":"text/plain"},{"url":"https://api.rogue-scholar.org/posts/10.59350/ksgzn-a6w37.pdf","mimeType":"application/pdf"},{"url":"https://api.rogue-scholar.org/posts/10.59350/ksgzn-a6w37.epub","mimeType":"application/epub+zip"},{"url":"https://api.rogue-scholar.org/posts/10.59350/ksgzn-a6w37.xml","mimeType":"application/xml"}],"fundingReferences":[],"license":{"id":"CC-BY-4.0","url":"https://creativecommons.org/licenses/by/4.0/legalcode"},"provider":"Crossref","publisher":{"name":"Front
      Matter"},"references":[],"relations":[],"subjects":[],"titles":[{"title":"CHORUS
      Data Journeys"}],"url":"https://metadatagamechangers.com/blog/2023/12/25/chorus-data-journeys","created":"2024-04-14
      09:56:00.995Z","updated":"2024-04-14 09:56:00.995Z"}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVS8P21HZ43XRGBKAWQG-cdg
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/commons.datacite.org/ror.org/00zc1hf95/transform/application/json
  response:
    content: '{"code":400,"message":"Something went wrong while processing your request.","data":{}}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVK435RBVBV9W9SR9KBE-arn
    status_code: 400
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.59350/4gxfz-4kb47/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.59350/4gxfz-4kb47","type":"Article","archiveLocations":[],"container":{"type":"Periodical"},"contributors":[{"id":"http://orcid.org/0000-0003-3585-6733","type":"Person","givenName":"Ted","familyName":"Habermann","affiliations":[{"name":"Metadata
      Game Changers"}],"contributorRoles":["Author"]}],"date":{"creat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5438/3qxz-sx64/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.5438/3qxz-sx64\",\"type\":\"Document\",\"additionalType\":\"blogpost\",\"archiveLocations\":null,\"container\":{},\"contributors\":[{\"id\":\"https://orcid.org/0000-0001-6133-4045\",\"type\":\"Person\",\"givenName\":\"Kelly\",\"familyName\":\"Stathis\",\"affiliations\":[{\"name\":\"DataCite\"}],\"contributorRoles\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.59350/xrqzb-re120/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.59350/xrqzb-re120","type":"Article","archiveLocations":[],"container":{"type":"Periodical"},"contributors":[{"id":"http://orcid.org/0000-0003-3585-6733","type":"Person","givenName":"Ted","familyName":"Habermann","affiliations":[{"name":"Metadata
      Game Changers"}],"contributorRoles":["Author"]}],"date":{"creat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.59350/ryh7v-rmy52/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.59350/ryh7v-rmy52\",\"type\":\"Article\",\"archiveLocations\":[],\"container\":{\"type\":\"Periodical\"},\"contributors\":[{\"id\":\"http://orcid.org/0000-0003-3585-6733\",\"type\":\"Person\",\"givenName\":\"Ted\",\"familyName\":\"Habermann\",\"affiliations\":[{\"name\":\"Metadata
      Game Changers\"}],\"cont[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.1371/journal.pone.0302426/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.1371/journal.pone.0302426\",\"type\":\"JournalArticle\",\"archiveLocations\":null,\"container\":{\"identifier\":\"1932-6203\",\"identifierType\":\"ISSN\",\"type\":\"Journal\",\"title\":\"PLOS
      ONE\",\"firstPage\":\"e0302426\",\"volume\":\"19\",\"issue\":\"4\"},\"contributors\":[{\"type\":\"Person\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/metadata.raid.org/en/latest/transform/application/json
  response:
    content: '{"code":400,"message":"Something went wrong while processing your request.","data":{}}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVYJ6K8JJGFTGRPCJ313-arn
    status_code: 400
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.59350/n31gm-kg364/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.59350/n31gm-kg364","type":"Article","archiveLocations":[],"container":{"type":"Periodical"},"contributors":[{"id":"http://orcid.org/0000-0003-3585-6733","type":"Person","givenName":"Ted","familyName":"Habermann","affiliations":[{"name":"Metadata
      Game Changers"}],"contributorRoles":["Author"]}],"date":{"publi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/support.datacite.org/docs/datacite-graphql-api-guide/transform/application/json
  response:
    content: '{"code":400,"message":"Something went wrong while processing your request.","data":{}}

      '
    headers:
      content-type:
      - application/json; charset=UTF-8
      fly-request-id:
      - 01J9TRPVK74VCF9C9BBXEAE62H-arn
    status_code: 400
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.59350/77zs1-hz764/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.59350/77zs1-hz764","type":"Article","archiveLocations":null,"container":{"type":"Periodical"},"contributors":[{"id":"https://orcid.org/0000-0003-3585-6733","type":"Person","givenName":"Ted","familyName":"Habermann","affiliations":[{"id":"https://ror.org/05bp8ka05","name":"Metadata
      Game Changers"}],"contribut[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.17192/bfdm.2021.3.8351/transform/application/json
  response:
    content: "{\"id\":\"https://doi.org/10.17192/bfdm.2021.3.8351\",\"type\":\"JournalArticle\",\"archiveLocations\":null,\"container\":{\"identifier\":\"2626-7489\",\"identifierType\":\"ISSN\",\"type\":\"Series\"},\"contributors\":[{\"type\":\"Person\",\"givenName\":\"Marleen\",\"familyName\":\"Burger\",\"contributorRoles\":[\"Author\"]},{\"type\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commonmeta.org/10.5281/zenodo.12168626/transform/application/json
  response:
    content: '{"id":"https://doi.org/10.5281/zenodo.12168626","type":"Dataset","archiveLocations":null,"container":{},"contributors":[{"id":"https://orcid.org/0000-0003-3585-6733","type":"Person","givenName":"Ted","familyName":"Habermann","affiliations":[{"name":"Metadata
      Game Changers (United States)"}],"contributorRoles":["Author"]}],"date":{"published":"2024-06-19"},"descriptions":[{"description":"Documentation
      Concepts that support the FAIR Principles are mapped to the DataCite Metadata
      Schema using json Paths.","type":"Abstract"}],"files":null,"fundingReferences":[{"funderIdentifier":"10.13039/100000001","funderIdentifierType":"Crossref
[...]
