interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
  response:
    content: '{"id":"f0m0e38","slug":"front_matter","feed_url":"https://blog.front-matter.io/atom-complete/","current_feed_url":"https://blog.front-matter.io/atom/","home_page_url":"https://blog.front-matter.io","archive_prefix":null,"feed_format":"application/atom+xml","created_at":"2023-01-02","updated_at":1698073841,"use_mastodon":true,"generator":"Ghost
      5.52","language":"en","favicon":"https://blog.front-matter.io/favicon.png","title":"Front
      Matter","description":"The Front Matter Blog covers the intersection of science
      and technology since 2007.","category":"computerAndInformationSciences","status":"active","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers:
      Accept-Version:
      - v5.0
    method: GET
    uri: https://front-matter.ghost.io/ghost/api/content/posts/?page=1&limit=50&filter=visibility:public&include=tags,authors&key=b099ebe9ce894979c77431e6d3
  response:
    body:
      string: "{\"posts\":[{\"id\":\"6526c60bf23c390001a8394c\",\"uuid\":\"e9d845a4-81e9-498f-b252-4493f9f42bc2\",\"title\":\"Generating
        Overlay blog posts\",\"slug\":\"generating-overlay-blog-posts\",\"html\":\"<p>On
        Monday the Rogue Scholar science blog archive <a href=\\\"https://doi.org/10.53731/ar11b-5ea39\\\"
        rel=\\\"noreferrer\\\">launched a dedicated API</a>. Today I am reporting
        on the first Jupyter notebook using that API to generate an overlay blog post.</p><blockquote>An&nbsp;<strong>overlay
        journal</strong>&nbsp;or&nbsp;<strong>overlay ejournal</strong>&nbsp;is a
        type of&nbsp;open access&nbsp;academic journal, almost always an online&nbsp;electronic
        journal&nbsp;(ejournal), that does not produce its own content, but selects
        from texts that are already freely available online.&nbsp;From <a href=\\\"https://en.wikipedia.org/wiki/Overlay_journal\\\"
        rel=\\\"noreferrer\\\">Wikipedia</a></blockquote><p>An <strong>overlay blog
        post</strong> applies the idea of an <strong>overlay journal</strong> to science
        blog posts, and the Rogue Scholar API \u2013 in combination with content that
        has an open license (<a href=\\\"https://creativecommons.org/licenses/by/4.0/legalcode\\\"
        rel=\\\"noreferrer\\\">CC-BY</a>) \u2013 makes that easy.</p><p>The Jupyter
        notebook that I started and <a href=\\\"https://github.com/front-matter/rogue-scholar-notebooks\\\">made
        available via GitHub</a> and <a href=\\\"https://doi.org/10.5281/zenodo.8433675\\\"
        rel=\\\"noreferrer\\\">Zenodo</a> fetches all blog posts using a search term
        and some other conditions (here written in English and published after 2010).
        I thought a good search term to try out the concept would be <strong>Retraction
        Watch</strong>, after the <a href=\\\"https://doi.org/10.13003/c23rw1d9\\\"
        rel=\\\"noreferrer\\\">announcement in September</a> that <em>Crossref has
        acquired the Retraction Watch database of expressions of concerns and retractions
        and has made it openly accessible to anyone who wants to use it.</em></p><p>The
        notebook includes this note:</p><div class=\\\"kg-card kg-callout-card kg-callout-card-blue\\\"><div
        class=\\\"kg-callout-emoji\\\">\U0001F4A1</div><div class=\\\"kg-callout-text\\\">We
        use the query&nbsp;retraction watch. We limit results to posts published since&nbsp;2010&nbsp;(the
        year Retraction Watch launched) and&nbsp;en&nbsp;as language. We retrieve
        the&nbsp;title,&nbsp;authors,&nbsp;publication date,&nbsp;abstract,&nbsp;blog
        name,&nbsp;doi&nbsp;and&nbsp;url.We sort the results in reverse chronological
        order (newest first).</div></div><p>The query for that search term returned
        17 blog posts included in Rogue Scholar (out of about 9,000 posts), and manual
        curation narrowed that list further down to 12 posts (visualized with <a href=\\\"https://mermaid.js.org/\\\"
        rel=\\\"noreferrer\\\">Mermaid</a>):</p><figure class=\\\"kg-card kg-image-card\\\"><img
        src=\\\"https://blog.front-matter.io/content/images/2023/10/mermaid-figure-1.png\\\"
        class=\\\"kg-image\\\" alt=\\\"\\\" loading=\\\"lazy\\\" width=\\\"2000\\\"
        height=\\\"190\\\" srcset=\\\"https://blog.front-matter.io/content/images/size/w600/2023/10/mermaid-figure-1.png
        600w, https://blog.front-matter.io/content/images/size/w1000/2023/10/mermaid-figure-1.png
        1000w, https://blog.front-matter.io/content/images/size/w1600/2023/10/mermaid-figure-1.png
        1600w, https://blog.front-matter.io/content/images/size/w2400/2023/10/mermaid-figure-1.png
        2400w\\\" sizes=\\\"(min-width: 720px) 720px\\\"></figure><p>The notebook
        then generates a bibtex file of all 12 blog posts (easy as they all have DOIs)
        and generates a summary written in markdown using the title, author, blog
        name, publication date, and abstract.</p><h2 id=\\\"conclusions\\\">Conclusions</h2><p>The
        notebook needs some more fine-tuning, and I plan to publish the first overlay
        blog post next week. But notebooks are an interesting approach to automate
        the generating of overlay blog posts, open to everyone as the content of the
        Rogue Scholar API is freely available for reuse. I particularly like using
        both automation and manual curation using open source tools, which is a powerful
        combination</p><h2 id=\\\"references\\\">References</h2><p>Fenner, M. (2023).
        <em>Rogue Scholar has an API</em>. <a href=\\\"https://doi.org/10.53731/ar11b-5ea39\\\">https://doi.org/10.53731/ar11b-5ea39</a></p><p>Fenner,
        M. (2023). <em>front-matter/rogue-scholar-notebooks: Initial public release</em>
        (0.8) [Computer software]. Zenodo. <a href=\\\"https://doi.org/10.5281/ZENODO.8433675\\\">https://doi.org/10.5281/ZENODO.8433675</a></p><p>Crossref,
        Hendricks, G., Center for Scientific Integrity, &amp; Lammey, R. (2023). <em>Crossref
        acquires Retraction Watch data and opens it for the scientific community</em>.
        <a href=\\\"https://doi.org/10.13003/c23rw1d9\\\">https://doi.org/10.13003/c23rw1d9</a></p>\",\"comment_id\":\"6526c60bf23c390001a8394c\",\"feature_image\":\"https://images.unsplash.com/flagged/photo-1552425083-0117136f7d67?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDIxfHxjYW5vcHl8ZW58MHx8fHwxNjk3MDQwMDk1fDA&ixlib=rb-4.0.3&q=80&w=2000\",\"featured\":false,\"visibility\":\"public\",\"created_at\":\"2023-10-11T15:58:03.000+00:00\",\"updated_at\":\"2023-10-23T15:03:08.000+00:00\",\"published_at\":\"2023-10-11T16:40:31.000+00:00\",\"custom_excerpt\":null,\"codeinjection_head\":null,\"codeinjection_foot\":null,\"custom_template\":null,\"canonical_url\":\"https://doi.org/10.53731/gzrse-p5d35\",\"tags\":[{\"id\":\"62d42bbc41e317003df48d4e\",\"name\":\"Feature\",\"slug\":\"feature\",\"description\":\"Features
        explore issues raised by news stories in more depth.\",\"feature_image\":\"https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fHJlc2VhcmNofGVufDB8fHx8MTYxODEyMzQxNQ&ixlib=rb-1.2.1&q=80&w=2000\",\"visibility\":\"public\",\"og_image\":null,\"og_title\":null,\"og_description\":null,\"twitter_image\":null,\"twitter_title\":null,\"twitter_description\":null,\"meta_title\":null,\"meta_description\":null,\"codeinjection_head\":null,\"codeinjection_foot\":null,\"canonical_url\":null,\"accent_color\":null,\"url\":\"https://blog.front-matter.io/tag/feature/\"}],\"authors\":[{\"id\":\"1\",\"name\":\"Martin
        Fenner\",\"slug\":\"martin\",\"profile_image\":\"https://www.gravatar.com/avatar/8adea77ad740876f5cb832f92d49f08d?s=250&r=x&d=mp\",\"cover_image\":null,\"bio\":null,\"website\":\"https://orcid.org/0000-0003-1419-2405\",\"location\":null,\"facebook\":null,\"twitter\":null,\"meta_title\":null,\"meta_description\":null,\"url\":\"https://blog.front-matter.io/author/martin/\"}],\"primary_author\":{\"id\":\"1\",\"name\":\"Martin
        Fenner\",\"slug\":\"martin\",\"profile_image\":\"https://www.gravatar.com/avatar/8adea77ad740876f5cb832f92d49f08d?s=250&r=x&d=mp\",\"cover_image\":null,\"bio\":null,\"website\":\"https://orcid.org/0000-0003-1419-2405\",\"location\":null,\"facebook\":null,\"twitter\":null,\"meta_title\":null,\"meta_description\":null,\"url\":\"https://blog.front-matter.io/author/martin/\"},\"primary_tag\":{\"id\":\"62d42bbc41e317003df48d4e\",\"name\":\"Feature\",\"slug\":\"feature\",\"description\":\"Features
        explore issues raised by news stories in more depth.\",\"feature_image\":\"https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fHJlc2VhcmNofGVufDB8fHx8MTYxODEyMzQxNQ&ixlib=rb-1.2.1&q=80&w=2000\",\"visibility\":\"public\",\"og_image\":null,\"og_title\":null,\"og_description\":null,\"twitter_image\":null,\"twitter_title\":null,\"twitter_description\":null,\"meta_title\":null,\"meta_description\":null,\"codeinjection_head\":null,\"codeinjection_foot\":null,\"canonical_url\":null,\"accent_color\":null,\"url\":\"https://blog.front-matter.io/tag/feature/\"},\"url\":\"https://blog.front-matter.io/posts/generating-overlay-blog-posts/\",\"excerpt\":\"On
        Monday the Rogue Scholar science blog archive launched a dedicated API. Today
        I am reporting on the first Jupyter notebook using that API to generate an
        overlay blog post.\\n\\nAn\_overlay journal\_or\_overlay ejournal\_is a type
        of\_open access\_academic journal, almost always an online\_electronic journal\_(ejournal),
        that does not produce its own content, but selects from texts that are already
        freely available online.\_From Wikipedia\\n\\nAn overlay blog post applies
        the idea of an overlay journal to scie\",\"reading_time\":2,\"access\":true,\"comments\":true,\"og_image\":null,\"og_title\":null,\"og_description\":null,\"twitter_image\":null,\"twitter_title\":null,\"twitter_description\":null,\"meta_title\":null,\"meta_description\":null,\"email_subject\":null,\"frontmatter\":null,\"feature_image_alt\":null,\"feature_image_caption\":\"<span
        style=\\\"white-space: pre-wrap;\\\">Photo by </span><a href=\\\"https://unsplash.com/@inset_agency?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit\\\"><span
        style=\\\"white-space: pre-wrap;\\\">Paul Knight</span></a><span style=\\\"white-space:
        pre-wrap;\\\"> / </span><a href=\\\"https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit\\\"><span
        style=\\\"white-space: pre-wrap;\\\">Unsplash</span></a>\"},{\"id\":\"6524026b509bba0001454cd2\",\"uuid\":\"532dfbe1-2040-4d6a-80cc-6becb907abc0\",\"title\":\"Rogue
        Scholar has an API\",\"slug\":\"rogue-scholar-has-an-api\",\"html\":\"<p>The
        Rogue Scholar science blog archive has launched a dedicated API today, publicly
        available at <code>https://api.rogue-scholar.org</code> and complementing
        the <a href=\\\"https://rogue-scholar.org\\\" rel=\\\"noreferrer\\\">website</a>.</p><p>Rogue
        Scholar had an API before but with two important limitations. </p><ul><li><strong>Serverless</strong>.
        The API at https://rogue-scholar.org/api uses <a href=\\\"https://www.serverless.com/\\\"
        rel=\\\"noreferrer\\\">serverless</a> technology, which isn't a good fit for
        long-running resource-intense processes.</li><li><strong>GitHub Actions</strong>.
        GitHub Actions are used for DOI registrations. They can be triggered at specific
        times, but <a href=\\\"https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflo[...]
- request:
    body: '{"authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
      "blog_id": "f0m0e38", "blog_name": "Front Matter", "blog_slug": "front_matter",
      "content_html": "<p>On Monday the Rogue Scholar science blog archive <a href=\"https://doi.org/10.53731/ar11b-5ea39\"
      rel=\"noreferrer\">launched a dedicated API</a>. Today I am reporting on the
      first Jupyter notebook using that API to generate an overlay blog post.</p><blockquote>An&nbsp;<strong>overlay
      journal</strong>&nbsp;or&nbsp;<strong>overlay ejournal</strong>&nbsp;is a type
      of&nbsp;open access&nbsp;academic journal, almost always an online&nbsp;electronic
      journal&nbsp;(ejo[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/1.2.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.1cc6de6d-9eef-4305-a936-933446c315dd
  response:
    content: "[{\"url\":\"https://blog.front-matter.io/posts/generating-overlay-blog-posts\",\"title\":\"Generating
      Overlay blog posts\",\"summary\":\"\",\"image\":\"https://images.unsplash.com/flagged/photo-1552425083-0117136f7d67?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDIxfHxjYW5vcHl8ZW58MHx8fHwxNjk3MDQwMDk1fDA&ixlib=rb-4.0.3&q=80&w=2000\",\"content_html\":\"<p>On
      Monday the Rogue Scholar science blog archive <a href=\\\"https://doi.org/10.53731/ar11b-5ea39\\\"
      rel=\\\"noreferrer\\\">launched a dedicated API</a>. Today I am reporting on
      the first Jupyter notebook using that API to generate an overlay blog p[...]
[...]
- request:
    body: '{"authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
      "blog_id": "f0m0e38", "blog_name": "Front Matter", "blog_slug": "front_matter",
      "content_html": "<p>The <a href=\"https://rogue-scholar.org\" rel=\"noreferrer\">Rogue
      Scholar science blog archive</a> received a small update today with the following
      changes: optionally filter blog posts by language, added support for all OECD
      fields of science and technology, and searching by DOI. And it passed another
      big milestone: more than 5,000 (<a href=\"https://rogue-scholar.org/de/posts\"
      rel=\"noreferrer\">5,483</a> today) blog posts are now archived.</p>\n<h3 id=\"filter-blog-posts-by-language\">Filter
      blog posts by language</h3>\n<p>Rogue Scholar supports science blog posts in
      any language and the user interface supports English, Spanish, German, French,
      Portuguese, and Italian. Ninety percent of the archived blog posts are in English,
      the rest in German or Spanish. With the new filter you can limit search results
      to your preferred language, e.g. German:</p>\n<figure class=\"kg-card kg-image-card\"><img
      src=\"http[...]
[...]
- request:
    body: '{"authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
      "blog_id": "f0m0e38", "blog_name": "Front Matter", "blog_slug": "front_matter",
      "content_html": "<p>The <a href=\"https://rogue-scholar.org/\">Rogue Scholar
      science blog archive</a> continues to grow. It is closing in on 50 science blogs
      (currently <a href=\"https://rogue-scholar.org/blogs\">45</a>), 3,000 blog posts
      (currently <a href=\"https://rogue-scholar.org/posts\">2,944</a>, of which <a
      href=\"https://api.crossref.org/members/31795/works\">2,775</a> have a DOI),
      and 250 (currently <a href=\"https://api.crossref.org/members/31795/works?filter=has-references:true\">212</a>)
      blog posts with references registered with Crossref. I have set up eleven Mastodon
      bots for Rogue Scholar blogs after <a href=\"https://doi.org/10.53731/f1mhr-wps22\">announcing
      the feature</a> last week. We have achieved 32% of our funding goal to pay for
      the archiving of all current Rogue Scholar blog posts.</p>\n<figure class=\"kg-card
      kg-image-card\"><img src=\"https://blog.front-matter.io/content/images/2023/08/Bildschirmfoto-2023-08-28-um-10.49.56.png\"
      class=\"kg-image\" alt=\"\" loading=\"lazy\" width=\"423\" height=\"290\"></figure>\n<p>Also
      last week, Rogue Scholar added the first <a href=\"https://rogue-scholar.org/blogs/norbisley\">Spanish-language
      blog</a> and the first two blogs covering Chemistry (<a href=\"https://rogue-scholar.org/blogs/cwagen\">here</a>
      and <a href=\"https://rogue-scholar.org/blogs/rzepa\">he[...]
[...]
- request:
    body: '{"authors": [{"name": "Martin Fenner", "url": "https://orcid.org/0000-0003-1419-2405"}],
      "blog_id": "f0m0e38", "blog_name": "Front Matter", "blog_slug": "front_matter",
      "content_html": "<p>The <a href=\"https://rogue-scholar.org\">Rogue Scholar
      science blog archive</a> adds important functionality to existing science blogs,
      namely archiving, full-text search, and DOI registration. While a lot of effort
      has gone into making Rogue Scholar as affordable as possible by using Open Source
      software, automation, and involving the community, it still costs money to build
      and run scholarly infrastructure, including scholarly infrastructure for science
      blogs.</p>\n<p>We made a few fundamental decisions even before starting Rogue
      Scholar:</p>\n<ul><li>Time-limited funds are used only for time-limited activities</li><li>Mission-consistent
      revenue generation</li><li>Revenue based on services, not data</li><li>Open
      source</li><li>Open data (within constraints of privacy laws)</li></ul>\n<p>These
      principles of course come from the <a href=\"https://doi.org/10.24343/C34W2H\">Principles
      of Open Scholarly Infrastructure</a> (POSI). It is too early for Rogue Scholar
      for a<a href=\"https://openscholarlyinfra[...]
[...]
