interactions:
- request:
    body: '{"authors": [{"name": "Ma\u00eblle Salmon", "url": "https://orcid.org/0000-0002-2815-0399"},
      {"name": "Yanina Bellini Saibene", "url": "https://orcid.org/0000-0002-4522-7466"}],
      "blog_name": "rOpenSci - open tools for open science", "blog_slug": "ropensci",
      "content_text": "As part of our [multilingual publishing\nproject](/multilingual-publishing/),
      and with [funding from the R\nConsortium](https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2),\nwe''ve
      worked on the R package\n[babeldown](https://docs.ropensci.org/babeldown/) for
      translating\nMarkdown-based content using the DeepL API.In this tech note, we''ll
      show\nhow you can use babeldown to translate a Hugo blog post!\n\n## Motivation\n\nTranslating
      a Markdown[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.11.0
    method: PATCH
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?id=eq.78af77d1-72ba-4d9d-92aa-9dc258bbf00a
  response:
    content: "[{\"url\":\"https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-with-babeldown\",\"title\":\"How
      to Translate a Hugo Blog Post with Babeldown\",\"summary\":\"<p>As part of our
      <a href=\\\"/multilingual-publishing/\\\">multilingual publishing project</a>,
      and with <a href=\\\"https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2\\\">funding
      from the R Consortium</a>, we&rsquo;ve worked on the R package <a href=\\\"https://docs.ropensci.org/babeldown/\\\">babeldown</a>
      for translating Markdown-based content using the DeepL API.In this tech note,
      we&rsquo;ll show how you can use babeldown to translate a Hugo blog post!\",\"image\":\"placeholder.png\",\"tags\":[\"Tech
      Notes\",\"Multilingual\"],\"language\":\"en\",\"authors\":[{\"url\": \"https://orcid.org/0000-0002-2815-0399\",
      \"name\": \"Ma\xEBlle Salmon\"}, {\"url\": \"https://orcid.org/0000-0002-4522-7466\",
      \"name\": \"Yanina Bellini Saibene\"}],\"doi\":\"https://doi.org/10.59350/evaf9-2qf48\",\"id\":\"78af77d1-72ba-4d9d-92aa-9dc258bbf00a\",\"reference\":[],\"updated_at\":1695713432,\"published_at\":1695686400,\"blog_name\":\"rOpenSci
      - open tools for open science\",\"indexed_at\":1731078596,\"indexed\":true,\"images\":[{\"alt\":
      \"Diagram with on the left the leaf folder in the new-post branch with the post
      in Spanish with the text 'Hola' and an image; on the right the leaf folder in
      the new-post branch with the post in Spanish with the text 'hola', the post
      with the English target filename with the text 'hola', and the image.\", \"src\":
      \"placeholder.png\"}, {\"alt\": \"Diagram with on the left the leaf folder in
      the auto-translate branch with the post in Spanish with the text 'hola', the
      post with the English target filename with the text 'hola', and the image; on
      the right the only thing that changed is that the content of the post with the
      English target filename is now 'hello'.\", \"src\": \"translate.png\"}, {\"alt\":
      \"Drawing of the pull request from the auto-translate to the new-post[...]
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.11.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2C%20guid%2C%20doi%2C%20url%2C%20archive_url%2C%20title%2C%20summary%2C%20abstract%2C%20content_text%2C%20published_at%2C%20updated_at%2C%20registered_at%2C%20indexed_at%2C%20authors%2C%20image%2C%20tags%2C%20language%2C%20reference%2C%20relationships%2C%20blog_name%2C%20blog_slug%2C%20rid%2C%20blog%3A%20blogs%21inner%28%2A%29&guid=eq.https%3A%2F%2Fropensci.org%2Fblog%2F2023%2F09%2F26%2Fhow-to-translate-a-hugo-blog-post-with-babeldown%2F
  response:
    content: "{\"id\":\"78af77d1-72ba-4d9d-92aa-9dc258bbf00a\",\"guid\":\"https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-with-babeldown/\",\"doi\":\"https://doi.org/10.59350/evaf9-2qf48\",\"url\":\"https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-with-babeldown\",\"archive_url\":null,\"title\":\"How
      to Translate a Hugo Blog Post with Babeldown\",\"summary\":\"<p>As part of our
      <a href=\\\"/multilingual-publishing/\\\">multilingual publishing project</a>,
      and with <a href=\\\"https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2\\\">funding
      from the R Consortium</a>, we&rsquo;ve worked on the R package <a href=\\\"https://docs.ropensci.org/babeldown/\\\">babeldown</a>
      for translating Markdown-based content using the DeepL API.In this tech note,
      we&rsquo;ll show how you can use babeldown to translate a Hugo blog post!\",\"abstract\":null,\"content_text\":\"As
      part of our [multilingual publishing\\nproject](/multilingual-publishing/),
      and with [funding from the R\\nConsortium](https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2),\\nwe've
      worked on the R package\\n[babeldown](https://docs.ropensci.org/babeldown/)
      for translating\\nMarkdown-based content using the DeepL API.In this tech note,
      we'll show\\nhow you can use babeldown to translate a Hugo blog post!\\n\\n##
      Mo[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/records?q=doi:10.59350%2Fevaf9-2qf48
  response:
    content: '{"hits": {"hits": [{"id": "hc1tq-gq010", "created": "2024-10-13T18:08:39.114064+00:00",
      "updated": "2025-01-19T09:41:19.262359+00:00", "links": {"self": "https://rogue-scholar.org/api/records/hc1tq-gq010",
      "self_html": "https://rogue-scholar.org/records/hc1tq-gq010", "self_doi": "https://rogue-scholar.org/doi/10.59350/evaf9-2qf48",
      "doi": "https://handle.stage.datacite.org/10.59350/evaf9-2qf48", "parent": "https://rogue-scholar.org/api/records/eqa30-aqm27",
      "parent_html": "https://rogue-scholar.org/records/eqa30-aqm27", "self_iiif_manifest":
      "https://rogue-scholar.org/api/iiif/record:hc1tq-gq010/manifest", "self_iiif_sequence":
      "https://rogue-scholar.org/api/iiif/record:hc1tq-gq010/sequence/default", "files":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/files", "media_files": "https://rogue-scholar.org/api/records/hc1tq-gq010/media-files",
      "archive": "https://rogue-scholar.org/api/records/hc1tq-gq010/files-archive",
      "archive_media": "https://rogue-scholar.org/api/records/hc1tq-gq010/media-files-archive",
      "latest": "https://rogue-scholar.org/api/records/hc1tq-gq010/versions/latest",
      "latest_html": "https://rogue-scholar.org/records/hc1tq-gq010/latest", "draft":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/draft", "versions": "https://rogue-scholar.org/api/records/hc1tq-gq010/versions",
      "access_links": "https://rogue-scholar.org/api/records/hc1tq-gq010/access/links",
      "access_grants": "https://rogue-scholar.org/api/records/hc1tq-gq010/access/grants",
      "access_users": "https://rogue-scholar.org/api/records/hc1tq-gq010/access/users",
      "access_groups": "https://rogue-scholar.org/api/records/hc1tq-gq010/access/groups",
      "access_request": "https://rogue-scholar.org/api/records/hc1tq-gq010/access/request",
      "access": "https://rogue-scholar.org/api/records/hc1tq-gq010/access", "reserve_doi":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/draft/pids/doi", "communities":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/communities", "communities-suggestions":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/communities-suggestions",
      "requests": "https://rogue-scholar.org/api/records/hc1tq-gq010/requests"}, "revision_id":
      17, "parent": {"id": "eqa30-aqm27", "access": {"grants": [], "owned_by": {"user":
      "4"}, "links": [], "settings": {"allow_user_requests": false, "allow_guest_requests":
      false, "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
      {"ids": ["19c501a7-647b-4a11-9f5e-cf400817cce3", "734b8591-2695-421b-b9df-1895cd787c4e",
      "9a3fd0d3-9da5-4d61-9ae7-cd83b72caa24"], "default": "19c501a7-647b-4a11-9f5e-cf400817cce3",
      "entries": [{"id": "19c501a7-647b-4a11-9f5e-cf400817cce3", "created": "2024-10-05T18:45:09.152768+00:00",
      "updated": "2025-01-18T07:38:30.007347+00:00", "links": {}, "revision_id": 218,
      "slug": "ropensci", "metadata": {"title": "rOpenSci - open tools for open science",
      "type": {"id": "blog", "title": {"de": "Blog", "en": "Blog", "sv": "Blogg"}},
      "website": "https://ropensci.org/blog"}, "access": {"visibility": "public",
      "members_visibility": "public", "member_policy": "open", "record_policy": "open",
      "review_policy": "closed"}, "is_verified": false, "deletion_status": {"is_deleted":
      false, "status": "P"}, "children": {"allow": false}}, {"id": "734b8591-2695-421b-b9df-1895cd787c4e",
      "created": "2024-12-13T12:10:14.635020+00:00", "updated": "2024-12-13T12:12:14.129259+00:00",
      "links": {}, "revision_id": 6, "slug": "markdown", "metadata": {"title": "Markdown",
      "type": {"id": "topic", "title": {"de": "Thema", "en": "Topic", "sv": "Tema"}}},
      "access": {"visibility": "public", "members_visibility": "public", "member_policy":
      "open", "record_policy": "open", "review_policy": "closed"}, "is_verified":
      false, "deletion_status": {"is_deleted": false, "status": "P"}, "children":
      {"allow": false}}, {"id": "9a3fd0d3-9da5-4d61-9ae7-cd83b72caa24", "created":
      "2024-10-28T20:01:45.704392+00:00", "updated": "2024-11-08T12:53:47.860049+00:00",
      "links": {}, "revision_id": 6, "slug": "hugo", "metadata": {"title": "Hugo",
      "type": {"id": "topic", "title": {"de": "Thema", "en": "Topic", "sv": "Tema"}}},
      "access": {"visibility": "public", "members_visibility": "public", "member_policy":
      "open", "record_policy": "open", "review_policy": "closed"}, "is_verified":
      false, "deletion_status": {"is_deleted": false, "status": "P"}, "children":
      {"allow": false}}]}, "pids": {}, "is_verified": false}, "versions": {"is_latest":
      true, "is_latest_draft": true, "index": 1}, "is_published": true, "is_draft":
      false, "pids": {"doi": {"identifier": "10.59350/evaf9-2qf48", "provider": "external"},
      "oai": {"identifier": "oai:invenio-rdm:hc1tq-gq010", "provider": "oai"}}, "metadata":
      {"resource_type": {"id": "publication-preprint", "title": {"de": "Preprint",
      "en": "Preprint", "sv": "Preprint"}}, "creators": [{"person_or_org": {"type":
      "personal", "name": "Salmon, Ma\u00eblle", "given_name": "Ma\u00eblle", "family_name":
      "Salmon", "identifiers": [{"identifier": "0000-0002-2815-0399", "scheme": "orcid"}]}},
      {"person_or_org": {"type": "personal", "name": "Saibene, Yanina Bellini", "given_name":
      "Yanina Bellini", "family_name": "Saibene", "identifiers": [{"identifier": "0000-0002-4522-7466",
      "scheme": "orcid"}]}}], "title": "How to Translate a Hugo Blog Post with Babeldown",
      "publication_date": "2023-09-26", "subjects": [{"id": "http://www.oecd.org/science/inno/38235147.pdf?1.2",
      "subject": "Computer and information sciences", "scheme": "FOS"}, {"subject":
      "Tech Notes"}, {"subject": "Multilingual"}], "dates": [{"date": "2023-09-26T02:00:00",
      "type": {"id": "issued", "title": {"de": "Ver\u00f6ffentlicht", "en": "Issued",
      "sv": "Utf\u00e4rdad"}}}, {"date": "2023-09-26T09:30:32", "type": {"id": "updated",
      "title": {"de": "Aktualisiert", "en": "Updated", "sv": "Uppdaterad"}}}], "languages":
      [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
      "78af77d1-72ba-4d9d-92aa-9dc258bbf00a", "scheme": "uuid"}, {"identifier": "https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-with-babeldown/",
      "scheme": "guid"}, {"identifier": "https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-with-babeldown",
      "scheme": "url"}], "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative
      Commons Attribution 4.0 International"}, "description": {"en": "The Creative
      Commons Attribution license allows re-distribution and re-use of a licensed
      work on the condition that the creator is appropriately credited."}, "icon":
      "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/",
      "scheme": "spdx"}}], "description": "As part of our multilingual publishing
      project, and with funding from the R Consortium, we''ve worked on the R package
      babeldown for translating Markdown-based content using the DeepL API.In this
      tech note, we''ll show how you can use babeldown to translate a Hugo blog post!Motivation
      Translating a Markdown blog post from your R console is not only more comfortable
      (when you''ve already written said blog post in R), but also less frustrating.With"},
      "custom_fields": {"journal:journal": {"title": "rOpenSci - open tools for open
      science"}, "rs:content_text": "As part of our [multilingual publishing\nproject](/multilingual-publishing/),
      and with [funding from the R\nConsortium](https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2),\nwe''ve
      worked on the R package\n[babeldown](https://docs.ropensci.org/babeldown/) for
      translating\nMarkdown-based content using the DeepL API.In this tech note, we''ll
      show\nhow you[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://rogue-scholar.org/api/communities?q=slug:ropensci
  response:
    content: '{"hits": {"hits": [{"id": "19c501a7-647b-4a11-9f5e-cf400817cce3", "created":
      "2024-10-05T18:45:09.152768+00:00", "updated": "2025-01-18T07:38:28.860321+00:00",
      "links": {"featured": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/featured",
      "self": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3",
      "self_html": "https://rogue-scholar.org/communities/ropensci", "settings_html":
      "https://rogue-scholar.org/communities/ropensci/settings", "logo": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/logo",
      "rename": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/rename",
      "members": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/members",
      "public_members": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/members/public",
      "invitations": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/invitations",
      "requests": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/requests",
      "records": "https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/records"},
      "revision_id": 217, "slug": "ropensci", "metadata": {"title": "rOpenSci - open
      tools for open science", "description": "Open Tools and R Packages for Open
      Science", "type": {"id": "blog", "title": {"de": "Blog", "en": "Blog", "sv":
      "Blogg"}}, "website": "https://ropensci.org/blog"}, "access": {"visibility":
      "public", "members_visibility": "public", "member_policy": "open", "record_policy":
      "open", "review_policy": "open"}, "custom_fields": {"rs:feed_url": "https://ropensci.org/blog/index.json",
      "rs:feed_format": "application/feed+json", "rs:generator": "Hugo", "rs:prefix":
      "10.59350", "rs:license": "https://creativecommons.org/licenses/by/4.0/legalcode",
      "rs:joined": "August 31, 2023", "rs:language": "English", "rs:category": "Computer
      and information sciences"}, "is_verified": false, "deletion_status": {"is_deleted":
      false, "status": "P"}, "children": {"allow": false}}], "total": 1}, "aggregations":
      {"type": {"buckets": [{"key": "blog", "doc_count": 1, "label": "blog", "is_selected":
      false}], "label": "Type"}, "visibility": {"buckets": [{"key": "public", "doc_count":
      1, "label": "Public", "is_selected": false}], "label": "Visibility"}}, "sortBy":
      "bestmatch", "links": {"self": "https://rogue-scholar.org/api/communities?page=1&q=slug%3Aropensci&size=25&sort=bestmatch"}}'
    headers:
      content-type:
      - application/json
      fly-request-id:
      - 01JHZ05PY9KVA960YQC4K4CFNQ-arn
      retry-after:
      - '0'
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '848'
      x-ratelimit-reset:
      - '1737280905'
      x-user-id:
      - '4'
    status_code: 200
- request:
    body: ''
    headers:
    method: POST
    uri: https://rogue-scholar.org/api/records/hc1tq-gq010/draft
  response:
    content: '{"id": "hc1tq-gq010", "created": "2025-01-19T08:53:22.486535+00:00",
      "updated": "2025-01-19T10:01:45.075431+00:00", "links": {"self": "https://rogue-scholar.org/api/records/hc1tq-gq010/draft",
      "self_html": "https://rogue-scholar.org/uploads/hc1tq-gq010", "doi": "https://handle.stage.datacite.org/10.59350/evaf9-2qf48",
      "self_iiif_manifest": "https://rogue-scholar.org/api/iiif/draft:hc1tq-gq010/manifest",
      "self_iiif_sequence": "https://rogue-scholar.org/api/iiif/draft:hc1tq-gq010/sequence/default",
      "files": "https://rogue-scholar.org/api/records/hc1tq-gq010/draft/files", "media_files":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/draft/media-files", "archive":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/draft/files-archive", "archive_media":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/draft/media-files-archive",
      "record": "https://rogue-scholar.org/api/records/hc1tq-gq010", "record_html":
      "https://rogue-scholar.org/records/hc1tq-gq010", "publish": "https://rogue-scholar.org/api/records/hc1tq-gq010/draft/actions/publish",
      "review": "https://rogue-scholar.org/api/records/hc1tq-gq010/draft/review",
      "versions": "https://rogue-scholar.org/api/records/hc1tq-gq010/versions", "access_links":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/access/links", "access_grants":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/access/grants", "access_users":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/access/users", "access_groups":
      "https://rogue-scholar.org/api/records/hc1tq-gq010/access/groups[...]
- request:
    body: '{"pids": {"doi": {"identifier": "10.59350/evaf9-2qf48", "provider": "external"}},
      "access": {"record": "public", "files": "public"}, "files": {"enabled": false},
      "metadata": {"resource_type": {"id": "publication-preprint"}, "creators": [{"person_or_org":
      {"name": "Salmon, Ma\u00eblle", "given_name": "Ma\u00eblle", "family_name":
      "Salmon", "type": "personal", "identifiers": [{"identifier": "0000-0002-2815-0399",
      "scheme": "orcid"}]}}, {"person_or_org": {"name": "Saibene, Yanina Bellini",
      "given_name": "Yanina Bellini", "family_name": "Saibene", "type": "personal",
      "identifiers": [{"identifier": "0000-0002-4522-[...]
- request:
    body: ''
    headers:
    method: POST
    uri: https://rogue-scholar.org/api/records/hc1tq-gq010/draft/actions/publish
  response:
    content: '{"id": "hc1tq-gq010", "created": "2024-10-13T18:08:39.114064+00:00",
      "updated": "2025-01-19T10:01:47.764225+00:00", "links": {"self": "https://rogue-scholar.org/api/records/hc1tq-gq010",
      "self_html": "https://rogue-scholar.org/records/hc1tq-gq010", "self_doi": "https://rogue-scholar.org/doi/10.59350/evaf9-2qf48",
      "doi":[...]
- request:
    body: '{"rid": "hc1tq-gq010"}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.11.0
    method: PATCH
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?guid=eq.https%3A%2F%2Fropensci.org%2Fblog%2F2023%2F09%2F26%2Fhow-to-translate-a-hugo-blog-post-with-babeldown%2F
  response:
    content: "[{\"url\":\"https://ropensci.org/blog[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      x-client-info:
      - supabase-py/2.12.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner%28%2A%29%2Ccitations%3Acitations%21inner%28citation%2Cunstructured%2Cvalidated%2Cupdated_at%2Cpublished_at%29&guid=eq.https%3A%2F%2Fropensci.org%2Fblog%2F2023%2F09%2F26%2Fhow-to-translate-a-hugo-blog-post-with-babeldown%2F
  response:
    content: '{"code":"PGRST116","details":"The result contains 0 rows","hint":null,"message":"JSON
      object requested, multiple (or no) rows returned"}'
    headers:
      content-type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
      sb-project-ref:
      - zggonsjmmfozmfxlrjmg
    status_code: 406
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      x-client-info:
      - supabase-py/2.12.0
    method: GET
    uri: https://zggonsjmmfozmfxlrjmg.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_text%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cblog_name%2Cblog_slug%2Crid%2Cblog%3Ablogs%21inner[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://rogue-scholar.org/api/communities?q=slug:'
  response:
    content: '{"hits": {"hits": [], "total": 0}, "aggregations": {"type": {"buckets":
      [], "label": "Type"}, "visibility": {"buckets": [], "label": "Visibility"}},
      "sortBy": "bestmatch", "links": {"self": "https://rogue-scholar.org/api/communities?page=1&q=slug%3A&size=25&sort=bestmatch"}}'
    headers:
      content-type:
      - application/json
      fly-request-id:
      - 01JKP0QVZFME71WJRDSH90HK9Z-arn
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '900'
      x-ratelimit-remaining:
      - '899'
      x-ratelimit-reset:
      - '1739127053'
      x-user-id:
      - '4'
    status_code: 200
- request:
    body: "{\"authors\":[{\"name\":\"Ma\xEBlle Salmon\",\"url\":\"https://orcid.org/0000-0002-2815-0399\"},{\"name\":\"Yanina
      Bellini Saibene\",\"url\":\"https://orcid.org/0000-0002-4522-7466\"}],\"blog_name\":\"rOpenSci
      - open tools for open science\",\"blog_slug\":\"ropensci\",\"content_html\":\"\",\"images\":[{\"src\":\"placeholder.png\",\"alt\":\"Diagram
      with on the left the leaf folder in the new-post branch with the post in Spanish
      with the text 'Hola' and an image; on the right the leaf folder in the new-post
      branch with the post in Spanish with the text 'hola', the post with the English
      target filename with the text 'hola', and the image.\"},{\"src\":\"translate.png\",\"alt\":\"Diagram
      with on the left the leaf folder in the auto-translate branch wi[...]
- request:
    body: '{"indexed":false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.17.0
    method: PATCH
    uri: https://bosczcmeodcrajtcaddf.supabase.co/rest/v1/posts?id=eq.5cc085ac-768b-47cc-8f4f-c5474a97ecf5
  response:
    content: "[{\"url\":\"https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-[...]
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      x-client-info:
      - supabase-py/2.17.0
    method: GET
    uri: https://bosczcmeodcrajtcaddf.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29%2Ccitations%3Acitations%21inner%28citation%2Cunstructured%2Cvalidated%2Cupdated_at%2Cpublished_at%29&guid=eq.https%3A%2F%2Fropensci.org%2Fblog%2F2023%2F09%2F26%2Fhow-to-translate-a-hugo-blog-post-with-babeldown%2F
  response:
    content: '{"code":"PGRST116","details":"The result contains 0 rows","hint":null,"message":"JSON
      object requested, multiple (or no) rows returned"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
      sb-project-ref:
      - bosczcmeodcrajtcaddf
      sb-request-id:
      - 01987bc4-2d23-739e-8880-c4ee53e5ab14
    status_code: 406
- request:
    body: ''
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      x-client-info:
      - supabase-py/2.17.0
    method: GET
    uri: https://bosczcmeodcrajtcaddf.supabase.co/rest/v1/posts?select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29&guid=eq.https%3A%2F%2Fropensci.org%2Fblog%2F2023%2F09%2F26%2Fhow-to-translate-a-hugo-blog-post-with-babeldown%2F
  response:
    content: "{\"id\":\"5cc085ac-768b-47cc-8f4f-c5474a97ecf5\",\"guid\":\"https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-with-babeldown/\",\"doi\":null,\"parent_doi\":null,\"url\":\"https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-with-babeldown\",\"archive_url\":null,\"title\":\"How
      to Translate a Hugo Blog Post with Babeldown\",\"summary\":\"<p>As part of our
      <a href=\\\"/multilingual-publishing/\\\">multilingual publishing project</a>,
      and with <a href=\\\"https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2\\\">funding
      from the R Consortium</a>, we&rsquo;ve worked on the R package <a href=\\\"https://docs.ropensci.org/babeldown/\\\">babeldown</a>
      for translating Markdown-based content using the DeepL API.In this tech note,
      we&rsquo;ll show how you can use babeldown to translate a Hugo blog post!\",\"abstract\":null,\"content_html\":\"\",\"published_at\":1695686400,\"updated_at\":1695713432,\"registered_at\":0,\"indexed_at\":0,\"authors\":[{\"url\":
      \"https://orcid.org/0000-0002-2815-0399\", \"name\": \"Ma\xEBlle Salmon\"},
      {\"url\": \"https://orcid.org/0000-0002-4522-7466\", \"name\": \"Yanina Bellini
      Saibene\"}],\"image\":\"placeholder.png\",\"tags\":[\"Tech Notes\",\"Multilingual\"],\"language\":\"en\",\"reference\":[],\"relationships\":[],\"funding_references\":null,\"blog_name\":\"rOpenSci
      - open tools for open science\",\"blog_slug\":\"ropensci\",\"rid\":null,\"version\":null,\"blog\":{\"id\":
      \"ba402233-14af-48e4-b8b1-6fd22ac75a0c\", \"ror\": null, \"issn\": null, \"slug\":
      \"ropensci\", \"title\": \"rOpenSci - open tools for open science\", \"filter\":
      null, \"prefix\": \"10.59350\", \"secure\": true, \"status\": \"active\", \"authors\":
      [{\"name\": \"The rOpenSci Team\"}], \"doi_reg\": true, \"favicon\": \"https://rogue-scholar.org/api/communities/19c501a7-647b-4a11-9f5e-cf400817cce3/logo\",
      \"funding\": null, \"indexed\": false, \"license\": \"https://creativecommons.org/licenses/by/4.0/legalcode\",
      \"use_api\": null, \"user_id\": \"3ea9676b-41b6-4e57-aeda-44a7d7fe1dba\", \"category\":
      \"computerAndInformationSciences\", \"feed_url\": \"https://ropensci.org/blog/index.json\",
      \"language\": \"en\", \"mastodon\": null, \"generator\": \"Hugo\", \"created_at\":
      1693440000, \"updated_at\": 1753256479, \"description\": \"Open Tools and R
      Packages for Open Science\", \"doi_as_guid\": false, \"feed_format\": \"application/feed+json\",
      \"archive_host\": null, \"community_id\": \"1e70f18f-d85d-4b86-af0c-0dc375b091bc\",
      \"relative_url\": null, \"use_mastodon\": false, \"canonical_url\": null, \"generator_raw\":
      \"Hugo -- gohugo.io\", \"home_page_url\": \"https://ropensci.org/blog\", \"registered_at\":
      1729793201, \"archive_prefix\": \"https://wayback.archive-it.org/22126/20231105110646/\",
      \"current_feed_url\": null, \"archive_collection\": 22126, \"archive_timestamps\":
      [20231105110646, 20240505190836, 20241105110650, 20250505110723]}}"
    headers:
      content-location:
      - /posts?guid=eq.https%3A%2F%2Fropensci.org%2Fblog%2F2023%2F09%2F26%2Fhow-to-translate-a-hugo-blog-post-with-babeldown%2F&select=id%2Cguid%2Cdoi%2Cparent_doi%2Curl%2Carchive_url%2Ctitle%2Csummary%2Cabstract%2Ccontent_html%2Cpublished_at%2Cupdated_at%2Cregistered_at%2Cindexed_at%2Cauthors%2Cimage%2Ctags%2Clanguage%2Creference%2Crelationships%2Cfunding_references%2Cblog_name%2Cblog_slug%2Crid%2Cversion%2Cblog%3Ablogs%21inner%28%2A%29
      content-profile:
      - public
      content-range:
      - 0-0/*
      content-type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
      sb-project-ref:
      - bosczcmeodcrajtcaddf
      sb-request-id:
      - 01987bc4-2d6a-74e9-92e3-d2e42ad5267e
    status_code: 200
version: 1
