interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
  response:
    content: '{"id":"2e00349e-defb-4459-9653-f284f516ac20","slug":"epub_fis","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","current_feed_url":null,"home_page_url":"https://blog.dini.de/EPub_FIS","archive_prefix":"https://wayback.archive-it.org/22121/20231105105752/","feed_format":"application/atom+xml","created_at":1689897600,"updated_at":1706534803,"mastodon":null,"generator":"WordPress
      6.3.2","generator_raw":null,"language":"de","category":"socialSciences","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","title":"FIS
      & EPub","description":"Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren","category":"socialSciences","status":"active","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null,"secure":null}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://blog.dini.de/EPub_FIS?rest_route=%2Fwp%2Fv2%2Fposts&page=1&per_page=50&_embed=1
  response:
    content: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

      <html><head>

      <title>301 Moved Permanently</title>

      </head><body>

      <h1>Moved Permanently</h1>

      <p>The document has moved <a href="https://blog.dini.de/EPub_FIS/?rest_route=%2Fwp%2Fv2%2Fposts&amp;page=1&amp;per_page=50&amp;_embed=1">here</a>.</p>

      <hr>

      <address>Apache/2.4.57 (Debian) Server at blog.dini.de Port 443</address>

      </body></html>

      '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://blog.dini.de/EPub_FIS/?rest_route=%2Fwp%2Fv2%2Fposts&page=1&per_page=50&_embed=1
    status_code: 301
version: 1
