interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter&slug=eq.epub_fis
  response:
    content: '{"id":"mdh1h61","slug":"epub_fis","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","current_feed_url":null,"home_page_url":"https://blog.dini.de/EPub_FIS","archive_prefix":null,"feed_format":"application/atom+xml","created_at":"2023-07-21","updated_at":0,"use_mastodon":false,"generator":"WordPress
      6.3.2","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","title":"FIS
      & EPub","description":"Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren","category":"socialSciences","status":"active","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter&slug=eq.epub_fis
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers:
      A-Im:
      - feed
    method: GET
    uri: https://blog.dini.de/EPub_FIS/feed/atom/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed\n\txmlns=\"http://www.w3.org/2005/Atom\"\n\txmlns:thr=\"http://purl.org/syndication/thread/1.0\"\n\txml:lang=\"de-DE\"\n\t\n\txmlns:georss=\"http://www.georss.org/georss\"\n\txmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\"\n\t>\n\t<title
        type=\"text\">FIS &amp; EPub</title>\n\t<subtitle type=\"text\">Gemeinsamer
        Blog der DINI AG Forschungsinformationssystem und Elektronisches Publizieren</subtitle>\n\n\t<updated>2023-09-25T11:01:59Z</updated>\n\n\t<link
        rel=\"alternate\" type=\"text/html\" href=\"https://blog.dini.de/EPub_FIS\"
        />\n\t<id>https://blog.dini.de/EPub_FIS/feed/atom/</id>\n\t<link rel=\"self\"
        type=\"application/atom+xml\" href=\"https://blog.dini.de/EPub_FIS/feed/atom/\"
        />\n\n\t<generator uri=\"https://wordpress.org/\" version=\"6.3.2\">WordPress</generator>\n<icon>https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png</icon>\n\t<entry>\n\t\t<author>\n\t\t\t<name>Gastautor(en)</name>\n\t\t\t\t\t</author>\n\n\t\t<title
        type=\"html\"><![CDATA[Aktualisierte OpenAIRE Richtlinie f\xFCr FIS-Manager]]></title>\n\t\t<link
        rel=\"alternate\" type=\"text/html\" href=\"https://blog.dini.de/EPub_FIS/2023/09/25/openaire-richtlinie-fis-manager/\"
        />\n\n\t\t<id>https://blog.dini.de/EPub_FIS/?p=3211</id>\n\t\t<updated>2023-09-25T11:01:59Z</updated>\n\t\t<published>2023-09-25T11:01:59Z</published>\n\t\t<category
        scheme=\"https://blog.dini.de/EPub_FIS\" term=\"Elektronisches Publizieren\"
        /><category scheme=\"https://blog.dini.de/EPub_FIS\" term=\"Forschungsinformationssysteme\"
        /><category scheme=\"https://blog.dini.de/EPub_FIS\" term=\"Projekt\" /><category
        scheme=\"https://blog.dini.de/EPub_FIS\" term=\"OpenAIRE\" />\n\t\t<summary
        type=\"html\"><![CDATA[Im Juni 2023 wurden die &#8222;OpenAIRE Guidelines
        for[...]
- request:
    body: null
    headers:
      sentry-trace:
      - f2cedb4248fd4ec79f55a058e46db8ef-b09f271d5af40055
    method: GET
    uri: https://blog.dini.de/EPub_FIS?rest_route=/wp/v2/posts&page=1&per_page=50&_embed=1
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://blog.dini.de/EPub_FIS/?rest_route=/wp/v2/posts&page=1&per_page=50&_embed=1
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      sentry-trace:
      - f2cedb4248fd4ec79f55a058e46db8ef-b09f271d5af40055
    method: GET
    uri: https://blog.dini.de/EPub_FIS/?rest_route=/wp/v2/posts&page=1&per_page=50&_embed=1
  response:
    body:
      string: '[{"id":3211,"date":"2023-09-25T13:01:59","date_gmt":"2023-09-25T11:01:59","guid":{"rendered":"https:\/\/blog.dini.de\/EPub_FIS\/?p=3211"},"modified":"2023-09-25T13:01:59","modified_gmt":"2023-09-25T11:01:59","slug":"openaire-richtlinie-fis-manager","status":"publish","type":"post","link":"https:\/\/blog.dini.de\/EPub_FIS\/2023\/09\/25\/openaire-richtlinie-fis-manager\/","title":{"rendered":"Aktualisierte
        OpenAIRE Richtlinie f\u00fcr FIS-Manager"},"content":{"rendered":"\n<p>Im
        Juni 2023 wurden die &#8222;OpenAIRE Guidelines for CRIS Managers v1.2&#8220;
        als Resultat eines intensiven Austauschs der FIS Gemeinschaft ver\u00f6ffentlicht.&nbsp;<\/p>\n\n\n\n<p>Bereits
        im Jahre 2015 wurde die erste Richtlinie f\u00fcr Forschungsinformation[...]
