interactions:
- request:
    body: '{"authors": [{"name": "Ma\u00eblle Salmon", "url": "https://orcid.org/0000-0002-2815-0399"},
      {"name": "Yanina Bellini Saibene", "url": "https://orcid.org/0000-0002-4522-7466"}],
      "blog_name": "rOpenSci - open tools for open science", "blog_slug": "ropensci",
      "content_text": "As part of our [multilingual publishing\nproject](/multilingual-publishing/),
      and with [funding from the R\nConsortium](https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2),\nwe''ve
      worked on the R package\n[babeldown](https://docs.ropensci.org/babeldown/) for
      translating\nMarkdown-based content using the DeepL API.In this tech note, we''ll
      show\nhow you can use babeldown to translate a Hugo blog post!\n\n## Motivation\n\nTranslating
      a Markdown[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/2.3.4
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.78af77d1-72ba-4d9d-92aa-9dc258bbf00a
  response:
    content: "[{\"url\":\"https://ropensci.org/blog/2023/09/26/how-to-translate-a-hugo-blog-post-with-babeldown\",\"title\":\"How
      to Translate a Hugo Blog Post with Babeldown\",\"summary\":\"<p>As part of our
      <a href=\\\"/multilingual-publishing/\\\">multilingual publishing project</a>,
      and with <a href=\\\"https://www.r-consortium.org/all-projects/awarded-projects/2022-group-2\\\">funding
      from the R Consortium</a>, we&rsquo;ve worked on the R package <a href=\\\"https://docs.ropensci.org/babeldown/\\\">babeldown</a>
      for translating Markdown-based content using the DeepL API.In this tech note,
      we&rsquo;ll show how you can use babeldown to translate a Hugo blog post!\",\"image\":\"placeholder.png\",\"tags\":[\"Tech
      Notes\",\"Multilingual\"],\"language\":\"en\",\"authors\":[{\"url\": \"https://orcid.org/0000-0002-2815-0399\",
      \"name\": \"Ma\xEBlle Salmon\"}, {\"url\": \"https://orcid.org/0000-0002-4522-7466\",
      \"name\": \"Yanina Bellini Saibene\"}],\"doi\":\"https://doi.org/10.59350/evaf9-2qf48\",\"id\":\"78af77d1-72ba-4d9d-92aa-9dc258bbf00a\",\"reference\":[],\"updated_at\":1695713432,\"published_at\":1695686400,\"blog_name\":\"rOpenSci
      - open tools for open science\",\"indexed_at\":1698122182,\"indexed\":true,\"images\":[{\"alt\":
      \"Diagram with on the left the leaf folder in the new-post branch with the post
      in Spanish with the text 'Hola' and an image; on the right the leaf folder in
      the new-post branch with the post in Spanish with the text 'hola', the post
      with the English target filename with the text 'hola', and the image.\", \"src\":
      \"placeholder.png\"}, {\"alt\": \"Diagram with on the left the leaf folder in
      the auto-translate branch with the post in Spanish with the text 'hola', the
      post with the English target filename with the text 'hola', and the image; on
      the right the only thing that changed is that the content of the post with the
      English target filename is now 'hello'.\", \"src\": \"translate.png\"}, {\"alt\":
      \"Drawing of the pull request from the auto-translate to the new-post[...]
