interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter&slug=eq.tarleb
  response:
    content: '{"id":"7gyq558","slug":"tarleb","feed_url":"https://tarleb.com/index.xml","current_feed_url":null,"home_page_url":"https://tarleb.com/index.html","archive_prefix":null,"feed_format":"application/rss+xml","created_at":"2023-04-20","updated_at":1679616000,"use_mastodon":false,"generator":"Quarto
      1.2.475","language":"en","favicon":null,"title":"tarleb","description":"tarleb''s
      blog","category":"computerAndInformationSciences","status":"active","user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","authors":null,"plan":"Starter","use_api":null,"relative_url":null,"filter":null}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter&slug=eq.tarleb
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: https://tarleb.com/index.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss  xmlns:atom=\"http://www.w3.org/2005/Atom\"
        \n      xmlns:media=\"http://search.yahoo.com/mrss/\" \n      xmlns:content=\"http://purl.org/rss/1.0/modules/content/\"
        \n      xmlns:dc=\"http://purl.org/dc/elements/1.1/\" \n      version=\"2.0\">\n<channel>\n<title>tarleb</title>\n<link>https://tarleb.com/index.html</link>\n<atom:link
        href=\"https://tarleb.com/index.xml\" rel=\"self\" type=\"application/rss+xml\"/>\n<description>tarleb&#39;s
        blog</description>\n<generator>quarto-1.2.475</generator>\n<lastBuildDate>Fri,
        24 Mar 2023 00:00:00 GMT</lastBuildDate>\n<item>\n  <title>Typst Musings</title>\n
        \ <dc:creator>Albert Krewinkel</dc:creator>\n  <link>https://tarleb.com/posts/typst-musings/index.html</link>\n
        \ <description><![CDATA[ \n\n\n\n<p><a href=\"https://typst.app\">Typst</a>,
        the new writing tool, was open sourced a couple of days ago. This is right
        up my alley of course, and I have a couple of thoughts on it, which I share
        here.</p>\n<section id=\"what-is-it\" class=\"level2\">\n<h2 class=\"anchored\"
        data-anchor-id=\"what-is-it\">What is it?</h2>\n<p>Typst is a writing tool
        that\u2019s described as a LaTeX alternative: it takes plain-text markup as
        input and can produce nice looking PDFs from that. The open-sourcing of the
        code created a lot of excitement and interest, with the <a href=\"https://github.com/typst/typst\">GitHub
        repository</a> getting starred over 9,000 times in just a few days.</p>\n<p>The
        tool comes with fresh and interesting ideas, impressive technology, and a
        good bit of hype\u2014so let\u2019s take a closer look.</p>\n</section>\n<section
        id=\"how-does-it-work\" class=\"level2\">\n<h2 class=\"anchored\" data-anchor-id=\"how-does-it-work\">How
        does it work?</h2>\n<p>Typst is written in <a href=\"https://www.rust-lang.org/\">Rust</a>,
        a comparatively low-level programming language that fixes many shortcomings
        of other languages operating in the same domain. One interesting feature of
        Rust that Typst makes use of is compilation to web assembly, which allows
        us to run Rust programs in the browser. This is how Typst can do the blazing
        fast PDF generation <em>in the browser!</em></p>\n<p>Of course this only works
        if it is Rust all the way down, which has important consequences. My first
        thought when I looked at the code was that it suffered from some serious <a
        href=\"https://en.wikipedia.org/wiki/Not_invented_here\">nih</a> syndrome:
        basically the whole stack is built on libraries written by the Typst team,
        even when high-qualitify open source libraries were available and could have
        been used with Rust[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p><a href=\"https://typst.app\">Typst</a>,
      the new writing tool, was open sourced a couple of days ago. This is right up
      my alley of course, and I have a couple of thoughts on it, which I share here.</p>\n<section
      id=\"what-is-it\" class=\"level2\">\n<h2 class=\"anchored\" data-anchor-id=\"what-is-it\">What
      is it?</h2>\n<p>Typst is a writing tool that\u2019s described as a LaTeX alternative:
      it takes plain-text markup as input and can produce nice looking PDFs fr[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/1.2.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.6dfb0a7f-acae-47d6-ae0a-cc8ab31869c6
  response:
    content: "[{\"url\":\"https://tarleb.com/posts/typst-musings/index.html\",\"title\":\"Typst
      Musings\",\"summary\":\"\",\"image\":null,\"content_html\":\"<p><a href=\\\"https://typst.app\\\">Typst</a>,
      the new writing tool, was open sourced a couple of days ago. This is right up
      my alley of course, and I have a couple of thoughts on it, which I share here.</p>\\n<section
      id=\\\"what-is-it\\\" class=\\\"level2\\\">\\n<h2 class=\\\"anchored\\\" data-anchor-id=\\\"what-is-it\\\">What
      is it?</h2>\\n<p>Typst is a writing tool that\u2019s described as a LaTeX alternative:
      it takes plain-text markup [...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>Pandoc\u2019s Markdown
      allows for \u201cfancy lists\u201d, i.e., lists with different styles used for
      the marker of ordered list items.</p>\n<p>E.g., the list</p>\n<div class=\"sourceCode\"
      id=\"cb1\" style=\"background: #f1f3f5;\"><pre class=\"sourceCode markdown code-with-copy\"><code
      class=\"sourceCode markdown\"><span id=\"cb1-1\">(I)  primus</span>\n<span id=\"cb1-2\">(#)  secundus</span>\n<span
      id=\"cb1-3\">(#)  tertius</span></code></pre></div>\n<p>uses uppercase roman
      numerals and double parentheses for the markers. It gets rendered as</p>\n<blockquote
      class=\"blockquote\">\n<ol type=\"I\">\n<li>primus</li>\n<li>secundus</li>\n<li>tertius</li>\n</ol>\n</blockquote>\n<section
      id=\"continuations\" class=\"level2\">\n<h2 class=\"anchored\" data-anchor-id=\"continuations\">Continuations</h2>\n<p>The
      fancy lists feature also allows to continue lists after an intermediate paragraph:</p>\n<div
      class=\"sourceCode\" id=\"cb2\" style=\"background: #f1f3f5;\"><pre class=\"sourceCode
      markdown code-with-copy\"><code class=\"sourceCode markdown\"><span id=\"cb2-1\">i.   one</span>\n<span
      id=\"cb2-2\">#.   another</span>\n<span id=\"cb2-3\"></span>\n<span id=\"cb2-4\">Interruption;
      not part of any list.</span>\n<span id=\"cb2-5\"></span>\n<span id=\"cb2-6\">iii.
      continue</span>\n<span id=\"cb2-7\">#.   keep counting</span></code></pre></div>\n<p>This
      becomes</p>\n<blockquote class=\"blockquote\">\n<ol type=\"i\">\n<li>one</li>\n<li>another</li>\n</ol>\n<p>Interruption;
      not part of any list.</p>\n<ol start=\"3\" type=\"i\">\n<li>continue</li>\n<li>keep
      counting</li>\n</ol>\n</blockquote>\n<p>While very convenient, this requires
      us to carefully keep book of the number of items in previous parts, or risk
      the item numbering to become inconsistent. Imagine having to find and update
      all other list parts after adding a single item somewhere. T[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>Line breaks usually have
      no semantic meaning within a Markdown paragraph. However, using line breaks
      to mark the end of a sentece can help with productivity for various reasons.<sup>1</sup>
      Documents with one sentence per line are also called \u201cventilated prose\u201d,
      and the <a href=\"https://writetheasciidocs.netlify.app\">Write the {Ascii}Docs</a>
      website has a <a href=\"https://writetheasciidocs.netlify.app/ventilated-prose\">good
      article on that topic</a>.</p>\n<p>A question came up in a Slack channel, asking
      whether it was possible to convert existing Markdown docs to this style. Naturally,
      the answer is \u201cpandoc can do that[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>When pandoc is used in
      larger pipelines, e.g.&nbsp;in combination with <a href=\"https://sphinx-doc.org\">Sphinx</a>,
      it can be useful to pack everything up into one neat container. One option is
      to base the container on a pandoc image like <code>pandoc/core</code>, but this
      may be difficult due to other dependencies. In this case, the easiest option
      is to do this:</p>\n<div class=\"sourceCode\" id=\"cb1\" style=\"background:
      #f1f3f5;\"><pre class=\"sourceCode dockerfile code-with-copy\"><code class=\"sourceCode
      dockerfile\"><span id=\"cb1-1\"><span class=\"kw\" style=\"color: #003B4F;\">COPY</span>
      <span class=\"op\" style=\"color: #5E5E5E;\">--from=pandoc/minimal:2.19.2</span>
      /pandoc /usr/bin/pandoc</span></code></pre></div>\n<p>The snippet, when added
      to a Dockerfile, copies a statically compiled executable from an official build
      to <code>/usr/bin/pandoc</code>. The static pandoc binary can run on all Linux
      distributions, so it does not matter what distro the custom build is based on.</p>\n<p>The
      documentation for the <a href=\"https://hub.docker.com/r/pandoc/minimal\" class=\"uri\">https://hub.docker.com/r/pandoc/minimal</a>
      has more info, including a list of supported versions (tags).</p>", "content_text":
      null, "images": [], "updated_at": 1662508800, "published_at": 1662508800, "image":
      null, "language": "en", "reference": [], "relationships": [], "summary": "When
      pandoc is used in larger pipelines, e.g.&nbsp;in combination with &lt;a href=\"https://sphinx-doc.org\"&gt;Sphinx&lt;/a&gt;,
      it can be useful to pack everything up into one neat container.", "tags": ["Pandoc",
      "Tip", "Docker"], "title": "Install pandoc in custom Docker images", "url":
      "https://tarleb.com/posts/tip-install-in-docker/index.html", "archive_url":
      null}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation,resolution=merge-duplicates
      x-client-info:
      - supabase-py/1.2.0
    method: POST
    uri: https://db.rogue-scholar.org/rest/v1/posts?on_conflict=url
  response:
    content: '[{"url":"https://tarleb.com/posts/tip-install-in-docker/index.html","title":"Install
      pandoc in custom Docker images",[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>Setting the document font
      this way works for ConTeXt, LaTeX, and HTML output. The fonts used in docx or
      odt output must be controlled with the reference document instead.</p>\n<p>The
      default LaTeX engine is pdflatex, which only supports TeX\u2019s own font format
      and cannot use the TrueType or OpenType fonts instal[...]
- request:
    body: '{"indexed": true}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/1.2.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.03ab218f-618a-4a67-9c7f-eba0914d9308
  response:
    content: "[{\"url\":\"https://tarleb.com/posts/tip-document-font/index.html\",\"title\":\"Document
      font\",\"summary\":\"Setting the document font this way works for ConTeXt, LaTeX,
      and HTML output.\",\"image\":null,\"content_html\":\"<p>Setting the document
      font this way works for ConTeXt, LaTeX, and HTML output. The fonts used in docx
      or odt output must be controlled with the reference document instead.</p>\\n<p>The
      default LaTeX engine is pdflatex, which only supports TeX\u2019s own font format
      and cannot use the TrueType or OpenType fonts installed on the system. However,
      XeLaTeX was written with that in mind; switching to that engine allows to specify
      any font available on the system.</p>\\n<p>A good source for free fonts is the
      <a href=\\\"https://fonts.google.com\\\">Google Fonts</a> repository.</p>\",\"tags\":[\"Pandoc\",\"Tip\",\"PDF\",\"HTML\"],\"language\":\"en\",\"blog_id\":\"7gyq558\",\"authors\":[{\"name\":
      \"Albert Krewinkel\"}],\"doi\":\"https://doi.org/10.59350/2ngyj-1m508\",\"id\":\"03ab218f-618a-4a67-9c7f-eba0914d9308\",\"reference\":[],\"updated_at\":1662508800,\"published_at\":1662508800,\"blog_name\":\"tarleb\",\"indexed_at\":1689006804,\"indexed\":true,\"images\":[],\"blog_slug\":\"tarleb\",\"content_text\":null,\"relationships\":[],\"archive_url\":null}]"
    headers:
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>When extending pandoc (or
      Quarto) with Lua filters, we interact with so-called Lua userdata objects. These
      objects are used to wrap document AST elements, making them accessible from
      Lua scripts. They mostly behave like normal Lua tables. This post is intended
      as a quick overview, listing interesting properties of userdata objects.</p>\n<section
      id=\"userdata-objects\" class=\"level2\">\n<h2 class=\"anchored\" data-anchor-id=\"userdata-objects\">Userdata
      objects</h2>\n<p>Haskell-generated userdata objects have three main components:
      a type <em>name</em>, <em>properties</em>, and <em>methods</em>:</p>\n<section
      id=\"type-name\" class=\"level3\">\n<h3 class=\"anchored\" data-anchor-id=\"type-name\">Type
      name</h3>\n<p>The <em>name</em> can be retrieved with <code>pandoc.utils.type</code>.
      It should be treated as a read-only constant. Internally, the <em>name</em>
      is used as a type tag, which is important when retrieving an object from a Lua
      script back into the main program. It is possible to access the name through
      the debug interface, e.g.,</p>\n<div class=\"sourceCode\" id=\"cb1\" style=\"background:
      #f1f[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>Sitemaps are an easy way
      to list all pages that a search engine should crawl and index. Quarto supports
      the standard, XML based <a href=\"https://www.sitemaps.org/protocol.html\">Sitemap
      Protocol</a>, although that fact is a bit hidden in the docs.</p>\n<p>Quarto
      will automatically produce a sitemap if the website\u2019s URL is given as <code>site-url</code>
      property:</p>\n<div class=\"sourceCode\" id=\"cb1\" style=\"background: #f1f3f5;\"><pre
      class=\"sourceCode yaml code-with-copy\"><code class=\"sourceCode yaml\"><span
      id=\"cb1-1\"><span class=\"fu\" style=\"color: #4758AB;\">website</span><span
      class=\"kw\" style=\"color: #003B4F;\">:</span></span>\n<span id=\"cb1-2\"><span
      class=\"at\" style=\"color: #657422;\">  </span><span class=\"fu\" style=\"color:
      #4758AB;\">title</span><span class=\"kw\" style=\"color: #003B4F;\">:</[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>These are the resources
      that I\u2019d want to have if I was to learn about <a href=\"https://pandoc.org/\">pandoc
      (the universal document converter)</a> all over again:</p>\n<section id=\"installing\"
      class=\"level2\">\n<h2 class=\"anchored\" data-anchor-id=\"installing\">Installing</h2>\n<dl>\n<dt><a
      href=\"https://github.com/jgm/pandoc/releases/latest\">latest release</a></dt>\n<dd>\nThe
      GitHub release page has installers for Windows, macOS, and Linux.\n</dd>\n<dt><a
      href=\"https://hub.docker.com/u/pandoc\">Docker images</a></dt>\n<dd>\n<p>There
      are three types of pandoc Docker images:</p>\n<ul>\n<li><a href=\"https://hub.docker.com/r/pandoc/minimal\">minimal</a>
      \u2013 very small, just the bare pandoc binary;</li>\n<li><a href=\"https://hub.docker.com/r/pandoc/core\">core</a>
      \u2013 includes pandoc-crossref and helpers programs, e.g. those used by pandoc
      for SVG image conversion;</li>\n<li><a href=\"https://hub.docker.com/r/pandoc/latex\">latex</a>
      \u2013 like core, plus TeXLive with all packages required by the default template.</li>\n</ul>\n<p>These
      ima[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p><a href=\"https://quarto.org\">Quarto</a>
      makes it very easy to publish a website via GitHub Pages: It is as simple as
      running <code>quarto publish gh-pages</code>. Here we explore a slightly different
      method that uses a GitHub Action to publish the website automatically every
      time it is updated.</p>\n<section id=\[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>Santa sighted deeply as
      worry and uncertainty gave way, leaving a feeling of relieve and accomplishment.
      The year was one of the worst he\u2019d seen so far. Large numbers of his helpers
      were moving from the North Pole to Antarctica to satisfy their ambient temperature
      preferences. There would be many telecommuting Elves this year, and each helper
      enjoyed additional autonomy. Tying everything together was a challenge. But
      he had succeeded: the wishes processing program was finished, and the elves
      would be able to help Santa from the comfort of their new homes.</p>\n<section
      id=\"wishes\" class=\"level2\">\n<h2 class=\"anchored\" data-anchor-id=\"wishes\">Wishes</h2>\n<p>The
      part of the wishes system that Santa had been working on was focused on classic
      toys: wooden bricks, dolls, and train sets.</p>\n<div class=\"sourceCode\" id=\"cb1\"
      style=\"background: #f1f3f5;\"><pre class=\"sourceCode haskell code-with-copy\"><code
      class=\"sourceCode haskell\"><span id=\"cb1-1\"><span class=\"kw\" style=\"color:
      #003B4F;\">data</span> <span class=\"dt\" style=\"color: #AD0000;\">Toy</span>
      <span class=\"ot\" style=\"color: #003B4F;\">=</span> <span class=\"dt\" style=\"color:
      #AD0000;\">Bricks</span> <span class=\"op\" style=\"co[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>A question came up on the
      Lua mailing list, asking whether there was a PDF version of the <a href=\"https://lua.org/manual/5.4/manual.html\">Lua
      manual</a>. This is, of course, the home domain of pandoc, and I got nerd-sniped
      into producing a PDF (and ePUB) version of the manual.</p>\n<p>This is a good
      opportunity to showcase some pandoc features. The post describes the process
      of going from an HTML web page to a PDF file via LaTeX and pandoc. We will see
      how to</p>\n<ol type=\"1\">\n<li>quickly convert documents with pandoc;</li>\n<li>use
      Lua filters to improve the result by modifying the document; and</li>\n<li>fine-tune
      the output by setting appropriate pandoc options.</li>\n</ol>\n<section id=\"invoking-pandoc\"
      class=\"level2\">\n<h2 class=\"anchored\" data-anchor-id=\"invoking-pandoc\">Invoking
      pandoc</h2>\n<p>The first step is to call pandoc on the Lua manual website.
      Even when keeping everything bare-bones, the result is already decent:</p>\n<pre><code>pandoc
      --pdf-engine=xelatex --output=lua-manual.pdf \\\n    \"https://lua.org/manual/5.4/manual.html\"</code></pre>\n<p>Produces</p>\n<div
      class=\"quarto-figure quarto-figure-center\">\n<figure class=\"figure\">\n<p><img
      src=\"https://tarleb.com/posts/pdf-of-the-lua-manual/lua-refman-naive.png\"
      class=\"img-fluid figure-img\"></p>\n<p></p><figcaption class=\"figure-caption\">First
      page of unoptimized PDF</figcaption><p></p>\n</figure>\n</div>\n<p>This requires
      a somewhat recent version of pandoc as well as XeLaTeX to be installed. It is
      possible to forgo the trouble of installing the requirements by using the <em>pandoc/latex</em>
      Docker image:</p>\n<pre><code>docker run --rm -v \"$PWD\":/data -u $(id -u):$(id
      -g) pandoc/latex:2.9.2.1 \\\n    --pdf-engine=xelatex --output=lua-manual.pdf
      \\\n    \"https://l[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>My first exposure to Lua
      has been as a pandoc user, and adding new Lua features to pandoc turned Lua
      into one of my favorite languages. In this post I will take a look at <a href=\"https://pandoc.org/\">pandoc</a>,
      the universal document converter, and explore how one can script and extend
      it with Lua. Pandoc inclu[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>Last night was the night
      of this year\u2019s MetaNook. It was the fourth time that the local hackers,
      most notably <a href=\"https://metameute.de\">MetaMeute</a> and <a href=\"https://chaotikum.org\">Chaotikum</a>,
      joined forces to organize a night full of beginner-friendly introductions, advanced
      tech talks, and p[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>The zeitkraut server is
      configured to work with IPv6. For quite some time now, I\u2019ve been seeing
      some strange errors in my log files. If you\u2019ve been noticing something
      similar, here is what\u2019s going on and how to prevent the messages from appearing.</p>\n<section
      id=\"the-problem\" class=\"level2\">\n<[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>Having a good working environment
      is vital for feeling comfortable being productive. This extends to computational
      tools and the <a href=\"https://en.wikipedia.org/wiki/command%20shell\">command
      shell</a> is an integral part of the daily work for many of us. It\u2019s a
      good idea to configure the shell\u2019s inter[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>One of the many great things
      about free and open source software and the whole GNU/Linux ecosystem are the
      simple yet powerful tools available. The possibilities enabled by almost trivial
      programs are incredible. A very positive side effect this has on me is that
      I like to go and explore technologies with the tools[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>A couple of friends and
      I just discussed the idea of Russian Process Roulette: Everybody starts a little
      program which kills processes at random. The winner is the one whose computer
      remains usable the longest. Is this crazy? Yes. Immature? Sure. Fun? Definitely.
      Adviced against to actually play unless the consequences are fully understood?
      That too.</p>\n<p>Playing the game is as simple as starting a command like the
      following:</p>\n<pre class=\"shell\"><code>while sleep 600; do kill -9 $(tr
      -cd \"[:digit:]\" &lt; /dev/urandom | head -c5); done</code></pre>\n<p>This
      one-liner will wake up every 10 minutes, generate a random 5-digit number and
      then kill the process with the corresponding process ID. It will run forever,
      until it is either stopped, kills itself or has successfully crashed the user\u2019s
      session.</p>\n<p>Of course, there are some problems with this code. The time
      at w[...]
[...]
- request:
    body: '{"authors": [{"name": "Albert Krewinkel"}], "blog_id": "7gyq558", "blog_name":
      "tarleb", "blog_slug": "tarleb", "content_html": "<p>Spam just doesn\u2019t
      die. Every major mail provider has really good spam filters in place, as do
      the common mail clients. Nontheless, there seem to be enough people reading
      \u2013 and acting on \u2013 spam mail to make it a profitable business. No matter
      how much we hate it, we need to deal with spam.</p>\n<p>Bet[...]
[...]
