interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/2.3.4
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
  response:
    content: '{"id":"f0m0e38","slug":"front_matter","feed_url":"https://blog.front-matter.io/atom-complete/","current_feed_url":"https://blog.front-matter.io/atom/","home_page_url":"https://blog.front-matter.io","archive_prefix":"https://wayback.archive-it.org/22096/20231101172748/","feed_format":"application/atom+xml","created_at":1672617600,"updated_at":1705502015,"use_mastodon":true,"generator":"Ghost","generator_raw":"Ghost
      5.52","language":"en","category":"computerAndInformationSciences","favicon":"https://blog.front-matter.io/favicon.png","title":"Front
      Matter","description":"The Front Matter Blog covers the intersection of science
      and technology since 2007.","category":"computerAndInformationSciences","status":"active","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null,"secure":true}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20generator_raw%2C%20language%2C%20category%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.front_matter
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers:
      Accept-Version:
      - v5.0
    method: GET
    uri: https://front-matter.ghost.io/ghost/api/content/posts/?page=1&limit=50&filter=visibility:public&include=tags,authors&key=b099ebe9ce894979c77431e6d3
  response:
    body:
      string: "{\"posts\":[{\"id\":\"65a7d37e3ab8810001a95c8b\",\"uuid\":\"fd34d240-61c7-419e-bce4-6e4d30ede5a9\",\"title\":\"Making
        it easier to register a science blog with Rogue Scholar\",\"slug\":\"making-it-easier-to-register\",\"html\":\"<p>Yesterday
        I had to fix a bug in the Rogue Scholar registration form (a <a href=\\\"https://en.wikipedia.org/wiki/Software_regression\\\"
        rel=\\\"noreferrer\\\">software regression</a> that happened over the holidays
        related to database row level security). This was a reminder that registering
        a science blog with the <a href=\\\"https://rogue-scholar.org\\\" rel=\\\"noreferrer\\\">Rogue
        Scholar science blog archive</a> should be quick and painless.</p><p>Today
        I made one change that hopefully simplifies registration: Ask for the blog
        homepage instead of the RSS feed URL. </p><figure class=\\\"kg-card kg-image-card
        kg-card-hascaption\\\"><img src=\\\"https://blog.front-matter.io/content/images/2024/01/Bildschirmfoto-2024-01-17-um-14.36.20-2.png\\\"
        class=\\\"kg-image\\\" alt=\\\"\\\" loading=\\\"lazy\\\" width=\\\"1866\\\"
        height=\\\"1127\\\" srcset=\\\"https://blog.front-matter.io/content/images/size/w600/2024/01/Bildschirmfoto-2024-01-17-um-14.36.20-2.png
        600w, https://blog.front-matter.io/content/images/size/w1000/2024/01/Bildschirmfoto-2024-01-17-um-14.36.20-2.png
        1000w, https://blog.front-matter.io/content/images/size/w1600/2024/01/Bildschirmfoto-2024-01-17-um-14.36.20-2.png
        1600w, https://blog.front-matter.io/content/images/2024/01/Bildschirmfoto-2024-01-17-um-14.36.20-2.png
        1866w\\\" sizes=\\\"(min-width: 720px) 720px\\\"><figcaption><span style=\\\"white-space:
        pre-wrap;\\\">Rogue Scholar blog registration form in English</span></figcaption></figure><p>Finding
        the feed URL is not trivial, as the feed URL is sometimes hard to find and
        multiple feed formats exist (RSS, Atom, and JSON Feed). RSS is the most popular
        format but has important limitations compared to Atom and JSON Feed: it doesn't
        support multiple authors or author attributes (e.g., the ORCID ID), and it
        doesn't show the u[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/1dfxr-hs665
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform">https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2F1dfxr-hs665/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,16]],"date-time":"2024-01-16T10:18:55Z","timestamp":1705400335802},"posted":{"date-parts":[[2024,1,8]]},"group-title":"Computer
        and information sciences","reference-count":4,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2024,1,8]],"date-time":"2024-01-08T00:00:00Z","timestamp":1704672000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2024,1,8]],"date-time":"2024-01-08T00:00:00Z","timestamp":1704672000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>The
        Rogue Scholar science blog archive starts 2024 with an important release:
        all blog posts (more than 13,000) are now available for download in Markdown,
        ePub, and PDF formats. This builds on work completed in December to store
        the full text of every Rogue Scholar blog post in Markdown format in the Rogue
        Scholar backend. Combined with the metadata in YAML format, these posts can
        now be downloaded via the Rogue Scholar API, e.g.<\/p>","DOI":"10.53731\/1dfxr-hs665","type":"posted-content","created":{"date-parts":[[2024,1,8]],"date-time":"2024-01-08T11:33:20Z","timestamp":1704713600000},"source":"Crossref","is-referenced-by-count":3,"title":"Every
        Rogue Scholar blog post now available in Markdown, ePub, and PDF formats","prefix":"10.53731","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[]}],"member":"31795","reference":[{"key":"ref1","doi-asserted-by":"publisher","article-title":"Archiving
        individual science blog posts","year":"2023","DOI":"10.53731\/5vvnh-tnm55"},{"key":"ref2","doi-asserted-by":"publisher","article-title":"Resilience:
        another advantage of openly-licensed content","year":"2023","DOI":"10.59350\/psmbr-f6p84"},{"key":"ref3","doi-asserted-by":"publisher","article-title":"Archiving
        Rogue Scholar blogs with the Internet Archive","year":"2023","DOI":"10.53731\/g60vh-3ng48"},{"key":"ref4","doi-asserted-by":"publisher","article-title":"ePub
        WordPress plugin released today","year":"2011","DOI":"10.53731\/r294649-6f79289-8cw76"}],"container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.io\/posts\/rogue-scholar-blog-posts-markdown-epub-and-pdf-formats","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/1dfxr-hs665.md","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/1dfxr-hs665.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.rogue-scholar.org\/posts\/10.53731\/1dfxr-hs665.epub","content-type":"application\/epub+zip","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2024,1,10]],"date-time":"2024-01-10T09:05:53Z","timestamp":1704877553000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.io\/posts\/rogue-scholar-blog-posts-markdown-epub-and-pdf-formats"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2024,1,8]]},"references-count":4,"URL":"http:\/\/dx.doi.org\/10.53731\/1dfxr-hs665","relation":{},"published":{"date-parts":[[2024,1,8]]},"subtype":"other"}'
    headers:
      content-type:
      - application/vnd.citationstyles.csl+json
      link:
      - <http://dx.doi.org/10.53731/1dfxr-hs665>; rel="canonical", <https://blog.front-matter.io/posts/rogue-scholar-blog-posts-markdown-epub-and-pdf-formats>;
        version="vor"; type="text/html"; rel="item", <https://api.rogue-scholar.org/posts/10.53731/1dfxr-hs665.md>;
        version="vor"; type="text/plain"; rel="item", <https://api.rogue-scholar.org/posts/10.53731/1dfxr-hs665.pdf>;
        version="vor"; type="application/pdf"; rel="item", <https://api.rogue-scholar.org/posts/10.53731/1dfxr-hs665.epub>;
        version="vor"; type="application/epub+zip"; rel="item", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version="vor"; rel="license", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version="tdm"; rel="license", <http://orcid.org/0000-0003-1419-2405>; title="Martin
        Fenner"; rel="author"
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/xszpd-6z265
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform">https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fxszpd-6z265/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,19]],"date-time":"2024-01-19T00:07:37Z","timestamp":1705622857482},"posted":{"date-parts":[[2023,9,12]]},"group-title":"Computer
        and information sciences","reference-count":5,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,9,12]],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/r79vxn1-97aq74v-ag58n
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fr79vxn1-97aq74v-ag58n/transform">https://api.crossref.org/v1/works/10.53731%2Fr79vxn1-97aq74v-ag58n/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fr79vxn1-97aq74v-ag58n/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fr79vxn1-97aq74v-ag58n/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,19]],"date-time":"2024-01-19T18:39:35Z","timestamp":1705689575306},"posted":{"date-parts":[[2016,12,20]]},"group-title":"Computer
        and information sciences","reference-count":2,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/r294649-6f79289-8cw0k
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw0k/transform">https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw0k/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw0k/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw0k/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,10]],"date-time":"2024-01-10T16:04:30Z","timestamp":1704902670320},"posted":{"date-parts":[[2013,12,12]]},"group-title":"Feature","reference-count":0,"publisher":"Front
        Matter","license":[{"start":{"date-parts":[[2013,12,12]],"date-time":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/5vvnh-tnm55
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform">https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2F5vvnh-tnm55/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,10]],"date-time":"2024-01-10T09:41:11Z","timestamp":1704879671804},"posted":{"date-parts":[[2023,12,11]]},"group-title":"Computer
        and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,12,11][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.59350/psmbr-f6p84
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.59350%2Fpsmbr-f6p84/transform">https://api.crossref.org/v1/works/10.59350%2Fpsmbr-f6p84/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.59350%2Fpsmbr-f6p84/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.59350%2Fpsmbr-f6p84/transform
  response:
    body:
      string: '{"institution":[{"name":"A blog by Ross Mounce"}],"indexed":{"date-parts":[[2024,1,10]],"date-time":"2024-01-10T09:40:12Z","timestamp":1704879612604},"posted":{"date-parts":[[2023,11,30]]},"group-title":"Natural
        sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,11,30]],"date-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/g60vh-3ng48
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fg60vh-3ng48/transform">https://api.crossref.org/v1/works/10.53731%2Fg60vh-3ng48/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fg60vh-3ng48/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fg60vh-3ng48/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T00:15:58Z","timestamp":1705018558245},"posted":{"date-parts":[[2023,11,9]]},"group-title":"Computer
        and information sciences","reference-count":1,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,11,9]],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/r294649-6f79289-8cw76
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw76/transform">https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw76/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw76/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fr294649-6f79289-8cw76/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,10]],"date-time":"2024-01-10T09:39:12Z","timestamp":1704879552537},"posted":{"date-parts":[[2011,2,1]]},"group-title":"News","reference-count":0,"publisher":"Front
        Matter","license":[{"start":{"date-parts":[[2011,2,1]],"date-time":"2011-02-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/ch2e1-1cm64
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform">https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fch2e1-1cm64/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T00:08:37Z","timestamp":1705018117286},"posted":{"date-parts":[[2023,11,14]]},"group-title":"Computer
        and information sciences","reference-count":7,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,11,14][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/fy5gh-g0w69
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform">https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Ffy5gh-g0w69/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2023,11,24]],"date-time":"2023-11-24T14:53:16Z","timestamp":1700837596035},"posted":{"date-parts":[[2023,11,22]]},"group-title":"Computer
        and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,11,22[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/9cdnt-2k006
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2F9cdnt-2k006/transform">https://api.crossref.org/v1/works/10.53731%2F9cdnt-2k006/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F9cdnt-2k006/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2F9cdnt-2k006/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,20]],"date-time":"2024-01-20T00:18:25Z","timestamp":1705709905017},"posted":{"date-parts":[[2023,7,31]]},"group-title":"Computer
        and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,7,31]],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/80awr-zcc48
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2F80awr-zcc48/transform">https://api.crossref.org/v1/works/10.53731%2F80awr-zcc48/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2F80awr-zcc48/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2F80awr-zcc48/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,20]],"date-time":"2024-01-20T00:18:14Z","timestamp":1705709894293},"posted":{"date-parts":[[2023,6,27]]},"group-title":"Computer
        and information sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,6,27]],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/hhtx0-wb293
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fhhtx0-wb293/transform">https://api.crossref.org/v1/works/10.53731%2Fhhtx0-wb293/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fhhtx0-wb293/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fhhtx0-wb293/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T00:15:48Z","timestamp":1705018548877},"posted":{"date-parts":[[2023,10,30]]},"group-title":"Computer
        and information sciences","reference-count":3,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,10,30][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/ar11b-5ea39
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Far11b-5ea39/transform">https://api.crossref.org/v1/works/10.53731%2Far11b-5ea39/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Far11b-5ea39/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Far11b-5ea39/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T00:07:49Z","timestamp":1705018069675},"posted":{"date-parts":[[2023,10,9]]},"group-title":"Computer
        and information sciences","reference-count":2,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,10,9]],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/gzrse-p5d35
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fgzrse-p5d35/transform">https://api.crossref.org/v1/works/10.53731%2Fgzrse-p5d35/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fgzrse-p5d35/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fgzrse-p5d35/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T00:15:30Z","timestamp":1705018530318},"posted":{"date-parts":[[2023,10,11]]},"group-title":"Computer
        and information sciences","reference-count":3,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,10,11][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/xs2mj-epe20
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fxs2mj-epe20/transform">https://api.crossref.org/v1/works/10.53731%2Fxs2mj-epe20/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fxs2mj-epe20/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fxs2mj-epe20/transform
  response:
    body:
      string: '{"institution":[{"name":"Syldavia Gazette"}],"indexed":{"date-parts":[[2024,1,11]],"date-time":"2024-01-11T09:58:20Z","timestamp":1704967100429},"posted":{"date-parts":[[2023,10,24]]},"group-title":"Humanities","reference-count":10,"publisher":"Front
        Matter","license":[{"start":{"date-parts":[[2023,10,24]],"date-time":"202[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.59350/5hxdg-fz574
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.59350%2F5hxdg-fz574/transform">https://api.crossref.org/v1/works/10.59350%2F5hxdg-fz574/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.59350%2F5hxdg-fz574/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.59350%2F5hxdg-fz574/transform
  response:
    body:
      string: '{"institution":[{"name":"Chris von Csefalvay"}],"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T00:16:05Z","timestamp":1705018565750},"posted":{"date-parts":[[2023,11,13]]},"group-title":"Natural
        sciences","reference-count":0,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,11,13]],"date-ti[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/mh9a1-dw902
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fmh9a1-dw902/transform">https://api.crossref.org/v1/works/10.53731%2Fmh9a1-dw902/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fmh9a1-dw902/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fmh9a1-dw902/transform
  response:
    body:
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T00:15:17Z","timestamp":1705018517817},"posted":{"date-parts":[[2023,9,25]]},"group-title":"Computer
        and information sciences","reference-count":2,"publisher":"Front Matter","license":[{"start":{"date-parts":[[2023,9,25]],[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://www.crossref.org/blog/a-request-for-comment-automatic-digital-preservation-and-self-healing-dois
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html
      location:
      - http://www.crossref.org/blog/a-request-for-comment-automatic-digital-preservation-and-self-healing-dois/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.53731/qq4a5-6zc45
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fqq4a5-6zc45/transform">https://api.crossref.org/v1/works/10.53731%2Fqq4a5-6zc45/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.53731%2Fqq4a5-6zc45/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.53731%2Fqq4a5-6zc45/transform
  response:
    body:
[...]
