interactions:
- request:
    body: '{}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      x-client-info:
      - supabase-py/1.2.0
    method: GET
    uri: https://db.rogue-scholar.org/rest/v1/blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
  response:
    content: '{"id":"mdh1h61","slug":"epub_fis","feed_url":"https://blog.dini.de/EPub_FIS/feed/atom/","current_feed_url":null,"home_page_url":"https://blog.dini.de/EPub_FIS","archive_prefix":null,"feed_format":"application/atom+xml","created_at":"2023-07-21","updated_at":1697718444,"use_mastodon":false,"generator":"WordPress
      6.3.2","language":"de","favicon":"https://blog.dini.de/EPub_FIS/wp-content/uploads/2018/03/cropped-DINI-AG-FIS-3-1-150x150.png","title":"FIS
      & EPub","description":"Gemeinsamer Blog der DINI AG Forschungsinformationssystem
      und Elektronisches Publizieren","category":"socialSciences","status":"active","user_id":"a9e3541e-1e00-4bf3-8a4d-fc9b1c505651","authors":null,"plan":"Team","use_api":true,"relative_url":null,"filter":null,"secure":null}'
    headers:
      Content-Location:
      - /blogs?select=id%2C%20slug%2C%20feed_url%2C%20current_feed_url%2C%20home_page_url%2C%20archive_prefix%2C%20feed_format%2C%20created_at%2C%20updated_at%2C%20use_mastodon%2C%20generator%2C%20language%2C%20favicon%2C%20title%2C%20description%2C%20category%2C%20status%2C%20user_id%2C%20authors%2C%20plan%2C%20use_api%2C%20relative_url%2C%20filter%2C%20secure&slug=eq.epub_fis
      Content-Profile:
      - public
      Content-Range:
      - 0-0/*
      Content-Type:
      - application/vnd.pgrst.object+json; charset=utf-8
      sb-gateway-version:
      - '1'
    status_code: 200
- request:
    body: null
    headers:
      sentry-trace:
      - 81a69a29ce404faea8c0b4661b3c9aca-8cf1ee406d60b680
    method: GET
    uri: https://blog.dini.de/EPub_FIS?rest_route=/wp/v2/posts&page=1&per_page=50&_embed=1
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://blog.dini.de/EPub_FIS/?rest_route=/wp/v2/posts&page=1&per_page=50&_embed=1
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      sentry-trace:
      - 81a69a29ce404faea8c0b4661b3c9aca-8cf1ee406d60b680
    method: GET
    uri: https://blog.dini.de/EPub_FIS/?rest_route=/wp/v2/posts&page=1&per_page=50&_embed=1
  response:
    body:
      string: '[{"id":3211,"date":"2023-09-25T13:01:59","date_gmt":"2023-09-25T11:01:59","guid":{"rendered":"https:\/\/blog.dini.de\/EPub_FIS\/?p=3211"},"modified":"2023-09-25T13:01:59","modified_gmt":"2023-09-25T11:01:59","slug":"openaire-richtlinie-fis-manager","status":"publish","type":"post","link":"https:\/\/blog.dini.de\/EPub_FIS\/2023\/09\/25\/openaire-richtlinie-fis-manager\/","title":{"rendered":"Aktualisierte
        OpenAIRE Richtlinie f\u00fcr FIS-Manager"},"content":{"rendered":"\n<p>Im
        Juni 2023 wurden die &#8222;OpenAIRE Guidelines for CRIS Managers v1.2&#8220;
        als Resultat eines intensiven Austauschs der FIS Gemeinschaft ver\u00f6ffentlicht.&nbsp;<\/p>\n\n\n\n<p>Bereits
        im Jahre 2015 wurde die erste Richtlinie f\u00fcr Forschungsinformationssysteme
     [...]
- request:
    body: '{"authors": [{"name": "Gastautor(en)"}], "blog_id": "mdh1h61", "blog_name":
      "FIS & EPub", "blog_slug": "epub_fis", "content_html": "\n<p>Im Juni 2023 wurden
      die &#8222;OpenAIRE Guidelines for CRIS Managers v1.2&#8220; als Resultat eines
      intensiven Austauschs der FIS Gemeinschaft ver\u00f6ffentlicht.&nbsp;</p>\n\n\n\n<p>Bereits
      im Jahre 2015 wurde die erste Richtlinie f\u00fcr Forschungsinformationssysteme
      (FIS) ver\u00f6ffentlicht, welche die M\u00f6glichkeit bot, Informationen im
      wissenschaftlichen Kontext, wie Publikationen, Datensets, Personen-, Projekt-
      und Organisations-Informatione[...]
- request:
    body: '{"indexed": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/1.2.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.e7981517-3329-4eb0-8460-b3827f5861bd
  response:
    content: "[{\"url\":\"https://blog.dini.de/EPub_FIS/2023/09/25/openaire-richtlinie-fis-manager\",\"title\":\"Aktualisierte
      OpenAIRE Richtlinie f\xFCr FIS-Manager\",\"summary\":\"\",\"image\":\"https://blog.dini.de/EPub_FIS/wp-content/uploads/2023/09/DINI-Blog-FISE-Pub-26.png\",\"content_html\":\"\\n<p>Im
      Juni 2023 wurden die &#8222;OpenAIRE Guidelines for CRIS Managers v1.2&#8220;
      als Resultat eines intensiven Austauschs der FIS Gemeinschaft ver\xF6ffentlicht.&nbsp;</p>\\n\\n\\n\\n<p>Bereits
      im Jahre 2015 wurde die erste Richtlinie f\xFCr Forschungsinformationssysteme
      (FIS) ver\xF6ffentlicht, welche die M\xF6glichkeit bot, Informationen im wissenschaftlichen
[...]
- request:
    body: '{"authors": [{"name": "Daniel Beucke", "url": "https://orcid.org/0000-0003-4905-1936"}],
      "blog_id": "mdh1h61", "blog_name": "FIS & EPub", "blog_slug": "epub_fis", "content_html":
      "\n<p>Vor gut neun Jahren hatte die DINI AG FIS die Idee einen Blog zu starten,
      um \u00fcber Themen rund die Arbeit der AG zu berichten. Schnell hatte sich
      ein kleines Team gefunden und die ersten Beitr\u00e4ge wurden verfasst. Die
      Technik konnte schnell und unkomplizi[...]
[...]
- request:
    body: '{"authors": [{"name": "Kathrin H\u00f6hner"}], "blog_id": "mdh1h61", "blog_name":
      "FIS & EPub", "blog_slug": "epub_fis", "content_html": "\n<p>Wie bereits im
      <a href=\"https://blogs.tib.eu/wp/dini-ag-blog/2023/01/16/aktualisierung-mappings-gemeinsames-vokabulars-kdsf/\">Januar
      hier im Blog</a> angek\u00fcndigt hat die gemeinsame Arbeitsgruppe der DINI
      AG FIS und DINI AG E-Pub das <a href=\"http://dx.doi.org/10.18452/24149.2\">Mapping
      des Gemeinsamen Vokabulars auf den KDSF</a> noch einmal \u00fcberarbeitet. Ziel
      war es, eine vollst\u00e4ndige Abbildung auf die Publikationstypen des KDSF
      zu erstellen. Im ersten Mapping war teilweise ausschlie\u00dflich eine Zuordnung
      auf Ebene der Dokumenttypen oder andere Attribute des KDSF erfolgt. Dies wurde
      nun korrigiert, f\u00fchrt jedoch dazu, dass an manchen Stellen keine eindeutige
      Empfehlung ausgesprochen werden kann. In diesen F\u00e4llen sollten die Betreibenden
      des Repositoriums entscheiden, ob weitere Merkmale als Bedingungen f\u00fcr
      ein Mapping herangezogen werden. </p>\n\n\n\n<!--more-->\n\n\n\n<p>Das \u00fcberarbeitete
      Mapping finden Sie hier: <a href=\"https://edoc.hu-berlin.de/handle/18452/24967.3\">https://edoc.hu-berlin.de/handle/18452/24967.3</a></p>\n\n\n\n<p>Bei
      der Verwendung des Mappings ist folgendes zu beachten:</p>\n\n\n\n<ul>\n<li>Dem
      Mapping liegt das Szenario zugrunde, dass aus Repositorien, die das Gemeinsame
      Vokabular bedienen, auf die Publikationstypen des KDSF (sowie ggf. weitere Ausdifferenzierungen
      des KDSF) gemappt wird; der umgekehrte Weg ist nicht ber\u00fccksichtigt.</li>\n\n\n\n<li>Die
      Definition einer (Forschungs-)Publikation ist im KDSF enger gefasst als im Gemeinsamen
      Vokabular.</li>\n\n\n\n<li>An manchen Stellen kann keine eindeutige Empfehlung
      ausgesprochen werden. In diesen F\u00e4llen sollten die Betreibenden des Repositoriums
      entscheiden, ob weitere Merkmale als Bedingungen f\u00fcr ein Mapping herangezogen
      werden.</li>\n\n\n\n<li>Aus Gr\u00fcnden der Transparenz ist die urspr\u00fcngliche
      Zuordnung der Terme des Gemeinsamen Vokabulars zum KDSF in der Tabelle mit aufgef\u00fchrt.</li>\n</ul>\n\n\n\n<h1
      class=\"wp-block-heading\">Zitiervorschlag</h1>\n\n\n\n<p>H\u00f6hner, Kathrin.
      \u201eMapping des Gemeinsamen Vokabulars zum KDSF angepasst\u201d <em>Blog der
      DINI AGs FIS &amp; EPUB</em>, 2023. <a href=\"https://doi.org/10.57689/DINI-BLOG.20230612\">https://doi.org/10.57689/DINI-BLOG.20230612</a>.</p>\n\n\n\n<hr
      class=\"wp-block-separator has-alpha-channel-opacity\"/>\n\n\n\n<p><em>Dieser
      Beitrag \u2013 ausgenommen Zitate und anderweitig gekennzeichnete Teile \u2013
      ist lizenziert unter der <a href=\"http://creativecommons.org/licenses/by/4.0/\">Creative
      Commons Namensnennung 4.0 International Lizenz</a> (CC BY 4.0).</em></p>\n\n\n\n<figure
      class=\"wp-block-image\"><a href=\"http://creativecommons.org/licenses/by/4.0/\"><img
      decoding=\"async\" src=\"https://i.creativecommons.org/l/by/4.0/88x31.png\"
      alt=\"Creative Commons Lizenzvertrag\"/></a></figure>\n", "content_text": "content_text",
      "images": [{"src": "https://i.creativecommons.org/l/by/4.0/88x31.png", "alt":
      "Creative Commons Lizenzvertrag"}], "updated_at": 1689170264, "published_at":
      1686576806, "image": "https://blog.dini.de/EPub_FIS/wp-content/uploads/2023/07/DINI-Blog-FISE-Pub-24.png",
      "language": "de", "reference": [], "relationships": [], "summary": "Wie bereits
      im Januar hier im Blog angek\u00fcndigt hat die gemeinsame Arbeitsgruppe der
      DINI AG FIS und DINI AG E-Pub das Mapping des Gemeinsamen Vokabulars auf den
      KDSF noch einmal \u00fcberarbeitet. Ziel war es, eine vollst\u00e4ndige Abbildung
      auf die Publikationstypen des KDSF zu erstellen.", "tags": ["Elektronisches
      Publizieren", "Forschungsinformationssysteme", "Kerndatensatz Forschung"], "title":
      "Mapping des Gemeinsamen Vokabulars zum KDSF angepasst", "url": "https://blog.dini.de/EPub_FIS/2023/06/12/mapping-des-gemeinsamen-vokabulars-zum-kdsf-angepasst",
      "guid": "https://blog.dini.de/EPub_FIS/?p=3143", "archive_url": null}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation,resolution=merge-duplicates
      x-client-info:
      - supabase-py/1.2.0
    method: POST
    uri: https://db.rogue-scholar.org/rest/v1/posts?on_conflict=url
  response:
    content: "[{\"url\":\"https://blog.dini.de/EPub_FIS/2023/06/12/mapping-des-gemeinsamen-vokabulars-zum-kdsf-angepasst\",\"title\":\"Mapping
[...]
[...]
- request:
    body: '{"authors": [{"name": "Franziska Mau"}], "blog_id": "mdh1h61", "blog_name":
      "FIS & EPub", "blog_slug": "epub_fis", "content_html": "\n<p>Ende Mai traf sich
      die Community um das Forschungsinformationssystem HISinOne-RES in Berlin. Organisiert
      wurde die Veranstaltung von <a href=\"https://www.uni-muenster.de/CRIS.NRW\">CRIS.NRW</a>
      und der Gesch\u00e4ftsstelle der Kommission f\u00fcr Forschungsinformationen
      in Deutschland (<a href=\"https://kfid-[...]
[...]
- request:
    body: '{"authors": [{"name": "Franziska Mau"}], "blog_id": "mdh1h61", "blog_name":
      "FIS & EPub", "blog_slug": "epub_fis", "content_html": "\n<p>Angesto\u00dfen
      durch j\u00fcngste Aktivit\u00e4ten auf Landesebene, traf sich am 10.05.23 das
      Netzwerk FIS Niedersachsen zum digitalen Austausch. Mehr als zwei Jahre war
      der letzte Austausch bereits her (<a href=\"https://blogs.tib.eu/wp/dini-ag-blog/2021/05/10/fis-niedersachsen\">https://blogs.tib.eu/wp/dini-ag-bl[...]
[...]
- request:
    body: '{"authors": [{"name": "Isabella Meinecke", "url": "https://orcid.org/0000-0001-8337-3619"}],
      "blog_id": "mdh1h61", "blog_name": "FIS & EPub", "blog_slug": "epub_fis", "content_html":
      "<p>Ihr Repositorium ist nach DINI-Kriterien aufgesetzt oder entsprechend angepasst;
      es w\u00e4re sch\u00f6n, wenn das Engagement zus\u00e4tzlich mit einem Zertifikat
      belohnt werden k\u00f6nnte.</p>\n<p>Eine Vielzahl heute betriebener Repositorien
      sind heterogen, sie enthalten neben frei zug\u00e4nglichen Volltexten z. B.
      Forschungsdaten, bibliografische Daten ohne Dokumente oder wurden um weitere
      forschungsnahe Services erweitert. Kann ein solches Repositorium \u00fcberhaupt
      ein DINI-Zertifikat 2022 erhalten?</p>\n<p>Diese Frage ist nicht pauschal zu
      beantworten. Wichtige Hinweise gibt das Glossar\u00a0im <a href=\"https://doi.org/10.18452/24678\">DINI-Zertifikat
      f\u00fcr Open-Access-Publikationsdienste 2022</a> selbst.<!--more--></p>\n<p><strong><em>\ud83d\udd0e\u00a0Was
      ist eigentlich Gegenstand einer DINI-Zertifizierung?</em></strong></p>\n<p>\ud83d\udc49\u00a0Zertifizierbar
      sind Open-Access-Publikationsdienste.</p>\n<p>[su_quote]Gegenstand der Zertifizierung
      sind Open-Access-Publikationsdienste. Sie sind als umfassende Dienstleistung
      zur Ver\u00f6ffentlichung und nachhaltigen Online-Bereitstellung sowie zur Verbreitung
      wissenschaftlicher Publikationen in elektronischer Form zu verstehen (..) Im
      Fokus der Zertifizierung stehen folgende Dienste, die nachfolgend genauer spezifiziert
      werden: Institutionelle Open-Access-Repositorien Institutions\u00fcbergreifende
      Repositorien Fachbezogene Open-Access-Repositorien Open-Access-Zeitschriften
      (Glossar)[/su_quote]</p>\n<p><strong><em>\ud83d\udd0e\u00a0Was wird nicht zertifiziert?</em></strong></p>\n<p>[su_quote]Folgende
      Dienste sind dagegen nicht prim\u00e4r Gegenstand der Zertifizierung auf der
      Basis des DINI-Zertifikats in seiner aktuellen Fassung:</p>\n<ul>\n<li>Digitale
      Sammlungen</li>\n<li>Forschungsdat[...]
[...]
- request:
    body: '{"authors": [{"name": "Gastautor(en)"}], "blog_id": "mdh1h61", "blog_name":
      "FIS & EPub", "blog_slug": "epub_fis", "content_html": "<p>Die Identifizierung
      von Publikationen, die auf Grundlage von Open-Access-Rechten (OA-Rechten) aus
      Allianz-, National- oder Konsortiallizenzen zweitver\u00f6ffentlicht werden
      d\u00fcrfen (green open access), ist bislang mit einem erheblichen, oft manuellen
      Arbeitsaufwand verbunden. Dazu z\u00e4hlt neben der Fests[...]
[...]
- request:
    body: '{"authors": [{"name": "Franziska Mau"}], "blog_id": "mdh1h61", "blog_name":
      "FIS & EPub", "blog_slug": "epub_fis", "content_html": "<p>Die <a href=\"https://blogs.tib.eu/wp/dini-ag-blog/2022/02/21/gruendung-res-community/\">RES-Community</a>\u00a0konkretisiert
      ihr gemeinsames Zielbild f\u00fcr HISinOne-RES. Anhand eines von CRIS.NRW gestalteten
      Impulses f\u00fcr ein Zielbild, wurden beim Community-Treffen im September 2022
      dessen Diskussion und Weiterentwicklung angesto\u00dfen. Im Community-Forum
      haben auch nach dem Treffen im September viele Einrichtungen ihr Feedback gegeben,
      um ihre Anforderungen in das Zielbild einflie\u00dfen zu lassen.</p>\n<p>Die
      vielf\u00e4ltigen Beitr\u00e4ge wurden nun in einer Umfrage zusammengetragen,
      die aktuell im Community-Forum stattfindet. Einrichtungen k\u00f6nnen ihre Anforderungen
      an das System darin individuell priorisieren. Die Umfrage gliedert sich in die
      sieben Teilbereiche</p>\n<ol>\n<li>\u00dcbergreifende Ziele,</li>\n<li>Projektverwaltung,</li>\n<li>Publikationsverwaltung,</li>\n<li>Promotionsverwaltung,</li>\n<li>Forschungsinfrastrukturen,</li>\n<li>Transfer
      und</li>\n<li>Au\u00dfendarstellung.</li>\n</ol>\n<p><!--more--></p>\n<p>Die
      Ergebnisse der Umfrage sollen in der n\u00e4chsten Community-Sitzung am 9. M\u00e4rz
      2023 vorgestellt und diskutiert werden, um ein abgestimmtes Zielbild zu entwickeln.
      Im Anschluss werden Vertreter*innen der Community das Zielbild der HIS eG pr\u00e4sentieren.</p>\n<p>Die
      Umfrage l\u00e4uft noch bis zum 24.02.2023. Interessierte Einrichtungen, die
      noch nicht Mitglied der RES-Community sind, k\u00f6nnen sich an <a href=\"mailto:res-community@cris.nrw\">res-community@cris.nrw</a>
      wenden.</p>\n<h1>Zitiervorschlag</h1>\n<p>Mau, Franziska. &#8222;Gemeinsam gestalten:
      RES-Community arbeitet an ihrem Zielbild f\u00fcr HISinOne-RES&#8220;\u00a0<i>Blog
      der DINI AGs FIS &amp; EPUB</i>, 2023. <a href=\"https://doi.org/10.57689/dini-blog.20230206\">https://doi.org/10.57689/dini-blog.20230206</a></p>\n<hr
      />\n<p><em><span dir=\"ltr\" role=\"presentation\">Diese</span>r Beitrag <span
      dir=\"ltr\" role=\"presentation\">\u2013</span> <span dir=\"ltr\" role=\"presentation\">ausgenommen</span>
      <span dir=\"ltr\" role=\"presentation\">Zitate</span> <span dir=\"ltr\" role=\"presentation\">und</span>
      <span dir=\"ltr\" role=\"presentation\">anderweitig </span><span dir=\"ltr\"
      role=\"presentation\">gekennzeichnete</span> <span dir=\"ltr\" role=\"presentation\">Teile</span>
      <span dir=\"ltr\" role=\"presentation\">\u2013</span> <span dir=\"ltr\" role=\"presentation\">ist</span>
      lizenziert <span dir=\"ltr\" role=\"presentation\">unter</span> <span dir=\"ltr\"
      role=\"presentation\">der</span> <a href=\"http://creativecommons.org/licenses/by/4.0/\"
      rel=\"license\">Creative Commons Namensnennung 4.0 International Lizenz</a>
      (<span dir=\"ltr\" role=\"presentation\">CC</span> <span dir=\"ltr\" role=\"presentation\">BY</span>
      <span dir=\"ltr\" role=\"presentation\">4.0</span>).<br />\n</em><a href=\"http://creativecommons.org/licenses/by/4.0/\"
      rel=\"license\"><img decoding=\"async\" src=\"https://i.creativecommons.org/l/by/4.0/88x31.png\"
      alt=\"Creative Commons Lizenzvertrag\" /></a></p>\n", "content_text": "content_text",
      "images": [{"src": "https://i.creativecommons.org/l/by/4.0/88x31.png", "alt":
      "Creative Commons Lizenzvertrag"}], "updated_at": 1675671366, "published_at":
      1675671366, "image": "https://blog.dini.de/EPub_FIS/wp-content/uploads/2023/02/DINI-Blog-FISE-Pub-18.png",
      "language": "de", "reference": [], "relations[...]
- request:
    body: '{"indexed": false}'
    headers:
      accept-profile:
      - public
      content-profile:
      - public
      content-type:
      - application/json
      prefer:
      - return=representation
      x-client-info:
      - supabase-py/1.2.0
    method: PATCH
    uri: https://db.rogue-scholar.org/rest/v1/posts?id=eq.d46b28f1-1caf-41de-af3e-0df7b8cf7b7e
  response:
    content: "[{\"url\":\"https://blog.dini.de/EPub_FIS/2023/02/06/zielbild-fuer-hisinone-res\",\"title\":\"Gemeinsam
      gestalten: RES-Community arbeitet an ihrem Zielbild f\xFCr HISinOne-RES\",\"summary\":\"Die
      RES-Community&nbsp;konkretisiert ihr gemeinsames Zielbild f\xFCr HISinOne-RES.
      Anhand eines von CRIS.NRW gestalteten Impulses f\xFCr ein Zielbild, wurden beim
      Community-Treffen im September 2022 dessen Diskussion und Weiterentwicklung
      angesto\xDFen.\",\"image\":\"https://blog.dini.de/EPub_FIS/wp-content/uploads/2023/02/DINI-Blog-FISE-Pub-18.png\",\"content_html\":\"<p>Die
      <a href=\\\"h[...]
[...]
